/* editor-header */
.editor-header {
    position: relative;
}

.editor-header .tab { 
    display: inline-block;
    margin: 4px 4px -1px 0;
    padding: 5px 10px 4px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius: 3px 3px 0 0;
}
.editor-header .tab a { 
    color: #7b7c7d;
    text-decoration: none;
    outline: 0;
}
.editor-header .tab a:hover { 
    color: #33789c;
}
.editor-header .selected-tab { 
    border-bottom: 1px solid #f3f3f3;
    background-color: #f3f3f3;
}
.editor-header .selected-tab a, 
.editor-header .selected-tab a:hover { 
    color: #2b2b2b;
}

#field-convert_breaks { 
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.editor-header select {
    margin-top: 5px;
    vertical-align: baseline;
    font-size: 80%;
}

/* editor-content */
#editor-content textarea {
    width: 100%;
    height: 550px;
    padding: 10px;
    line-height: 1.62;
    overflow: auto;
    background-color: #ffffff;
    vertical-align: top;
    font-size: 14px;
    white-space: pre;
    font-family: monospace;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
