/* #Editor.css


*/

.editor-content .field {
    padding: 0;
}

.editor-mode-textarea iframe,
.editor-mode-iframe .text,
.editor-plaintext .editor-toolbar .button.command-toggle-wysiwyg,
.editor-plaintext .editor-toolbar .button.command-toggle-html,
.editor-plaintext .editor-toolbar .button.command-outdent,
.webkit-detected .editor-toolbar .button.command-insert-link,
.webkit-detected .editor-toolbar .button.command-indent,
.webkit-detected .editor-toolbar .button.command-outdent {
    display: none;
}

/* rich editor */
#text-field {
    position: static;
}
.editor-toolbar {
    padding: 8px;
    border: solid #c0c6c9;
    border-width: 1px 1px 0;
    background-color: #f3f3f3;
    border-top-left-radius: 0;
    border-radius: 0 5px 0 0;
    -moz-user-select: none !important;
    -moz-user-focus: none !important;
}
.editor-toolbar .button {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    border-radius: 0;
}
.editor {
    display: block;
    position: relative;
    padding: 0;
    border-top: 0;
    background-color: #fff;
}

.editor-content-iframe,
#editor-content-iframe {
    border: 1px solid #adadad;
}

.editor textarea,
.editor iframe {
    width: 100%;
    min-width: 100%;
    height: 550px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
.editor textarea {
    padding: 8px;
    font-size: 14px;
    font-family: monospace;
    line-height: 1.3;
}
.textarea-enclosure {
    background-color: #fff;
    border-radius: 0 0 2px 2px;
}
.button.toolbar .button-label {
    display: none;
}


/* new icons */
.editor-toolbar .button,
.editor-toolbar .button:hover {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}
.editor-toolbar .button {
  border: 1px solid #E0E0E0;
  border-radius: 0 0 2px 2px;
  background-color: #F4F4F4;
  vertical-align: middle;
}
.editor-toolbar .button:hover {
  border: 1px solid #f3f3f3;
  border-radius: 0 0 2px 2px;
  background-color: #FFFBBD;
}

.editor-toolbar .button.command-font-size-smaller,
.editor-toolbar .button.command-font-size-smaller:hover {
  background-image: url(../../images/icons/ic_textsmaller.svg);
}
.editor-toolbar .button.command-font-size-larger,
.editor-toolbar .button.command-font-size-larger:hover {
  background-image: url(../../images/icons/ic_textbigger.svg);
}
.editor-toolbar .button.command-bold,
.editor-toolbar .button.command-bold:hover {
  background-image: url(../../images/icons/ic_bold.svg);
}
.editor-toolbar .button.command-italic,
.editor-toolbar .button.command-italic:hover {
  background-image: url(../../images/icons/ic_italic.svg);
}
.editor-toolbar .button.command-underline,
.editor-toolbar .button.command-underline:hover {
  background-image: url(../../images/icons/ic_underline.svg);
}
.editor-toolbar .button.command-strikethrough,
.editor-toolbar .button.command-strikethrough:hover {
  background-image: url(../../images/icons/ic_crossoff.svg);
  margin-right: 10px;
}
.editor-toolbar .button.command-insert-link,
.editor-toolbar .button.command-insert-link:hover {
  background-image: url(../../images/icons/ic_link.svg);
}
.editor-toolbar .button.command-insert-email,
.editor-toolbar .button.command-insert-email:hover {
  background-image: url(../../images/icons/ic_mail.svg);
  margin-right: 10px;
}
.editor-toolbar .button.command-indent,
.editor-toolbar .button.command-indent:hover {
  background-image: url(../../images/icons/ic_indent.svg);
}
.editor-toolbar .button.command-outdent,
.editor-toolbar .button.command-outdent:hover {
  background-image: url(../../images/icons/ic_unindent.svg);
}
.editor-toolbar .button.command-insert-unordered-list,
.editor-toolbar .button.command-insert-unordered-list:hover {
  background-image: url(../../images/icons/ic_list.svg);
}
.editor-toolbar .button.command-insert-ordered-list,
.editor-toolbar .button.command-insert-ordered-list:hover {
  background-image: url(../../images/icons/ic_ol.svg);
  margin-right: 10px;
}
.editor-toolbar .button.command-justify-left,
.editor-toolbar .button.command-justify-left:hover {
  background-image: url(../../images/icons/ic_alignleft.svg);
}
.editor-toolbar .button.command-justify-center,
.editor-toolbar .button.command-justify-center:hover {
  background-image: url(../../images/icons/ic_aligncenter.svg);
}
.editor-toolbar .button.command-justify-right,
.editor-toolbar .button.command-justify-right:hover {
  background-image: url(../../images/icons/ic_alignright.svg);
  margin-right: 10px;
}
.editor-toolbar .button.command-insert-image,
.editor-toolbar .button.command-insert-image:hover {
  background-image: url(../../images/icons/ic_image.svg);
}
.editor-toolbar .button.command-insert-file,
.editor-toolbar .button.command-insert-file:hover {
  background-image: url(../../images/icons/ic_asset.svg);
  margin-right: 10px;
}
.field-buttons-formatting > span {
  display: inline-block;
}

@media (max-width: 767.98px) {
  .editor-toolbar .button {
    height: 32px;
    width: 32px;
  }
  .editor-toolbar .button,
  .editor-toolbar .button:hover {
    background-size: 24px;
  }
}

/* toggle */
.editor-mode-iframe .editor-toolbar .button.command-toggle-wysiwyg,
.editor-mode-iframe .editor-toolbar .button.command-toggle-wysiwyg:hover,
.editor-mode-textarea .editor-toolbar .button.command-toggle-wysiwyg,
.editor-mode-textarea .editor-toolbar .button.command-toggle-wysiwyg:hover  {
  background-image: url(../../images/icons/ic_wysiwyg.svg);
  margin-right: -3px;
  border-right: 1px solid #b2b2b2;
}

.editor-mode-iframe .editor-toolbar .button.command-toggle-html,
.editor-mode-iframe .editor-toolbar .button.command-toggle-html:hover,
.editor-mode-textarea .editor-toolbar .button.command-toggle-html,
.editor-mode-textarea .editor-toolbar .button.command-toggle-html:hover  {
  background-image: url(../../images/icons/ic_htmlmode.svg);
}

.editor-mode-iframe .editor-toolbar .button.command-toggle-wysiwyg,
.editor-mode-iframe .editor-toolbar .button.command-toggle-wysiwyg:hover,
.editor-mode-textarea .editor-toolbar .button.command-toggle-html,
.editor-mode-textarea .editor-toolbar .button.command-toggle-html:hover  {
  background-color: #FFFBBD;
}
.field {
    zoom: 1;
}
.field:before,
.field:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
}
.field:after {
    clear: both;
}
