/* toolbar */
.editor-toolbar {
    border-top-left-radius: 0;
    -moz-border-radius: 0 5px 0 0;
    -moz-user-select: none !important;
    -moz-user-focus: none !important;
}

.editor-header {
    position: relative;
}

.editor-header .tab { 
    display: inline-block;
    margin: 4px 4px -1px 0;
    padding: 5px 10px 4px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius: 3px 3px 0 0;
}
.editor-header .tab a { 
    color: #7b7c7d;
    text-decoration: none;
    outline: 0;
}
.editor-header .tab a:hover { 
    color: #33789c;
}
.editor-header .selected-tab { 
    border-bottom: 1px solid #f3f3f3;
    background-color: #f3f3f3;
}
.editor-header .selected-tab a, 
.editor-header .selected-tab a:hover { 
    color: #2b2b2b;
}

#field-convert_breaks { 
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.editor-header select {
    margin-top: 5px;
    vertical-align: baseline;
    font-size: 80%;
}

.editor-toolbar span { 
    display: inline-block;
}

.editor-mode-textarea iframe, 
.editor-mode-iframe .text, 
.editor-plaintext .editor-toolbar a.button.command-toggle-wysiwyg,
.editor-plaintext .editor-toolbar a.button.command-toggle-html,
.editor-plaintext .editor-toolbar a.button.command-outdent, 
.webkit-detected .editor-toolbar a.button.command-insert-link,
.webkit-detected .editor-toolbar a.button.command-indent,
.webkit-detected .editor-toolbar a.button.command-outdent {
    display: none;
}

.editor-toolbar .button {
    background: transparent url(../../images/buttons/toolbar/toolbar.gif) left top no-repeat;
}
.editor-toolbar .button:hover:active {
    background-image: url(../../images/buttons/toolbar/toolbar-active.gif);
}
.editor-toolbar .button:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-hover.gif);
}
.editor-toolbar .button s,
.editor-toolbar .button b {
    display: none;
}
.editor-toolbar .button.command-font-size-smaller,
.editor-toolbar .button.command-font-size-smaller:hover {
    background-position: 0 0;
}
.editor-toolbar .button.command-font-size-larger,
.editor-toolbar .button.command-font-size-larger:hover {
    background-position: -22px 0;
}
.editor-toolbar .button.command-bold,
.editor-toolbar .button.command-bold:hover {
    background-position: -44px 0;
}
.editor-state-bold .button.command-bold,
.editor-state-bold .button.command-bold:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-italic,
.editor-toolbar .button.command-italic:hover {
    background-position: -66px 0;
}
.editor-state-italic .button.command-italic,
.editor-state-italic .button.command-italic:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-underline,
.editor-toolbar .button.command-underline:hover {
    background-position: -88px 0;
}
.editor-state-underline .button.command-underline,
.editor-state-underline .button.command-underline:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-strikethrough,
.editor-toolbar .button.command-strikethrough:hover {
    margin-right: 10px;
    background-position: -110px 0;
}
.editor-state-strikethrough .button.command-strikethrough,
.editor-state-strikethrough .button.command-strikethrough:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-color,
.editor-toolbar .button.command-color:hover {
    margin-right: 10px;
    background-position: -132px 0;
}
.editor-toolbar .button.command-insert-link,
.editor-toolbar .button.command-insert-link:hover {
    background-position: -154px 0;
}
.editor-toolbar .button.command-insert-email,
.editor-toolbar .button.command-insert-email:hover {
    margin-right: 10px;
    background-position: -176px 0;
}
.editor-toolbar .button.command-indent,
.editor-toolbar .button.command-indent:hover {
    background-position: -198px 0;
}
.editor-toolbar .button.command-outdent,
.editor-toolbar .button.command-outdent:hover {
    background-position: -220px 0;
}
.editor-toolbar .button.command-insert-unordered-list,
.editor-toolbar .button.command-insert-unordered-list:hover {
    background-position: -242px 0;
}
.editor-state-unordered-list .button.command-insert-unordered-list,
.editor-state-unordered-list .button.command-insert-unordered-list:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-insert-ordered-list,
.editor-toolbar .button.command-insert-ordered-list:hover {
    margin-right: 10px;
    background-position: -264px 0;
}
.editor-state-ordered-list .button.command-insert-ordered-list,
.editor-state-ordered-list .button.command-insert-ordered-list:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-enclosure-align-left,
.editor-toolbar .button.command-enclosure-align-left:hover {
    background-position: -286px 0;
}
.editor-state-enclosure-align-left .button.command-enclosure-align-left,
.editor-state-enclosure-align-left .button.command-enclosure-align-left:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-enclosure-align-center,
.editor-toolbar .button.command-enclosure-align-center:hover {
    background-position: -308px 0;
}
.editor-state-enclosure-align-center .button.command-enclosure-align-center,
.editor-state-enclosure-align-center .button.command-enclosure-align-center:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-enclosure-align-right,
.editor-toolbar .button.command-enclosure-align-right:hover {
    background-position: -330px 0;
}
.editor-state-enclosure-align-right .button.command-enclosure-align-right,
.editor-state-enclosure-align-right .button.command-enclosure-align-right:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-justify-left,
.editor-toolbar .button.command-justify-left:hover {
    background-position: -352px 0;
}
.editor-state-justify-left .button.command-justify-left,
.editor-state-justify-left .button.command-justify-left:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-justify-center,
.editor-toolbar .button.command-justify-center:hover {
    background-position: -374px 0;
}
.editor-state-justify-center .button.command-justify-center,
.editor-state-justify-center .button.command-justify-center:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-justify-right,
.editor-toolbar .button.command-justify-right:hover {
    margin-right: 10px;
    background-position: -396px 0;
}
.editor-state-justify-right .button.command-justify-right,
.editor-state-justify-right .button.command-justify-right:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
/*
.editor-toolbar .button.command-spell-check,
.editor-toolbar .button.command-spell-check:hover {
    background-position: -462px 0;
}
*/
.editor-toolbar .button.command-insert-image,
.editor-toolbar .button.command-insert-image:hover {
    background-position: -440px 0;
}
.editor-state-insert-image .button.command-insert-image,
.editor-state-insert-image .button.command-insert-image:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}
.editor-toolbar .button.command-insert-file,
.editor-toolbar .button.command-insert-file:hover {
    margin-right: 10px;
    background-position: -462px 0;
}
.editor-state-insert-file .button.command-insert-file,
.editor-state-insert-file .button.command-insert-file:hover {
    background-image: url(../../images/buttons/toolbar/toolbar-click.gif);
}

/* toggle */
.editor-toolbar .button.command-toggle-wysiwyg,
.editor-toolbar .button.command-toggle-html {
    background-image: url(../../images/buttons/toolbar/toggle.gif);
}
.editor-toolbar .button.command-toggle-wysiwyg:hover,
.editor-toolbar .button.command-toggle-html:hover {
    background-image: url(../../images/buttons/toolbar/toggle-hover.gif);
}
.editor-mode-iframe .editor-toolbar .button.command-toggle-wysiwyg,
.editor-mode-textarea .editor-toolbar .button.command-toggle-html {
    background-image: url(../../images/buttons/toolbar/toggle-active.gif);
}
.editor-toolbar .button.command-toggle-wysiwyg,
.editor-toolbar .button.command-toggle-wysiwyg:hover {
    margin-right: -3px;
    border-right: 1px solid #b2b2b2;
    background-position: 0 0;
}
.editor-toolbar .button.command-toggle-html,
.editor-toolbar .button.command-toggle-html:hover {
    background-position: -22px 0;
}

/* comment */
.comment-form-toolbar .button.command-underline,
.comment-form-toolbar .button.command-insert-link {
    margin-right: 10px;
}
