<TMPL_LOOP NAME=AUTHOR_TABLE>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return this.form['__mode'] ? false : true">
<input type="hidden" name="__mode" value="" />
<input type="hidden" name="_type" value="author" />
<input type="hidden" name="action_name" value="" />
<input type="hidden" name="itemset_action_input" value="" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<TMPL_IF NAME=BLOG_ID>
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
</TMPL_IF>

<TMPL_IF NAME=POSITION_ACTIONS_TOP>
<TMPL_INCLUDE NAME=author_actions.tmpl>
</TMPL_IF>

<div class="list" id="list-author">
<table cellspacing="0">

<thead>
<tr>
<th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
<th id="at-username"><MT_TRANS phrase="Username"></th>
<th id="at-name"><MT_TRANS phrase="Name"></th>
<th id="at-email"><MT_TRANS phrase="Email"></th>
<th id="at-url"><MT_TRANS phrase="URL"></th>
</tr>
</thead>
<tbody>

<TMPL_LOOP NAME=OBJECT_LOOP>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td class="cb"><TMPL_IF NAME=HAS_EDIT_ACCESS><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" class="select" /><TMPL_ELSE>&nbsp;</TMPL_IF></td>
<td><TMPL_IF NAME=IS_ME><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=author&amp;id=<TMPL_VAR NAME=ID>"><TMPL_ELSE><TMPL_IF NAME=HAS_EDIT_ACCESS><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit_profile&amp;author_id=<TMPL_VAR NAME=ID>"></TMPL_IF></TMPL_IF><TMPL_VAR NAME=AUTHOR_NAME ESCAPE=HTML><TMPL_IF NAME=IS_ME></a><TMPL_ELSE><TMPL_IF NAME=HAS_EDIT_ACCESS></a></TMPL_IF></TMPL_IF></td>
<td><TMPL_IF NAME=AUTHOR_NICKNAME><TMPL_VAR NAME=AUTHOR_NICKNAME ESCAPE=HTML><TMPL_ELSE>&nbsp;</TMPL_IF></td>
<td class="status-email"><TMPL_IF NAME=AUTHOR_EMAIL><a href="mailto:<TMPL_VAR NAME=AUTHOR_EMAIL ESCAPE=HTML>" title="<TMPL_VAR NAME=AUTHOR_EMAIL ESCAPE=HTML>"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Email">" width="16" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
<td class="status-link"><TMPL_IF NAME=AUTHOR_URL><a href="<TMPL_VAR NAME=AUTHOR_URL ESCAPE=HTML>" title="<TMPL_VAR NAME=AUTHOR_URL ESCAPE=HTML>"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Link">" width="16" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
</tr>
</TMPL_LOOP>

</tbody>
</table>
</div>

<!--
<TMPL_IF NAME=POSITION_ACTIONS_BOTTOM>
<div class="list-actions-footer">
<TMPL_INCLUDE NAME=author_actions.tmpl>
</div>
</TMPL_IF>
 -->
</form>

</TMPL_LOOP>

