<TMPL_INCLUDE NAME="header-popup.tmpl">

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="category_do_add" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<h4><MT_TRANS phrase="Add A Category"></h4>

<p><MT_TRANS phrase="To create a new category, enter a title in the field below, select a parent category, and click the Add button."></p>

<p>
<label for="label"><MT_TRANS phrase="Category Title:"></label>
<br />
<input name="label" id="label" maxlength="100" />
</p>

<p>
<label for="parent"><MT_TRANS phrase="Parent Category:"></label>
<br />
<select name="parent" id="parent">
<option value="0"><MT_TRANS phrase="Top Level"></option>
<TMPL_LOOP NAME="CATEGORY_LOOP">
<option value="<TMPL_VAR NAME=CATEGORY_ID>"><TMPL_VAR NAME=CATEGORY_LABEL_SPACER><TMPL_VAR NAME=CATEGORY_LABEL></option>
</TMPL_LOOP>
</select>
</p>

<div>
<input type="submit" value="<MT_TRANS phrase="Save">" accesskey="s" title="<MT_TRANS phrase="Save category (s)">" />
<input type="button" onclick="window.close()" value="<MT_TRANS phrase="Cancel">" />
</div>

</form>
<script type="text/javascript" charset="utf-8">
    var fld = getByID("label");
    if (fld) {
        fld.disabled = false;
        fld.focus();
    }
</script>
<TMPL_INCLUDE NAME="footer-popup.tmpl">
