<script type="text/javascript">
/* <![CDATA[ */
function getByID (d, n) {
    if (d.getElementById)
        return d.getElementById(n);
    else if (d.all)
        return d.all[n];
}
var d = window.opener.document;
d.cfg_form.cc_license.value = '<mt:var name="license_code" escape="html">';
var e = getByID(d, 'cc-license-name');
if (e)
    e.innerHTML = '<mt:var name="license_name" escape="html">';
if (e = getByID(d, 'no-license'))
    e.style.display = 'none';
if (e = getByID(d, 'has-license'))
    e.style.display = 'block';
window.close();
/* ]]> */
</script>
