<mt:setvar name="page_title" value="<__trans phrase="System: Feedback Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="system-feedback-settings" value="1">
<MTSetVarBlock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your feedback preferences have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>
<MTSetVarBlock name="content_nav">
    <mt:include name="include/cfg_system_content_nav.tmpl">
</MTSetVarBlock>

<mt:include name="include/header.tmpl">

<form action="<mt:var name="script_url">" method="post">
<input type="hidden" name="__mode" value="save_cfg_system_feedback" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<fieldset>

<h3><__trans phrase="Feedback: Master Switch"></h3>

<div class="inner">

    <mtapp:setting
        id="comment_disable"
        label="<__trans phrase="Comments">"
        content_class="field-content-text"
        hint="<__trans phrase="This will override all individual blog settings.">">
            <input type="checkbox" id="comment_disable" name="comment_disable"<mt:if name="comment_disable"> checked="checked"</mt:if> class="cb" /> <label for="comment_disable"><__trans phrase="Disable comments for all blogs"></label>
    </mtapp:setting>

    <mtapp:setting
        id="ping_disable"
        label="<__trans phrase="TrackBacks">"
        content_class="field-content-text"
        hint="<__trans phrase="This will override all individual blog settings.">">
            <input type="checkbox" id="ping_disable" name="ping_disable"<mt:if name="ping_disable"> checked="checked"</mt:if> class="cb" /> <label for="ping_disable"><__trans phrase="Disable TrackBacks for all blogs"></label>
    </mtapp:setting>

</div>

</fieldset>

<fieldset>

<h3><__trans phrase="Outbound Notifications"></h3>

<div class="inner">

    <mtapp:setting
        id="disable_notify_ping"
        label="<__trans phrase="Notification pings">"
        content_class="field-content-text"
        hint="<__trans phrase="This feature allows you to disable sending notification pings when a new entry is created.">">
            <input type="checkbox" id="disable_notify_ping" name="disable_notify_ping" value="1"<mt:if name="disabled_notify_ping"> checked="checked"</mt:if> class="cb" /> <label for="disable_notify_ping"><__trans phrase="Disable notification pings for all blogs"></label>
    </mtapp:setting>

    <mtapp:setting
        id="trackback_send"
        label="<__trans phrase="Outbound TrackBacks">"
        content_class="field-content-text"
        hint="<__trans phrase="Limit outbound TrackBacks and TrackBack auto-discovery for the purposes of keeping your installation private.">"
        show_hint="1">
        <ul>
            <li><input type="radio" name="trackback_send" id="trackback_send_any" value="any"<mt:if name="trackback_send_any"> checked="checked"</mt:if> class="cb" /> <label for="trackback_send_any"><__trans phrase="Allow to any site"></label></li>
            <li><input type="radio" name="trackback_send" id="trackback_send_off" value="off"<mt:if name="trackback_send_off"> checked="checked"</mt:if> class="cb" /> <label for="trackback_send_off"><__trans phrase="Disabled"></label> <span class="hint"><__trans phrase="(No outbound TrackBacks)"></span></li>
            <li><input type="radio" name="trackback_send" id="trackback_send_local" value="local"<mt:if name="trackback_send_local"> checked="checked"</mt:if> class="cb" /> <label for="trackback_send_local"><__trans phrase="Only allow to blogs on this installation"></label></li>
            <li><input type="radio" name="trackback_send" id="trackback_send_selected" value="selected"<mt:if name="trackback_send_selected"> checked="checked"</mt:if> class="cb" /> <label for="trackback_send_selected"><__trans phrase="Only allow the sites on the following domains:"></label><br />
                <div class="textarea-wrapper">
                    <textarea rows="" cols="" name="trackback_send_domains" class="full-width short"><mt:var name="trackback_send_domains" escape="html"></textarea>
                </div>
            </li>
        </ul>
    </mtapp:setting>

</div>

</fieldset>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary-button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
