<$mt:setvar name="page_title" value="<__trans phrase="Email Settings">"$>
<$mt:setvar name="position_actions_bottom" value="1"$>
<$mt:setvar name="system-mail-settings" value="1"$>

<mt:setvarblock name="system_msg">
  <mt:if name="error">
    <mtapp:statusmsg
       id="generic-error"
       class="error"
       can_close="0">
      <mt:var name="error" escape="html">
    </mtapp:statusmsg>
  </mt:if>
  <mt:if name="saved">
    <mtapp:statusmsg
       id="saved"
       class="success">
      <__trans phrase="Your settings have been saved.">
    </mtapp:statusmsg>
  </mt:if>
  <mt:if name="config_warning">
    <mtapp:statusmsg
       id="info"
       class="info"
       can_close="0">
      <mt:var name="config_warning">
    </mtapp:statusmsg>
  </mt:if>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form id="sys_conf" action="<mt:var name="script_url">" method="post">
  <input type="hidden" name="__mode" value="save_cfg_system_mail" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<mtapp:setting
   id="system_email_address"
   label="<__trans phrase="System Email Address">"
   hint="<__trans phrase="This email address is used in the 'From:' header of each email sent by Movable Type.  Email may be sent for password recovery, commenter registration, comment and trackback notification, user or IP address lockout, and a few other minor events.">"
   show_hint="1">
  <input type="text"<mt:if name="config_warnings_emailaddressmain"> disabled="disabled"</mt:if> name="system_email_address" id="system_email_address" class="text med required email"<mt:if name="system_email_address"> value="<mt:var name="system_email_address" escape="html">"</mt:if> />
</mt:app:setting>

<h2><__trans phrase="Email Transfer Setting"></h2>
<mtapp:settinggroup id="system-mail-transfer">

  <mt:if name="mail_transfer" eq="sendmail">

    <mtapp:setting
       id="sendmail_path"
       label="<__trans phrase="Sendmail Path">"
       hint="<__trans phrase="The physical file path for your Sendmail binary.">"
       show_hint="1">
      <input type="text"<mt:if name="config_warnings_sendmailpath"> disabled="disabled"</mt:if> name="sendmail_path" id="sendmail_path" class="text med" value="<mt:var name="sendmail_path" escape="html">" />
    </mt:app:setting>

  <mt:elseif name="mail_transfer" eq="smtp">

    <mtapp:setting
       id="smtp_server"
       label="<__trans phrase="Outbound Mail Server">"
       hint="<__trans phrase="Address of your SMTP Server.">"
       show_hint="1">
      <input type="text"<mt:if name="config_warnings_smtpserver"> disabled="disabled"</mt:if> id="smtp_server" class="text med" name="smtp_server" value="<mt:var name="smtp_server" escape="html">" />
    </mt:app:setting>

    <mtapp:setting
       id="smtp_port"
       label="<__trans phrase="Port number">"
       hint="<__trans phrase="Port number  of your SMTP Server.">"
       show_hint="1">
      <input type="text"<mt:if name="config_warnings_smtpport"> disabled="disabled"</mt:if> id="smtp_port" class="text num" name="smtp_port" value="<mt:var name="smtp_port" escape="html">" />
    </mt:app:setting>

    <mt:if name="has_net_smtp_auth">

      <mtapp:setting
         id="smtp_auth"
         label="<__trans phrase="SMTP Auth">"
         show_hint="0">
        <input type="checkbox"<mt:if name="config_warnings_smtpauth"> disabled="disabled"</mt:if> name="smtp_auth" id="smtp_auth" class="cb" value="1" <mt:if name="smtp_auth">checked</mt:if> />
        <label for="smtp_auth"><__trans phrase="Use SMTP Auth"></label>
      </mtapp:setting>

  <div id="smtpauth_params" <mt:unless name="smtp_auth">style="display: none"</mt:unless>>

      <mtapp:setting
         id="smtp_auth_username"
         label="<__trans phrase="SMTP Auth Username">"
         hint="<__trans phrase="Username for your SMTP Server.">"
         show_hint="1">
        <input type="text"<mt:if name="config_warnings_smtpuser"> disabled="disabled"</mt:if> id="smtp_auth_username" class="text med" name="smtp_auth_username" value="<mt:var name="smtp_auth_username" escape="html">" />
      </mtapp:setting>

      <mtapp:setting
         id="smtp_auth_password"
         label="<__trans phrase="SMTP Auth Password">"
         hint="<__trans phrase="Password for your SMTP Server.">"
         show_hint="1">
        <input type="password"<mt:if name="config_warnings_smtppassword"> disabled="disabled"</mt:if> id="smtp_auth_password" class="text med" name="smtp_auth_password" value="<mt:var name="smtp_auth_password" escape="html">" />
      </mtapp:setting>

      <mtapp:setting
         id="smtp_auth_ssl"
         label="<__trans phrase="SSL">"
         show_hint="0">
        <mt:unless name="has_net_smtp_ssl">
          <mtapp:statusmsg
             id="no_smtp_auth_ssl"
             class="info"
             can_close="0">
            <mt:var name="has_net_smtp_ssl_msg" escape="html">
          </mtapp:statusmsg>
        </mt:unless>
        <input type="checkbox"<mt:if name="config_warnings_smtpusessl"> disabled="disabled"</mt:if> name="smtp_auth_ssl" id="smtp_auth_ssl" class="cb" value="1"<mt:if name="smtp_auth_ssl"> checked</mt:if><mt:unless name="has_net_smtp_ssl"> disabled="disabled"</mt:unless> />
        <label for="smtp_auth_ssl"><__trans phrase="Enable SMTP Auth with SSL"></label>
      </mtapp:setting>

      <mtapp:setting
         id="smtp_auth_tls"
         label="<__trans phrase="TLS">"
         show_hint="0">
        <mt:unless name="has_net_smtp_tls">
          <mtapp:statusmsg
             id="no_smtp_auth_tls"
             class="info"
             can_close="0">
            <mt:var name="has_net_smtp_tls_msg" escape="html">
          </mtapp:statusmsg>
        </mt:unless>
        <input type="checkbox"<mt:if name="config_warnings_smtpusetls"> disabled="disabled"</mt:if> name="smtp_auth_tls" id="smtp_auth_tls" class="cb" value="1"<mt:if name="smtp_auth_tls"> checked</mt:if><mt:unless name="has_net_smtp_tls"> disabled="disabled"</mt:unless> />
        <label for="smtp_auth_tls"><__trans phrase="Enable SMTP Auth with TLS"></label>
      </mtapp:setting>
  </div>
    </mt:if>
  </mt:if>

  <mtapp:setting
     id="send_test_email"
     label=""
     show_hint="0">
    <a href="#" id="send-test-email" class="button"><__trans phrase="Send Test Email"></a>
  </mtapp:setting>
</mtapp:settinggroup>

<mt:setvarblock name="action_buttons">
  <button
     type="submit"
     accesskey="s"
     title="<__trans phrase="Save changes to these settings (s)">"
     class="save action primary button">
    <__trans phrase="Save Changes">
  </button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>

<div id="test-email-dialog">

  <mtapp:statusmsg
     id="email_sent"
     class="success"
     can_close="0">
    <__trans phrase="A test email was sent.">
  </mtapp:statusmsg>

  <mtapp:statusmsg
     id="email_sent_error"
     class="error"
     can_close="0">
  </mtapp:statusmsg>

  <form id="test_form">
    <mtapp:setting
       id="to_email_address"
       label="<__trans phrase="Send Email To">"
       label_class="top-label"
       hint="<__trans phrase="The email address that should receive a test email from Movable Type.">"
       show_hint="1">
      <input type="text" name="to_email_address" id="to-email-address" class="text full" />
    </mtapp:setting>

    <span class="indicator"><img alt="<__trans phrase="Loading..." escape="js">" src="<mt:var name="static_uri">images/indicator.white.gif" /></span>
    <div class="dialog actions-bar">
      <button
         type="submit"
         class="action primary button">
        <__trans phrase="Send">
      </button>
    </div>
  </form>
</div>

<mt:setvarblock name="jq_js_include" append="1">
    jQuery('#smtp_auth').click(function() {
        if ( jQuery(this).is(':checked') ) {
            jQuery('#smtpauth_params').show();
        } else {
            jQuery('#smtpauth_params').hide();
        }
    });

    jQuery('#test-email-dialog').dialog({
        bgiframe: true,
        title: '<__trans phrase="Send Test Email">',
        autoOpen: false,
        width: 450,
    });

    jQuery('#send-test-email').click(function() {
        jQuery('span.indicator').hide();
        jQuery('#email_sent').hide();
        jQuery('#email_sent_error').hide();
        jQuery('#test-email-dialog').dialog('open');
        return false;
    });

    jQuery('#test_form').submit(function() {
        jQuery('#email_sent').hide();
        jQuery('#email_sent_error').hide();

        var postData = {};
        jQuery('#sys_conf').find('input:visible').each(function(){
            var $this = jQuery(this);
            if ( $this.attr('type') == "checkbox" ) {
                if ( $this.is(':checked') )
                    postData[$this.attr('name')] = $this.val();
            } else {
                postData[$this.attr('name')] = $this.val();
            }
        });
        postData['__mode'] = "test_system_mail";
        postData['magic_token'] = "<mt:var name="magic_token">";
        postData['to_email_address'] = jQuery('#to-email-address').val();

        jQuery('#test_form div.actions-bar').hide();
        jQuery('span.indicator').show();
        jQuery.post('<mt:var name="script_url">', postData, function( data ) {
            if( data.error ) {
                jQuery('#email_sent_error p').text( data.error );
                jQuery('#email_sent_error').show();
            } else if( data.result ) {
                jQuery('#email_sent').show();
            }
            jQuery('span.indicator').hide();
            jQuery('#test_form div.actions-bar').show();
        });
        return false;
    });

    jQuery.mtValidateAddRules({
  <mt:if name="mail_transfer" eq="sendmail">
        "#sendmail_path": function($e) {
            return $e.val().trim() == '' ? false : true;
        },
  </mt:if>
  <mt:if name="mail_transfer" eq="smtp">
        "#smtp_server": function($e) {
            return $e.val().trim() == '' ? false : true;
        },
        "#smtp_auth_username": function($e) {
            if ( jQuery('#smtp_auth').is(':checked') ) {
                return $e.val().trim() == '' ? false : true;
            }
            return true;
        },
        "#smtp_auth_password": function($e) {
            if ( jQuery('#smtp_auth').is(':checked') ) {
                return $e.val().trim() == '' ? false : true;
            }
            return true;
        }
  </mt:if>
    });

    jQuery.mtValidateAddMessages({
        "#system_email_address.required": '<__trans phrase="You must set system email address." escape="singlequotes">',
  <mt:if name="mail_transfer" eq="sendmail">
        "#sendmail_path": '<__trans phrase="You must set Sendmail path." escape="singlequotes">',
  </mt:if>
  <mt:if name="mail_transfer" eq="smtp">
        "#smtp_server": '<__trans phrase="You must set SMTP server address." escape="singlequotes">',
        "#smtp_auth_username": '<__trans phrase="You must set username for SMTP server." escape="singlequotes">',
        "#smtp_auth_password": '<__trans phrase="You must set password for SMTP server." escape="singlequotes">'
  </mt:if>
    });

    jQuery('#sys_conf').submit( function () {
        if ( !jQuery(this).find('input:not(:disabled), select:not(:disabled)')
            .filter('input:visible, select:visible')
            .mtValidate('simple') ) return false;
    });
</mt:setvarblock>

<mt:include name="include/footer.tmpl">
