<TMPL_INCLUDE NAME="header.tmpl">

<div id="cfg-entries">

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="New Entry Default Settings"></h2>

<p class="page-desc"><MT_TRANS phrase="This screen allows you to control default settings for new entries as well as your publicity and remote interface settings."></p>

<div class="tabs">
<ul>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="General"></a></li>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_entries&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="New Entry Defaults"></a></li>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_feedback&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Feedback"></a></li>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_archives&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Publishing"></a></li>
<TMPL_IF NAME=SHOW_IP_INFO>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list&amp;_type=banlist&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="IP Banning"></a></li>
</TMPL_IF>
<TMPL_IF NAME=USE_PLUGINS>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_plugins&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Plugins"></a></li>
</TMPL_IF>
<li class="special">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/related.gif" alt="<MT_TRANS phrase="Switch to Basic Settings">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;config_view=basic&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Switch to Basic Settings"></a>
</li>
</ul>
</div>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your blog preferences have been saved."> <TMPL_INCLUDE NAME="rebuild-stub.tmpl"></div>
</TMPL_IF>

<form name="cfg_form" method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="cfg_screen" value="cfg_entries" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<fieldset>

<h3><MT_TRANS phrase="Default Settings for New Entries"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label for="status_default"><MT_TRANS phrase="Post Status">:</label></div>
<div class="field">
<select name="status_default" id="status_default">
<option value="1"<TMPL_IF NAME=STATUS_DEFAULT_1> selected="selected"</TMPL_IF>><MT_TRANS phrase="Unpublished"></option>
<option value="2"<TMPL_IF NAME=STATUS_DEFAULT_2> selected="selected"</TMPL_IF>><MT_TRANS phrase="Published"></option>
</select>
<p><MT_TRANS phrase="Specifies the default Post Status when creating a new entry."></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="convert_paras"><MT_TRANS phrase="Text Formatting">:</label></div>
<div class="field">
<select name="convert_paras" id="convert_paras">
<TMPL_LOOP NAME=TEXT_FILTERS>
<option value="<TMPL_VAR NAME=FILTER_KEY>"<TMPL_IF NAME=FILTER_SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=FILTER_LABEL></option>
</TMPL_LOOP>
</select>
<p><MT_TRANS phrase="Specifies the default Text Formatting option when creating a new entry.">
<a href="#" onclick="return openManual('blog_settings_entry_defaults', 'text_formatting')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="allow_comments_default"><MT_TRANS phrase="Accept Comments">:</label></div>
<div class="field">
<ul>
<li><input type="checkbox" name="allow_comments_default" id="allow_comments_default" value="1"<TMPL_IF NAME=ALLOW_COMMENTS_DEFAULT_1> checked="checked"</TMPL_IF> class="cb" /> <span class="hint"><MT_TRANS phrase="Specifies the default Accept Comments setting when creating a new entry."></span>  <a href="#" onclick="return openManual('blog_settings_entry_defaults', 'accept_comments')" class="help">?</a></li>
</ul>
<TMPL_UNLESS NAME=SYSTEM_ALLOW_COMMENTS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Ignored">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: This option is currently ignored since comments are disabled either weblog or system-wide."></span></p>
</TMPL_UNLESS>
</div>
</div>

<div class="setting">
<div class="label"><label for="allow_pings_default"><MT_TRANS phrase="Accept TrackBacks">:</label></div>
<div class="field">
<ul>
<li><input type="checkbox" value="1" name="allow_pings_default" id="allow_pings_default"<TMPL_IF NAME=ALLOW_PINGS_DEFAULT> checked="checked"</TMPL_IF> class="cb" /> <span class="hint"><MT_TRANS phrase="Specifies the default Accept TrackBacks setting when creating a new entry."></span>  <a href="#" onclick="return openManual('blog_settings_entry_defaults', 'accept_trackbacks')" class="help">?</a></li>
</ul>
<TMPL_UNLESS NAME=SYSTEM_ALLOW_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Ignored">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: This option is currently ignored since TrackBacks are disabled either weblog or system-wide."></span></p>
</TMPL_UNLESS>
</div>
</div>

<div class="setting">
<div class="label"><label for="basename_limit"><MT_TRANS phrase="Basename Length:"></label></div>
<div class="field">
<input type="text" size="3" maxlength="3" value="<TMPL_VAR NAME=BASENAME_LIMIT>" name="basename_limit" id="basename_limit" />
<p><MT_TRANS phrase="Specifies the default length of an auto-generated basename. The range for this setting is 15 to 250."> <a href="#" onclick="return openManual('blog_settings_entry_defaults', 'basename_length')" class="help">?</a></p>
</div>
</div>

</div>

</fieldset>

<TMPL_INCLUDE NAME="cfg_entries_edit_page.tmpl">

<fieldset>

<h3><MT_TRANS phrase="Publicity/Remote Interfaces"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label><MT_TRANS phrase="Notify the following sites upon weblog updates:"></label></div>
<div class="field">
<ul>
<li><input type="checkbox" name="ping_blogs" id="ping_blogs" value="1"<TMPL_IF NAME=PING_BLOGS> checked="checked"</TMPL_IF> class="cb" /> <label for="ping_blogs">blo.gs</label></li>
<li><input type="checkbox" name="ping_weblogs" id="ping_weblogs" value="1"<TMPL_IF NAME=PING_WEBLOGS> checked="checked"</TMPL_IF> class="cb" /> <label for="ping_weblogs">weblogs.com</label></li>
<li><input type="checkbox" name="ping_technorati" id="ping_technorati" value="1"<TMPL_IF NAME=PING_TECHNORATI> checked="checked"</TMPL_IF> class="cb" /> <label for="ping_technorati">technorati.com</label></li>
<li><label for="ping_others"><MT_TRANS phrase="Others:"> <span class="hint"><MT_TRANS phrase="(Separate URLs with a carriage return.)"></span></label><br />
<textarea name="ping_others" id="ping_others" rows="4" cols="50"><TMPL_VAR NAME=PING_OTHERS ESCAPE=HTML></textarea></li>
</ul>
<p><MT_TRANS phrase="When this weblog is updated, Movable Type will automatically notify the selected sites.">
<a href="#" onclick="return openManual('blog_settings_entry_defaults', 'update_pings')" class="help">?</a></p>

<TMPL_IF NAME=SYSTEM_ALLOW_SELECTED_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Notice">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: The above option may be affected since outbound pings are constrained system-wide."></span></p>
<TMPL_ELSE>
<TMPL_UNLESS NAME=SYSTEM_ALLOW_OUTBOUND_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Ignored">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: This option is currently ignored since outbound pings are disabled system-wide."></span></p>
</TMPL_UNLESS>
</TMPL_IF>

</div>
</div>

<div class="setting">
<div class="label"><label for="mt_update_key"><MT_TRANS phrase="Recently Updated Key:"></label></div>
<div class="field">
<input name="mt_update_key" id="mt_update_key" value="<TMPL_VAR NAME=MT_UPDATE_KEY ESCAPE=HTML>" />
<p><MT_TRANS phrase="If you have received a recently updated key (by virtue of your purchase), enter it here.">
<a href="#" onclick="return openManual('blog_settings_entry_defaults', 'recently_updated_key')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><MT_TRANS phrase="TrackBack Auto-Discovery">:</div>
<div class="field">
<ul>
<li><input type="checkbox" value="1" name="autodiscover_links" id="autodiscover_links"<TMPL_IF NAME=AUTODISCOVER_LINKS> checked="checked"</TMPL_IF> class="cb" /> <label for="autodiscover_links"><MT_TRANS phrase="Enable External TrackBack Auto-Discovery"></label>
<TMPL_IF NAME=SYSTEM_ALLOW_SELECTED_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Notice">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: The above option may be affected since outbound pings are constrained system-wide."></span></p>
<TMPL_ELSE>
<TMPL_UNLESS NAME=SYSTEM_ALLOW_OUTBOUND_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Ignored">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: The above option is currently ignored since outbound pings are disabled system-wide."></span></p>
</TMPL_UNLESS>
</TMPL_IF>
</li>
<li><input type="checkbox" value="1" name="internal_autodiscovery" id="internal_autodiscovery"<TMPL_IF NAME=INTERNAL_AUTODISCOVERY> checked="checked"</TMPL_IF> class="cb" /> <label for="internal_autodiscovery"><MT_TRANS phrase="Enable Internal TrackBack Auto-Discovery"></label>
<TMPL_IF NAME=SYSTEM_ALLOW_SELECTED_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Notice">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: The above option may be affected since outbound pings are constrained system-wide."></span></p>
<TMPL_ELSE>
<TMPL_UNLESS NAME=SYSTEM_ALLOW_LOCAL_PINGS>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Setting Ignored">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: The above option is currently ignored since outbound pings are disabled system-wide."></span></p>
</TMPL_UNLESS>
</TMPL_IF>
</li>
</ul>
<p><MT_TRANS phrase="If you turn on auto-discovery, when you write a new post, any external links will be extracted and the appropriate sites automatically sent TrackBacks.">
<a href="#" onclick="return openManual('blog_settings_entry_defaults', 'trackback_autodiscovery')" class="help">?</a></p>

</div>
</div>

</div>

</fieldset>

<div style="text-align: center;">
<input type="submit" value="<MT_TRANS phrase="Save Changes">" title="<MT_TRANS phrase="Save changes (s)">" accesskey="s" />
</div>

</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
