<mt:setvar name="page_title" value="<__trans phrase="Publishing Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="publishing" value="1">
<mt:setvarblock name="system_msg">

    <mt:if name="error">
        <mtapp:statusmsg
            id="error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="no_writedir">
        <mtapp:statusmsg
            id="no-writedir"
            class="error">
            <__trans phrase="Error: Movable Type was not able to create a directory for publishing your blog. If you create this directory yourself, assign sufficient permissions that allow Movable Type to create files within it.">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_cachedir">
        <mtapp:statusmsg
            id="no-cachedir"
            class="error">
            <__trans phrase="Error: Movable Type was not able to create a directory to cache your dynamic templates. You should create a directory called <code>[_1]</code> underneath your blog directory." params="templates_c">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_writecache">
        <mtapp:statusmsg
            id="no-writecache"
            class="error">
            <__trans phrase="Error: Movable Type cannot write to the template cache directory. Please check the permissions for the directory called <code>[_1]</code> underneath your blog directory." params="templates_c">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_cache_path">
        <mtapp:statusmsg
            id="no-cache-path"
            class="error">
            <__trans phrase="Error: Movable Type was not able to create a directory to cache your dynamic templates. You should create a directory called <code>[_1]</code> underneath your blog directory." params="cache">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_write_cache_path">
        <mtapp:statusmsg
            id="no-write-cache-path"
            class="error">
            <__trans phrase="Error: Movable Type cannot write to the template cache directory. Please check the permissions for the directory called <code>[_1]</code> underneath your blog directory." params="cache">
        </mtapp:statusmsg>

    <mt:else>

    <mt:if name="saved">
        <mt:if name="archives_changed">
            <mtapp:statusmsg
                id="saved"
                class="success"
                rebuild="all">
                <__trans phrase="Your blog's archive configuration has been saved.">
            </mtapp:statusmsg>
        <mt:else>
            <mtapp:statusmsg
                id="saved"
                class="success">
                <__trans phrase="Your blog's archive configuration has been saved.">
            </mtapp:statusmsg>
        </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>

    <mt:if name="saved_added">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="You have successfully added a new archive-template association.">
            <mt:if name="archives_changed">
                <__trans phrase="You may need to update your 'Master Archive Index' template to account for your new archive configuration.">
            </mt:if>
            <mt:if name="saved_deleted">
                <__trans phrase="The selected archive-template associations have been deleted.">
            </mt:if>
        </mtapp:statusmsg>
    </mt:if>
    </mt:if>

    <mt:if name="warning_include"> 
        <mtapp:statusmsg
            id="warning_include"
            class="alert">
            <__trans phrase="Warning: one or more of your templates is set to publish dynamically using PHP, however your server side include method may not be compatible with dynamic publishing.">
        </mtapp:statusmsg>
   </mt:if>
</mt:setvarblock>
<mt:setvarblock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
function validate (f) {
    if (!f.site_path.value) {
        alert('<__trans phrase="You must set your Local Site Path." escape="singlequotes">');
        return false;
    } else if (!is_valid_url(f.site_url.value)){
        alert('<__trans phrase="You must set a valid Site URL." escape="singlequotes">');
        return false;
    } else if (!is_valid_path(f.site_path.value)){
        alert('<__trans phrase="You must set a valid Local Site Path." escape="singlequotes">');
        return false;
    }
    f.site_url.disabled = false;
    f.site_path.disabled = false;
    f.archive_path.disabled = false;
    f.archive_url.disabled = false;
    return true;
}
function is_valid_url(url_){
    return url_.match( /^https?:\/\/[A-Za-z0-9!$%()=_.:,;@~-]+/ );
}
function is_valid_path(path_){
    for(i = 0; i < path_.length; i++){
        var buf = escape(path_.substr(i, 1));
        if (buf.match(/^%u.*/)){
            return false;
        }
        if (buf.match(/(%.{2}){2}?/)){
        	return false;
        }
    }
    return true;
}

function disableFields(path1,path2) {
    var url_is = "<mt:var name="site_url" encode_js="1">";
    var path_is = "<mt:var name="site_path" encode_js="1">";
    if (url_is.match(/BLOG-NAME/)) {
        var daURL = getByID(path1);
        var lock = path1 +"-lock";
        var lock_img = getByID(lock);
        daURL.disabled = false;
        lock_img.style.display = 'none';
    }
    if (path_is.match(/BLOG-NAME/)) {
        var daPath = getByID(path2);
        var lock = path2 +"-lock";
        var lock_img = getByID(lock);
        daPath.disabled = false;
        lock_img.style.display = 'none';
    }
    return;
}

function toggleFile(path) {
    var fld = getByID(path);
    if (fld) {
        fld.disabled = false;
        fld.focus();
        var which_warning = path + "-warning";
        var urlwarn = getByID(which_warning);
        if (urlwarn) urlwarn.style.display = "block";
    }
    var which_lock = path + "-lock";
    var img = getByID(which_lock);
    if (img)
        img.style.display = 'none';
    return false;
}

function init() {
    // conditionally disables
    disableFields('site_url','site_path');
}

TC.attachLoadEvent( init );
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<div id="cfg-archives">

<form name="cfg_form" id="cfg_form" method="post" action="<mt:var name="script_url">"<mt:if name="can_set_publish_paths">  onsubmit="return validate(this)"</mt:if>>
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="id" value="<mt:var name="blog_id">" />
<input type="hidden" name="cfg_screen" value="cfg_archives" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<mt:if name="can_set_publish_paths">
<fieldset>
    <h3><__trans phrase="Publishing Paths"></h3>

    <mtapp:setting
        id="site_url"
        label="<__trans phrase="Site URL">"
        hint="<__trans phrase="The URL of your website. Do not include a filename (i.e. exclude index.html). Example: http://www.example.com/blog/">"
        show_hint="1"
        help_page="blog_settings_publishing"
        help_section="site_url">
        <input name="site_url" id="site_url" <mt:if name="site_url">disabled="disabled"</mt:if> value="<mt:var name="site_url" escape="html" default="$suggested_site_url">" size="50" /><mt:if name="site_url"> <a href="javascript:void(0)" title="<__trans phrase="Unlock this blog&rsquo;s site URL for editing">" onclick="return toggleFile('site_url')"><img src="<mt:var name="static_uri">images/locked.gif" alt="Site URL Lock" id="site_url-lock" height="14" width="14" /></a></mt:if>

        <p class="alert-warning-inline icon-left icon-warning" id="site_url-warning" style="display: none"><__trans phrase="Warning: Changing the site URL can result in breaking all the links in your blog."></p>
    </mtapp:setting>

    <mtapp:setting
        id="site_path"
        label="<__trans phrase="Site Root">"
        hint="<__trans phrase="The path where your index files will be published. An absolute path (starting with '/') is preferred, but you can also use a path relative to the Movable Type directory. Example: /home/melody/public_html/blog">"
        show_hint="1"
        help_page="blog_settings_publishing"
        help_section="site_root">
        <input name="site_path" id="site_path" <mt:if name="site_path">disabled="disabled"</mt:if> value="<mt:var name="site_path" escape="html" default="$suggested_site_path">" size="50" /><mt:if name="site_path"> <a href="javascript:void(0)" title="<__trans phrase="Unlock this blog&rsquo;s site path for editing">" onclick="return toggleFile('site_path')"><img src="<mt:var name="static_uri">images/locked.gif" alt="Site Root Lock" id="site_path-lock" height="14" width="14" /></a></mt:if>

        <p class="alert-warning-inline icon-left icon-warning" id="site_path-warning" style="display: none"><__trans phrase="Note: Changing your site root requires a complete publish of your site."></p>
    </mtapp:setting>

    <mtapp:setting
        id="enable_archive_paths"
        label="<__trans phrase="Advanced Archive Publishing">"
        content_class="field-content-text"
        show_label="0"
        hint="<__trans phrase="Select this option only if you need to publish your archives outside of your Site Root.">"
        help_page="blog_settings_publishing"
        help_section="advanced_archive_publishing">
            <input type="checkbox" name="enable_archive_paths" id="enable_archive_paths" value="1" onclick="toggleSubPrefs(this); return true"<mt:if name="enable_archive_paths"> checked="checked"</mt:if> class="cb" /> <label for="enable_archive_paths"><__trans phrase="Publish archives outside of Site Root"></label>
    </mtapp:setting>

    <div id="enable_archive_paths_prefs"<mt:unless name="enable_archive_paths"> class="hidden"</mt:unless>>

    <mtapp:setting
        id="archive_url"
        label="<__trans phrase="Archive URL">"
        hint="<__trans phrase="Enter the URL of the archives section of your website. Example: http://archives.example.com/">"
        show_hint="1"
        help_page="blog_settings_publishing"
        help_section="archive_url">
        <input name="archive_url" id="archive_url" <mt:if name="archive_url">disabled="disabled"</mt:if> value="<$mt:var name="archive_url" escape="html"$>" size="50" />
        <mt:if name="archive_url">
            <a href="javascript:void(0)" title="<__trans phrase="Unlock this blog&rsquo;s archive url for editing">" onclick="return toggleFile('archive_url')"><img src="<mt:var name="static_uri">images/locked.gif" alt="Archive URL Lock" id="archive_url-lock" height="14" width="14" /></a>
            <p class="alert-warning-inline icon-left icon-warning" id="archive_url-warning" style="display: none"><__trans phrase="Warning: Changing the archive URL can result in breaking all the links in your blog."></p>
        </mt:if>
    </mtapp:setting>

    <mtapp:setting
        id="archive_path"
        label="<__trans phrase="Archive Root">"
        hint="<__trans phrase="Enter the path where your archive files will be published. Example: /home/melody/public_html/archives">"
        show_hint="1"
        help_page="blog_settings_publishing"
        help_section="archive_path">
            <input name="archive_path" id="archive_path" <mt:if name="archive_path">disabled="disabled"</mt:if> value="<mt:var name="archive_path" escape="html">" size="50" />
            <mt:if name="archive_path">
                <a href="javascript:void(0)" title="<__trans phrase="Unlock this blog&rsquo;s site path for editing">" onclick="return toggleFile('archive_path')"><img src="<mt:var name="static_uri">images/locked.gif" alt="Archive Path Lock" id="archive_path-lock" height="14" width="14" /></a>
                <p class="alert-warning-inline icon-left icon-warning" id="archive_path-warning" style="display: none"><__trans phrase="Warning: Changing the archive path can result in breaking all the links in your blog."></p>
            </mt:if>
    </mtapp:setting>

    </div>

</fieldset>
</mt:if>

<mt:ignore>
    <!-- to be enabled at a later date -->

<mt:if name="can_use_publish_queue">

<fieldset>
    <h3><__trans phrase="Asynchronous Job Queue"></h3>

<mtapp:setting
    id="publish_queue"
    label="<__trans phrase="Use Publishing Queue">"
    content_class="field-content-text"
    help_page="blog_settings_publishing"
    help_section="publish_queue"
    show_label="0"
    show_hint="1"
    hint="<__trans phrase="Requires the use of a cron job to publish pages in the background.">">
    <input id="publish_queue" type="checkbox" name="publish_queue" value="1" <mt:if name="publish_queue"> checked="checked"</mt:if>/>
    <label for="publish_queue"><__trans phrase="Use background publishing queue for publishing static pages for this blog"></label>
</mtapp:setting>

</fieldset>

</mt:if>

</mt:ignore>


<mt:unless name="hide_build_option">
<mt:if name="dynamic_enabled">
<fieldset>
    <h3><__trans phrase="Dynamic Publishing Options"></h3>

    <mtapp:setting
        id="dynamic_publishing_options"
        label="<__trans phrase="Dynamic Publishing Options">"
        show_label="0">
    <ul>
        <li>
            <input type="checkbox" id="dynamic_cache" name="dynamic_cache" <mt:if name="dynamic_caching">checked="checked"</mt:if>/>
            <label for="dynamic_cache"><__trans phrase="Enable dynamic cache"></label>
        </li>
        <li>
            <input type="checkbox" id="dynamic_conditional" name="dynamic_conditional" <mt:if name="dynamic_conditional">checked="checked"</mt:if>/>
            <label for="dynamic_conditional"><__trans phrase="Enable conditional retrieval"></label>
        </li>
    </ul>
    </mtapp:setting>

</fieldset>
</mt:if>
</mt:unless>

<fieldset>
    <h3><__trans phrase="Archive Options"></h3>

<mtapp:setting
    id="file_extension"
    label="<__trans phrase="File Extension">"
    hint="<__trans phrase="Enter the archive file extension. This can take the form of 'html', 'shtml', 'php', etc. Note: Do not enter the leading period ('.').">"
    help_page="blog_setting_publishing"
    help_section="archive_file_extension">
    <input name="file_extension" id="file_extension" size="5" value="<mt:var name="file_extension" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="preferred_archive_type"
    label="<__trans phrase="Preferred Archive">"
    hint="<__trans phrase="Used for creating links to an archived entry (permalink). Select from the archive types used in this blogs archive templates.">"
    show_hint="1"
    help_page="blog_settings_publishing"
    help_section="preferred_archive_type">

    <mt:loop name="entry_archive_types">
        <mt:if name="__first__">
    <select name="preferred_archive_type" id="preferred_archive_type">
        </mt:if>
        <option value="<mt:var name="archive_type" escape="html">"<mt:if name="archive_type_is_preferred"> selected="selected"</mt:if>><mt:var name="archive_type_translated" escape="html"></option>
        <mt:if name="__last__">
    </select>
        </mt:if>
    </mt:loop>
    <mt:unless name="entry_archive_types">
    <p><span class="alert-warning-inline"><__trans phrase="No archives are active"></span></p>
    </mt:unless>
</mtapp:setting>

</fieldset>

<fieldset>
    <h3><__trans phrase="Module Options"></h3>

<mtapp:setting
    id="include_cache"
    label="<__trans phrase="Module Caching">"
    content_class="field-content-text"
    help_page="blog_settings_publishing"
    help_section="include_cache">
    <input id="include_cache" type="checkbox" name="include_cache" value="1"<mt:if name="include_cache"> checked="checked"</mt:if>/> <label for="include_cache"><__trans phrase="Enable template module caching"></label>
</mtapp:setting>

<mtapp:setting
    id="include_system"
    label="<__trans phrase="Server Side Includes">"
    content_class="field-content-text"
    help_page="blog_settings_publishing"
    help_section="ssi">
    <select id="include_system" name="include_system">
      <option value=""<mt:unless name="include_system"> selected="selected"</mt:unless>><__trans phrase="None (disabled)"></option>
      <option value="php"<mt:if name="include_system" eq="php"> selected="selected"</mt:if>><__trans phrase="PHP Includes"></option>
      <option value="shtml"<mt:if name="include_system" eq="shtml"> selected="selected"</mt:if>><__trans phrase="Apache Server-Side Includes"></option>
      <option value="asp"<mt:if name="include_system" eq="asp"> selected="selected"</mt:if>><__trans phrase="Active Server Page Includes"></option>
      <option value="jsp"<mt:if name="include_system" eq="jsp"> selected="selected"</mt:if>><__trans phrase="Java Server Page Includes"></option>
    </select>
</mtapp:setting>

</fieldset>


<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary-button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>

</div>

<mt:include name="include/footer.tmpl">
