<TMPL_INCLUDE NAME="header.tmpl">

<div id="cfg-prefs">
<div id="cfg-feedback">
<div id="cfg-archives">

<script type="text/javascript">
<!--
function validate (f) {
    if (!f.name.value) {
        alert('<MT_TRANS phrase="You must set your Weblog Name." escape="singlequotes">');
        return false;
    } else if (!f.site_path.value) {
        alert('<MT_TRANS phrase="You must set your Local Site Path." escape="singlequotes">');
        return false;
    } else if (!f.site_url.value) {
        alert('<MT_TRANS phrase="You must set your Site URL." escape="singlequotes">');
        return false;
    } else if (f.server_offset.value == '') {
        alert('<MT_TRANS phrase="You did not select a timezone." escape="singlequotes">');
        return false;
    } else if (!is_valid_url(f.site_url.value)){
        alert('<MT_TRANS phrase="You must set your Site URL." escape="singlequotes">');
        return false;
    } else if (checkUrlSpaces(f.site_url.value)){
        alert('<MT_TRANS phrase="You can not have spaces in your Site URL." escape="singlequotes">');
        return false;
    } else if (checkPathSpaces(f.site_path.value)){
        alert('<MT_TRANS phrase="You can not have spaces in your Local Site Path." escape="singlequotes">');
        return false;
    } else if (!is_valid_path(f.site_path.value)){
        alert('<MT_TRANS phrase="You must set your Local Site Path." escape="singlequotes">');
        return false;
    }
    return true;
}
function checkUrlSpaces(url_){
    if (url_.match(/\s+/)){
        return true;
    }
}
function is_valid_url(url_){
        return url_.match( /^https?:\/\/[A-Za-z0-9!$%()=_.:,;@~-]+/ );
}
function checkPathSpaces(path_){
    if (path_.match(/\s+/)){
        return true;
    }
}
function is_valid_path(path_){
    for(i = 0; i < path_.length; i++){
        var buf = escape(path_.substr(i, 1));
        if (buf.match(/^%u.*/)){
            return false;
        }
        if (buf.match(/(%.{2}){2}?/)){
            return false;
        }
    }
    return true;
}
function doRemoveLicense () {
    document.cfg_form.cc_license.value = '';
    var e = getByID('has-license');
    if (e) e.style.display = 'none';
    e = getByID('no-license');
    if (e) e.style.display = 'block';
}
//-->
</script>

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Settings"></h2>

<p class="page-desc"><MT_TRANS phrase="This screen allows you to control all settings specific to this weblog."></p>

<div class="tabs">
<ul>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Settings"></a></li>
<TMPL_IF NAME=USE_PLUGINS>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_plugins&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Plugins"></a></li>
</TMPL_IF>
<li class="special">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/related.gif" alt="<MT_TRANS phrase="Switch to Detailed Settings">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;config_view=detail&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Switch to Detailed Settings"></a>
</li>
</ul>
</div>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your settings have been saved."> <TMPL_INCLUDE NAME="rebuild-stub.tmpl"></div>
</TMPL_IF>

<TMPL_IF NAME=ERROR>
<div class="error-message"><TMPL_VAR NAME=ERROR></div>
</TMPL_IF>

<form name="cfg_form" method="post" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return validate(this)">
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="cfg_screen" value="cfg_simple" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<fieldset>

<h3><MT_TRANS phrase="Weblog Settings"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label for="name"><MT_TRANS phrase="Weblog Name:"></label></div>
<div class="field">
<input name="name" id="name" value="<TMPL_VAR NAME=NAME ESCAPE=HTML>" size="30" />
<p><MT_TRANS phrase="Name your weblog. The weblog name can be changed at any time."> <a href="#" onclick="return openManual('blog_settings_general', 'blog_name')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="description"><MT_TRANS phrase="Description:"></label></div>
<div class="field">
<textarea name="description" id="description" cols="50" rows="2"><TMPL_VAR NAME=DESCRIPTION ESCAPE=HTML></textarea>
<p><MT_TRANS phrase="Enter a description for your weblog.">
<a href="#" onclick="return openManual('blog_settings_general', 'blog_description')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="server_offset"><MT_TRANS phrase="Timezone:"></label></div>
<div class="field">
<select name="server_offset" id="server_offset">
<option value=""><MT_TRANS phrase="Time zone not selected"></option>
<option value="13"<TMPL_IF NAME=SERVER_OFFSET_13> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+13 (New Zealand Daylight Savings Time)"></option>
<option value="12"<TMPL_IF NAME=SERVER_OFFSET_12> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+12 (International Date Line East)"></option>
<option value="11"<TMPL_IF NAME=SERVER_OFFSET_11> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+11"></option>
<option value="10"<TMPL_IF NAME=SERVER_OFFSET_10> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+10 (East Australian Time)"></option>
<option value="9.5"<TMPL_IF NAME=SERVER_OFFSET_9_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+9.5 (Central Australian Time)"></option>
<option value="9"<TMPL_IF NAME=SERVER_OFFSET_9> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+9 (Japan Time)"></option>
<option value="8"<TMPL_IF NAME=SERVER_OFFSET_8> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+8 (China Coast Time)"></option>
<option value="7"<TMPL_IF NAME=SERVER_OFFSET_7> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+7 (West Australian Time)"></option>
<option value="6.5"<TMPL_IF NAME=SERVER_OFFSET_6_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+6.5 (North Sumatra)"></option>
<option value="6"<TMPL_IF NAME=SERVER_OFFSET_6> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+6 (Russian Federation Zone 5)"></option>
<option value="5.5"<TMPL_IF NAME=SERVER_OFFSET_5_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+5.5 (Indian)"></option>
<option value="5"<TMPL_IF NAME=SERVER_OFFSET_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+5 (Russian Federation Zone 4)"></option>
<option value="4"<TMPL_IF NAME=SERVER_OFFSET_4> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+4 (Russian Federation Zone 3)"></option>
<option value="3.5"<TMPL_IF NAME=SERVER_OFFSET_3_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+3.5 (Iran)"></option>
<option value="3"<TMPL_IF NAME=SERVER_OFFSET_3> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+3 (Baghdad Time/Moscow Time)"></option>
<option value="2"<TMPL_IF NAME=SERVER_OFFSET_2> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+2 (Eastern Europe Time)"></option>
<option value="1"<TMPL_IF NAME=SERVER_OFFSET_1> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+1 (Central European Time)"></option>
<option value="0"<TMPL_IF NAME=SERVER_OFFSET_0> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC+0 (Universal Time Coordinated)"></option>
<option value="-1"<TMPL_IF NAME=SERVER_OFFSET__1> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-1 (West Africa Time)"></option>
<option value="-2"<TMPL_IF NAME=SERVER_OFFSET__2> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-2 (Azores Time)"></option>
<option value="-3"<TMPL_IF NAME=SERVER_OFFSET__3> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-3 (Atlantic Time)"></option>
<option value="-3.5"<TMPL_IF NAME=SERVER_OFFSET__3_5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-3.5 (Newfoundland)"></option>
<option value="-4"<TMPL_IF NAME=SERVER_OFFSET__4> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-4 (Atlantic Time)"></option>
<option value="-5"<TMPL_IF NAME=SERVER_OFFSET__5> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-5 (Eastern Time)"></option>
<option value="-6"<TMPL_IF NAME=SERVER_OFFSET__6> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-6 (Central Time)"></option>
<option value="-7"<TMPL_IF NAME=SERVER_OFFSET__7> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-7 (Mountain Time)"></option>
<option value="-8"<TMPL_IF NAME=SERVER_OFFSET__8> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-8 (Pacific Time)"></option>
<option value="-9"<TMPL_IF NAME=SERVER_OFFSET__9> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-9 (Alaskan Time)"></option>
<option value="-10"<TMPL_IF NAME=SERVER_OFFSET__10> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-10 (Aleutians-Hawaii Time)"></option>
<option value="-11"<TMPL_IF NAME=SERVER_OFFSET__11> selected="selected"</TMPL_IF>><MT_TRANS phrase="UTC-11 (Nome Time)"></option>
</select>
<p><MT_TRANS phrase="Select your timezone from the pulldown menu.">
<a href="#" onclick="return openManual('blog_settings_general', 'blog_timezone')" class="help">?</a></p>
</div>
</div>

</div>

</fieldset>

<fieldset>

<h3><MT_TRANS phrase="Publishing Paths"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label for="site_url"><MT_TRANS phrase="Site URL:"></label></div>
<div class="field">
<input name="site_url" id="site_url" value="<TMPL_VAR NAME=SITE_URL ESCAPE=HTML>" size="50" />
<p><MT_TRANS phrase="Enter the URL of your website. Do not include a filename (i.e. exclude index.html)."><br /><MT_TRANS phrase="Example:"> <strong>http://www.example.com/weblog/</strong>
<a href="#" onclick="return openManual('blog_settings_publishing', 'site_url')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="site_path"><MT_TRANS phrase="Site Root:"></label></div>
<div class="field">
<input name="site_path" id="site_path" value="<TMPL_VAR NAME=SITE_PATH ESCAPE=HTML>" size="50" />
<p><MT_TRANS phrase="Enter the path where your index files will be published. An absolute path (starting with '/') is preferred, but you can also use a path relative to the Movable Type directory."><br /><MT_TRANS phrase="Example:"> <strong>/home/melody/public_html/weblog</strong>
<a href="#" onclick="return openManual('blog_settings_publishing', 'site_root')" class="help">?</a></p>
</div>
</div>
<p style="margin-left:83px;"><MT_TRANS phrase="You can configure the publishing model for this blog (static vs dynamic) on the "><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_archives&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>#publ_prefs"><MT_TRANS phrase="Detailed Settings"></a><MT_TRANS phrase=" page."></p>

</div>
</fieldset>

<fieldset>

<h3><MT_TRANS phrase="Default Weblog Display Settings"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label for="list_on_index"><MT_TRANS phrase="Entries to Display:"></label></div>
<div class="field">
<input name="list_on_index" id="list_on_index" size="2" value="<TMPL_VAR NAME=LIST_ON_INDEX ESCAPE=HTML>" />
<select name="days_or_posts" id="days_or_posts">
<option value="days"<TMPL_IF NAME=DAYS> selected="selected"</TMPL_IF>><MT_TRANS phrase="Days"></option>
<option value="posts"<TMPL_IF NAME=POSTS> selected="selected"</TMPL_IF>><MT_TRANS phrase="Entries"></option>
</select>
<p><MT_TRANS phrase="Choose to display a number of recent entries or entries from a recent number of days.">
<a href="#" onclick="return openManual('blog_settings_general', 'entries_to_display')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><label for="language"><MT_TRANS phrase="Date Language:"></label></div>
<div class="field">
<select name="language" id="language">
<option value="cz"<TMPL_IF NAME=LANGUAGE_CZ> selected="selected"</TMPL_IF>><MT_TRANS phrase="Czech"></option>
<option value="dk"<TMPL_IF NAME=LANGUAGE_DK> selected="selected"</TMPL_IF>><MT_TRANS phrase="Danish"></option>
<option value="nl"<TMPL_IF NAME=LANGUAGE_NL> selected="selected"</TMPL_IF>><MT_TRANS phrase="Dutch"></option>
<option value="en"<TMPL_IF NAME=LANGUAGE_EN> selected="selected"</TMPL_IF>><MT_TRANS phrase="English"></option>
<option value="et"<TMPL_IF NAME=LANGUAGE_ET> selected="selected"</TMPL_IF>><MT_TRANS phrase="Estonian"></option>
<option value="fr"<TMPL_IF NAME=LANGUAGE_FR> selected="selected"</TMPL_IF>><MT_TRANS phrase="French"></option>
<option value="de"<TMPL_IF NAME=LANGUAGE_DE> selected="selected"</TMPL_IF>><MT_TRANS phrase="German"></option>
<option value="is"<TMPL_IF NAME=LANGUAGE_IS> selected="selected"</TMPL_IF>><MT_TRANS phrase="Icelandic"></option>
<option value="it"<TMPL_IF NAME=LANGUAGE_IT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Italian"></option>
<option value="ja"<TMPL_IF NAME=LANGUAGE_JA> selected="selected"</TMPL_IF>><MT_TRANS phrase="Japanese"></option>
<option value="no"<TMPL_IF NAME=LANGUAGE_NO> selected="selected"</TMPL_IF>><MT_TRANS phrase="Norwegian"></option>
<option value="pl"<TMPL_IF NAME=LANGUAGE_PL> selected="selected"</TMPL_IF>><MT_TRANS phrase="Polish"></option>
<option value="pt"<TMPL_IF NAME=LANGUAGE_PT> selected="selected"</TMPL_IF>><MT_TRANS phrase="Portuguese"></option>
<option value="sk"<TMPL_IF NAME=LANGUAGE_SK> selected="selected"</TMPL_IF>><MT_TRANS phrase="Slovak"></option>
<option value="si"<TMPL_IF NAME=LANGUAGE_SI> selected="selected"</TMPL_IF>><MT_TRANS phrase="Slovenian"></option>
<option value="es"<TMPL_IF NAME=LANGUAGE_ES> selected="selected"</TMPL_IF>><MT_TRANS phrase="Spanish"></option>
<option value="fi"<TMPL_IF NAME=LANGUAGE_FI> selected="selected"</TMPL_IF>><MT_TRANS phrase="Suomi"></option>
<option value="se"<TMPL_IF NAME=LANGUAGE_SE> selected="selected"</TMPL_IF>><MT_TRANS phrase="Swedish"></option>
</select>
<p><MT_TRANS phrase="Select the language in which you would like dates on your blog displayed.">
<a href="#" onclick="return openManual('blog_settings_general', 'date_language')" class="help">?</a></p>
</div>
</div>

</div>

</fieldset>

<fieldset>

<h3><MT_TRANS phrase="Comments"></h3>

<div class="inner">

<TMPL_UNLESS NAME=SYSTEM_ALLOW_COMMENTS>
<div class="message"><MT_TRANS phrase="Note: Commenting is currently disabled at the system level."></div>
</TMPL_UNLESS>

<TMPL_UNLESS NAME=TK_AVAILABLE>
<p><MT_TRANS phrase="Comment authentication is not available because one of the needed modules, MIME::Base64 or LWP::UserAgent is not installed. Talk to your host about getting this module installed."></p>
</TMPL_UNLESS>

<div class="setting">
<div class="label"><MT_TRANS phrase="Accept comments from">:</div>
<div class="field">
<ul>
<li><label><input type="radio" name="allow_comments" value="1" onclick="toggleSubPrefs(this); return true"<TMPL_IF NAME=ALLOW_UNREG_COMMENTS> checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Anyone"></label></li>
<TMPL_IF NAME=TK_AVAILABLE>
<li><label><input type="radio" name="allow_comments" value="2" onclick="toggleSubPrefs(this); return true"<TMPL_IF NAME=ALLOW_REG_COMMENTS><TMPL_UNLESS NAME=ALLOW_UNREG_COMMENTS> checked="checked"</TMPL_UNLESS></TMPL_IF> class="rb" /> <MT_TRANS phrase="Authenticated commenters only"></label></li>
</TMPL_IF>
<li><label><input type="radio" name="allow_comments" value="0" onclick="toggleSubPrefs(this); return true"<TMPL_UNLESS NAME=ALLOW_REG_COMMENTS><TMPL_UNLESS NAME=ALLOW_UNREG_COMMENTS> checked="checked"</TMPL_UNLESS></TMPL_UNLESS> class="rb" /> <MT_TRANS phrase="No one"></label></li>
</ul>
<p><MT_TRANS phrase="Specify which types of commenters will be allowed to leave comments on this weblog."> <a href="#" onclick="return openManual('blog_settings_feedback', 'accept_comments_from')" class="help">?</a></p>
</div>
</div>

<div id="allow_comments_prefs" style="display:<TMPL_IF NAME=ALLOW_REG_COMMENTS>block<TMPL_ELSE><TMPL_IF NAME=ALLOW_UNREG_COMMENTS>block<TMPL_ELSE>none</TMPL_IF></TMPL_IF>">

<div class="setting" id="setting-auth-status">
<div class="label"><MT_TRANS phrase="Authentication Status">:</div>
<div class="field">
<TMPL_IF NAME=REMOTE_AUTH_TOKEN>
<div id="token_curr_status">
<p>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/success.gif" alt="<MT_TRANS phrase="Authentication Enabled">" width="9" height="9" />
<span class="alert-success-inline"><MT_TRANS phrase="Authentication is enabled."></span>
<input type="button" name="auth_setup" value="<MT_TRANS phrase="Clear Authentication Token">" onclick="getByID('remote_auth_token').value='';getByID('save_token_msg').style.display='block';getByID('token_curr_status').style.display='none';return false" />
</p>
<p>
<MT_TRANS phrase="Authentication Token:">
<input type="text" id="remote_auth_token" name="remote_auth_token" value="<TMPL_VAR NAME=REMOTE_AUTH_TOKEN ESCAPE=HTML>" />
</p>
</div>
<p id="save_token_msg" style="display:none">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Authentication Token Removed">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Please click the Save Changes button below to disable authentication."></span>
</p>
<TMPL_ELSE>
<TMPL_IF NAME=ALLOW_REG_COMMENTS><TMPL_UNLESS NAME=ALLOW_UNREG_COMMENTS>
<p>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Authentication Not Enabled">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Note: You have selected to accept comments from authenticated commenters only but authentication is not enabled. In order to receive authenticated comments, you must enable authentication."></span>
</p>
</TMPL_UNLESS></TMPL_IF>
<p>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/neutral.gif" alt="<MT_TRANS phrase="Authentication Not Enabled">" width="9" height="9" />
<span class="auth-status-neutral"><MT_TRANS phrase="Authentication is not enabled."></span>
</p>
<p>
<input type="button" name="auth_setup" value="<MT_TRANS phrase="Setup Authentication">" onclick="window.open('<TMPL_VAR NAME=IDENTITY_SYSTEM>/handshake?url=<TMPL_VAR NAME=HANDSHAKE_RETURN ESCAPE=URL>&blog_id=<TMPL_VAR NAME=BLOG_ID>');return false"/>
&nbsp; <MT_TRANS phrase="Or, manually enter token:">
<input type="text" name="remote_auth_token" value="<TMPL_VAR NAME=REMOTE_AUTH_TOKEN ESCAPE=HTML>" />
</p>
<p id="save_token_msg" style="display:none">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/warning.gif" alt="<MT_TRANS phrase="Authentication Token Inserted">" width="9" height="9" />
<span class="alert-warning-inline"><MT_TRANS phrase="Please click the Save Changes button below to enable authentication."></span>
</p>
</TMPL_IF>
<p><MT_TRANS phrase="If you want to require visitors to sign in before leaving a comment, set up authentication with the free TypeKey service."> <a href="#" onclick="return openManual('blog_settings_feedback', 'authentication_status')" class="help">?</a></p>
</div>
</div>

<div class="setting">
<div class="label"><MT_TRANS phrase="Immediately publish comments from">:</div>
<div class="field">
<ul>
<li><label><input type="radio" name="moderate_comments" value="1"<TMPL_IF NAME=MODERATE_COMMENTS_1> checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="No one"></label></li>
<li><label><input type="radio" name="moderate_comments" value="2"<TMPL_IF NAME=MODERATE_COMMENTS_2> checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Trusted commenters only"></label></li>
<li><label><input type="radio" name="moderate_comments" value="3"<TMPL_IF NAME=MODERATE_COMMENTS_3> checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Any authenticated commenters"></label></li>
<li><label><input type="radio" name="moderate_comments" value="0"<TMPL_IF NAME=MODERATE_COMMENTS_0> checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Anyone"></label></li>
</ul>
<p><MT_TRANS phrase="Specify what should happen to comments after submission. Unpublished comments are held for moderation and junk comments do not appear."> <a href="#" onclick="return openManual('blog_settings_feedback', 'immediately_publish_comments_from')" class="help">?</a></p>
</div>
</div>

</div>

</div>

</fieldset>

<fieldset>

<h3><MT_TRANS phrase="TrackBacks"></h3>

<div class="inner">

<TMPL_UNLESS NAME=SYSTEM_ALLOW_PINGS>
<div class="message"><MT_TRANS phrase="Note: TrackBacks are currently disabled at the system level."></div>
</TMPL_UNLESS>

<div class="setting">
<div class="label"><label for="allow_pings"><MT_TRANS phrase="Accept TrackBacks">:</label></div>
<div class="field">
<ul>
<li><input type="checkbox" name="allow_pings" value="1" id="allow_pings" onclick="toggleSubPrefs(this); return true"<TMPL_IF NAME=ALLOW_PINGS> checked="checked"</TMPL_IF> class="cb" /> <span class="hint"><MT_TRANS phrase="Accept TrackBacks from people who link to your weblog."></span>  <a href="#" onclick="return openManual('blog_settings_feedback', 'accept_trackbacks')" class="help">?</a></li>
</ul>
</div>
</div>

<div id="allow_pings_prefs" style="display: <TMPL_IF NAME=ALLOW_PINGS>block<TMPL_ELSE>none</TMPL_IF>">

<div class="setting">
<div class="label"><label for="moderate_pings"><MT_TRANS phrase="Moderation">:</label></div>
<div class="field">
<ul>
<li><input type="checkbox" name="moderate_pings" value="1" id="moderate_pings"<TMPL_IF NAME=MODERATE_PINGS_1> checked="checked"</TMPL_IF> class="cb" /> <span class="hint"><MT_TRANS phrase="Hold all TrackBacks for approval before they're published."></span>  <a href="#" onclick="return openManual('blog_settings_feedback', 'trackback_moderation')" class="help">?</a></li>
</ul>
</div>
</div>

</div>

</div>

</fieldset>

<fieldset>

<h3><MT_TRANS phrase="License"></h3>

<div class="inner">

<div class="setting">
<div class="label"><label><MT_TRANS phrase="Creative Commons License:"></label></div>
<div class="field">
<p style="display: none;" id="has-license">
<TMPL_IF NAME=CC_LICENSE><a href="<TMPL_VAR NAME=CC_LICENSE_URL>"><img src="<TMPL_VAR NAME=CC_LICENSE_IMAGE_URL>" /></a><br /></TMPL_IF>
<MT_TRANS phrase="Your weblog is currently licensed under:"> <span id="cc-license-name"><TMPL_VAR NAME=CC_LICENSE_NAME></span><br />
<a onclick="window.open('http://creativecommons.org/license/?partner=SixApart&amp;jurisdiction_choose=1&amp;exit_url=<TMPL_VAR NAME=SCRIPT_FULL_URL>?__mode=cc_return%26license_code=[license_code]%26license_url=[license_url]%26license_button=[license_button]', 'cc', 'width=600,height=650,scrollbars=yes,resizable=no'); return false" href="#"><MT_TRANS phrase="Change your license"></a> | <a onclick="doRemoveLicense(); return false" href="#"><MT_TRANS phrase="Remove this license"></a>
</p>
<p style="display: none;" id="no-license">
<MT_TRANS phrase="Your weblog does not have an explicit Creative Commons license."><br />
<a onclick="window.open('http://creativecommons.org/license/?partner=SixApart&amp;jurisdiction_choose=1&amp;exit_url=<TMPL_VAR NAME=SCRIPT_FULL_URL>?__mode=cc_return%26license_code=[license_code]%26license_url=[license_url]%26license_button=[license_button]', 'cc', 'width=600,height=650,scrollbars=yes,resizable=no'); return false" href="#"><MT_TRANS phrase="Create a license now"></a>
</p>
<TMPL_IF NAME=CC_LICENSE>
<script type="text/javascript">
	var e = getByID('has-license');
	if (e) e.style.display = 'block';
</script>
<TMPL_ELSE>
<script type="text/javascript">
	var e = getByID('no-license');
	if (e) e.style.display = 'block';
</script>
</TMPL_IF>
<input type="hidden" name="cc_license" value="<TMPL_VAR NAME=CC_LICENSE ESCAPE=HTML>" />
<p><MT_TRANS phrase="Select a Creative Commons license for the posts on your blog (optional).">
<a href="#" onclick="return openManual('blog_settings_general', 'creative_commons_license')" class="help">?</a></p>
<p><strong><MT_TRANS phrase="Be sure that you understand these licenses before applying them to your own work."></strong>
<a href="#" onclick="return openManual('blog_settings_general', 'creative_commons_license')"><MT_TRANS phrase="Read more."></a></p>
</div>
</div>

</div>

</fieldset>

<div style="text-align: center;">
<input type="submit" value="<MT_TRANS phrase="Save Changes">" title="<MT_TRANS phrase="Save changes (s)">" accesskey="s" />
</div>

</form>

</div>
</div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
