<mt:setvar name="page_title" value="<__trans phrase="Spam Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="spam" value="1">
<MTSetVarBlock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mt:if name="can_rebuild">
            <mt:if name="need_full_rebuild">
                <mtapp:statusmsg
                    id="saved-full-rebuild"
                    class="success"
                    rebuild="all">
                    <__trans phrase="Your spam preferences have been saved.">
                </mtapp:statusmsg>
            <mt:else>
                <mt:if name="need_index_rebuild">
                    <mtapp:statusmsg
                        id="saved-index-rebuild"
                        class="success"
                        rebuild="index">
                        <__trans phrase="Your spam preferences have been saved.">
                    </mtapp:statusmsg>
                <mtelse>
                    <mtapp:statusmsg
                        id="saved"
                        class="success">
                        <__trans phrase="Your spam preferences have been saved.">
                    </mtapp:statusmsg>
                </mt:if>
            <mtelse>
                <mtapp:statusmsg
                    id="saved"
                    class="success">
                    <__trans phrase="Your spam preferences have been saved.">
                </mtapp:statusmsg>
            </mt:if>
        <mtelse>
            <mtapp:statusmsg
                id="saved"
                class="success">
                <__trans phrase="Your spam preferences have been saved.">
            </mtapp:statusmsg> 
        </mtif> 
    </mt:if>
</MTSetVarBlock>
<MTSetVarBlock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</MTSetVarBlock>
<mt:include name="include/header.tmpl">

<div id="cfg-spam">

<script type="text/javascript">
/* <![CDATA[ */
function scoreNudge(amount) {
    var fld = getByID('junk_score_threshold');
    score = fld.value;
    score.replace(/\+/, '');
    score = parseFloat(score) + amount;
    if (isNaN(score)) score = amount;
    if (score > 10) score = 10;
    if (score < -10) score = -10;
    if (score > 0) score = '+' + score;
    fld.value = score;
    return false;
}
/* ]]> */
</script>

<form name="cfg_form" method="post" action="<mt:var name="script_url">">
<input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="cfg_screen" value="cfg_spam" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

    <mtapp:setting
        id="auto_delete_junk"
        label="<__trans phrase="Auto-Delete Spam">"
        content_class="field-content-text"
        help_page="blog_settings_feedback"
        help_section="autodelete_junk">
        <input id="auto_delete_junk" name="auto_delete_junk" type="checkbox" value="1"<mt:if name="auto_delete_junk"> checked="checked"</mt:if> onclick="toggleSubPrefs(this)" class="cb" /> <span class="hint"><label for="auto_delete_junk"><__trans phrase="If enabled, feedback reported as spam will be automatically erased after a number of days."></label></span></li>
    </mtapp:setting>

<div id="auto_delete_junk_prefs" <mt:unless name="auto_delete_junk">style="display: none"</mt:unless>>
    <mtapp:setting
        id="junk_folder_expiry"
        label="<__trans phrase="Delete Spam After">"
        hint="<__trans phrase="When an item has been reported as spam for this many days, it is automatically deleted.">"
        help_page="blog_settings_feedback"
        help_section="delete_junk_after">
<input type="text" id="junk_folder_expiry" name="junk_folder_expiry" value="<mt:var name="junk_folder_expiry" escape="html">" size="5" /> <__trans phrase="days">
    </mtapp:setting>
</div>

    <mtapp:setting
        id="junk_score_threshold"
        label="<__trans phrase="Spam Score Threshold">"
        hint="<__trans phrase="Comments and TrackBacks receive a spam score between -10 (complete spam) and +10 (not spam). Feedback with a score which is lower than the threshold shown above will be reported as spam.">"
        help_page="blog_settings_feedback"
        help_section="junk_score_threshold">
<a href="javascript:void(0)" id="decrease-threshold" onclick="return scoreNudge(-1)"><__trans phrase="Less Aggressive"> <img src="<mt:var name="static_uri">images/decrease.gif" alt="<__trans phrase="Decrease">" width="12" height="8" /></a>
<input type="text" id="junk_score_threshold" name="junk_score_threshold" value="<mt:var name="junk_score_threshold" escape="html">" size="3" style="text-align: center" />
<a href="javascript:void(0)" id="increase-threshold" onclick="return scoreNudge(1)"><img src="<mt:var name="static_uri">images/increase.gif" alt="<__trans phrase="Increase">" width="12" height="8" /> <__trans phrase="More Aggressive"></a>
    </mtapp:setting>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary-button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

</div>

<mt:include name="include/footer.tmpl">
