<div class="list-actions">

<div class="button-bar">
<TMPL_UNLESS NAME=TAB_JUNK>
<input type="button" onclick="doForMarkedInThisWindow(this.form, '<MT_TRANS phrase="comment">', '<MT_TRANS phrase="comments">', 'id', 'approve_item', {}, '<MT_TRANS phrase="to publish">')" value="<MT_TRANS phrase="Publish">" accesskey="p" title="<MT_TRANS phrase="Publish selected comments (p)">" />
</TMPL_UNLESS>
<input type="button" onclick="doRemoveItems(this.form, '<MT_TRANS phrase="comment">', '<MT_TRANS phrase="comments">')" name="delete_comments" value="<MT_TRANS phrase="Delete">" accesskey="x" title="<MT_TRANS phrase="Delete selected comments (x)">" />
<TMPL_UNLESS NAME=TAB_JUNK>
<input type="button" onclick="doItemsAreJunk(this.form, '<MT_TRANS phrase="comment">', '<MT_TRANS phrase="comments">')" value="<MT_TRANS phrase="Junk">" accesskey="j" title="<MT_TRANS phrase="Junk selected comments (j)">" />
<TMPL_ELSE>
<input type="button" onclick="doItemsAreNotJunk(this.form, '<MT_TRANS phrase="comment">', '<MT_TRANS phrase="comments">')" value="<MT_TRANS phrase="Not Junk">" accesskey="j" title="<MT_TRANS phrase="Recover selected comments (j)">" />
<input type="button" onclick="submitFormConfirm(this.form, 'empty_junk', '<MT_TRANS phrase="Are you sure you want to remove all junk comments?">')" value="<MT_TRANS phrase="Empty Junk Folder">" title="<MT_TRANS phrase="Deletes all junk comments">" />
</TMPL_UNLESS>
<TMPL_IF NAME=IS_IP_FILTER>
<input type="button" onclick="doBanIP('<TMPL_VAR NAME=FILTER_VAL>')" name="banip" value="<MT_TRANS phrase="Ban This IP">" />
</TMPL_IF>
</div>

<div class="button-bar-alt">
<TMPL_INCLUDE NAME="itemset_action_widget.tmpl">
</div>

</div>
