<TMPL_LOOP NAME=COMMENTER_TABLE>
<form name="commenter_form" action="<TMPL_VAR NAME=SCRIPT_URL>" method="post">
<input type="hidden" name="__mode" value="" />
<input type="hidden" name="_type" value="commenter" />
<TMPL_IF NAME=BLOG_ID>
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
</TMPL_IF>
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="action_name" value="" />
<input type="hidden" name="itemset_action_input" value="" />

<TMPL_IF NAME=POSITION_ACTIONS_TOP>
<TMPL_INCLUDE NAME=commenter_actions.tmpl>
</TMPL_IF>

<div class="list" id="commenter-list">
<table cellspacing="0">

<thead>
<tr>
<th width="1%" class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
<th id="cmtr-flag"><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/flag.gif" alt="<MT_TRANS phrase="Status">" title="<MT_TRANS phrase="Status">" width="9" height="9" /></th>
<th id="cmtr-commenter"><MT_TRANS phrase="Commenter"></th>
<th id="cmtr-identity"><MT_TRANS phrase="Identity"></th>
<th id="cmtr-email"><MT_TRANS phrase="Email"></th>
<th id="cmtr-url"><MT_TRANS phrase="URL"></th>
<th id="cmtr-comments"><MT_TRANS phrase="Comments"></th>
<th id="cmtr-recent"><MT_TRANS phrase="Most Recent Comment"></th>
</tr>
</thead>
<tbody>

<TMPL_LOOP NAME=OBJECT_LOOP>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">

<td class="cb">
<TMPL_IF NAME=HAS_EDIT_ACCESS>
<input type="checkbox" name="id" value="<TMPL_VAR NAME=AUTHOR_ID>" class="select" />
<TMPL_ELSE>
&nbsp;
</TMPL_IF>
</td>

<td class="<TMPL_IF NAME=COMMENTER_APPROVED>status-trusted<TMPL_ELSE><TMPL_IF NAME=COMMENTER_BANNED>status-banned<TMPL_ELSE>status-authenticated</TMPL_IF></TMPL_IF>">
<TMPL_IF NAME=COMMENTER_APPROVED>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;filter=status&amp;filter_val=approved" title="<MT_TRANS phrase="Only show trusted commenters">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Trusted">" width="13" height="9" /></a>
<TMPL_ELSE>
<TMPL_IF NAME=COMMENTER_BANNED>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;filter=status&amp;filter_val=banned" title="<MT_TRANS phrase="Only show banned commenters">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Banned">" width="13" height="9" /></a>
<TMPL_ELSE>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;filter=status&amp;filter_val=neutral" title="<MT_TRANS phrase="Only show neutral commenters">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Authenticated">" width="7" height="9" /></a>
</TMPL_IF>
</TMPL_IF>
</td>

<td>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=commenter&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;id=<TMPL_VAR NAME=AUTHOR_ID>" title="<MT_TRANS phrase="Edit this commenter">"><TMPL_VAR NAME=AUTHOR_DISPLAY ESCAPE=HTML></a>
</td>

<td>
<a href="<TMPL_VAR NAME=PROFILE_PAGE>/" title="<MT_TRANS phrase="View this commenter's profile">"><TMPL_VAR NAME=AUTHOR ESCAPE=HTML></a>
</td>

<td class="status-email">
<TMPL_UNLESS NAME=EMAIL_HIDDEN><a href="mailto:<TMPL_VAR NAME=EMAIL ESCAPE=HTML>"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Email">" width="16" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_UNLESS>
</td>

<td class="status-link">
<TMPL_IF NAME=URL><a href="<TMPL_VAR NAME=URL ESCAPE=HTML>"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Link">" width="16" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF>
</td>

<td><TMPL_VAR NAME=COMMENT_COUNT></td>

<td><span title="<TMPL_VAR NAME=MOST_RECENT_TIME_FORMATTED>"><TMPL_IF NAME=MOST_RECENT_RELATIVE><TMPL_IF NAME=DATES_RELATIVE><TMPL_VAR NAME=MOST_RECENT_RELATIVE><TMPL_ELSE><TMPL_VAR NAME=MOST_RECENT_FORMATTED></TMPL_IF><TMPL_ELSE><TMPL_VAR NAME=MOST_RECENT_FORMATTED></TMPL_IF></span></td>

</tr>
</TMPL_LOOP>

</tbody>
</table>
</div>

<TMPL_IF NAME=POSITION_ACTIONS_BOTTOM>
<div class="list-actions-footer">
<TMPL_INCLUDE NAME=commenter_actions.tmpl>
</div>
</TMPL_IF>

</form>
</TMPL_LOOP>
