</pre>
</div>

<script type="text/javascript">
<!--
var progress = getByID("progress-bar");
if (progress) {
    progress.style.display = "none";
}
// -->
</script>

<mt:if name="create_success">
<p><strong><__trans phrase="All users updated successfully!"></strong></p>
<mt:else>
<p><strong><__trans phrase="An error occurred during the updating process. Please check your CSV file."></strong></p>
</mt:if>

<mt:include name="include/footer.tmpl">
