<mt:setvar name="edit_screen" value="1">
<mt:if name="new_object">
  <mt:setvar name="page_title" value="<__trans phrase="Create Content Type">">
<mt:else>
  <mt:setvar name="page_title" value="<__trans phrase="Edit Content Type">">
</mt:if>

<mt:setvarblock name="system_msg">
<div id="msg-block">
<mt:loop name="content_field_types">
  <mt:if name="warning">
    <mtapp:statusmsg
       class="warning"
       can_close="0">
      <mt:var name="warning">
    </mtapp:statusmsg>
  </mt:if>
</mt:loop>
  <mt:if name="saved">
    <mtapp:statusmsg
       id="saved"
       class="success">
      <__trans phrase="Contents type settings has been saved.">
    </mtapp:statusmsg>
  </mt:if>
  <mt:if name="error">
    <mtapp:statusmsg
       id="error"
       class="error"
       can_close="0">
      <mt:var name="error">
    </mtapp:statusmsg>
  </mt:if>
  <mt:if name="request.not_deleted">
    <mtapp:statusmsg
      id="not-deleted"
      class="error"
      can_close="0">
      <__trans phrase="Some content fields were not deleted. You need to delete archive mapping for the content field first.">
    </mtapp:statusmsg>
  </mt:if>
</div>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<$mt:var name="static_uri"$>css/content-type.css?v=<$mt:var name="mt_version_id" escape="url"$>">
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/cms.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>

<mt:if name="options_htmls">
<script type="riot/tag">
<mt:loop name="options_htmls"><mt:var name="html">
</mt:loop>
</script>
</mt:if>

<mt:if name="debug_riot">
<script type="riot/tag" src="<mt:var name="static_uri">js/ss/tag/ss.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="riot/tag" src="<mt:var name="static_uri">js/contenttype/tag/content-fields.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="riot/tag" src="<mt:var name="static_uri">js/contenttype/tag/content-field.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<mt:var name="static_uri">riot/riot-compiler.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:else>
<script type="text/javascript" src="<mt:var name="static_uri">riot/riot-compiler.min.js?v=<mt:var name="mt_version_id" escape="url">" charset="utf-8"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/ss/ss.js?v=<mt:var name="mt_version_id" escape="url">" charset="utf-8"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/contenttype/contenttype.js?v=<mt:var name="mt_version_id" escape="url">" charset="utf-8"></script>
</mt:if>

<script>
  var content_field_types = JSON.parse('<mt:var name="content_field_types_json" escape="js">');
  var invalid_types = content_field_types.filter(function (field_type) {
    return field_type.warning;
  }).reduce(function (hash, field_type) {
    hash[field_type.type] = true;
    return hash;
  }, {});
  var fields = <mt:if name="fields">JSON.parse('<mt:var name="fields" escape="js">');<mt:else>[];</mt:if>
</script>
</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">
  jQuery('input[type="text"]').on('keyup', function() {
    setDirty(true);
  });
  jQuery('textarea').on('keyup', function() {
    setDirty(true);
  });
  jQuery('input[type="radio"]').on('change', function() {
    setDirty(true);
  });
  jQuery('input[type="checkbox"]').on('change', function() {
    setDirty(true);
  });
  jQuery('select').on('change', function() {
    setDirty(true);
  });

  // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12756142/
  jQuery(document).on('mouseup', '.content-field-block input, .content-field-block textarea', function () {
    jQuery(this).trigger('blur').trigger('focus');
  });

  jQuery.mtValidator('selection-field-values-option',
    jQuery.extend({}, jQuery.mtValidator('simple'), {
      showError: function ( $target, $error_block ) {
        $target.parent().append($error_block);
      },
    })
  );

  jQuery.mtValidator('content-field-block', {
    errorClass: 'border-danger',
    removeError: function () {},
    showError: function () {},
    updateError: function () {},
    wrapError: function () {}
  });

  jQuery.mtValidateAddRules({
    '.content-field-block': function ($e) {
      return $e.find('.has-error').length == 0;
    },

    '.date-field': function ($e) {
      if (!$e.val()) return true;
      return MT.Util.isValidDate($e.val() + ' 00:00:00');
    },

    '.time-field': function ($e) {
      if (!$e.val()) return true;
      return MT.Util.isValidDate('1970-01-01 ' + $e.val());
    },

    '.values-option-table': function ($e) {
      var hasNoValuesOption = $e.find('tbody tr').length == 0;
      if (hasNoValuesOption) {
        this.error = true;
        this.errstr = trans('1 or more label-value pairs are required');
        return false;
      }

      var hasInvalidValuesOption = $e.find('input[type=text].is-invalid').length > 0;
      if (hasInvalidValuesOption) {
        this.error = true;
        this.errstr = ' ';  // no error message
        return false;
      }

      return true;
    },

    '[data-mt-content-field-unique]': function ($e) {
      if (!$e.val()) return true;
      var isUnique = true;
      $e.parents('#content-fields').find('input[data-mt-content-field-unique]').each(function () {
        if (this.id == $e.attr('id')) return;
        if (this.value == $e.val()) {
          isUnique = false;
          return false;
        }
      });
      return isUnique;
    }
  });

  jQuery.mtValidateAddMessages({
    '.date-field': jQuery.mtValidateMessages['.date'],
    '.time-field': jQuery.mtValidateMessages['.time'],
    '[data-mt-content-field-unique]': trans('This field must be unique in this content type')
  });

  jQuery(document).on('after-mt-valid', '.values-option-table input[type=text]', function () {
    var $table = jQuery(this).parents('.values-option-table');
    var ns = $table.data( 'mtValidator' );
    if ( !ns ) return true;
    $table.mtValid({ focus: false });
  });

  jQuery(document).on('after-mt-valid', '.content-field-block div:not(.values-option-table) input, .values-option-table', function () {
    var $block = jQuery(this).parents('.content-field-block');
    var ns = $block.data( 'mtValidator' );
    if ( !ns ) return true;
    $block.mtValid({ focus: false, afterTrigger: false });
  });

  jQuery(document).on('after-mt-valid', 'input[data-mt-content-field-unique]', function () {
    jQuery(this).parents('#content-fields').find('input[data-mt-content-field-unique]').each(function () {
      var $input = jQuery(this);
      var ns = $input.data( 'mtValidator' );
      if ( !ns ) return true;
      $input.mtValid({ focus: false, afterTrigger: false });
    });
  });

  var observer = riot.observable();
  jQuery(document).on('dragstart', '.mt-draggable', function(event) {
    var $this = jQuery(this);
    $this.attr('aria-grabbed', true);
    var fieldType = $this.data('field-type');
    event.originalEvent.dataTransfer.setData('text', fieldType);
    observer.trigger('mtDragStart');
  });

  jQuery(document).on('dragend', '.mt-draggable', function(event) {
    var $this = jQuery(this);
    $this.attr('aria-grabbed', false);
    observer.trigger('mtDragEnd');
  });

  riot.mount('content-fields', {
    blog_id: "<mt:var name="blog_id" escape="js">",
    magic_token: "<mt:var name="magic_token" escape="js">",
    return_args: "<mt:var name="return_args" escape="js">",
    id: "<mt:var name="id" escape="js">",
    unique_id: "<mt:var name="unique_id" escape="js">",
    name: "<mt:var name="name" escape="js">",
    description: "<mt:var name="description" escape="js">",
    user_disp_option: "<mt:unless name="id">checked<mt:else><mt:if name="user_disp_option">checked</mt:if></mt:unless>",
    fields: fields,
    types: content_field_types,
    invalid_types: invalid_types,
    observer: observer,
    labelField: "<mt:var name="label_field" escape="js">"
  });
</mt:setvarblock>

<mt:setvarblock name="page_content">

  <div data-is="content-fields"></div>

</mt:setvarblock>

<mt:setvarblock name="related_content">
  <h3><__trans phrase="Available Content Fields"></h3>

  <mt:loop name="content_field_types">
  <div class="mt-draggable" draggable="true" aria-grabbed="false" data-field-type="<mt:var name="type" escape="html">" data-field-label="<mt:var name="label" escape="html">" data-can-data-label="<mt:var name="data_label" escape="html">">
    <div class="col-auto"><mtapp:svgicon id="ic_move" title="<__trans phrase="Content Type">"></div>
    <div class="col"><mt:if name="icon"><mt:var name="icon"></mt:if><mt:var name="label" escape="html"></div>
  </div>
  </mt:loop>

  <mt:if name="unavailable_content_field_types">
  <h3><__trans phrase="Unavailable Content Fields"></h3>
    <mt:loop name="unavailable_content_field_types">
  <div class="mt-collapse">
    <div class="mt-collapse__container">
      <div class="col"><mt:if name="icon"><mt:var name="icon"></mt:if><mt:var name="label" escape="html"></div>
      <div class="col-auto"><a data-toggle="collapse" href="#unavailable-reason-<mt:var name="type" escape="html">" aria-expanded="false" aria-controls="unavailable-reason-<mt:var name="type" escape="html">"><mtapp:svgicon id="ic_collapse" title="<__trans phrase="Reason">" size="secondary"></a></div>
    </div>
    <div class="collapse mt-collapse__content" id="unavailable-reason-<mt:var name="type" escape="html">">
      <div class="row">
        <div class="col">
          <p><mt:var name="warning" escape="html"></p>
        </div>
      </div>
    </div>
  </div>
    </mt:loop>
  </mt:if>
</mt:setvarblock>

<mt:setvar name="main_content_panel_class" value="mt-mainContent--scrollable">
<mt:setvar name="secondary_panel_class" value="mt-secondaryPanel--scrollable">
<mt:include name="layout/default.tmpl">
<mt:var name="layout">
