<mt:setvarblock name="page_title"><__trans phrase="Edit module cache"></mt:setvarblock>
<mt:setvarblock name="html_title"><mt:var name="id"> - <__trans phrase="Edit module cache"></mt:setvarblock>
<mt:var name="position_actions_bottom" value="1">
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your cache changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="related_content">
    <mtapp:widget
        id="useful-links"
        label="<__trans phrase="Useful Links">">
        <ul>
            <li><a href="<mt:var name="script_url">?__mode=list&amp;_type=cache<mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>" class="icon-left icon-related"><__trans phrase="List module cache"></a></li>
        </ul>
    </mtapp:widget>
</mt:setvarblock>
<mt:setvartemplate name="action_buttons">
    <button
        onclick="return validate(this.form);"
        type="submit"
        accesskey="s"
        tabindex="12"
        title="<__trans phrase="Save (s)">"
        class="primary-button"
        ><__trans phrase="Save"></button>
</mt:setvartemplate>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
if ( !window.Editor )
    Editor = { strings: {} };
Editor.strings.unsavedChanges = '<__trans phrase="You have unsaved changes to this template that will be lost." escape="js">'; 

function validate (f) {
    if (f.key && !f.key.value) {
        alert('<__trans phrase="You must set the cache key." escape="js">');
        return false;
    }
    return true;
}

function init() {
}

TC.attachLoadEvent( init );
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<div id="edit-cache">

<form name="cache-listing-form" id="cache-listing-form" method="post" action="<mt:var name="script_url">" mt:once="1">
<input type="hidden" name="id" value="<mt:var name="id">" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id" default="0">" />
<input type="hidden" name="type" value="<mt:var name="type" escape="html">" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="cache" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<mtapp:setting
    id="key"
    label="<__trans phrase="Cache key">"
    label_class = "top-label">
    <input name="key" id="key" class="full-width" tabindex="1" value="<mt:var name="key" escape="html">" maxlength="255" mt:watch-change="1" />
</mtapp:setting>

<mtapp:setting
    id="cache-body"
    label="<__trans phrase="Cache content">"
    label_class="no-header">
    <div id="template-body-actions">
        <span class="codepress-toolbar" style="float:right">
            <a href="javascript: void 0;" title="<__trans phrase="Syntax Highlight On" escape="singlequotes">" mt:command="set-mode-codepress-on" class="command-toggle-codepress-on toolbar button"><b>Syntax Hightlight On</b><s></s></a>
            <a href="javascript: void 0;" title="<__trans phrase="Syntax Highlight Off" escape="singlequotes">" mt:command="set-mode-codepress-off" class="command-toggle-codepress-off toolbar button"><b>Syntax Hightlight Off</b><s></s></a>
        </span>
        <br/>
    </div>
    <div id="textarea-enclosure" style="position: relative; padding-bottom: 10px; height: <mt:var name="disp_prefs_height_text" default="290">px" mt:min-height="66" mt:update-field-height="text_height">
        <textarea tabindex="3" class="full-width monospace medium" spellcheck="false" name="cache-body" id="cache-body" cols="" rows="" mt:watch-change="1" style="height: <mt:var name="disp_prefs_height_text" default="290">px" mt:editor="codepress" mt:editor-options="lang:<mt:var name="template_lang"> autocomplete:off" /><mt:var name="body" escape="html"></textarea>
        <input type="hidden" name="text_height" id="text_height" value="<mt:var name="disp_prefs_height_text" default="290">" />
        <div class="resizer" mt:delegate="resizer" mt:target="textarea-enclosure" mt:lock="x">
            <img src="<$mt:var name="static_uri"$>images/spacer.gif" width="100%" height="10"/>
        </div>
    </div>
</mtapp:setting>

<mtapp:setting
    id="start_date"
    label="<__trans phrase="Cached date">"
    label_class = "top-label">
    <$mt:var name="start_time_formatted"$>
</mtapp:setting>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">

</form>
</div>

<mt:include name="include/footer.tmpl">
