<mt:setvarblock name="page_title"><__trans phrase="An error occurred"></mt:setvarblock>
<mt:setvar name="complete" value="1"><mt:setvar name="error_page" value="1">
<mt:include name="include/chromeless_header.tmpl">

<mtapp:statusmsg
    id="generic-error"
    class="error">
    <mt:var name="error">
</mtapp:statusmsg>

<div class="right">
<input type="button" onclick="<mt:var name="goback">" value="<mt:var name="value">" />
</div>

<mt:include name="include/chromeless_footer.tmpl">
