<mt:setvarblock name="page_title"><__trans phrase="Export [_1] Entries" params="<mt:var name="scope_label">"></mt:setvarblock>
<mt:setvar name="position_actions_bottom" value="1">
<mt:setvar name="export" value="1">
<mt:setvarblock name="system_msg">
<mt:if name="status">
    <mtapp:statusmsg id="other_process" class="warning">
    <mt:if name="status{job_id}">
        <mt:if name="status{started_at}">
            <__trans phrase="[_1] is running a background job to export entries. (Job ID: [_2], started at [_3])" params="<mt:var name="status{name}" escape="html">%%<mt:var name="status{job_id}" escape="html">%%<mt:var name="status{started_at}" escape="html">">
        <mt:else>
            <__trans phrase="[_1] has already registered a background job to export entries. (Job ID: [_2], created on [_3])" params="<mt:var name="status{name}" escape="html">%%<mt:var name="status{job_id}" escape="html">%%<mt:var name="status{created_on}" escape="html">">
        </mt:if>
    <mt:else>
        <__trans phrase="[_1] is exporting entries now." params="<mt:var name="status{name}" escape="html">">
    </mt:if>
    </mtapp:statusmsg>
</mt:if>
</mt:setvarblock>

<mt:setvarblock name="export_label"><__trans phrase="[_1] to Export" params="<mt:var name="scope_label">"></mt:setvarblock>

<mt:setvarblock name="page_content">
<p><__trans phrase="_USAGE_EXPORT_1" params="<mt:var name="scope_label" lower_case="1">"></p>

<form method="post" enctype="multipart/form-data" action="<mt:var name="script_url">">
  <input type="hidden" name="__mode" value="export" />
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <mt:if name="background_export_is_available">
    <mt:unless name="force_background_export">
    <mtapp:setting
       id="background_export"
       label="<__trans phrase="Background export">"
       help_page="entry_export"
       help_section="background_export">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="background_export" id="background_export" class="custom-control-input" value="1">
        <label class="custom-control-label" for="background_export"><__trans phrase="Export entries when the next job is processed."></
label>
      </div>
    </mtapp:setting>
    </mt:unless>
  </mt:if>

  <mt:setvarblock name="action_buttons">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Export [_1] Entries" params="<mt:var name="scope_label">">"
       class="export action primary button btn btn-primary">
      <__trans phrase="Export [_1] Entries" params="<mt:var name="scope_label">">
    </button>
  </mt:setvarblock>
  <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>
</mt:setvarblock>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">
