<mt:unless name="page_title">
<mt:setvarblock name="page_title"><__trans phrase="Manage [_1]" params="<mt:var name="object_label_plural">"></mt:setvarblock>
</mt:unless>

<mt:if name="content_actions">
<mt:setvarblock name="content_header">
<ul class="action-link-list">
<mt:loop name-"content_actions">
  <li><a href="<mt:var name="url">" class="icon-left<mt:if name"class"> <mt:var name="class"></mt:if><mt:if name="dialog"> mt-open-dialog</mt:if>"<mt:if name="id">id=<mt:var name="id"></mt:if>><mt:var name="label"></a></li>
</mt:loop>
</ul>
</mt:setvarblock>
</mt:if>

<mt:setvarblock name="listing_footer_content"><mt:if name="feed_url">
  <mt:if name="object_type_feed">
  <li class="footer-link-item"><a href="<$mt:var name="feed_url" escape="html"$>" class="icon-feed icon-left" title="<$mt:var name="feed_name" escape="html"$>"><$mt:var name="object_type_feed"$></a></li>
  </mt:if>
</mt:if></mt:setvarblock>

<mt:setvarblock name="display_options">
<mt:setvar name="show_display_options_link" value="1">
<div id="display-options-detail" class="display-options-detail detail">
<mtapp:setting
   id="per_page"
   label="<__trans phrase="_DISPLAY_OPTIONS_SHOW">"
   label_class="no-header">
  <__trans phrase="Show">
  <select id="row" name="limit">
    <option value="25"<mt:if name="limit_25"> selected="selected"</mt:if>><__trans phrase="25 rows"></option>
    <option value="50"<mt:if name="limit_50"> selected="selected"</mt:if>><__trans phrase="50 rows"></option>
    <option value="100"<mt:if name="limit_100"> selected="selected"</mt:if>><__trans phrase="100 rows"></option>
    <option value="200"<mt:if name="limit_200"> selected="selected"</mt:if>><__trans phrase="200 rows"></option>
  </select>
</mtapp:setting>
<mtapp:setting
   id="display_columns"
   label="<__trans phrase="Column">"
   label_class="top-label">
  <ul id="disp_cols" class="multiple-selection">
  <mt:loop name="list_columns">
    <li class="<mt:if name="force_display"> hidden</mt:if>">
      <input
	     type="checkbox"
	     value="<mt:var name="id" escape="html">"
	     name="custom_prefs"
         class="main<mt:if name="is_default"> show-default</mt:if>"
	     id="custom-prefs-<$mt:var name="id" escape="html"$>"
	     <mt:if name="display">checked="checked"</mt:if> />
      <label for="custom-prefs-<$mt:var name="id" escape="html"$>"><mt:var name="label"></label></li>
    <mt:loop name="sub_fields">
      <li class="sub-field">
      <input
	     type="checkbox"
	     value="<mt:var name="class">"
	     name="custom_prefs"
         class="sub<mt:if name="is_default"> show-default</mt:if>"
	     id="custom-prefs-<$mt:var name="id" escape="html"$>.<mt:var name="class">"
	     <mt:if name="display">checked="checked"</mt:if> />
      <label for="custom-prefs-<$mt:var name="id" escape="html"$>.<mt:var name="class">"><mt:var name="label"></label></li>
    </mt:loop>
  </mt:loop>
  </ul>
</mtapp:setting>
<span id="reset-display-options" class="button"><__trans phrase="Reset"></span>
</div>
</mt:setvarblock>


<mt:if name="button_actions">
    <mt:setvarblock name="jq_js_include" append="1">
var messages = {};
        <mt:loop name="button_actions">
messages['<mt:var name="key">'] = '<__trans phrase="<mt:var name="js_message">" escape="js">';
        </mt:loop>
    </mt:setvarblock>

    <mt:setvarblock name="button_actions">
        <mt:loop name="button_actions">
  <a href="#<mt:var name="key">" class="button<mt:if name="xhr"> xhr</mt:if>"><mt:var name="label"></a>
        </mt:loop>
    </mt:setvarblock>
</mt:if>

<mt:setvarblock name="object_listing">listing/<mt:var name="object_type">.tmpl</mt:setvarblock>
<mt:include name="$object_listing">

<mt:include name="include/header.tmpl">

<mt:include name="include/basic_filter_forms.tmpl">

<div id="msg-block"></div>

<div id="listing" class="line">
  <div class="unit size1of1">
    <form id="<mt:var name="object_type">-listing-form" method="POST">
      <input type="hidden" name="__mode" value="" />
      <input type="hidden" name="_type" value="<mt:var name="object_type">" />
      <input type="hidden" name="action_name" value="" />
      <input type="hidden" name="itemset_action_input" value="" />
      <input type="hidden" name="items" value="" />
      <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
      <mt:if name="return_args"><input type="hidden" name="return_args" value="<mt:var name="return_args">" /></mt:if>
      <mt:if name="blog_id"><input type="hidden" name="blog_id" value="<mt:var name="blog_id">" /></mt:if>
    
      <div id="actions-bar-top" class="actions-bar line">
        <div class="list-actions">
          <mt:var name="button_actions">
          <mt:include name="include/itemset_action_widget.tmpl">
        </div>
        <div class="indicator"><__trans phrase="Loading..."> <img alt="<__trans phrase="Loading...">" src="<mt:var name="static_uri">images/indicator.white.gif" /></div>
        <div class="pagination"></div>
      </div>
    
      <div id="filter" class="filter-block">
        <div id="filter-header">
          <input type="hidden" id="filter_name" value="" />
          <input type="hidden" id="filter_id" value="" />
          <div class="mod filter-header">
            <__trans phrase="Filter:"> <a href="#" id="opener"><__trans phrase="Select Filter..."></a>
            <a hre="#" class="toggle-button detail-link">
              <img src="<$mt:var name="static_uri"$>images/arrow/arrow-toggle-big.png" />
            </a>
          </div>

          <div id="dialog_filter" class="hidden">
            <div id="dialog_filter_header">
              <h2><__trans phrase="Select Filter"></h2>
              <a href="#" class="edit-filter"><__trans phrase="Edit"></a>
            </div>
            <div id="dialog_filter_content" class="mod"></div>
          </div>
        </div>

        <div id="filter-detail" class="detail">
          <div id="filter-panel" class="mod selectfilter">
            <select id="item_list">
              <option value=""><__trans phrase="Select Filter Item..."></option>
            <mt:loop name="filter_types">
              <mt:if name="editable"><option value="<mt:var name="type">"><mt:var name="label"></option></mt:if>
            </mt:loop>
            </select>
            <button type="button" id="additem" class="button"><__trans phrase="Add"></button>
          </div>
          <div id="filter-action" class="mod">
            <button type="submit" id="apply" class="button action"><__trans phrase="Apply"></button>
            <button type="button" id="save" class="button action"><__trans phrase="Save"></button>
            <button type="button" id="saveas" class="button action"><__trans phrase="Save As"></button>
          </div>
        </div>
      </div>
  
      <div id="listing-table" class="listing-table-block">
        <div id="listing-table-overlay" class="overlay"></div>
        <table id="<mt:var name="object_type">-table" class="listing-table <mt:var name="object_type">">
          <thead></thead>
          <tfoot></tfoot>
          <tbody></tbody>
        </table>
      </div>
  
      <div id="actions-bar-bottom" class="actions-bar line">
        <mt:var name="button_actions">
        <mt:include name="include/itemset_action_widget.tmpl">
        <div class="indicator"><__trans phrase="Loading..."> <img alt="<__trans phrase="Loading...">" src="<mt:var name="static_uri">images/indicator.white.gif" /></div>
        <div class="pagination"></div>
      </div>
  
    </form>

  <mt:if name="listing_footer_content">
    <div id="listing-footer" class="footer-links mod">
      <ul>
        <mt:var name="listing_footer_content">
      </ul>
    </div>
  </mt:if>

  </div>
</div>

<div id="dialog_save_filter">
  <div id="filter_label" title="Filter Label">
    <div class="item-label"><__trans phrase="Label:"> </div>
    <div><input type="text" class="text full" name="filter_name" value="" /></div>
    <div><input type="hidden" name="filter_id" value="" /></div>
  </div>
  <div id="dialog-msg-block"></div>
  <div class="dialog actions-bar">
    <button
       type="button"
       id="save-filter"
       class="action primary button">
      <__trans phrase="Save">
    </button>
    <button
       type="button"
       id="cancel-save-filter"
       class="action button">
      <__trans phrase="Cancel">
    </button>
  </div>
</div>



<mt:if name="config.debugmode">
<pre id="debug-block" style="border: 1px solid #000; background-color: #eee;"></pre>
</mt:if>

<mt:setvarblock name="jq_js_include" append="1">

jQuery.event.special.listReady = {
    setup:function( data, ns ) {
        return false;
    },
    teardown:function( ns ) {
        return false;
    }
};

jQuery(window).bind( 'ajaxStart', function() {
    jQuery('.msg-error').remove();
  });

var line = '<th class="col head cb"><input type="checkbox" /></th>';
var table = jQuery('table.listing-table')[0];
var col_classes = {};
<mt:loop name="list_columns">
line += '<th class="col head <mt:var name="id"><mt:if name="primary"> primary</mt:if><mt:if name="col_class"> <mt:var name="col_class"></mt:if>"><div><a href="#<mt:var name="id">" class="sort-link"><mt:var name="label"></a></div></th>';
<mt:if name="default_sort_order" eq="descend">
jQuery.data(table, '<mt:var name="id">', 'desc');
<mt:else>
jQuery.data(table, '<mt:var name="id">', 'asc');
</mt:if>
col_classes["<mt:var name="id">"] = "<mt:var name="col_class">";
</mt:loop>
jQuery('thead, tfoot').append('<tr>');
jQuery(line).appendTo('thead tr, tfoot tr');

var filter_types = {};
<mt:loop name="filter_types">
filter_types['<mt:var name="type">'] = '<div class="filtertype type-<mt:var name="type"><mt:unless name="editable"> no-edit</mt:unless>"><div class="item-label"><mt:var name="label"></div><div class="fields"><mt:var name="field" mteval="1" regex_replace="/\n*/g":""><mt:unless name="singleton"><span class="item-action plus clickable icon-plus icon16 action-icon"><__trans phrase="Add"></span><span class="item-action minus clickable icon-minus icon16 action-icon"><__trans phrase="Remove"></span></mt:unless></div></div>';
</mt:loop>

jQuery('#filter_types').hide();
<mt:unless name="open_filter_panel">jQuery('#filter-detail').hide();</mt:unless>
jQuery('.filter-block').mtToggleField(<mt:if name="open_filter_panel">{default_hide: false}</mt:if>);

var cols = [];
var vals = [];
var checked = [];
var total = 0;
var editable_filter_count = <mt:var name="editable_filter_count">;

var filters = <mt:var name="filters">;
var initial_filter = <mt:var name="initial_filter">;
var current_id = initial_filter.id;
var currentPage = 1;

function handleMessages( data ) {
  jQuery('#msg-block').empty();
  if ( data.error ) {
    jQuery('#msg-block').append(
      '<div class="msg msg-error">'
      + data.error
      + '<img alt="<__trans phrase="Close">" src="<mt:var name="static_uri">images/icon_close.png" class="mt-close-msg close-link clickable" />'
      + '</div>');
    return false;
  }
  if ( !data.result ) return false;
  var messages = data.result.messages;
  if ( !data.result.messages ) return true;
  for ( var i=0; i < messages.length; i++ ) {
    var msg   = messages[i];
    var text  = msg.msg;
    var cls   = msg.cls;
    jQuery('#msg-block').append(
      '<div class="msg msg-' + cls + '">'
      + text
      + '<img alt="<__trans phrase="Close">" src="<mt:var name="static_uri">images/icon_close.png" class="mt-close-msg close-link clickable" />'
      + '</div>');
  }
  return true;
}

function loginAgain(fn) {
  jQuery(window)
    .unbind('dialogReady.loginAgain')
    .bind('dialogReady.loginAgain', function(){
      var dialog = jQuery('#mt-dialog-iframe').contents();
      dialog
        .find('#sign-in-button')
          .text('<__trans phrase="Continue">')
          .unbind()
          .click(function(){
            dialog.find('#msg-block').empty();
            jQuery.ajax({
              type: 'POST',
              async: false,
              url: '<mt:var name="script_url">',
              dataType: 'json',
              data: {
                __mode: 'login_json',
                username: dialog.find('#username').val(),
                password: dialog.find('#password').val()
              },
              success: function(data) {
                jQuery.fn.mtDialog.close();
                fn();
                return false;
              },
              error: function(data) {
                dialog.find('#password').val('');
                dialog
                  .find('#msg-block')
                  .append('<div class="msg msg-error"><__trans phrase="Invalid login."></div>');
              }
            });
            return false;
          });
    });
  jQuery.fn.mtDialog.open('<mt:var name="script_url">?__mode=dashboard');
}

function renderFilterList() {
  if ( editable_filter_count > 0 )
    jQuery('#dialog_filter .edit-filter').show();
  else
    jQuery('#dialog_filter .edit-filter').hide();

  jQuery('#filter_list').empty();
  jQuery('<ul id="filter_list" />').appendTo('#dialog_filter_content');

  var line = '<div id="create-new-link"><a href="#" id="new_filter" class="icon-left-wide addnew apply-link"><__trans phrase="Create New Filter"></a></div>';
  jQuery(line).appendTo('#filter_list');
  for (var i = 0, length = filters.length; i < length; i++) {
    var filter = filters[i];
    line = '<span class="filter-label unit size3of5"><a href="#'+i+'" class="apply-link">'+filter.label+'</a></span>';
    if (filter.can_save) {
      line += '<span class="handle-filter unit size2of5"><a href="#'+i+'" class="rename-link tool-link"><__trans phrase="Rename"></a><a href="#'+i+'" class="delete-link tool-link icon16 icon-delete"><__trans phrase="Delete"></a></span>';
    }
    jQuery('<li class="filter line" />').append(line).appendTo('#filter_list');
  }
  jQuery('#new_filter').click(function() {
    jQuery('#saveas').hide();
    jQuery('#save').show();
    jQuery('#filter-detail').show().parent('#filter').addClass('active');
    jQuery('#item_list').attr('selectedIndex', 0);
    jQuery('.filteritem').remove();
    jQuery('input[name=filter_name]').val('<__trans phrase="New Filter">');
    jQuery('#opener').html('<__trans phrase="New Filter">');
    jQuery('#filter_id').val('');
    updateItemList();
    jQuery('#dialog_filter').addClass('hidden');
  });
  jQuery('#dialog_filter .filter-label a:not(#new_filter)').click(function() {
    jQuery(this).attr('href').match(/#(.*)/);
    var index = RegExp.$1;
    applyFilter(index);
    jQuery('#saveas').show();
    return false;
  });
  jQuery('#dialog_filter .delete-link').click(function() {
    removeFilter(this);
    return false;
  });
  jQuery('#dialog_filter .rename-link').click(function() {
    var $this = jQuery(this);
    $this.attr('href').match(/#(.*)/);
    var index = RegExp.$1;
    var fid = filters[index].id;
    var $label = $this.parents('.filter').children('.filter-label');
    var $handle = $this.parents('.filter').children('.handle-filter');
    var text = $label.find('.apply-link').hide().text();
    jQuery('<input type="text" id="filter_'+fid+'" class="text full" />')
      .val(text)
      .appendTo($label);
    $this.hide().next('.delete-link').hide();
    jQuery('<a href=#'+fid+' class="tool-link save button"><__trans phrase="Save"></a>').bind('click', function() {
      var name = jQuery('#filter_'+fid).val();
      if ( !validateFilterName(name) ) {
          alert(trans('label "[_1]" is already in use.', name));
          return false;
      }
      renameFilter(index, fid, name);
      return false;
    }).appendTo($handle);
    jQuery('<a href=#'+fid+' class="tool-link cancel button"><__trans phrase="Cancel"></a>').bind('click', function() {
       $label
         .find('.apply-link').show().end()
         .find('input').remove();
       $handle
         .find('a:visible').remove().end()
         .find('a:hidden').css('display','inline-block');
       return false;
    }).appendTo($handle);
    return false;
  });
}

function renameFilter(index, fid, name) {
  jQuery.ajax({
    type: 'POST',
    url: '<mt:var name="script_url">',
    dataType: 'json',
    data: {
      __mode: 'save_filter',
      datasource: '<mt:var name="list_type">',
      blog_id: <mt:var name="blog_id">,
      fid: fid,
      label: name,
      items: jQuery.toJSON(filters[index].items),
      list: 0
    },
    success: function(data) {
      if ( !handleMessages(data) ) return;
      editable_filter_count = data.result.editable_filter_count;
      filters = data.result.filters;
    },
    complete: function() {
      if ( fid == current_id ) {
          jQuery('#opener').text(name);
      }
      renderFilterList();
    },
    error: function(xhr, status) {
      if ( xhr.status == 401 ) {
        loginAgain(function(){
          renameFilter(index, fid, name);
        });
      }
      else
        alert('Ajax error: ' + status);
    }
  });
}

function removeFilter(element) {
  var $node = jQuery(element).parents('li');
  jQuery(element).attr('href').match(/#(.*)/);
  var index = RegExp.$1;
  var remove_current = filters[index].id == current_id;
  jQuery.ajax({
    type: 'POST',
    url: '<mt:var name="script_url">',
    dataType: 'json',
    data: {
      __mode: 'delete_filter',
      fid: filters[index].id,
      datasource: '<mt:var name="list_type">',
      blog_id: <mt:var name="blog_id">
    },
    success: function(data) {
      if ( !handleMessages(data) ) return;
      editable_filter_count = data.result.editable_filter_count;
      filters = data.result.filters;
      if ( remove_current ) {
        jQuery('#filter_id').val('');
        current_id = 0;
        applyFilter(0);
      }
    },
    complete: function() {
      renderFilterList();
    },
    error: function(xhr, status) {
      if ( xhr.status == 401 ) {
        loginAgain(function(){
          removeFilter(element);
        });
      }
      else
        alert('Ajax error: ' + status);
    }
  });
}

function renderColumns( col, chk ) {
  cols = [];
  jQuery('thead th, tfoot th').hide().filter('.cb').show();
  jQuery('ul#disp_cols input:checked').each(function() {
    jQuery(this).attr('id').match(/custom-prefs-(.*)/);
    var id = RegExp.$1;
    cols.push(id);
  });
  jQuery('ul#disp_cols input.main:checked').each(function() {
    var id = jQuery(this).val();
    jQuery('th.'+id).show();
  });
  if ( col && chk ) {
    var header = jQuery('thead th.' + col);
    var idx = jQuery('thead th:visible').index(header) - 1;
    jQuery('table.listing-table tr').each( function() {
      jQuery(this).find('td:eq(' + idx + ')').after( '<td class="col"> </td>' );
    });
  }
  else if ( col && !chk ) {
    jQuery('table.listing-table td.' + col).remove();
  }
}

function saveChecked(page) {
  checked[page] = [];
  jQuery('tbody tr input:checked').each(function() {
    var id = jQuery(this).parents('tr').attr('id');
    checked[page][id] = 1;
  });
}

function renderPagination(count, limit, page, last, total) {
  var $e = jQuery('.pagination').empty();
  if (count == 0) {
    return;
  }
  var usefirst = false;
  var uselast = false;
  var start;
  if (page > 1) {
    usefirst = true;
    start = (page-1)*limit+1;
  } else {
    start = 1;
  }
  if (total / limit > 1) {
    if (page + 1 <= last) {
      uselast = true;
    }
  }
  currentPage = page;

  if (usefirst) {
    $e.append('<a href="#" class="pagenav start">&laquo; <__trans phrase="First"></a>')
      .append('<a href="#" class="pagenav to-start">&lsaquo; <__trans phrase="Prev"></a>');
  } else {
    $e.append('<span class="pagenav start disabled">&laquo; <__trans phrase="First"></span>')
      .append('<span class="pagenav to-start disabled">&lsaquo; <__trans phrase="Prev"></span>');
  }
  var end = (page == last) ? total : start+limit-1;
  var page_status = trans('[_1]-[_2] of [_3]', start, end, total);

  $e.append('<span class="current-rows">'+page_status+'</span>')
  if (uselast) {
    $e.append('<a href="#" class="pagenav to-end"><__trans phrase="Next"> &rsaquo;</a>')
      .append('<a href="#" class="pagenav end"><__trans phrase="Last"> &raquo;</a>');
  } else {
    $e.append('<span class="pagenav to-end disabled"><__trans phrase="Next"> &rsaquo;</span>')
      .append('<span class="pagenav end disabled"><__trans phrase="Last"> &raquo;</span>');
  }
  jQuery('a.start').click(function() {
    saveChecked(page);
    renderList('filtered_list', cols, vals, jQuery('#row').val(), 1);
    return false;
  });
  jQuery('a.to-start').click(function() {
    saveChecked(page);
    renderList('filtered_list', cols, vals, jQuery('#row').val(), page-1);
    return false;
  });
  jQuery('a.to-end').click(function() {
    saveChecked(page);
    renderList('filtered_list', cols, vals, jQuery('#row').val(), page+1);
    return false;
  });
  jQuery('a.end').click(function() {
    saveChecked(page);
    renderList('filtered_list', cols, vals, jQuery('#row').val(), last);
    return false;
  });
}

function saveListPrefs() {
  cols = [];
  jQuery('ul#disp_cols input:checked').each(function() {
    jQuery(this).attr('id').match(/custom-prefs-(.*)/);
    var id = RegExp.$1;
    cols.push(id);
  });

  jQuery.ajax({
    type: 'POST',
    url: '<mt:var name="script_url">',
    dataType: 'json',
    data: {
      __mode: 'save_list_prefs',
      datasource: '<mt:var name="list_type">',
      blog_id: '<mt:var name="blog_id">',
      columns: cols.join(','),
      limit: jQuery('#row').val()
    },
    success: function(data) {
      handleMessages(data);
      return false;
    },
    error: function(xhr, status) {
      if ( this_request != request_id ) {
          return false;
      }
      if ( xhr.status == 401 ) {
        loginAgain(function(){
          renderList(mode, columns, values, limit, page);
        });
      }
      else
        alert('Ajax error: ' + status);
    }
  });
}

var request_id = 0;
function renderList(mode, columns, values, limit, page ) {
  var this_request = ++request_id;

  // If the first arg is Object, it's Hash style call
  var args = {};
  if ( typeof mode == 'object' ) {
    args = mode;
    var defaults = {
      mode: 'filtered_list',
      columns: cols,
      values:  vals,
      limit: jQuery('#row').val(),
      page: currentPage
    };
    mode    = ( 'mode' in args )    ? args['mode']    : defaults['mode'];
    columns = ( 'columns' in args ) ? args['columns'] : defaults['columns'];
    values  = ( 'values' in args )  ? args['values']  : defaults['values'];
    limit   = ( 'limit' in args )   ? args['limit']   : defaults['limit'];
    page    = ( 'page' in args )    ? args['page']    : defaults['page'];
    delete args['mode'];
    delete args['columns'];
    delete args['values'];
    delete args['limit'];
    delete args['page'];
  }
  limit = parseInt(limit);

  var params = {
    __mode: mode,
    datasource: '<mt:var name="list_type">',
    blog_id: <mt:var name="blog_id">,
    columns: columns.join(','),
    limit: limit,
    page: page
  };
  params = jQuery.extend( params, args );

  if (values.length) {
    params['items'] = jQuery.toJSON(values);
  }
  if (jQuery('th.sorted').length) {
    jQuery('th.sorted').find('a').attr('href').match(/#(.*)/);
    params['sort_by'] = RegExp.$1;
    params['sort_order'] = jQuery('th.sorted').find('span').hasClass('desc') ? 'descend' : 'ascend';
  }
  if (jQuery('input[name=filter_id]').val()) {
    params['fid'] = jQuery('input[name=filter_id]').val();
  }
  if (jQuery('input[name=filter_name]').val()) {
    params['label'] = jQuery('input[name=filter_name]').val();
  }

  jQuery('.indicator, #listing-table-overlay').show();
  jQuery('div.pagination').hide();

  jQuery.ajax({
    type: 'POST',
    url: '<mt:var name="script_url">',
    dataType: 'json',
    data: params,
    success: function(data) {
      if ( this_request != request_id ) {
          return false;
      }

      if ( !handleMessages(data) ) return;
<mt:if name="config.debugmode">
      if (data.result.debug) {
        jQuery('#debug-block').text(data.result.debug);
      }
</mt:if>
      jQuery('tbody').empty();
      jQuery('th :checkbox').removeAttr('checked');
      var objs = data.result.objects;
      var count = objs.length;
      var last = data.result.page_max;
      total = parseInt(data.result.count);
      var return_columns = data.result.columns.split(',');
      var return_cols = jQuery.grep( return_columns, function( val, idx ){
        return val.match(/\./);
      }, true );
      var main_cols = {};
      jQuery('#disp_cols input.main.checkbox:checked').each(function() {
        main_cols[ jQuery(this).val() ] = 1;
      });
      for (var row = 0; row < count; row++) {
        var id = objs[row][0];
        var line;
        if (checked[page] && checked[page][id]) {
          line = '<td class="cb col"><input type="checkbox" checked="checked" name="id" value="'+id+'" /></td>';
        } else {
          line = '<td class="cb col"><input type="checkbox" name="id" value="'+id+'" /></td>';
        }
        for (var col = 1, col_length = objs[row].length; col < col_length; col++) {
          var col_id = return_cols[ col - 1 ];
          if ( main_cols[col_id] )
              line += '<td class="col '+col_id+' '+col_classes[col_id]+'">' + objs[row][col] + '</td>';
        }
        jQuery('<tr id="'+id+'">'+line+'</tr>').appendTo('tbody');
      }
      jQuery('#resultstats').remove();
      var n = jQuery('#disp_cols').find('input.main:checked').length + 1;

      if (count == 0) {
        var message = trans('No [_1] could be found.', '<mt:var name="object_label" lower_case="1" escape="js">');
        jQuery('<td class="col fullwidth-row" colspan="'+n+'">'+message+'</tr>').appendTo('tbody');
      }
      renderPagination(count, limit, page, last, total);
      filters = data.result.filters;
      if ( data.result.label ) {
        jQuery('#opener').html(data.result.label);
      }
      if ( data.result.id ) {
        current_id = data.result.id;
      }
      editable_filter_count = data.result.editable_filter_count;
    },
    complete: function() {
      if ( this_request != request_id ) {
          return false;
      }
      jQuery('.indicator, #listing-table-overlay').hide();
      jQuery('div.pagination').show();

      jQuery('tbody tr:even').addClass('even');
      jQuery('tbody tr:odd').addClass('odd');
      var $checkboxes = jQuery('td :checkbox');
      var $checked = jQuery('td :checked');
      $checked.parents('tr').addClass('selected');
      if ($checkboxes.length && $checkboxes.length == $checked.length) {
        jQuery('th :checkbox').attr('checked', 'checked');
        addSelectAll($checkboxes);
      }
      if (mode == 'save_filter') {
        renderFilterList();
      }
      if (!jQuery('.msg-error').length) {
        jQuery('#dialog_save_filter').dialog('close');
      } else {
        if (jQuery('#dialog_save_filter:visible').length) {
          jQuery('.msg-error').clone().appendTo('#dialog-msg-block');
          jQuery('#msg-block').hide();
        }
      }
      jQuery(window).trigger('listReady');
    },
    error: function(xhr, status) {
      if ( this_request != request_id ) {
          return false;
      }
      if ( xhr.status == 401 ) {
        loginAgain(function(){
          renderList(mode, columns, values, limit, page);
        });
      }
      else
        alert('Ajax error: ' + status);
    }
  });
}

function itemValues() {
  var $items = jQuery('#filter-detail .filteritem');
  vals = [];
  $items.each(function() {
    var data = {};
    var fields = [];
    var $types = jQuery(this).find('.filtertype');
    $types.each(function() {
      jQuery(this).attr('class').match(/type-(\w+)/);
      var type = RegExp.$1;
      jQuery(this).find('.fields').each(function() {
        var args = {};
        jQuery(this).find(':input').each(function() {
          var re = new RegExp(type+'-(\\w+)');
          jQuery(this).attr('class').match(re);
          var key = RegExp.$1;
          args[key] = jQuery(this).val();
        });
        fields.push({'type': type, 'args': args});
      });
    });
    if (fields.length > 1 ) {
      data['type'] = 'pack';
      data['args'] = {
        "op":"and",
        "items":fields
      };
    } else {
      data = fields.pop();
    }
    vals.push(data);
  });
}

jQuery('ul#disp_cols .main:checkbox').click(function() {
  var col = jQuery(this).val();
  var checked = jQuery(this).is(':checked');
  renderColumns(col, checked);
  if (checked)
    renderList('filtered_list', cols, vals, jQuery('#row').val(), currentPage);
  else
    saveListPrefs();
  var n = jQuery('#disp_cols').find('input.main:checked').length + 1;
  jQuery('td.fullwidth-row').attr('colspan', n);

});

jQuery('ul#disp_cols .sub:checkbox').click(function() {
  toggleSubField(this);
  var n = jQuery('#disp_cols').find('input.main:checked').length + 1;
  jQuery('td.fullwidth-row').attr('colspan', n);
  saveListPrefs();
});

jQuery('#reset-display-options').click(function() {
  jQuery('#disp_cols input[type=checkbox]').each(function() {
    if ( jQuery(this).is('.show-default') ) {
      jQuery(this).attr('checked', 'checked');
    }
    else {
      jQuery(this).removeAttr('checked');
    }
  });
  renderColumns();
  renderList({});
  var n = jQuery('#disp_cols').find('input.main:checked').length + 1;
  jQuery('td.fullwidth-row').attr('colspan', n);
});

function toggleSubField (obj) {
  if ( jQuery(obj).attr('checked') )
    jQuery( '.' + jQuery(obj).val() ).show();
  else
    jQuery( '.' + jQuery(obj).val() ).hide();
}

jQuery('#row').change(function() {
  jQuery('tbody').empty();
  checked = [];
  renderColumns();
  renderList('filtered_list', cols, vals, jQuery(this).val(), 1);
});

function addSelectAll($node) {
  var n = jQuery('#disp_cols').find('input.main:checked').length + 1;
  $node
    .parents('tbody')
    .append('<tr class="select-all"><td class="col fullwidth-row" colspan="'+n+'"></td></tr>')
    .prepend('<tr class="select-all"><td class="col fullwidth-row" colspan="'+n+'"><input type="hidden" name="all_selected" /></td></tr>');
  var select_text = 'Select all '+total+' items';
  var cancel_text = 'All '+total+' items are selected';
  jQuery('<a href="#"></a>')
    .appendTo('.select-all td')
    .text(select_text)
    .bind('click', function() {
      var $input = jQuery('input[name=all_selected]');
      if ($input.val()) {
        $input.val('');
        jQuery('.select-all td').find('a').text(select_text);
      } else {
        $input.val('1');
        jQuery('.select-all td').append(cancel_text).addClass('highlight').find('a').remove();
      }
      return false;
    });
}

function removeSelectAll($node) {
  $node
    .parents('tbody')
    .find('.select-all')
    .remove();
  jQuery('input[name=all_selected]').val('');
}

jQuery('tbody').selectable({
  filter: 'tr',
  cancel: 'a, .select-all, .text, .can-select, button, pre, :input:not([name=id])',
  selected: function(event, ui) {
    var $checkboxes = jQuery(ui.selected).find(':checkbox');
    if ($checkboxes.attr('checked')) {
      jQuery(ui.selected).removeClass('selected');
      $checkboxes.removeAttr('checked');
    } else {
      jQuery(ui.selected).addClass('selected');
      $checkboxes.attr('checked', 'checked');
    }
    if (jQuery('td :checkbox').length == jQuery('td :checked').length) {
      jQuery('th :checkbox').attr('checked', 'checked');
      if (!jQuery('tr.select-all').length) {
        addSelectAll($checkboxes);
      }
    } else {
      jQuery('th :checkbox').removeAttr('checked');
      removeSelectAll($checkboxes);
    }
  }
});

jQuery('th :checkbox').click(function() {
  var $checkboxes = jQuery('tr :checkbox');
  if (this.checked) {
    $checkboxes.attr('checked', 'checked');
    addSelectAll($checkboxes);
    $checkboxes.parents('tr').addClass('selected');
  } else {
    $checkboxes.removeAttr('checked');
    removeSelectAll($checkboxes);
    $checkboxes.parents('tr').removeClass('selected');
  }
});

jQuery('thead a, tfoot a').click(function() {
  var url = jQuery(this).attr('href');
  var $th = jQuery('a[href=\''+url+'\']').parents('th');
  if ($th.hasClass('sorted')) {
    var $order = $th.find('span');
    if ($order.hasClass('desc')) {
      $order.removeClass('desc').addClass('asc');
    } else {
      $order.removeClass('asc').addClass('desc');
    }
  } else {
    jQuery('thead th, tfoot th').removeClass('sorted').find('span').remove();
    $th.addClass('sorted');
    url.match(/#(.*)/);
    jQuery('<span class="sm '+jQuery.data(table, RegExp.$1)+'"></span>').appendTo($th.find('div'));
  }
  checked = [];
  renderColumns();
  renderList('filtered_list', cols, vals, jQuery('#row').val(), 1);
  return false;
});

function dateOption($node) {
  var val = $node.val();
  var type;
  switch (val) {
  case 'days':
    type = 'days';
    break;
  case 'before':
  case 'after':
    type = 'date';
    break;
  case 'future':
  case 'past':
    type = 'none';
    break;
  default:
    type = 'range';
  }
  $node.parent('.fields').find('.date-option label').hide();
  $node.parent('.fields').find('.date-option .'+type).show();
}

function filterItem(type, datepicker_off) {
  var $item = jQuery(filter_types[type]);
  if ( $item && $item.attr('class') && $item.attr('class').match(/no-edit/) ) {
    $item.find('input').attr('disabled', 1);
    $item.find('select').attr('disabled', 1);
  }
  if ( !datepicker_off ) {
    $item
      .find('.filter-date').each(function() {
          dateOption(jQuery(this));
      }).bind('change', function() {
          dateOption(jQuery(this));
      }).end()
      .find('.datetime').datepicker({
        dateFormat: 'yy-mm-dd',
        dayNamesMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
        monthNames: ['-01','-02','-03','-04','-05','-06','-07','-08','-09','-10','-11','-12'],
        showMonthAfterYear: true,
        prevText: '&lt;',
        nextText: '&gt;'
      });
  }
  return $item;
}

jQuery('#additem').click(function() {
  var type = jQuery('#item_list').val();
  var $item = filterItem(type);
  $item
    .insertAfter('.selectfilter')
    .wrap('<div class="filteritem" />')
    .find('.minus').hide();
  jQuery('#item_list').attr('selectedIndex', 0);
  jQuery('<span class="close-link clickable remove icon-remove icon16 action-icon"><__trans phrase="Remove item"></span>')
    .insertAfter($item)
    .bind('click', function() {
      jQuery(this).parent('.filteritem').remove();
      updateItemList();
    });
  updateItemList();
});

jQuery('#apply').click(function() {
  jQuery('input[name=filter_id]').val('');
  itemValues()
  renderList('filtered_list', cols, vals, jQuery('#row').val(), 1);
  return false;
});

jQuery('#save').click(function() {
  jQuery('.msg-error').remove();
  if (jQuery('#filter_id').val()) {
    jQuery('input[name=filter_name]').val(jQuery('#filter_name').val());
    jQuery('input[name=filter_id]').val(jQuery('#filter_id').val());
    itemValues()
    renderList('save_filter', cols, vals, jQuery('#row').val(), 1);
  } else {
    jQuery('input[name=filter_name]').val('');
    jQuery('input[name=filter_id]').val('');
    jQuery('#dialog_save_filter').dialog({
      title: 'Save Filter',
      dialogClass: 'save',
      modal: true
    })
      .dialog('open');
  }
  return false;
});

jQuery('#saveas').click(function() {
  jQuery('.msg-error').remove();
  jQuery('input[name=filter_name]').val('');
  jQuery('input[name=filter_id]').val('');
  jQuery('#dialog_save_filter')
    .dialog({
      title: 'Save As Filter',
      dialogClass: 'save',
      width: 450,
      modal: true
    })
      .dialog('open');
  return false;
});

jQuery('#opener').click(function() {
  if (jQuery('#dialog_filter').hasClass('hidden')) {
    jQuery('#dialog_filter')
      .removeClass('editing hidden')
      .find('.edit-filter')
      .text('Edit').end()
      .find('.filter').show().end()
      .find('.rename-field').remove().end()
      .find('.handle-filter').hide().end();
  } else {
    jQuery('#dialog_filter')
      .addClass('hidden');
  }
  return false;
});

jQuery('#dialog_save_filter').dialog({
  autoOpen: false,
  dialogClass: 'save',
  width: 450,
  minHeight: 100
});

jQuery('#save-filter').click(function() {
  var name = jQuery('input[name=filter_name]').val();
  if ( !validateFilterName(name) ) {
    alert(trans('label "[_1]" is already in use.', name));
    return false;
  }
  itemValues();
  renderList('save_filter', cols, vals, jQuery('#row').val(), 1);
});

jQuery('#cancel-save-filter').click(function() {
  jQuery(this).parents().dialog('close');
});

function validateFilterName (name) {
  var res = true;
  jQuery('a.apply-link').each( function() {
      if ( jQuery(this).text() == name )
          res = false;
  });
  return res;
}

function addItems(items, op) {
  var type;
  var args;
  if ( !items )
      items = [];
  for (var i = 0, length = items.length; i < length; i++) {
    type = items[i].type;
    if (type == 'pack') {
      addItems(items[i].args.items, items[i].args.op);
    }
    var $filteritem = jQuery('.filteritem:first');
    var $filtertype;
    var prev_type;
    if ($filteritem.length) {
      $filtertype = $filteritem.children('.filtertype:last');
      $filtertype.attr('class').match(/type-(\w+)/);
      prev_type = RegExp.$1;
    }
    var $item = filterItem(type);
    if (op && type == prev_type) {
      $item
        .insertAfter($filtertype)
        .find('.item-label').addClass('invisible');
    } else {
      $item
        .insertAfter('.selectfilter')
        .wrap('<div class="filteritem" />')
        .find('.minus').hide();
      jQuery('<span class="close-link clickable remove icon-remove icon16 action-icon"><__trans phrase="Remove item"></span>')
        .insertAfter($item)
        .bind('click', function() {
          jQuery(this).parent('.filteritem').remove();
          updateItemList();
        });
    }
    args = items[i].args;
    for (var key in args) {
      $item.find('.'+type+'-'+key).val(args[key]);
    }
    var $node = $item.find('.filter-date');
    if ($node) {
      dateOption($node);
    }
  }
  updateItemList();
}

jQuery('#dialog_filter .edit-filter').click(function() {
    var text;
    jQuery(this).parents('#dialog_filter').toggleClass('editing');
    jQuery('.filter').show();
    if (jQuery(this).parents('#dialog_filter').hasClass('editing')) {
      jQuery(this).text('Done Editing');
      jQuery('.handle-filter').show();
    } else {
      jQuery(this).text('Edit');
      jQuery('.rename-field').remove();
      jQuery('.handle-filter').hide();
    }
    return false;
});

function applyFilter(index) {
  jQuery('#filter_name').val('');
  jQuery('#filter_id').val('');
  jQuery('.filteritem').remove();
  if (index >= 0 && filters[index].items) {
    var filter = filters[index];
    var name = filter.label;
    addItems(filter.items);
    jQuery('#opener').html(name);
    jQuery('#filter_name').val(name);
    jQuery('#filter_id').val(filter.id);
    current_id = filter.id;
    if ( filter.can_save )
      jQuery('#save').show();
    else
      jQuery('#save').hide();
    jQuery('input[name=filter_id]').val(filters[index].id);
    itemValues()
    renderList('filtered_list', cols, vals, jQuery('#row').val(), 1);
  }
  jQuery('#dialog_filter').addClass('hidden');
}

jQuery('.action_selector').change(function() {
  var selected = jQuery(this).val();
  jQuery('.action_selector').val(selected);
});

function doForMarked(formid, action, singlar, plural, phrase, xhr) {
  var $form = jQuery('#'+formid);
  if (!$form.length) {
    return;
  }

  var mode;
  var params = {};
  if ( action == 'itemset_action' ) {
      var $selected = $form.find('option:selected');
      action = $selected.val();
  }

  if (action == '') {
    alert(trans('You must select an action.'));
    return;
  }
  var opt = itemset_options[action];
  if ( !opt )
    return false;
  var xhr = opt['xhr'];
  var mode = opt['mode'] || 'itemset_action';
  if ($form.find('input[name=itemset_action_input]').val()) {
    $form.find('input[name=itemset_action_input]').val('');
  }

  var count = $form.find('input[name=id]').filter(':checked').length;
  if ( jQuery('input[name=all_selected]').val() == 1 ) {
      count = total;
  }
  if (!count) {
    alert(trans('You did not select any [_1] to [_2].', plural, phrase));
    return;
  }
  if (opt['min'] && (count < opt['min'])) {
    alert(trans('You can only act upon a minimum of [_1] [_2].', opt['min'], plural));
    return false;
  } else if (opt['max'] && (count > opt['max'])) {
    alert(trans('You can only act upon a maximum of [_1] [_2].', opt['max'], plural));
    return false;
  } else if (opt['input']) {
    if (input = prompt(opt['input'])) {
      $form.find('[name=itemset_action_input]').val(input);
      params['itemset_action_input'] = input;
    } else {
      return false;
    }
  } else if (opt['continue_prompt']) {
    if (!confirm(opt['continue_prompt'])) {
      return false;
    }
  }

  if (xhr) {
    params['mode'] = mode;
    params['xhr'] = 1;
    params['all_selected'] = jQuery('input[name=all_selected]').val();
    params['magic_token'] = '<mt:var name="magic_token">';
    params['id'] = $form
        .find('input[name=id]:checked')
        .map(function(){
            return jQuery(this).val();
        })
        .get()
        .join(",");
    params['_type'] = '<mt:var name="object_type">';
  } else {
    jQuery('input[name=return_args]').val(jQuery('input[name=return_args]').val()+'&does_act=1');
  }

  if (action) {
    $form.find('input[name=action_name]').val(action);
      params['action_name'] = action;
  } else {
    $form.find('input[name=action_name]').val('');
  }

  if (vals.length) {
    var items = jQuery.toJSON(vals);
    $form.find('input[name=items]').val(items);
    params['items'] = items;
  }

  if (phrase) {
    var message = ( count == 1 )
      ? trans('Are you sure you want to [_2] this [_1]?', singlar, phrase)
      : trans('Are you sure you want to [_3] the [_1] selected [_2]?', count, plural, phrase);
    if (!confirm(message)) {
        return;
    }
  }

  $form.find('input[name=__mode]').val(mode);
  if ( xhr )
    renderList(params);
  else
    $form.submit();
}

jQuery('button.mt-<mt:var name="object_type">-listing-form-action').click(function() {
  var id = '<mt:var name="object_type">-listing-form';
  var singlar = '<mt:var name="object_label" lower_case="1" escape="js">';
  var plural = '<mt:var name="object_label_plural" lower_case="1" escape="js">';
  var phrase = '<__trans phrase="act upon" escape="js">';
  doForMarked(id, 'itemset_action', singlar, plural, phrase);
  return false;
});

jQuery('.actions-bar a.button').click(function() {
  jQuery(this).attr('href').match(/#(.*)/);
  var action = RegExp.$1;
  var id = '<mt:var name="object_type">-listing-form';
  var singlar = '<mt:var name="object_label" lower_case="1" escape="js">';
  var plural = '<mt:var name="object_label_plural" lower_case="1" escape="js">';
  var phrase = messages[action];
  doForMarked(id, action, singlar, plural, phrase);
  return false;
});

jQuery('.filtertype .minus').live('click', function() {
  jQuery(this).parents('.filtertype').remove();
});

jQuery('.filtertype .plus').live('click', function() {
  var op = 'and';
  jQuery(this).parents('.filteritem').addClass(op);
  var $filtertype = jQuery(this).parents('.filtertype');
  $filtertype.attr('class').match(/type-(\w+)/);
  var type = RegExp.$1;
  var $node = filterItem(type, true);
  var $clone = $node.clone(true);
  $clone.insertAfter($filtertype)
    .find('.item-label').addClass('invisible');

  $clone.find('.filter-date').each(function() {
      dateOption(jQuery(this));
  }).bind('change', function() {
      dateOption(jQuery(this));
  }).end()
  .find('.datetime').datepicker({
      dateFormat: 'yy-mm-dd',
      dayNamesMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
      monthNames: ['-01','-02','-03','-04','-05','-06','-07','-08','-09','-10','-11','-12'],
      showMonthAfterYear: true,
      prevText: '&lt;',
      nextText: '&gt;'
  });
});

jQuery(window).bind('listReady', function(){
  jQuery('ul#disp_cols .sub:checkbox').each(function () {
    toggleSubField(this);
  });
});

function updateItemList () {
  var list = jQuery('#item_list');
  list.find('option').removeAttr('disabled');
  jQuery('#filter-detail').find('.filtertype').each( function() {
    jQuery(this).attr('class').match(/type-(\w+)/);
    var type = RegExp.$1;
    list.find('option[value=' + type + ']').attr('disabled','disabled');
  });
}

addItems(initial_filter.items);
jQuery('#opener').html(initial_filter.label);
jQuery('#filter_name').val(initial_filter.label);
jQuery('#filter_id').val(initial_filter.id);
jQuery('input[name=filter_id]').val(initial_filter.id);
jQuery('input[name=filter_name]').val(initial_filter.label);
if ( initial_filter.can_save )
  jQuery('#save').show();
else
  jQuery('#save').hide();

itemValues()
renderColumns();
renderFilterList();
<mt:if name="default_sort_key">
jQuery('table.listing-table thead th.<mt:var name="default_sort_key"> a.sort-link').click();
<mt:else>
renderList('filtered_list', cols, vals, jQuery('#row').val(), 1);
</mt:if>

</mt:setvarblock>
<mt:include name="include/footer.tmpl">
