<TMPL_INCLUDE NAME="header.tmpl">

<div id="list-commenters">

<script type="text/javascript">
<!--
function enableFilterButton() {
    getByID("filter-button").style.display = "inline";
}
function toggleFilter() {
    var filterActive = getByID("filter-active");
    if (filterActive.style.display == "none") {
        filterActive.style.display = "block";
        getByID("filter-select").style.display = "none";
    } else {
        filterActive.style.display = "none";
        getByID("filter-select").style.display = "block";
    }
}

function setFilterCol(choice) {
    var sel = getByID('filter-select');
    if (!sel) return;
    sel.className = "filter-" + choice;
    if (choice == 'none')
        getByID('filter-mode').selectedIndex = 0;
    else {
        getByID('filter-mode').selectedIndex = 1;
        var fld = getByID('filter-col');
        if (choice == 'status')
            fld.selectedIndex = 0;
        else if (choice == 'commenter')
            fld.selectedIndex = 1;
        col_span = getByID("filter-text-col");
        if (fld.selectedIndex > -1 && col_span)
            col_span.innerHTML = '<strong>' +
                fld.options[fld.selectedIndex].text + '</strong>';
    }
}

var tableSelect;
function init()
{
	// setup
	tableSelect = new TC.TableSelect( "selector" );
	tableSelect.rowSelect = true;
	setFilterCol(<TMPL_IF NAME=FILTER>'<TMPL_VAR NAME=FILTER>'<TMPL_ELSE>'none'</TMPL_IF>);<TMPL_IF NAME=FILTER>
	setFilterVal('<TMPL_VAR NAME=FILTER_VAL>');
</TMPL_IF>
}
	
TC.attachLoadEvent( init );
// -->
</script>

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Authenticated Commenters"></h2>

<p class="page-desc"><MT_TRANS phrase="_USAGE_COMMENTERS_LIST" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></p>

<TMPL_IF NAME=TRUSTED>
<div class="message"><MT_TRANS phrase="The selected commenter(s) has been given trusted status."></div>
</TMPL_IF>

<TMPL_IF NAME=UNTRUSTED>
<div class="message"><MT_TRANS phrase="Trusted status has been removed from the selected commenter(s)."></div>
</TMPL_IF>

<TMPL_IF NAME=BANNED>
<div class="message"><MT_TRANS phrase="The selected commenter(s) have been blocked from commenting."></div>
</TMPL_IF>

<TMPL_IF NAME=UNBANNED>
<div class="message"><MT_TRANS phrase="The selected commenter(s) have been unbanned."></div>
</TMPL_IF>

<div class="tabs">
<ul>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Authenticated Commenters"></a></li>
</ul>
</div>

<!-- begin filter controls -->

<div class="list-filters">
<div class="inner">

<div id="filter-active">

<div class="rightcol">
<TMPL_IF NAME=FILTER>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters<TMPL_IF NAME=BLOG_ID>&amp;blog_id=<TMPL_VAR NAME=BLOG_ID></TMPL_IF>"><MT_TRANS phrase="Reset"></a>
</TMPL_IF>
</div>

<strong><MT_TRANS phrase="Filter">:</strong>

<TMPL_UNLESS NAME=FILTER>
<a href="#" onclick="toggleFilter()"><MT_TRANS phrase="None."></a> <span class="hint"><MT_TRANS phrase="(Showing all commenters.)"></span>
<TMPL_ELSE>
<a href="#" onclick="toggleFilter()"><MT_TRANS phrase="Showing only commenters whose [_1] is [_2]." params='<span id="filter-text-col"></span>%%<span id="filter-text-val"></span>'></a>

<TMPL_IF NAME=FEED_URL>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/feed.gif" alt="<MT_TRANS phrase="Commenter Feed">" width="9" height="9" />
<a href="<TMPL_VAR NAME=FEED_URL ESCAPE=HTML>" title="<TMPL_VAR NAME=FEED_NAME ESCAPE=HTML>"><MT_TRANS phrase="Commenter Feed"></a>
<TMPL_ELSE>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/feed-disabled.gif" alt="<MT_TRANS phrase="Commenter Feed (Disabled)">" width="9" height="9" />
<a href="<TMPL_VAR NAME=MT_URL>?__mode=view&amp;_type=author&amp;id=<TMPL_VAR NAME=AUTHOR_ID>" title="<TMPL_VAR NAME=FEED_NAME ESCAPE=HTML> (<MT_TRANS phrase="Disabled">)"><MT_TRANS phrase="Set Web Services Password"></a>
</TMPL_IF>

</TMPL_UNLESS>


</div>

<form id="filter-form" method="get" action="<TMPL_VAR NAME=MT_URL>">
<input type="hidden" name="__mode" value="list_commenters" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input id="filter" type="hidden" name="filter" value="" />
<input id="filter_val" type="hidden" name="filter_val" value="" />
</form>

<form id="filter-select" method="get" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return execFilter(this);" style="display: none">

<MT_TRANS phrase="Show">
<select id="filter-mode" name="mode" onchange="if (this.options[this.selectedIndex].value == 'all') { setFilterCol('none') } else { setFilterCol('status') } enableFilterButton()">
<option value="all"><MT_TRANS phrase="all"></option>
<option value="only"><MT_TRANS phrase="only"></option>
</select>
<span id="filter-mode-all" style="display: none">
<MT_TRANS phrase="commenters.">
</span>
<span id="filter-mode-only" style="display: none">
<MT_TRANS phrase="commenters where">
<select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton();">
<option value="status"><MT_TRANS phrase="status"></option>
<!--
<option value="commenter"><MT_TRANS phrase="commenter"></option>
-->
</select>
<MT_TRANS phrase="is">
<span id="filter-status" style="display: none">
<select id="status-val" name="filter_val" onchange="enableFilterButton()">
<option value="approved"><MT_TRANS phrase="trusted"></option>
<option value="neutral"><MT_TRANS phrase="untrusted"></option>
<option value="banned"><MT_TRANS phrase="banned"></option>
</select>
</span><!--
<span id="filter-commenter" style="display: none">
<select id="commenter-val" name="filter_val" onchange="enableFilterButton()">
<option value="unauthenticated"><MT_TRANS phrase="unauthenticated"></option>
<option value="authenticated"><MT_TRANS phrase="authenticated"></option>
<option value="trusted"><MT_TRANS phrase="trusted"></option>
</select>
</span>
-->
<MT_TRANS phrase=".">
</span>
&nbsp;
<input type="submit" value="<MT_TRANS phrase="Filter">" id="filter-button" style="display: none" />
<input type="button" value="<MT_TRANS phrase="Cancel">" onclick="toggleFilter()" />

</form>

</div>
</div>

<!-- end filter controls -->


<TMPL_IF NAME=COMMENTER_TABLE>
<div class="list-wrapper" id="selector">
<TMPL_INCLUDE NAME=commenter_table.tmpl>
<TMPL_INCLUDE NAME=pager.tmpl>
</div>

<TMPL_IF NAME=PLUGIN_ACTION_LOOP>
<div class="box" id="plugin-actions-box">
<h4><MT_TRANS phrase="Plugin Actions"></h4>
<div class="inner">
<ul>
<TMPL_LOOP NAME=PLUGIN_ACTION_LOOP>
<li><a href="<TMPL_VAR NAME=PAGE>;from=list_commenters;blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=LINK_TEXT></a></li>
</TMPL_LOOP>
</ul>
</div>
</div>
</TMPL_IF>

<TMPL_ELSE>
<div class="message"><MT_TRANS phrase="No commenters could be found."></div>
</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
