<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
<!--
var last_shown;
var last_shown_info;
<TMPL_IF NAME=CAN_CONFIG>
function resetPlugin(f) {
    if (confirm("<MT_TRANS phrase="Are you sure you want to reset the settings for this plugin?">")) {
        f['__mode'].value = 'reset_plugin_config';
        f.submit();
    }
}

function togglePlugin(flag, plugin_sig) {
    var question;
    if (flag == 0) {
        if (plugin_sig == '*') {
            question = '<MT_TRANS phrase="Disable plugin system?">';
        } else {
            question = '<MT_TRANS phrase="Disable this plugin?">';
        }
    } else {
        if (plugin_sig == '*') {
            question = '<MT_TRANS phrase="Enable plugin system?">';
        } else {
            question = '<MT_TRANS phrase="Enable this plugin?">';
        }
    }
    if (confirm(question)) {
        var f = getByID("plugin_control");
        f['plugin_sig'].value = plugin_sig;
        f['state'].value = flag == 0 ? 'off' : 'on';
        f.submit();
    }
    return false;
}
</TMPL_IF>
function toggleDisplay(id, info) {
    var div = getByID(id);
    var info_div = getByID(info);
    if (div) {
        if (div.style.display != "block") {
            if (last_shown) {
                last_shown.style.display = "none";
                last_shown_info.style.display = "block";
            }
            info_div.style.display = "none";
            div.style.display = "block";
            last_shown = div;
            last_shown_info = info_div;
        } else {
            div.style.display = "none";
            info_div.style.display = "block";
        }
    }
    return false;
}
//-->
</script>

<div id="list-plugins">

<TMPL_IF NAME=BLOG_ID>

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Plugin Settings"></h2>
<p class="page-desc"><MT_TRANS phrase="This screen allows you to control the weblog-level settings of any configurable plugins you've installed.">  <a href="#" onclick="return openManual('blog_settings_plugins', 'index')" class="help">?</a></p>

<TMPL_IF NAME=SAVED>
<p class="message"><MT_TRANS phrase="Your plugin settings have been saved."></p>
</TMPL_IF>
<TMPL_IF NAME=RESET>
<p class="message"><MT_TRANS phrase="Your plugin settings have been reset."></p>
</TMPL_IF>

<TMPL_IF NAME=SWITCHED>
<TMPL_IF NAME=MOD_PERL>
<p class="message"><MT_TRANS phrase="Your plugins have been reconfigured."></p>
<TMPL_ELSE>
<p class="message"><MT_TRANS phrase="Your plugins have been reconfigured. Since you're running mod_perl, you will need to restart your web server for these changes to take effect."></p>
</TMPL_IF>
</TMPL_IF>

<div class="tabs">
<ul>
<TMPL_IF NAME=SETTINGS_MODE_BASIC>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Settings"></a></li>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_plugins&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Plugins"></a></li>
<li class="special">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/related.gif" alt="<MT_TRANS phrase="Switch to Detailed Settings">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_plugins&amp;config_view=detail&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Switch to Detailed Settings"></a>
</li>
<TMPL_ELSE>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="General"></a></li>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_entries&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="New Entry Defaults"></a></li>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_feedback&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Feedback"></a></li>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_archives&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Publishing"></a></li>
<TMPL_IF NAME=SHOW_IP_INFO>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list&amp;_type=banlist&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="IP Banning"></a></li>
</TMPL_IF>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_plugins&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Plugins"></a></li>
<li class="special">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/related.gif" alt="<MT_TRANS phrase="Switch to Basic Settings">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_plugins&amp;config_view=basic&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Switch to Basic Settings"></a>
</li>
</TMPL_IF>
</ul>
</div>

<TMPL_ELSE>

<h2><span class="weblog-title-highlight"><MT_TRANS phrase="System-wide">:</span> <MT_TRANS phrase="Registered Plugins"></h2>
<p class="page-desc"><MT_TRANS phrase="_USAGE_PLUGINS">  <a href="#" onclick="return openManual('system_settings_plugins', 'index')" class="help">?</a></p>

<TMPL_IF NAME=SAVED>
<p class="message"><MT_TRANS phrase="Your plugin settings have been saved."></p></TMPL_IF>
<TMPL_IF NAME=RESET>
<p class="message"><MT_TRANS phrase="Your plugin settings have been reset."></p>
</TMPL_IF>

<TMPL_IF NAME=SWITCHED>
<TMPL_IF NAME=MOD_PERL>
<p class="message"><MT_TRANS phrase="Your plugins have been reconfigured. Since you're running mod_perl, you will need to restart your web server for these changes to take effect."></p>
<TMPL_ELSE>
<p class="message"><MT_TRANS phrase="Your plugins have been reconfigured."></p>
</TMPL_IF>
</TMPL_IF>

</TMPL_IF>

<TMPL_IF NAME=PLUGIN_LOOP>

<TMPL_IF NAME=CAN_CONFIG><TMPL_UNLESS NAME=BLOG_ID>
<form id="plugin_control" action="<TMPL_VAR NAME=SCRIPT_URL>" method="post">
<input type="hidden" name="__mode" value="plugin_control" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="state" value="" />
<input type="hidden" name="plugin_sig" value="" />

<div class="list-actions">
<div class="button-bar">
<MT_TRANS phrase='To download more plugins, check out the <a href="http://www.sixapart.com/pronet/plugins/">Six Apart Plugin Directory</a>.'>
</div>
<div class="button-bar-alt">
<TMPL_IF NAME=USE_PLUGINS>
<input type="button" value="<MT_TRANS phrase="Disable Plugins">" onclick="return togglePlugin(0, '*')" />
<TMPL_ELSE>
<input type="button" value="<MT_TRANS phrase="Enable Plugins">" onclick="return togglePlugin(1, '*')" />
</TMPL_IF>
</div>
</div>

</form>
</TMPL_UNLESS></TMPL_IF>

<div class="box">

<div>

<TMPL_LOOP NAME=PLUGIN_LOOP>
<TMPL_IF NAME=PLUGIN_FOLDER>

</div>
<h4><TMPL_VAR NAME=PLUGIN_FOLDER></h4>

<TMPL_ELSE>

<TMPL_IF NAME=FIRST><div class="inner"></TMPL_IF>

<div class="plugin-item plugin-<TMPL_IF NAME=PLUGIN_MAJOR>major<TMPL_ELSE>minor</TMPL_IF>">

<div class="favicon">
<TMPL_IF NAME=PLUGIN_MAJOR>
<TMPL_UNLESS NAME=PLUGIN_ERROR>
<img src="<TMPL_VAR NAME=PLUGIN_ICON>" alt="Favicon" width="16" height="16" />
<TMPL_ELSE>
<img src="<TMPL_VAR NAME=STATIC_URI>images/plugin-error.gif" alt="Favicon" width="16" height="16" />
</TMPL_UNLESS>
<TMPL_ELSE>
&nbsp;
</TMPL_IF>
</div>

<div id="plugin-info-<TMPL_VAR NAME=PLUGIN_ID>">

<div class="shortcuts">
<TMPL_IF NAME=CAN_CONFIG>
<TMPL_UNLESS NAME=BLOG_ID>
<p><TMPL_IF NAME=PLUGIN_ERROR><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/error.gif" alt="<MT_TRANS phrase="Error">" width="9" height="9" /><span class="alert-error-inline"><MT_TRANS phrase="Failed to Load"></span> (<a href="#" onclick="togglePlugin(0, '<TMPL_VAR NAME=PLUGIN_SIG>')"><MT_TRANS phrase="Disable"></a>)<TMPL_ELSE><TMPL_UNLESS NAME=PLUGIN_DISABLED><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/success.gif" alt="<MT_TRANS phrase="Enabled">" width="9" height="9" /><MT_TRANS phrase="Enabled"> (<a href="#" onclick="return togglePlugin(0, '<TMPL_VAR NAME=PLUGIN_SIG>')"><MT_TRANS phrase="Disable"></a>)<TMPL_ELSE><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/neutral.gif" alt="<MT_TRANS phrase="Disabled">" width="9" height="9" /><MT_TRANS phrase="Disabled"><TMPL_IF NAME=USE_PLUGINS> <a href="#" onclick="return togglePlugin(1, '<TMPL_VAR NAME=PLUGIN_SIG>')">(<MT_TRANS phrase="Enable">)</a></TMPL_IF></TMPL_UNLESS></TMPL_IF></p>
<TMPL_ELSE>
<p><TMPL_IF NAME=PLUGIN_ERROR><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/error.gif" alt="<MT_TRANS phrase="Error">" width="9" height="9" /><span class="alert-error-inline"><MT_TRANS phrase="Failed to Load"></span><TMPL_ELSE><TMPL_UNLESS NAME=PLUGIN_DISABLED><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/success.gif" alt="<MT_TRANS phrase="Enabled">" width="9" height="9" /><MT_TRANS phrase="Enabled"><TMPL_ELSE><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/neutral.gif" alt="<MT_TRANS phrase="Disabled">" width="9" height="9" /> <MT_TRANS phrase="Disabled"></TMPL_UNLESS></TMPL_IF></p>
</TMPL_UNLESS>
</TMPL_IF>

<ul>
<TMPL_IF NAME=PLUGIN_DOC_LINK>
<li><a href="<TMPL_VAR NAME=PLUGIN_DOC_LINK>" title="<MT_TRANS phrase="Documentation for [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>">"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/docs.gif" alt="<MT_TRANS phrase="Documentation">" width="9" height="11" /><MT_TRANS phrase="Documentation"></a> &#187;</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_AUTHOR_LINK>
<li><a href="<TMPL_VAR NAME=PLUGIN_AUTHOR_LINK>" title="<MT_TRANS phrase="Author of [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>">"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/view-site.gif" alt="<MT_TRANS phrase="Author">" width="9" height="11" /><TMPL_VAR NAME=PLUGIN_AUTHOR_NAME></a> &#187;</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_PLUGIN_LINK>
<li><a href="<TMPL_VAR NAME=PLUGIN_PLUGIN_LINK>" title="<MT_TRANS phrase="More about [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>">"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/view-site.gif" alt="<MT_TRANS phrase="Support">" width="9" height="11" /><MT_TRANS phrase="Plugin Home"></a> &#187;</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_RESOURCES>
<li><a href="#" onclick="return toggleDisplay('resources-<TMPL_VAR NAME=PLUGIN_ID>', 'plugin-info-<TMPL_VAR NAME=PLUGIN_ID>')"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/templates.gif" alt="<MT_TRANS phrase="Resources">" width="9" height="11" /><MT_TRANS phrase="Show Resources"></a></li>
</TMPL_IF>

<TMPL_IF NAME=CAN_CONFIG>

<TMPL_IF NAME=PLUGIN_CONFIG_LINK>
<TMPL_IF NAME=PLUGIN_CONFIG_HTML>
<li><a href="<TMPL_VAR NAME=PLUGIN_PAGE>"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/settings.gif" alt="<MT_TRANS phrase="Run">" width="9" height="11" /><MT_TRANS phrase="Run [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>"></a></li> 
<TMPL_ELSE>
<li><a href="<TMPL_VAR NAME=PLUGIN_PAGE>"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/settings.gif" alt="<MT_TRANS phrase="Run">" width="9" height="11" /><MT_TRANS phrase="Run [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>"></a></li>
</TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_CONFIG_HTML>
<li><a href="#" onclick="return toggleDisplay('config-<TMPL_VAR NAME=PLUGIN_ID>', 'plugin-info-<TMPL_VAR NAME=PLUGIN_ID>')"><img src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/mini/settings.gif" alt="<MT_TRANS phrase="Settings">" width="9" height="11" /><MT_TRANS phrase="Show Settings"></a></li>
</TMPL_IF>

</TMPL_IF>
</ul>
</div>

<div class="plugin-info">
<TMPL_IF NAME=PLUGIN_MAJOR>
<h5<TMPL_IF NAME=PLUGIN_DISABLED> class="disabled"</TMPL_IF>><TMPL_IF NAME=PLUGIN_PAGE><a href="<TMPL_VAR NAME=PLUGIN_PAGE>" title="<MT_TRANS phrase="Settings for [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>">"><TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML></a><TMPL_ELSE><TMPL_VAR NAME=PLUGIN_NAME></TMPL_IF><TMPL_IF NAME=PLUGIN_VERSION> <span class="plugin-version"><MT_TRANS phrase="Version"> <TMPL_VAR NAME=PLUGIN_VERSION></span></TMPL_IF></h5>
<TMPL_IF NAME=PLUGIN_DESC><p class="plugin-desc"><TMPL_VAR NAME=PLUGIN_DESC></p></TMPL_IF>
<TMPL_ELSE>
<h5<TMPL_IF NAME=PLUGIN_DISABLED> class="disabled"</TMPL_IF>><TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML></h5>
</TMPL_IF>
</div>

</div>

<TMPL_IF NAME=PLUGIN_RESOURCES>
<div id="resources-<TMPL_VAR NAME=PLUGIN_ID>" class="resources">

<p class="caption"><MT_TRANS phrase="Resources Provided by [_1]" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>"></p>

<ul>
<TMPL_IF NAME=PLUGIN_TAGS>
<li><strong><MT_TRANS phrase="Tags"></strong>:
<TMPL_LOOP NAME=PLUGIN_TAGS>
<TMPL_VAR NAME=NAME ESCAPE=HTML><TMPL_UNLESS NAME=__LAST__>, </TMPL_UNLESS>
</TMPL_LOOP>
</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_ATTRIBUTES>
<li><strong><MT_TRANS phrase="Tag Attributes"></strong>:
<TMPL_LOOP NAME=PLUGIN_ATTRIBUTES>
<TMPL_VAR NAME=NAME ESCAPE=HTML><TMPL_UNLESS NAME=__LAST__>, </TMPL_UNLESS>
</TMPL_LOOP>
</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_TEXT_FILTERS>
<li><strong><MT_TRANS phrase="Text Filters"></strong>:
<TMPL_LOOP NAME=PLUGIN_TEXT_FILTERS><TMPL_VAR NAME=NAME ESCAPE=HTML><TMPL_UNLESS NAME=__LAST__>, </TMPL_UNLESS>
</TMPL_LOOP>
</li>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_JUNK_FILTERS>
<li><strong><MT_TRANS phrase="Junk Filters"></strong>: <TMPL_LOOP NAME=PLUGIN_JUNK_FILTERS>
<TMPL_VAR NAME=NAME ESCAPE=HTML><TMPL_UNLESS NAME=__LAST__>, </TMPL_UNLESS>
</TMPL_LOOP>
</li>
</TMPL_IF>
</ul>

<div class="button-bar">
<input type="button" value="<MT_TRANS phrase="Close">" onclick="return toggleDisplay('resources-<TMPL_VAR NAME=PLUGIN_ID>', 'plugin-info-<TMPL_VAR NAME=PLUGIN_ID>')" />
</div>

</div>
</TMPL_IF>

<TMPL_IF NAME=CAN_CONFIG>
<TMPL_IF NAME=PLUGIN_CONFIG_HTML>
<div class="config" id="config-<TMPL_VAR NAME=PLUGIN_ID>">
<p class="caption"><MT_TRANS phrase="[_1] Settings" params="<TMPL_VAR NAME=PLUGIN_NAME ESCAPE=HTML>"></p>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="save_plugin_config" />
<TMPL_IF NAME=BLOG_ID>
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
</TMPL_IF>
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="plugin_sig" value="<TMPL_VAR NAME=PLUGIN_SIG ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<fieldset>
<TMPL_VAR NAME=PLUGIN_CONFIG_HTML>
</fieldset>

<div class="button-bar">
<input type="submit" value="<MT_TRANS phrase="Save Changes">" />
<input type="button" value="<MT_TRANS phrase="Cancel">" onclick="return toggleDisplay('config-<TMPL_VAR NAME=PLUGIN_ID>', 'plugin-info-<TMPL_VAR NAME=PLUGIN_ID>')" />
<TMPL_IF NAME=PLUGIN_SETTINGS_ID><input type="button" value="<MT_TRANS phrase="Reset to Defaults">" onclick="resetPlugin(this.form)" /></TMPL_IF>
</div>

</form>

</div>
</TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_ERROR>
<div class="error-message"><MT_TRANS phrase="Plugin error:"><br /><code style="white-space: pre"><TMPL_VAR NAME=PLUGIN_ERROR></code></div>
</TMPL_IF>

</div>

</TMPL_IF>
</TMPL_LOOP>
</div>
</div>

<TMPL_ELSE>
<div class="message"><MT_TRANS phrase="No plugins with weblog-level configuration settings are installed."></div>
</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
