<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="notification" />
<input type="hidden" name="itemset_action_input" value="" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<TMPL_IF NAME=POSITION_ACTIONS_TOP>
<TMPL_INCLUDE NAME=notification_actions.tmpl>
</TMPL_IF>

<div class="list" id="selector">
<table cellspacing="0">

<thead>
<tr>
<th class="cb" id="delete-col-head"><input type="checkbox" name="id-head" value="all" class="select" /></th>
<th id="nt-email"><MT_TRANS phrase="Email Address"></th>
<th id="nt-url"><MT_TRANS phrase="URL"></th>
<th id="nt-date"><MT_TRANS phrase="Date Added"></th>
</tr>
</thead>

<tbody>
<TMPL_LOOP NAME=OBJECT_LOOP>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td class="cb" id="delete-<TMPL_VAR NAME=ID>"><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" class="select" /></td>
<td><a href="mailto:<TMPL_VAR NAME=EMAIL ESCAPE=URL>"><TMPL_VAR NAME=EMAIL ESCAPE=HTML></td>
<td><TMPL_IF NAME=URL><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=URL ESCAPE=HTML></a><TMPL_ELSE><TMPL_VAR NAME=URL ESCAPE=HTML></TMPL_IF></td>
<td><span title="<TMPL_VAR NAME=CREATED_ON_TIME_FORMATTED>"><TMPL_IF NAME=CREATED_ON_RELATIVE><TMPL_IF NAME=DATES_RELATIVE><TMPL_VAR NAME=CREATED_ON_RELATIVE><TMPL_ELSE><TMPL_VAR NAME=CREATED_ON_FORMATTED></TMPL_IF><TMPL_ELSE><TMPL_VAR NAME=CREATED_ON_FORMATTED></TMPL_IF></span></td>
</tr>
</TMPL_LOOP>
</tbody>

</table>
</div>

<TMPL_IF NAME=POSITION_ACTIONS_BOTTOM>
<div class="list-actions-footer">
<TMPL_INCLUDE NAME=notification_actions.tmpl>
</div>
</TMPL_IF>

</form>
