<div class="systemnav">
<div id="nav">
<ul class="top">
<li><MT_TRANS phrase="System">
<ul class="sub">
<li><a<TMPL_IF NAME=NAV_BLOGS> class="here"</TMPL_IF> id="nav-weblogs" title="<MT_TRANS phrase="List Weblogs">" href="<TMPL_VAR NAME=MT_URL>?__mode=system_list_blogs"><MT_TRANS phrase="Weblogs"></a></li>
<TMPL_IF NAME=HAS_AUTHORS_BUTTON>
<li><a<TMPL_IF NAME=NAV_AUTHORS> class="here"</TMPL_IF> id="nav-authors" title="<MT_TRANS phrase="List Authors">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_authors"><MT_TRANS phrase="Authors"></a></li>
</TMPL_IF>
<li><a<TMPL_IF NAME=NAV_PLUGINS> class="here"</TMPL_IF> id="nav-plugins" title="<MT_TRANS phrase="List Plugins">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_plugins"><MT_TRANS phrase="Plugins"></a></li>
</ul>
</li>
<li><MT_TRANS phrase="Aggregate">
<ul class="sub">
<li><a<TMPL_IF NAME=NAV_ENTRIES> class="here"</TMPL_IF> id="nav-entries" title="<MT_TRANS phrase="List Entries">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_entries"><MT_TRANS phrase="Entries"></a></li>
<TMPL_IF NAME=IS_ADMINISTRATOR>
<li><a<TMPL_IF NAME=NAV_TAGS> class="here"</TMPL_IF> id="nav-tags" title="<MT_TRANS phrase="List Tags">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_tags"><MT_TRANS phrase="Tags"></a></li>
</TMPL_IF>
<li><a<TMPL_IF NAME=NAV_COMMENTS> class="here"</TMPL_IF> id="nav-comments" title="<MT_TRANS phrase="List Comments">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_comments"><MT_TRANS phrase="Comments"></a></li>
<li><a<TMPL_IF NAME=NAV_PINGS> class="here"</TMPL_IF> id="nav-trackbacks" title="<MT_TRANS phrase="List TrackBacks">" href="<TMPL_VAR NAME=MT_URL>?__mode=list_pings"><MT_TRANS phrase="TrackBacks"></a></li>
</ul>
</li>
<TMPL_IF NAME=IS_ADMINISTRATOR>
<li><MT_TRANS phrase="Configure">
<ul class="sub">
<li><a<TMPL_IF NAME=NAV_CONFIG> class="here"</TMPL_IF> id="nav-settings" title="<MT_TRANS phrase="Edit System Settings">" href="<TMPL_VAR NAME=MT_URL>?__mode=cfg_system"><MT_TRANS phrase="Settings"></a></li>
</ul>
</li>
</TMPL_IF>
<li><MT_TRANS phrase="Utilities">
<ul class="sub">
<li><a<TMPL_IF NAME=NAV_SEARCH> class="here"</TMPL_IF> id="nav-search" title="<MT_TRANS phrase="Search &amp; Replace">" href="<TMPL_VAR NAME=MT_URL>?__mode=search_replace"><MT_TRANS phrase="Search"></a></li>
<TMPL_IF NAME=CAN_VIEW_LOG><li><a<TMPL_IF NAME=NAV_LOG> class="here"</TMPL_IF> id="nav-log" title="<MT_TRANS phrase="Show Activity Log">" href="<TMPL_VAR NAME=MT_URL>?__mode=view_log"><MT_TRANS phrase="Activity Log"></a></li></TMPL_IF>
</ul>
</li>
</ul>
</div>
</div>
