Thanks for your comment. I've enable a feature for this site which
allows me to approve a commenter the first time he or she comments; so
your comment won't appear until I've approved you. This helps prevent
unwelcome commercial comments, which will make my life better and
improve the quality of the weblog. After you've been approved, your
comments will go directly onto the site.
