<mt:setvarblock name="page_title"><__trans phrase="Preview [_1]" params="<mt:var name="object_label">"></mt:setvarblock>
<mt:setvarblock name="system_msg">
<div id="message-block">
    <mt:if name="preview_error">
        <mtapp:statusmsg
            id="preview-build-error"
            class="error">
    <mt:var name="preview_error">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:include name="include/header.tmpl">

<form method="post" action="<mt:var name="script_url">">
<input type="submit" name="reedit" accesskey="e" value="<__trans phrase="Re-Edit this [_1]" params="<mt:var name="object_label">">" title="<__trans phrase="Re-Edit this [_1] (e)" params="<mt:var name="object_label">">" />
<input type="submit" name="save" accesskey="s" value="<__trans phrase="Save this [_1]" params="<mt:var name="object_label">">" title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label">">" />
<input type="submit" name="cancel" accesskey="c" value="<__trans phrase="Cancel">" title="<__trans phrase="Cancel (c)">" />
<input type="hidden" name="__mode" value="save_entry" />
<input type="hidden" name="_type" value="<mt:var name="object_type">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
<mt:loop name="entry_loop">
<input type="hidden" name="<mt:var name="data_name" escape="html">" value="<mt:var name="data_value" escape="html">" /></mt:loop>

<div id="preview">
<mt:var name="preview_body">
</div>

<input type="submit" name="reedit" accesskey="e" value="<__trans phrase="Re-Edit this [_1]" params="<mt:var name="object_label">">" title="<__trans phrase="Re-Edit this [_1] (e)" params="<mt:var name="object_label">">" />
<input type="submit" name="save" accesskey="s" value="<__trans phrase="Save this [_1]" params="<mt:var name="object_label">">" title="<__trans phrase="Save this [_1] (s)" params="<mt:var name="object_label">">" />
<input type="submit" name="cancel" accesskey="c" value="<__trans phrase="Cancel">" title="<__trans phrase="Cancel (c)">" />
</form>

<mt:include name="include/footer.tmpl">
