<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<$mt:var name="language_encoding"$>" />
    <title><__trans phrase="Preview"> | <$mt:var name="mt_product_name"$></title>
<mt:if name="mt_debug">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
<mt:else>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/main.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
</mt:if>
    <!--[if IE]>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <![endif]-->
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie6.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <![endif]-->
<mt:if name="local_lang_id" ne="en-us">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles_<$mt:var name="local_lang_id"$>.css?v=<mt:var name="mt_version_id" escape="url">" />
</mt:if>
<mt:if name="mt_debug">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Core.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/JSON.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Timer.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cookie.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/DOM.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Devel.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Observable.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Autolayout.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Component.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/List.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/App.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cache.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Client.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Template.js?v=<mt:var name="mt_version_id" escape="url">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc.js?v=<mt:var name="mt_version_id" escape="url_id">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/tableselect.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<mt:else>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/mt_core_compact.js?v=<mt:var name="mt_version_id" escape="url">"></script>
</mt:if>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.pngfix.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        CMSScriptURI = '<$mt:var name="mt_url"$>';
        ScriptURI = '<$mt:var name="script_url"$>';
        ScriptBaseURI = '<$mt:var name="script_base_url"$>';
        StaticURI = '<$mt:var name="static_uri"$>';
        HelpBaseURI = '<$mt:var name="help_url"$>';
        /* ]]> */
    </script>
</mt:setvarblock>
<$mt:var name="html_head"$>
<script type="text/javascript" src="<$mt:var name="static_uri"$>mt.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:if name="local_lang_id" ne="en-us">
<script type="text/javascript" src="<$mt:var name="static_uri"$>mt_<$mt:var name="local_lang_id"$>.js?v=<mt:var name="mt_version_id" escape="URL">" charset="utf-8"></script>
</mt:if>
<$mt:var name="js_include"$>
</head>
<body class="<mt:if name="scope_type" eq="user">user system <mt:else><mt:var name="scope_type"> </mt:if>main-screen preview-screen">
<div id="brand">
    <span><img alt="<$mt:var name="mt_product_name"$>" src="<$mt:var name="static_uri"$>images/logo/movable-type-logo<mt:if name="blog_id"><mt:if name="is_blog"><mt:else>-website</mt:if><mt:else>-system</mt:if>.png" /></span>
</div>
<table id="preview-layout">
    <tr>
        <td id="template-preview-control-strip">
            <div id="preview-label">
                <__trans phrase="You are previewing the template named &ldquo;[_1]&rdquo;" params="<$mt:var name="name" escape="html"$>">
                <mt:if name="build_time"><small><__trans phrase="(Publish time: [_1] seconds)" params="<mt:var name="build_time">"></small></mt:if>
            </div>
            <form method="post" action="<$mt:var name="script_url"$>">
                <input type="hidden" name="__mode" value="save" />
                <input type="hidden" name="_type" value="template" />
                <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" />
                <input type="hidden" name="_preview_file" value="<$mt:var name="preview_file" escape="html"$>" />
                <input type="hidden" name="dirty" value="1" />
    <mt:loop name="template_loop">
        <mt:if name="data_name" eq="id">
            <mt:if name="data_value">
                <input type="hidden" name="<$mt:var name="data_name" escape="html"$>" value="<$mt:var name="data_value" escape="html"$>" />
            </mt:if>
        <mt:else>
                <input type="hidden" name="<$mt:var name="data_name" escape="html"$>" value="<$mt:var name="data_value" escape="html"$>" />                
        </mt:if>
    </mt:loop>
                <input type="hidden" name="return_args" value="__mode=view&amp;_type=template<mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="id">&amp;id=<mt:var name="id" escape="url"></mt:if>">
                <mt:setvarblock name="action_buttons">
                    <button
                        mt:mode="view"
                        type="submit"
                        name="reedit"
                        value="reedit"
                        accesskey="e"
                        title="<__trans phrase="Return to the template editor (e)">"
                        class="edit action primary-button"
                        ><__trans phrase="Return to the template editor"></button>
                </mt:setvarblock>
                <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
            </form>
        </td>
    </tr>
    <tr>
        <td id="template-preview-content">
            <iframe id="frame" frameborder="0" scrolling="auto" src="<$mt:var name="preview_url"$>?<mt:date format="%H%M%S">" onclick="return TC.stopEvent(event);"></iframe>
        </td>
    </tr>
</table>
<div id="bootstrapper" class="hidden"></div>
<mt:unless name="delayed_bootstrap">
<script type="text/javascript">
    /* <![CDATA[ */
        App.bootstrapInline( false );
        jQuery('#brand span').pngfix();
    /* ]]> */
</script>
</mt:unless>
</body>
</html>
