<html>
<head>
<script type="text/javascript">
/* <![CDATA[ */
var o = window.opener;
if (o && o.location) {
    <mt:if name="url">o.location = '<mt:var name="url" escape="js">';</mt:if>
<mt:var name="javascript">
    window.close();
}
/* ]]> */
</script>
</head>
</html>
