<mt:setvarblock name="page_title"><__trans phrase="Restore from a Backup"></mt:setvarblock>
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="restore" value="1">

<mt:include name="include/header.tmpl">

<mt:if name="error">
    <mtapp:statusmsg
        id="generic-error"
        class="error">
        <mt:var name="error">
    </mtapp:statusmsg>
</mt:if>
<div id="restore-panel">
    <mt:if name="missing_sax">
        <mtapp:statusmsg
            id="missing-sax"
            class="error">
            <__trans phrase="Perl module XML::SAX and/or some of its dependencies are missing.  Movable Type cannot restore the system without these modules.">
        </mtapp:statusmsg>
    <mt:else>
    <form method="post" enctype="multipart/form-data" action="<mt:var name="script_url">">
        <input type="hidden" name="__mode" value="restore" />
        <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
        <mtapp:setting
            id="file"
            label="<__trans phrase="Backup File">"
            hint="<__trans phrase="If your backup file is located on a remote computer, you can upload it here.  Otherwise, Movable Type will automatically look in the 'import' folder within your Movable Type directory.">"
            help_page="backup_restore"
            help_section="source_file">
                <input name="file" type="file" size="50" />
        </mtapp:setting>
        <mt:ignore><!-- disable the feature to ignore schema conflict.
        <mtapp:setting
            id="ignore_schema_conflict"
            label="<__trans phrase="Options">"
            show_label="0"
            hint="<__trans phrase="Check this and files backed up from newer versions can be restored to this system.  NOTE: Ignoring Schema Version can damage Movable Type permanently.">">
                <input name="ignore_schema_conflict" id="ignore_schema_conflict" type="checkbox" />
                <label for="ignore_schema_conflict"><__trans phrase="Ignore schema version conflicts"></label>
        </mtapp:setting>
        --></mt:ignore>
        <mtapp:setting
            id="overwrite_global_templates"
            label="<__trans phrase="Options">"
            show_label="0"
            hint="<__trans phrase="Allow existing global templates to be overwritten by global templates in the backup file.">">
                <input name="overwrite_global_templates" id="overwrite_global_templates" type="checkbox" />
                <label for="overwrite_global_templates"><__trans phrase="Overwrite global templates."></label>
        </mtapp:setting>
        <mt:setvarblock name="action_buttons">
            <button
                type="submit"
                accesskey="r"
                title="<__trans phrase="Restore (r)">"
                class="restore action primary-button"
                ><__trans phrase="Restore"></button>
        </mt:setvarblock>
        <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
    </form>
    </mt:if>
</div>
<mt:include name="include/footer.tmpl">
