<div class="list-actions">
<div class="button-bar">
<input class="deleteButton" type="button" name="delete" value="<MT_TRANS phrase="Delete">" onclick="doRemoveItems(this.form, '<MT_TRANS phrase="template">', '<MT_TRANS phrase="templates">')" />
</div>

<div class="button-bar-alt">
<TMPL_INCLUDE NAME="itemset_action_widget.tmpl">
</div>

</div>
