<mt:if name="scope_type" eq="website"><mt:var name="scope_type" value="site"></mt:if>
<mt:setvarblock name="page_title"><__trans phrase="Dashboard"></mt:setvarblock>

<mt:setvarblock name="content">
aaa

<mt:include name="modules/libjs.tmpl">
</mt:setvarblock>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">

