<mt:setvarblock name="page_title"><__trans phrase="Dashboard"></mt:setvarblock>

<mt:setvarblock name="content">
  <div class="row">
    <div class="col-md-12">
      aaa
    </div>
  </div>

  <mt:include name="modules/libjs.tmpl">
</mt:setvarblock>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">

