<TMPL_INCLUDE NAME="header-popup.tmpl">

<form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="upload_file" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="temp" value="<TMPL_VAR NAME=TEMP ESCAPE=HTML>" />
<input type="hidden" name="extra_path_<TMPL_IF NAME=SITE_PATH>site<TMPL_ELSE>archive</TMPL_IF>" value="<TMPL_VAR NAME=EXTRA_PATH ESCAPE=HTML>" />
<input type="hidden" name="fname" value="<TMPL_VAR NAME=FNAME ESCAPE=HTML>" />
<input type="hidden" name="site_path" value="<TMPL_VAR NAME=SITE_PATH ESCAPE=HTML>" />
<input type="hidden" name="middle_path" value="<TMPL_VAR NAME=MIDDLE_PATH ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Upload File"></h2>

<div class="message-warning">
<p><MT_TRANS phrase="A file named '[_1]' already exists. Do you want to overwrite this file?" params="<TMPL_VAR NAME=FNAME ESCAPE=HTML>"></p>
</div>

<div>
<input type="submit" name="overwrite_no" value="<MT_TRANS phrase="No">" />
<input type="submit" name="overwrite_yes" value="<MT_TRANS phrase="Yes">" />
</div>

</form>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
