.comment header {
  zoom: 1; }
  .comment header:before, .comment header:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  .comment header:after {
    clear: both; }

.feedback {
  margin-top: 1.618em; }
  @media (min-width: 700px) {
    .feedback {
      margin-top: 3.236em; } }
  .feedback h2 {
    margin: 1em 0 1.618em; }

.comment {
  margin-bottom: 1.618em;
  border-bottom: 1px solid; }
  .comment header h3 {
    display: inline;
    margin: 0;
    font-size: 110%; }
  .comment time {
    margin-left: 0.809em;
    font-size: 90%; }
  .comment p {
    margin: 0.809em 0; }

.message {
  padding: 0.809em;
  background-color: #dcdddd; }

#comment-greeting {
  margin-top: 3.236em; }
  #comment-greeting + #comments-form {
    margin-top: 1.618em; }

#comments-form {
  margin-top: 3.236em; }
  #comments-form fieldset {
    margin: 0;
    padding: 0;
    border: 0; }
    #comments-form fieldset legend {
      display: none; }

#comments-open-text textarea {
  width: 100%;
  height: 12.944em; }

#comments-open-data ul {
  margin: 1.618em 0;
  padding: 0; }
#comments-open-data li {
  list-style-type: none;
  margin-bottom: 0.809em; }
  #comments-open-data li label {
    display: block;
    text-align: left; }
  #comments-open-data li input[type="text"] {
    width: 100%; }
    @media (min-width: 700px) {
      #comments-open-data li input[type="text"] {
        width: 75%; } }

#comments-open-footer {
  margin-top: 1.618em;
  text-align: center; }
  @media (min-width: 930px) {
    #comments-open-footer {
      text-align: left; } }
  #comments-open-footer input[type="submit"],
  #comments-open-footer input[type="button"] {
    width: 100%;
    margin-bottom: 0.809em; }
    @media (min-width: 700px) {
      #comments-open-footer input[type="submit"],
      #comments-open-footer input[type="button"] {
        width: auto;
        margin-right: 0.809em; } }

#trackback-url {
  margin-bottom: 3.236em; }

.trackback {
  margin-bottom: 1.618em;
  padding-bottom: 1.618em;
  border-bottom: 1px dotted #c0c6c9; }
  .trackback time {
    color: #c0c6c9;
    font-size: 90%; }
  .trackback p {
    margin: 0.809em 0 0; }
