<mt:app:ContentFieldOptionGroup
   type="asset_image">

  <mtapp:ContentFieldOption
     id="asset_image-multiple"
     label="<__trans phrase="Allow users to select multiple image assets?">">
    <input ref="multiple" type="checkbox" class="mt-switch form-control" id="asset_image-multiple" name="multiple" checked={ options.multiple } onclick={ changeStateMultiple } ><label for="asset_image-multiple"><__trans phrase="Allow users to select multiple image assets?"></label>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-min"
     label="<__trans phrase="Minimum number of selections">"
     attr="show={ options.multiple }">
    <input ref="min" type="number" name="min" id="asset_image-min" class="form-control w-25" min="0" value={ options.min }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-max"
     label="<__trans phrase="Maximum number of selections">"
     attr="show={ options.multiple }">
    <input ref="max" type="number" name="max" id="asset_image-max" class="form-control w-25" min="1" value={ options.max }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-allow_upload"
     label="<__trans phrase="Allow users to upload a new image asset?">">
    <input ref="allow_upload" type="checkbox" class="mt-switch form-control" id="asset_image-allow_upload" name="allow_upload" checked={ options.allow_upload }><label for="asset_image-allow_upload"><__trans phrase="Allow users to upload a new image asset?"></label>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-preview_width"
     label="<__trans phrase="Thumbnail width">">
    <input ref="preview_width" type="number" class="form-control w-25" id="asset_image-preview_width" name="preview_width" value={ options.preview_width || 80 }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-preview_height"
     label="<__trans phrase="Thumbnail height">">
    <input ref="preview_height" type="number" class="form-control w-25" id="asset_image-preview_height" name="preview_height" value={ options.preview_height || 80 }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOptionScript>
    if ( this.options.multiple === "0" ) {
      this.options.multiple = 0
    }

    if ( this.options.allow_upload === "0" ) {
      this.options.allow_upload = 0
    }

    changeStateMultiple(e) {
    this.options.multiple = e.target.checked
    }
  </mtapp:ContentFieldOptionScript>

</mt:app:ContentFieldOptionGroup>
