<mt:app:ContentFieldOptionGroup
   type="asset_image">

  <mtapp:ContentFieldOption
     id="asset_image-multiple"
     label="<__trans phrase="Allow users to select multiple values?">">
    <input type="checkbox" class="mt-switch form-control" id="asset_image-multiple" /><label for="asset_image-multiple"><__trans phrase="Allow users to select multiple values?"></label>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-min_length"
     label="<__trans phrase="Minimum number of selection">">
    <input type="number" name="asset_image-min_length" id="asset_image-min" class="form-control" />
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-max_length"
     label="<__trans phrase="maximum number of selection">">
    <input type="number" name="asset_image-max_length" id="asset_image-max" class="form-control" />
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="asset_image-can_add"
     label="<__trans phrase="Allow users to update a new image asset?">">
    <input type="checkbox" class="mt-switch form-control" id="asset_image-can_upload" /><label for="asset_image-can_upload"><__trans phrase="Allow users to update a new image asset?"></label>
  </mtapp:ContentFieldOption>

</mt:app:ContentFieldOptionGroup>
