    <mtapp:setting
       id="<mt:var name="name">-category_set"
       label="<__trans phrase="Category set">">
      <input type="text" name="<mt:var name="name">-category_set" id="<mt:var name="name">-category_set" class="text med" />
    </mtapp:setting>
