<mt:app:ContentFieldOptionGroup
   type="date_only">

  <mtapp:ContentFieldOption
     id="date_only-initial-date_value"
     label="<__trans phrase="Initial Value">">
    <input ref="initial_value" type="text" name="initial_value" id="initial_value" class="form-control date-field w-25" value={ options.initial_value } placeholder="YYYY-MM-DD">
  </mtapp:ContentFieldOption>

</mt:app:ContentFieldOptionGroup>
