<mt:app:ContentFieldOptionGroup
   type="date_and_time">

  <mtapp:ContentFieldOption
     id="date_and_time-initial-date_value"
     label="<__trans phrase="Initial Value (Date)">">
    <input ref="initial_date" type="text" name="initial_date" id="date_and_time-initial_date" class="form-control date-field w-25" value={ options.initial_date } placeholder="YYYY-MM-DD">
  </mtapp:ContentFieldOption>
  
  <mtapp:ContentFieldOption
     id="date_and_time-initial-timevalue"
     label="<__trans phrase="Initial Value (Time)">">
    <input ref="initial_time" type="text" name="initial_time" id="date_and_time-initial_time" class="form-control time-field w-25" value={ options.initial_time } placeholder="HH:mm:ss">
  </mtapp:ContentFieldOption>
  
</mt:app:ContentFieldOptionGroup>
