<mt:app:ContentFieldOptionGroup
   type="number">

  <mtapp:ContentFieldOption
     id="number-min_value"
     label="<__trans phrase="Min Value">">
    <input type="text" name="number-min_value" id="number-min_value" class="form-control" />
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="number-max_value"
     label="<__trans phrase="Max Value">">
    <input type="text" name="number-max_value" id="number-max_value" class="form-control" />
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="number-decimal_places"
     label="<__trans phrase="Number of decimal places">">
    <input type="text" name="number-decimal_places" id="number-decimal_places" class="form-control" />
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
     id="number-initial_value"
     label="<__trans phrase="Initial Value">">
    <input type="text" name="number-initial_value" id="number-initial_value" class="form-control" />
  </mtapp:ContentFieldOption>

</mt:app:ContentFieldOptionGroup>
