<mt:app:ContentFieldOptionGroup
   type="url">

  <mtapp:ContentFieldOption
     id="url-initial_value"
     label="<__trans phrase="Initial Value">">
    <input type="text" name="initial_value" id="url-initial_value" class="form-control" />
  </mtapp:ContentFieldOption>

</mt:app:ContentFieldOptionGroup>
