    <mtapp:setting
       id="<mt:var name="name">-values"
       label="<__trans phrase="Values">">
      <input type="text" name="<mt:var name="name">-values" id="<mt:var name="name">-values" class="text med" />
    </mtapp:setting>
