/* Chromeless ------------------------------------------------------------ */
/* - Generic */
body {
    color: #2b2b2b;
    background-color: #f3f3f3;
    font-size: 13px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
.chromeless-wide { 
    background-color: #fff;
}

a { 
    color: #5c909b;
}
a:hover, 
a:active { 
    color: #839b5c;
    text-decoration: none;
}

ul li {
    list-style-type: disc;
    margin-left: 15px;
}

fieldset {
    margin: 0;
}

/* -- Hn */
h2 {
    font-weight: bold;
}
h3 {
    text-shadow: #fff 0 1px 0;
    margin-bottom: 20px;
}

#page-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

/* - Component */
.ready {
    font-weight: bold;
    color: #93b06b;
}

.note {
    clear: both;
    padding: 10px 0 10px 0;
}

.hint {
    margin-top: 3px;
    color: #7b7c7d;
}
.input-hint {
    color:#999;
}

/* - Field */
.field {
    margin-bottom: 20px;
}

#file-field .field-content, 
#file-field .field-content #file { 
    margin-top: 10px;
}

/* - Actions Bar */
.action-buttons {
    margin: 20px 0 15px;
}

.actions-bar {
    margin: 25px 0 0;
}

#container.show-actions-bar-top .actions-bar-top {
    display: block;
}
#container.show-actions-bar-bottom .actions-bar-bottom {
    display: block;
}

/* - Layout */
#container {
    position: relative;
    margin: 45px auto 30px;
    padding: 30px 30px 25px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* -- chromeless */
.chromeless #container {
    width: 550px;
}

/* -- sign-in */
.sign-in #container { 
    width: 320px;
}

/* -- chromeless-wide */
.chromeless-wide #container {
    min-width: 360px;
    width: auto;
    margin: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* - Header */
#header {
    background: transparent #fff;
}
#header .comment_signin_title {
    margin-left: 20px;
}



#brand {
    width: 250px;
    height: 38px;
    margin: 0 0 20px;
    font-size: 26px;
    background: #fff url(../images/chromeless/mt_logo.png) center no-repeat;
}

#brand span { 
    display: none;
}

#nav {
    position: absolute;
    top: 30px;
    right: 20px;
}

#nav .step {
    float: left;
    background: url('../images/chromeless/nav_off.png');
    height: 15px;
    width: 14px;
}

#nav .step_active {
    float: left;
    background: url('../images/chromeless/nav_on.png');
    height: 15px;
    width: 14px;
}

/* - Sign in Screen */
#sign-in #page-title { 
    display: none;
}
#sign-in .text { 
    font-size: 22px;
}
#sign-in .has-auth-icon input { 
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 3px center;
}
#forget-password { 
    float: right;
    margin: 0 0 3px;
}
#sign-up { 
    clear: both;
    margin: 20px 0 0;
    text-align: right;
}
.auth-option-info {
    margin-top: 20px;
    font-size: 90%;
}

/* -- Reset Password, Change Password */
#reset-password #container, 
#change-password #container { 
    width: 320px;
}

/* - Upgrade */
.upgrade .upgrade-process {
    position: relative;
    overflow: auto;
    margin: 10px 0;
    border: 1px solid #c0c6c9;
    padding: 10px;
    background-color: #fbfbfb;
    height: 200px;
}

.upgrade #progressbar { 
    margin: 25px 0 0;
}

/* - Profile */
ul#profile-data li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#profile_userpic-field .field-content label {
    display: block;
    margin-top: 5px;
}

.mt-profile-edit form {
    margin-bottom: .75em;
}

.custom-field-radio-list {
    margin-bottom: .25em;
}
.custom-field-radio-list li {
    list-style: none;
    margin-left: 0;
}

/* -- Start */
.mt-config-file-path {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    height: 2.75em;
    font-weight:bold;
}

/* -- System Check */
#packages-list dt { 
    margin-bottom: 5px;
}
#packages-list dd { 
    margin-bottom: 15px;
    color: #7B7C7D;
}
.module-name {
    font-weight: bold;
}
.module-name a {
    color: black;
    text-decoration: none;
}
.module-name a:hover {
    text-decoration: underline;
}
.module-description { 
    margin-bottom: 5px;
}

/* -- Database Setting */
#db_hint {
    margin-top: -10px;
    margin-bottom: 10px;
}
#db_hint p {
    margin-bottom: 3px;
}

/* - Publush */
/* -- Progress Bar */
.progressbar {
    height: 25px;
    border: 1px solid #c0c6c9;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.progressbar.indeterminate {
    background: #c0c6c9 url(../images/progress-bar-indeterminate.gif) repeat;
}
.ui-progressbar .ui-progressbar-value {
    height:100%;
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#58bee3), to(#32789e));
    background: -moz-linear-gradient(top, #58bee3, #32789e);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius: 5px 0 0 5px;
}

