/* - Modal Overlay */
.mt-dialog-overlay {
    display: none;
    z-index: 1001;
    width: 100%;
    min-width: 960px;
    height: 200%;
}

/* - Dialog Block */
.mt-dialog, 
.ui-dialog {
    position: relative;
    border: 1px solid #adadad;
    background-color: #f3f3f3;
    box-shadow: #2b2b2b 0 3px 10px;
    -webkit-box-shadow: #2b2b2b 0 3px 10px;
    -moz-box-shadow: #2b2b2b 0 3px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.mt-dialog {
    display: none;
    position: fixed;
    z-index: 1002;
    top: 30px;
    left: 50%;
    width: 680px;
    margin-left: -340px;
}

.mt-dialog span {
    display: none;
}


/* - Dialog Dontent */
/* -- Layout */
.dialog #container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
}


.mt-dialog img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
}

.dialog .progress {
    position: absolute;
    top: 1em;
    right: 0;
    line-height: 1;
}

.dialog .field-top-label {
    margin-bottom: .75em;
    border-bottom: none;
    padding-bottom: 0;
}

.dialog .field-top-label  .field-header {
    margin-bottom: .25em;
}

.dialog .view-site-link {
    float: right;
    margin: 4px 2px 0 4px;
}

.dialog .view-site-link img {
    background-image: url(../images/status_icons/view.gif);
}


/* - UI Dialog */
.ui-dialog-titlebar {
    padding: 10px;
}

.ui-dialog-buttonpane {
    padding: 1px 10px;
}

.ui-dialog-title {
    font-size: 125%;
}

.ui-dialog-titlebar-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    padding: 1px;
    background-image: url(../images/widget/widget-icons.png);
    background-position: -32px 0;
    background-repeat: no-repeat;
}

.save .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog-content {
    padding: 1px 10px 10px;
    overflow: auto;
}

.dialog .actions-bar {
    overflow: auto;
}
.dialog .actions-bar-bottom {
    margin: 50px 0 0;
}

/* - File Option */
#include_prefs {
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    border-radius: 5px;
    -moz-border-radius: 5px;    
}

#save_settings-field {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}


/* - Repry Comment */
.dialog #comments-form #comment {
    height: 120px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #c8c2be;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f3f3;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.dialog #comments-form #comment .comment-meta {
    color: #7b7c7d;
    margin-bottom: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #c8c2be;
}
.dialog #comments-form #comment .commenter-name,
.dialog #comments-form #comment .entry-title {
    font-weight: bold;
}

.dialog #comments-form #comment-reply-field {
    margin-bottom: 0;
}
.dialog #comments-form #comment-reply-field #comment-reply {
    width: 100%;
    height: 12em;
    background-color: #fff;
}
.dialog #comments-form #comment-preview #reply-body {
    height: 12em;
    padding: 8px;
    border: 1px solid #c8c2be;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.dialog #comments-form #comment-preview .intro { 
    color: #7b7c7d;
    display: block;
    font-weight: bold;
    margin-top: 3px;
}
.dialog #comments-form .asset-meta {
    margin-bottom: 8px;
}

.dialog #comments-form.preview #comment-reply-field {
    display: none;
}
.dialog #comments-form #comment-preview {
    display: none;
}
.dialog #comments-form.preview #comment-preview {
    display: block;
}
.dialog #comments-form.preview #preview-comment-action {
    display: none;
}
.dialog #comments-form #re-edit-comment-action {
    display: none;
}
.dialog #comments-form.preview #re-edit-comment-action {
    display: inline;
}
