/* Dialog */
body.has-dialog {
    overflow: hidden;
}

/* - Modal Overlay */
.mt-dialog-overlay {
    display: none;
    z-index: 2000;
    width: 100%;
    min-width: 960px;
    height: 200%;
}
#mt-dialog-iframe {
    border-radius: 3px;
}

/* - Dialog Block */
.mt-dialog,
.ui-dialog {
    position: absolute;
    border: 1px solid #c0c6c9;
    background-color: #fffffc;
    border-radius: 3px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
}
.mt-dialog {
    display: none;
    position: fixed;
    z-index: 2001;
    top: 30px;
    left: 50%;
    width: 680px;
    margin-left: -340px;
}
.mt-dialog span {
    display: none;
}

.dialog-screen .actions-bar-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: #fff;
  border-top: 1px solid #c0c6c9;
}

.ui-dialog.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/* - Dialog Content */
.dialog #container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

/* -- indicator */
.mt-dialog img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}
.dialog .progress {
    position: absolute;
    top: 1em;
    right: 0;
    line-height: 1;
}

.dialog .view-site-link {
    float: right;
    margin: 4px 2px 0 4px;
}
.dialog .view-site-link img {
    background-image: url(../images/status_icons/view.gif);
}

/* - UI Dialog */
.ui-dialog-titlebar {
    padding: 10px;
    line-height: 1.1;
}
.ui-dialog-buttonpane {
    padding: 1px 10px;
}
.ui-dialog-title {
    font-size: 125%;
}
.ui-dialog-titlebar-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    padding: 1px;
    background-image: url(../images/widget/widget-icons.png);
    background-position: -32px 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none transparent;
}
.alert .ui-dialog-titlebar-close,
.save .ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-titlebar-close span {
    display: none;
}
.ui-dialog-content {
    padding: 1px 10px 10px;
    overflow: auto;
}
.dialog .actions-bar {
    margin: 50px 0 0;
}
.listing-panel-options {
    margin-bottom: 50px;
}

/* - File Option */
#include_prefs {
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    border-radius: 3px;
}
#save_settings-field {
    background-color: #fff;
    margin: 10px 0 0;
    padding: 10px;
}
#alignment li {
    display: inline;
}

/* - Repry Comment */
.dialog #comments-form #comment {
    height: 120px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #c8c2be;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f3f3f3;
    border-radius: 2px;
}
.dialog #comments-form #comment .comment-meta {
    color: #7b7c7d;
    margin-bottom: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #c8c2be;
}
.dialog #comments-form #comment .commenter-name,
.dialog #comments-form #comment .entry-title {
    font-weight: bold;
}
.dialog #comments-form #comment-reply-field #comment-reply {
    margin-bottom: 30px;
}
