/* - Fields */
fieldset { 
    margin-bottom: 3em;
}
.field {
    overflow: hidden;
    padding: 0;
    margin: 0 0 15px;
}
.field-left-label .field-header {
    float: left;
    width: 11em;
    margin-left: 1em;
    padding: 0.5em 0;
    text-align: right;
}
.field-left-label .field-content {
    margin-left: 13.5em;
    padding: 0.5em 0;
}
.field-top-label .field-header {
    margin-bottom: 5px;
}
.field-top-label .field-header label {
    vertical-align: baseline;
}
.field-top-label .field-content {
    margin: 3px;
}
.field-inline, 
.field-inline .field-header, 
.field-inline .field-content { 
    display: inline;
}
.field-inline { 
    margin-right: 10px;
}
.field-content-text {
    padding-top: 5px;
}
.field-no-header .field-header {
    display: none;
}
.field-no-header .field-content {
    margin-left: 0;
}
.field .hint {
    margin: 5px 0 0;
    font-size: 90%;
}
.field-top-label .hint {
    width: 100%;
}

/* - Input */
.text {
    width: 75%;
    padding: 0.2em 0.25em;
    outline: 0;
    border: 1px solid #dcdddd;
    border-top-color: #adadad;
    border-left-color: #adadad;
    background-color: #fbfbfb;
    font-size: 13px;
    vertical-align: middle;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.edit-screen .text {
    width: 100%;
}
.text.short,
.text.password {
    width: 180px;
}
.text.med {
    width: 50%;
}
.text.full {
    width: 100%;
    max-width: 100%;
}
.text.number, 
.text.num, 
.text.days {
    width: 4em;
    text-align: center;
}
.text.date {
    width: 7.5em;
}
.text.time,
.text.min {
    width: 5.5em;
}
.text.datetime {
    width: 10em;
}
.text.path {
    width: 12em;
    margin: 0 0.2em;
}
.text.low {
    height: 5em;
    overflow:auto;
}
.text.high {
    height: 12em;
    overflow:auto;
}
.text.query {
    font-size: 150%;
}
.text.title {
    font-size: 200%;
}
.text.error {
    border-color: #c53d43;
    background-color: #f2b1b1;
}
.text:focus {
    background-color: #fff;
    outline: 0;
}
.text.disabled {
    border-color: #dcdddd;
    background-color: #f3f3f3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.text.readonly { 
    border-color: #dcdddd;
    background-color: #f3f3f3 ! important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select { 
    height: 1.9em;
    border: 1px solid #c0c6c9;
    font-size: 12px;
    box-shadow: 0 1px 0 #f3f3f3;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.col select {
    width: 100%;
}
select.error {
    border-color: #c53d43 ! important;
}

/* -- Batch Edit */
#notification-listing-table input[type="text"], 
.batch-edit input[type="text"] { 
    width: 100%;
}

#notification-listing-table .url input[type="text"] { 
    width: 60%;
}

/* - Button */ 
.button { 
    cursor: pointer;
    overflow: visible;
    display: inline-block;
    outline: none;
    margin-right: 5px;
    padding: 3px 0.5em;
    border: 1px solid #c0c6c9;
    line-height: 1.2;
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);
    color: #2b2b2b;
    font-size: 12px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 0 #f3f3f3;
    
}
.button:hover {
    border-color: #7b7c7d;
    color: #2b2b2b;
    background-color: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));
    background: -moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);
}
.button:active {
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));
    background: -moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);
}

/* -- Large Button */
.button.action {
    padding: 0.25em 0.8em 0.2em;
    border-color: #7b7c7d;
    background-color: #adadad;
    background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#7b7c7d));
    background: -moz-linear-gradient(top, #adadad 0%, #7b7c7d 100%);
    color: #fffffc;
    text-shadow: #383c3c 1px 1px 1px;
    font-size: 14px;
    font-weight: bold;
}
.button.action:hover {
    border-color: #595857;  
    background-color: #bababa;
    background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#88898a));
    background: -moz-linear-gradient(top, #bababa 0%, #88898a 100%);
}
.button.action:active {
    background-color: #7d7c7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#7d7c7d), to(#adadad));
    background: -moz-linear-gradient(top, #7d7c7d 0%, #adadad 100%);
}

/* -- Primary Button */
.button.primary {
    border-color: #165e83;
    background-color: #2a83a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#2a83a2), to(#165e83));
    background: -moz-linear-gradient(top, #2a83a2 0%, #165e83 100%);
}
.button.primary:hover {
    border-color: #274a78;
    background-color: #2f93b6;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f93b6), to(#1a6e99));
    background: -moz-linear-gradient(top, #2f93b6 0%, #1a6e99 100%);
}
.button.primary:active {
    background-color: #165e83;
    background: -webkit-gradient(linear, left top, left bottom, from(#165e83), to(#2a83a2));
    background: -moz-linear-gradient(top, #165e83 0%, #2a83a2 100%);
}

/* -- Disable Button */
.button.disabled, 
.button.action.disabled, 
.button.primary.disabled {
    border-color: #c0c6c9 ! important;
    cursor: default ! important;
    background: #f3f3f3 ! important;
    text-shadow: none ! important;
    -webkit-box-shadow: none ! important;
    -moz-box-shadow: none ! important;
    box-shadow: none ! important;
}

/* -- Edit Field Button */
.mt-edit-field-button {
    margin-left: 0.5em;
}

/* Inline Editor Button */
.inline-editor .button, 
.inline-editor .ui-button {
    margin: 0 0 0 5px;
}

/* -- Split Button */
.split .button {
    float: left;
    min-width: 5.5em;
    height: 22px;
    margin: 0;
    padding: 0 0.6em;
    line-height: 22px;
    font-size: 13px;
    font-weight: bold;
    -moz-border-radius: 3px 0 0 3px;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
}
.split .toggle-button {
    display: block;
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 3px;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}
.split .detail {
    display: none;
    width: 99%;
    font-size: 90%;
}

.ui-helper-hidden-accessible {
    position: absolute;
}

#alignment .ui-button {
    width: 50px;
    margin: 0;
}