/* - Fields */
fieldset { 
    margin-bottom: 3em;
}
.field {
    padding: 0;
    margin: 0 0 15px;
}
.field-left-label .field-header {
    float: left;
    width: 12em;
    margin-left: 0.8em;
    padding: 0.62em 0;
    text-align: right;
}
.field-left-label .field-content {
    margin-left: 14em;
    padding: 0.5em 0;
}
.field-top-label .field-header {
    margin-bottom: 5px;
}
.field-top-label .field-header label {
    vertical-align: baseline;
}
.field-top-label .field-content {
    margin: 3px;
}
.field-inline,
.field-inline .field-header,
.field-inline .field-content {
    display: inline;
}
.field-inline {
    margin-right: 10px;
}
.field-content-text {
    padding-top: 5px;
}
.field-no-header .field-header {
    display: none;
}
.field-no-header .field-content {
    margin-left: 0;
}
.field .hint {
    margin: 5px 0 0;
    font-size: 90%;
}
.field-top-label .hint {
    width: 100%;
}

input,
select,
textarea,
button,
.button {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input {
    padding: 0 0.25em;
}
textarea {
    padding: 0.2em 0.25em;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}
.text,
.button {
    height: 1.75em;
    line-height: normal;
}
.text::-moz-focus-inner,
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* - Input */
.text {
    width: 75%;
    outline: 0;
    border: 1px solid #adadad;
    border-top-color: #a3a3a2;
    line-height: 1.3;
    background-color: #ffffff;
    border-radius: 2px;
}
.text.short,
.text.password {
    width: 180px;
}
.text.med {
    width: 50%;
}
.text.full {
    width: 100%;
    max-width: 100%;
}
.text.number,
.text.num,
.text.days {
    width: 4em;
    text-align: center;
}
.text.date {
    width: 7.5em;
}
.text.time,
.text.min {
    width: 5.5em;
}
.text.datetime {
    width: 10em;
}
.text.path {
    width: 12em;
    margin: 0 0.2em;
}
.text.low {
    min-height: 5em;
}
.text.high {
    min-height: 12em;
}
.text.query {
    font-size: 150%;
}
.text.title {
    font-size: 200%;
    line-height: 1.2;
}
.text.error {
    border-color: #c53d43;
    background-color: #f2b1b1;
}
.text:hover,
.text:focus {
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.text:hover {
    border-color: #a0a0a0;
}
.text:focus {
    outline: 0;
    border-color: #2a83a2;
}
.text.disabled,
.text[disabled],
.text.readonly,
.text[readonly] {
    border-color: #dcdddd;
    background-color: #f3f3f3 ! important;
    box-shadow: none;
}
.text.disabled,
.text[disabled] {
    color: #9ea1a3;
}

.text::-webkit-input-placeholder {
    line-height: 1.1;
}

select {
    height: 1.75em;
    border: 1px solid #c0c6c9;
    font-size: 12px;
    box-shadow: 0 1px 0 #f3f3f3;
    white-space: nowrap;
}
.col select {
    width: 100%;
}
select.error {
    border-color: #c53d43 ! important;
}

/* -- Batch Edit */
#notification-listing-table input[type="text"],
.batch-edit input[type="text"] {
    width: 100%;
}

#notification-listing-table .url input[type="text"] {
    width: 60%;
}

/* - Button */ 
.button {
    cursor: pointer;
    overflow: visible;
    display: inline-block;
    outline: none;
    margin-right: 5px;
    padding: 0 0.5em;
    border: 1px solid #c0c6c9;
    line-height: 1.75em;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f3f3f3, #dcdddd);
    background-image: -webkit-linear-gradient(#f3f3f3, #dcdddd);
    background-image: linear-gradient(#f3f3f3, #dcdddd);
    color: #2b2b2b;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}
.button:hover {
    border-color: #adadad;
    color: #2b2b2b;
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
}
.button:active {
    background-color: #dcdddd;
    background-image: -moz-linear-gradient(#dcdddd, #f3f3f3);
    background-image: -webkit-linear-gradient(#dcdddd, #f3f3f3);
    background-image: linear-gradient(#dcdddd, #f3f3f3);
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* -- Large Button */
.button.action {
    padding: 0 0.8em;
    border-color: #7b7c7d;
    line-height: 0.75em;
    background-color: #adadad;
    background-image: -moz-linear-gradient(#adadad, #7b7c7d);
    background-image: -webkit-linear-gradient(#adadad, #7b7c7d);
    background-image: linear-gradient(#adadad, #7b7c7d);
    color: #fffffc;
    text-shadow: 1px 1px 1px #383c3c;
    font-size: 14px;
    font-weight: bold;
}
.button.action:hover {
    border-color: #595857;
    background-color: #bababa;
    background-image: -moz-linear-gradient(#bababa, #88898a);
    background-image: -webkit-linear-gradient(#bababa, #88898a);
    background-image: linear-gradient(#bababa, #88898a);
    box-shadow: none;
}
.button.action:active {
    background-color: #7d7c7d;
    background-image: -moz-linear-gradient(#7b7c7d, #adadad);
    background-image: -webkit-linear-gradient(#7b7c7d, #adadad);
    background-image: linear-gradient(#7b7c7d, #adadad);
}

/* -- Primary Button */
.button.primary {
    border-color: #165e83;
    background-color: #2a83a2;
    background-image: -moz-linear-gradient(#2a83a2, #165e83);
    background-image: -webkit-linear-gradient(#2a83a2, #165e83);
    background-image: linear-gradient(#2a83a2, #165e83);
}
.button.primary:hover {
    border-color: #274a78;
    background-color: #2f93b6;
    background-image: -moz-linear-gradient(#2f93b6, #1a6e99);
    background-image: -webkit-linear-gradient(#2f93b6, #1a6e99);
    background-image: linear-gradient(#2f93b6, #1a6e99);
}
.button.primary:active {
    background-color: #165e83;
    background-image: -moz-linear-gradient(#165e83, #2a83a2);
    background-image: -webkit-linear-gradient(#165e83, #2a83a2);
    background-image: linear-gradient(#165e83, #2a83a2);
}

/* -- Disable Button */
.button.disabled,
.button.action.disabled,
.button.primary.disabled {
    border-color: #c0c6c9 ! important;
    cursor: default ! important;
    background: #f3f3f3 ! important;
    text-shadow: none ! important;
    box-shadow: none ! important;
}

/* -- Edit Field Button */
.mt-edit-field-button {
    margin-left: 0.5em;
}

/* Inline Editor Button */
.inline-editor .button,
.inline-editor .ui-button {
    margin: 0 0 0 5px;
}

/* -- Split Button */
.split .button {
    float: left;
    height: 22px;
    margin: 0;
    font-size: 13px;
}
.split .action {
    min-width: 5.5em;
    border-radius: 2px 0 0 2px;
    line-height: 1.75em;
}
.split .toggle-button {
    position: relative;
    width: 22px;
    padding: 0;
    border-radius: 0 2px 2px 0;
}
.split .button:hover {
    box-shadow: none;
}
.split .detail {
    display: none;
    width: 100%;
    font-size: 90%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-helper-hidden-accessible {
    position: absolute;
}

#alignment .ui-button {
    width: 50px;
    margin: 0;
}

/* - Clearfix */
.field {
    zoom: 1;
}
.field:before,
.field:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
}
.field:after {
    clear: both;
}

