/* Style for Form Element */

/* - Input */
.text {
    width: 75%;
    padding: 0.2em 0.25em;
    outline: 0;
    border: 1px solid #dcdddd;
    border-top-color: #adadad;
    border-left-color: #adadad;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fbfbfb;
    font-size: 13px;
    vertical-align: middle;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.edit-screen .text {
    width: 100%;
}
.short,
.password {
    width: 200px;
}
.med {
    width: 50%;
}
.full {
    width: 100%;
    max-width: 100%;
}
.text.num, 
.text.days {
    width: 4em;
    text-align: center;
}
.text.date {
    width: 7.5em;
}
.text.time,
.text.min {
    width: 5.5em;
}
.text.datetime {
    width: 10em;
}
.text.path {
    width: 12em;
    margin: 0 0.2em;
}
.text.low {
    height: 5em;
    overflow:auto;
}
.text.high {
    height: 12em;
    overflow:auto;
}
.text.query {
    font-size: 150%;
}
.text.title {
    font-size: 200%;
}
.readonly { 
    background-color: #dcdddd ! important;
    color: #7b7c7d;
}

.text:focus {
    background-color: #fff;
    outline: 0;
}

.text.disabled {
    border-color: #dcdddd;
    background-color: #f3f3f3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select { 
    height: 1.9em;
    border: 1px solid #adadad;
    font-size: 12px;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.col select {
    width: 100%;
}

#notification-listing-table input[type="text"], 
.batch-edit input[type="text"] { 
    width: 100%;
}

#notification-listing-table .url input[type="text"] { 
    width: 60%;
}

/* - Button */ 
.button { 
    line-height: 1.3;
    overflow: visible;
    display: inline-block;
    position: relative;
    outline: none;
    margin-right: 5px;
    padding: 3px 0.5em 2px;
    border: 1px solid #adadad;
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));
    background: -moz-linear-gradient(top, #f3f3f3, #dcdddd);
    color: #2b2b2b;
    font-size: 12px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
}
.button:hover {
    border-color: #7b7c7d;
    color: inherit;
    background-color: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));
    background: -moz-linear-gradient(top, #fafafa, #e9eaea);
}
.button:active {
    background-color: #dcdddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));
    background: -moz-linear-gradient(top, #dcdddd, #f3f3f3);
}

/* -- Large Button */
.button.action {
    padding: 0.25em 0.8em 0.2em;
    border-color: #7b7c7d;
    background-color: #adadad;
    background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#7b7c7d));
    background: -moz-linear-gradient(top, #adadad, #7b7c7d);
    color: #fffffc;
    text-shadow: #383c3c 1px 1px 1px;
    font-size: 14px;
    font-weight: bold;
}
.button.action:hover {
    border-color: #595857;  
    background-color: #bababa;
    background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#88898a));
    background: -moz-linear-gradient(top, #bababa, #88898a);
}
.button.action:active {
    background-color: #7d7c7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#7d7c7d), to(#adadad));
    background: -moz-linear-gradient(top, #7d7c7d, #adadad);
}

/* -- Primary Button */
.button.primary {
    border-color: #165e83;
    background-color: #2a83a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#2a83a2), to(#165e83));
    background: -moz-linear-gradient(top, #2a83a2, #165e83);
}
.button.primary:hover {
    border-color: #274a78;
    background-color: #2f93b6;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f93b6), to(#1a6e99));
    background: -moz-linear-gradient(top, #2f93b6, #1a6e99);
}
.button.primary:active {
    background-color: #165e83;
    background: -webkit-gradient(linear, left top, left bottom, from(#165e83), to(#2a83a2));
    background: -moz-linear-gradient(top, #165e83, #2a83a2);
}

/* -- Disable Button */
.button.disabled, 
.button.action.disabled, 
.button.primary.disabled {
    border-color: #c0c6c9 ! important;
    cursor: default ! important;
    background: #f3f3f3 ! important;
    color: #c0c6c9 ! important;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* -- Edit Field Button */
.mt-edit-field-button {
    margin-left: 0.5em;
}

/* Inline Editor Button */
.inline-editor .button, 
.inline-editor .ui-button {
    margin: 0 0 0 5px;
}

/* -- Split Button */
.split .action.button {
    float: left;
    line-height: 16px;
    margin: 0;
    padding: 0.2em 0.6em;
    font-size: 13px;
    font-weight: bold;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    -moz-border-radius: 3px 0 0 3px;
}
.split .action.toggle-button {
    width: 16px;
    height: 16px;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-radius: 3px;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    -moz-border-radius: 0 3px 3px 0;
}
.split .detail {
    display: none;
    width: 99%;
}

.ui-helper-hidden-accessible {
    position: absolute;
}

#alignment li {
    display: inline;
}
#alignment .ui-button {
    width: 50px;
    margin: 0;
}

.ui-button-icon-only .ui-button-text {
    display: none;
}