/*
## 標準アイコン

MT で活用されているアイコンは 14x14 標準的なアイコンです。
HTML要素は限定していませんが、左側にアイコンを配置したい場合は .icon-left-wide を追記してください。

```
<table style="width:90%">
<tr>
<td><p class="icon-delete icon-left-wide">削除 <code>.icon-delete</code></p></td>
<td><p class="icon-plus icon-left-wide">プラス <code>.icon-plus</code></p></td>
<td><p class="icon-minus icon-left-wide">マイナス <code>.icon-minus</code></p></td>
<td><p class="icon-remove icon-left-wide">取り除く <code>.icon-remove</code></p></td>
</tr>
</table>
```
*/

.icon16 {
    display: inline-block;
    width: 16px;
    height: 0px;
    padding-top: 16px;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-delete {
    background-image: url(../images/status_icons/icon-delete.png);
}
.icon-plus {
    background-image: url(../images/status_icons/icon-plus.png);
}
.icon-minus {
    background-image: url(../images/status_icons/icon-minus.png);
}
.icon-remove {
    background-image: url(../images/status_icons/icon-remove.png);
}

/*
## アクションアイコン

ラベルがないアクションを促すアイコンを作りたいときに .action-icon と .icon16 を追記します。
&gt;a&lt;ようなインラインタグでも使用することができます。

```
<table style="width:90%">
<tr>
<td><a class="icon-delete icon16 action-icon">削除</a></td>
<td><a class="icon-plus icon16 action-icon">プラス</a></td>
<td><a class="icon-minus icon16 action-icon">マイナス</a></td>
<td><a class="icon-remove icon16 action-icon">取り除く</a></td>
</tr>
</table>
```
*/

.action-icon {
    border-radius: 8px;
    -moz-border-radius: 8px;
    vertical-align: middle;
}
.action-icon:hover {
    background-color: #c0c6c9;
}


/*
## アイコンの配置

クラス名を変更するだけで様々な大きさのアイコンを好きな場所に配置することができます。

- 左側（小アイコン）.icon-left-mini
- 右側（小アイコン）.icon-right-mini
- 左側（中アイコン）.icon-left
- 右側（中アイコン）.icon-right
- 左側（大アイコン）.icon-left-wide
- 右側（大アイコン）.icon-right-wide
- 左側（特大アイコン）.icon-left-xwide
- 右側（特大アイコン）.icon-right-xwide

```
<ul>
<li><span class="icon-success icon-mini-left">成功</span></li>
<li><span class="icon-success icon-mini-right">成功</span></li>
<li><span class="icon-feed icon-left">フィード</span></li>
<li><span class="icon-feed icon-right">フィード</span></li>
<li><span class="icon-delete icon-left-wide">削除</span></li>
<li><span class="icon-delete icon-right-wide">削除</span></li>
<li class="edit-template"><span class="website-tmpl icon-left-xwide">ウェブサイト</span></li>
<li class="edit-template"><span class="website-tmpl icon-right-xwide">削除</span></li>
</ul>
```
*/
.icon-left {
    padding-left: 14px;
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-right {
    padding-right: 14px;
    background-repeat: no-repeat;
    background-position: right center;
}
.icon-mini-left {
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-mini-right {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}
.icon-left-wide {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-right-wide {
    padding-right: 18px;
    background-repeat: no-repeat;
    background-position: right center;
}
.icon-left-xwide {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-right-xwide {
    padding-right: 22px;
    background-repeat: no-repeat;
    background-position: right center;
}

/*
## ステータスアイコン

ステータスアイコンは 9x9 の小さなアイコンです。テキストに添えて表示させることを前提としています。
HTML要素は限定していませんが、左側にアイコンを配置したい場合は .icon-left を追記してください。

```
<table style="width:90%">
<tr>
<td><p class="icon-batch icon-left">バッチ作業 <code>.icon-batch</code></p></td>
<td><p class="icon-feed icon-left">フィード <code>.icon-feed</code></p></td>
<td><p class="icon-feed-disabled icon-left">フィード（利用不可） <code>.icon-feed-disabled</code></p></td>
</tr>
<tr>
<td><p class="icon-download icon-left">ダウンロード <code>.icon-download</code></p></td>
<td><p class="icon-move icon-left">移動 <code>.icon-move</code></p></td>
<td><p class="icon-create icon-left">作成 <code>.icon-create</code></p></td>
</tr>
<tr>
<td><p class="icon-create-disabled icon-left">作成（不可） <code>.icon-create-disabled</code></p></td>
<td><p class="icon-success icon-left">成功 <code>.icon-success</code></p></td>
<td><p class="icon-error icon-left">エラー <code>.icon-error</code></p></td>
</tr>
<tr>
<td><p class="icon-neutral icon-left">ニュートラル <code>.icon-nautral</code></p></td>
<td><p class="icon-warning icon-left">警告 <code>.icon-warning</code></p></td>
<td><p class="icon-trusted icon-left">信用できるユーザー <code>.icon-trusted</code></p></td>
</tr>
<tr>
<td><p class="icon-banned icon-left">禁止ユーザー <code>.icon-banned</code></p></td>
<td><p class="icon-authenticated icon-left">承認済ユーザー <code>.icon-authenticated</code></p></td>
<td><p class="icon-related icon-left">関連 <code>.icon-related</code></p></td>
</tr>
<tr>
<td><p class="icon-publish icon-left">公開 <code>.icon-publish</code></p></td>
<td><p class="icon-draft icon-left">下書き <code>.icon-draft</code></p></td>
<td><p class="icon-future icon-left">予定・予約 <code>.icon-spam</code></p></td>
</tr>
<tr>
<td><p class="icon-pending icon-left">承認待ち <code>.icon-pending</code></p></td>
<td><p class="icon-share icon-left">共有 <code>.icon-share</code></p></td>
<td><p class="icon-spam icon-left">スパム <code>.icon-spam</code></p></td>
</tr>
</table>

```
*/
.addnew { background-image: url(../images/status_icons/create.gif); }
.icon-batch { background-image: url(../images/status_icons/batch.gif); }
.icon-feed { background-image: url(../images/status_icons/feed.gif); }
.icon-download { background-image: url(../images/status_icons/download.gif); }
.icon-feed-disabled { background-image: url(../images/status_icons/feed-disabled.gif); }
.icon-move { background-image: url(../images/status_icons/move.gif); }
.icon-create { background-image: url(../images/status_icons/create.gif); }
.icon-create-disabled { background-image: url(../images/status_icons/create-disabled.gif); }
.icon-error { background-image: url(../images/status_icons/error.gif); }
.icon-success { background-image: url(../images/status_icons/success.gif); }
.icon-neutral { background-image: url(../images/status_icons/neutral.gif); }
.icon-warning { background-image: url(../images/status_icons/warning.gif); }
.icon-trusted { background-image: url(../images/status_icons/trusted.gif); }
.icon-banned { background-image: url(../images/status_icons/banned.gif); }
.icon-authenticated { background-image: url(../images/status_icons/authenticated.gif); }
.icon-related { background-image: url(../images/status_icons/related.gif); }
.icon-publish { background-image: url(../images/status_icons/success.gif); }
.icon-draft { background-image: url(../images/status_icons/draft.gif); }
.icon-future { background-image: url(../images/status_icons/future.gif); }
.icon-pending { background-image: url(../images/status_icons/warning.gif); }
.icon-share { background-image: url(../images/status_icons/share.gif);}
.icon-spam { background-image: url(../images/status_icons/warning.gif); }
.icon-unpublish { background-image: url(../images/status_icons/unpublished.gif); }


/*
## テンプレート関連

アイコンの中には <code>.edit-template</code> が親要素に記述されている必要があるので注意してください。

```
<table>
<tr>
<td><p class="icon-spinner icon-left">矢印 <code>.icon-spinner</code></p></td>
<td class="active"><p class="icon-spinner icon-left">矢印（開） <code>.icon-spinner</code></p></td>
</tr>
<tr>
<td class="edit-template"><p class="global-tmpl icon-left-wide">グローバルテンプレート <code>.global-tmpl</code></p></td>
<td class="edit-template"><p class="website-tmpl icon-left-wide">Webサイトテンプレート <code>.website-tmpl</code></p></td>
</tr>
<tr>
<td class="edit-template"><p class="blog-tmpl icon-left-wide">ブログテンプレート <code>.blog-tmpl</code></p></td>
<td class="edit-template"><p class="global-tmpl error icon-left-wide">グローバルテンプレート エラー <code>.global-tmpl.error</code></p></td>
</tr>
<tr>
<td class="edit-template"><p class="error-tmpl error icon-left-wide">エラーテンプレート <code>.error-tmpl.error</code></p></td>
<td class="edit-template"><p class="blog-tmpl error icon-left-wide">ブログテンプレート エラー <code>.blog-tmpl.error</code></p></td>
</tr>
</table>
```

*/
.icon-spinner { background-image: url(../images/arrow/spinner-right.png); }
.active .icon-spinner { background-image: url(../images/arrow/spinner-bottom.png); }

.edit-template .global-tmpl { background-image: url(../images/template/global.png); }
.edit-template .website-tmpl { background-image: url(../images/template/website.png); }
.edit-template .blog-tmpl { background-image: url(../images/template/blog.png); }
.edit-template .global-tmpl.error { background-image: url(../images/template/global-error.png); }
.edit-template .error-tmpl.error { background-image: url(../images/template/global-error.png); }
.edit-template .website-tmpl.error { background-image: url(../images/template/website-error.png); }
.edit-template .blog-tmpl.error { background-image: url(../images/template/blog-error.png); }


/*
## ステータスウィジェット関連

```
<table class="edit-entry">
<tr>
<td class="stats-widget"><p class="icon-success icon-left">成功 <code>.icon-success</code></p></td>
<td class="stats-widget"><p class="icon-view icon-left">ビュー（開） <code>.icon-view</code></p></td>
<td class="stats-widget"><p class="icon-draft icon-left">下書き（開） <code>.icon-draft</code></p></td>
</tr>
<tr>
<td class="stats-widget"><p class="icon-future icon-left">予約 <code>.icon-future</code></p></td>
<td class="stats-widget"><p class="icon-pending icon-left">ペンディング（開） <code>.icon-pending</code></p></td>
<td class="stats-widget"><p class="icon-spam icon-left">スパム（開） <code>.icon-spam</code></p></td>
</tr>
</table>
```
*/

.edit-entry .stats-widget .icon-success { background-image: url(../images/status_icons/success-k.gif); }
.edit-entry .stats-widget .icon-view { background-image: url(../images/status_icons/view-k.gif); }
.edit-entry .stats-widget .icon-draft { background-image: url(../images/status_icons/draft-k.gif); }
.edit-entry .stats-widget .icon-future { background-image: url(../images/status_icons/future-k.gif); }
.edit-entry .stats-widget .icon-pending { background-image: url(../images/status_icons/warning-k.gif); }
.edit-entry .stats-widget .icon-spam { background-image: url(../images/status_icons/warning-k.gif); }

/*
## その他のアイコン

```
<table>
<tr>
<td><p class="icon-plugins icon-left-wide">プラグイン <code>.icon-plugins</code></p></td>
<td><p class="icon-search icon-left-wide">検索 <code>.icon-search</code></p></td>
<td><p class="icon-trackbacks icon-left-wide">トラックバック <code>.icon-trackbacks</code></p></td>
<td><p class="icon-comments icon-left-wide">コメント <code>.icon-comments</code></p></td>
</tr>
<tr>
<td><p class="icon-log icon-left-wide">ログ <code>.icon-log</code></p></td>
<td><p class="icon-import icon-left-wide">読み込み <code>.icon-import</code></p></td>
<td><p class="icon-settings icon-left-wide">設定 <code>.icon-settings</code></p></td>
<td><p class="icon-entry icon-left-wide">記事 <code>.icon-entry</code></p></td>
</tr>
<tr>
<td><p class="icon-page icon-left-wide">ページ <code>.icon-page</code></p></td>
<td><p class="icon-user icon-left-wide">ユーザー <code>.icon-user</code></p></td>
<td><p class="icon-group icon-left-wide">グループ <code>.icon-group</code></p></td>
<td><p class="icon-align-none icon-left-wide">寄せなし <code>.icon-align-none</code></p></td>
</tr>
<tr>
<td><p class="icon-align-left icon-left-wide">左寄せ <code>.icon-align-left</code></p></td>
<td><p class="icon-align-center icon-left-wide">中央寄せ <code>.icon-align-center</code></p></td>
<td><p class="icon-align-right icon-left-wide">右寄せ <code>.icon-align-right</code></p></td>
<td></td>
</tr>
<tr>
<td><p class="icon-plugin-action icon-left-wide">プラグインアクション <code>.icon-plugin-action</code></p></td>
<td><p class="icon-action icon-left-wide">アクション <code>.icon-action</code></p></td>
<td class="action-link-list"><p class="icon-action icon-left-wide">アクション <code>.icon-action</code></p></td>
</tr>
</table>
```
*/
.icon-plugins { background-image: url(../images/nav_icons/color/plugins.gif); }
.icon-search { background-image: url(../images/nav_icons/color/search.gif); }
.icon-trackbacks { background-image: url(../images/nav_icons/color/trackbacks.gif); }
.icon-comments { background-image: url(../images/nav_icons/color/comments.gif); }
.icon-log { background-image: url(../images/nav_icons/color/log.gif); }
.icon-import { background-image: url(../images/nav_icons/color/import.gif); }
.icon-settings { background-image: url(../images/nav_icons/color/settings.gif); }
.icon-entry { background-image: url(../images/nav_icons/color/entry.gif); }
.icon-page { background-image: url(../images/nav_icons/color/page.gif); }

.icon-user { background-image: url(../images/nav_icons/color/user.gif); }
.icon-group { background-image: url(../images/nav_icons/color/group.gif); }

.icon-align { background-position: left top; }
.icon-align-none { background-image: url(../images/align_none.gif); }
.icon-align-left { background-image: url(../images/align_left.gif); }
.icon-align-center { background-image: url(../images/align_center.gif); }
.icon-align-right { background-image: url(../images/align_right.gif); }

.icon-plugin-action {
    background-image: url(../images/plugin-bullet.gif);
}
.icon-action {
    background-image: url(../images/action-bullet.gif);
}
.action-link-list .icon-action {
    background-image: url(../images/status_icons/action.png);
}

/*
## その他のミニアイコン

```
<table>
<tr>
<td><p class="icon-mini-view-site icon-left">サイト観覧 <code>.icon-mini-view-site</code></p></td>
<td><p class="icon-mini-settings icon-left">設定 <code>.icon-mini-settings</code></p></td>
<td><p class="icon-mini-delete icon-left">削除 <code>.icon-mini-delete</code></p></td>
<td><p class="icon-mini-rebuild icon-left">再構築 <code>.icon-mini-rebuild</code></p></td>
</tr>
<tr>
<td><p class="icon-mini-dashboard icon-left">ダッシュボード <code>.icon-mini-dashboard</code></p></td>
<td><p class="icon-mini-templates icon-left">テンプレート <code>.icon-mini-templates</code></p></td>
<td><p class="icon-mini-comments icon-left">コメント <code>.icon-mini-comments</code></p></td>
<td><p class="icon-mini-docs icon-left">文書 <code>.icon-mini-docs</code></p></td>
</tr>
<tr>
<td><p class="icon-mini-trackbacks icon-left">トラックバック <code>.icon-mini-trackbacks</code></p></td>
<td><p class="icon-mini-entries icon-left">記事 <code>.icon-mini-entries</code></p></td>
<td><p class="icon-mini-new-entry icon-left">新規記事 <code>.icon-mini-new-entry</code></p></td>
<td><p class="icon-mini-pages icon-left">ページ <code>.icon-mini-pages</code></p></td>
</tr>
<tr>
<td><p class="icon-mini-new-page icon-left">新規ページ <code>.icon-mini-new-page</code></p></td>
<td><p class="icon-mini-assets icon-left">アセット <code>.icon-mini-assets</code></p></td>
<td><p class="icon-mini-new-asset icon-left">新規アセット <code>.icon-mini-new-asset</code></p></td>
<td></td>
</tr>
</table>
```
*/
.icon-mini-view-site    { background-image: url(../images/nav_icons/mini/view-site.gif); }
.icon-mini-settings     { background-image: url(../images/nav_icons/mini/settings.gif); }
.icon-mini-delete       { background-image: url(../images/nav_icons/mini/delete.gif); }
.icon-mini-rebuild      { background-image: url(../images/nav_icons/mini/rebuild.gif); }
.icon-mini-dashboard    { background-image: url(../images/nav_icons/mini/dashboard.gif); }
.icon-mini-templates    { background-image: url(../images/nav_icons/mini/templates.gif); }
.icon-mini-comments     { background-image: url(../images/nav_icons/mini/comments.gif); }
.icon-mini-docs         { background-image: url(../images/nav_icons/mini/docs.gif); }
.icon-mini-trackbacks   { background-image: url(../images/nav_icons/mini/trackbacks.gif); }
.icon-mini-entries      { background-image: url(../images/nav_icons/mini/entries.gif); }
.icon-mini-new-entry    { background-image: url(../images/nav_icons/mini/entry-new.gif); }
.icon-mini-pages        { background-image: url(../images/nav_icons/mini/pages.gif); }
.icon-mini-new-page     { background-image: url(../images/nav_icons/mini/page-new.gif); }
.icon-mini-assets       { background-image: url(../images/nav_icons/mini/assets.png); }
.icon-mini-new-asset    { background-image: url(../images/nav_icons/mini/asset-new.gif); }
.icon-mini-delete span  { display: none; }

.si img,
.view img  {
    background-repeat: no-repeat;
    background-position: center;
}

.listing .status-publish img { background-image: url(../images/status_icons/success.gif); }
.listing .status-draft img { background-image: url(../images/status_icons/draft.gif); }
.listing .status-future img { background-image: url(../images/status_icons/future.gif); }
.listing .status-pending img { background-image: url(../images/status_icons/warning.gif); }
.listing .status-spam img { background-image: url(../images/status_icons/warning.gif); }
.listing .status-unpublish img { background-image: url(../images/status_icons/unpublished.gif); }
.listing .status-review img { background-image: url(../images/status_icons/warning.gif); }
.listing .status-trusted img { background-image: url(../images/status_icons/trusted.gif); }
.listing .status-banned img { background-image: url(../images/status_icons/banned.gif); }
.listing .status-authenticated img { background-image: url(../images/status_icons/authenticated.gif); }
.listing .user-status-enabled img { background-image: url(../images/status_icons/user-enabled.gif); }
.listing .user-status-disabled img { background-image: url(../images/status_icons/user-disabled.gif); }
.listing .user-status-pending img { background-image: url(../images/status_icons/user-pending.gif); }
.listing .group-status-enabled img { background-image: url(../images/status_icons/group-enabled.gif); }
.listing .group-status-disabled img { background-image: url(../images/status_icons/group-disabled.gif); }
.listing .role-status-active img { background-image: url(../images/status_icons/role-active.gif); }
.listing .role-status-inactive img { background-image: url(../images/status_icons/role-inactive.gif); }
.listing .status-email img { background-image: url(../images/status_icons/email.gif); }
.listing .status-link img { background-image: url(../images/status_icons/link.gif); }
.listing .status-view img { background-image: url(../images/status_icons/view.gif); }
.listing .status-unlinked img { background-image: url(../images/status_icons/neutral.gif); }
.listing .status-linked img { background-image: url(../images/status_icons/success.gif); }
.listing .status-uncached img { background-image: url(../images/status_icons/neutral.gif); }
.listing .status-cached img { background-image: url(../images/status_icons/success.gif); }
.listing .status-dynamic img { background-image: url(../images/status_icons/success.gif); }
.listing .status-static img { background-image: url(../images/status_icons/neutral.gif); }
.listing .status-rebuild img { background-image: url(../images/status_icons/success.gif); }
.listing .status-norebuild img { background-image: url(../images/status_icons/neutral.gif); }
.listing .status-enabled img { background-image: url(../images/status_icons/success.gif); }
.listing .status-disabled img { background-image: url(../images/status_icons/neutral.gif); }
.listing .status-missing img { background-image: url(../images/status_icons/warning.gif); }

.asset-icon-doc { background-image: url(../images/filetype_icons/doc_lg.gif); }
.asset-icon-eps { background-image: url(../images/filetype_icons/eps_lg.gif); }
.asset-icon-fla { background-image: url(../images/filetype_icons/fla_lg.gif); }
.asset-icon-gif { background-image: url(../images/filetype_icons/gif_lg.gif); }
.asset-icon-jpg { background-image: url(../images/filetype_icons/jpg_lg.gif); }
.asset-icon-mp3 { background-image: url(../images/filetype_icons/mp3_lg.gif); }
.asset-icon-mpg { background-image: url(../images/filetype_icons/mpeg_lg.gif); }
.asset-icon-pdf { background-image: url(../images/filetype_icons/pdf_lg.gif); }
.asset-icon-png { background-image: url(../images/filetype_icons/gif_lg.gif); }
.asset-icon-ppt { background-image: url(../images/filetype_icons/ppt_lg.gif); }
.asset-icon-psd { background-image: url(../images/filetype_icons/psd_lg.gif); }
.asset-icon-txt { background-image: url(../images/filetype_icons/txt_lg.gif); }
.asset-icon-xls { background-image: url(../images/filetype_icons/xls_lg.gif); }
.asset-icon-zip { background-image: url(../images/filetype_icons/zip_lg.gif); }

.listing .thumbnail img {
    background: none;
}
