table#listing thead,
table#listing tfoot {
    background-color: #f2f2f2;
}

table th {
    min-width: 4rem;
    max-width: 10rem;
}

.text {
    border-radius: 2px;
}
.text.error{
    border-color: #bf241f;
}
.text.error:focus{
    border-color: #6d1418;
}

