/* Listing Framework */
.listing {
    margin-bottom: 50px;
}
#spam-log-listing {
    margin-bottom: 0;
}

#filter-header,
.listing-table-block {
    position: relative;
}

/* - Listing Table */
#listing-table-overlay {
    z-index: 400;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    border-radius: 0 0 3px 3px;
}

.listing-table {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #c0c6c9;
    table-layout: fixed;
    background-color: #ffffff;
    border-radius: 0 0 3px 3px;
}

.col {
    width: 13%;
    padding: 5px 8px;
    border: solid #fff;
    border-width: 1px 0 0;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}
tbody tr:first-child .col {
    border: 0;
}
.col.head {
    padding: 0;
    border-color: #c0c6c9;
    border-width: 0 0 1px 1px;
    line-height: 1;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f3f3f3, #dcdddd);
    background-image: -webkit-linear-gradient(#f3f3f3, #dcdddd);
    background-image: linear-gradient(#f3f3f3, #dcdddd);
    font-size: 85%;
    font-weight: bold;
    text-shadow: 0 1px 0 #f8fbf8;
    vertical-align: middle;
    word-wrap: normal;
}
.col.num {
    width: 10%;
}
.col.date {
    width: 12%;
}
.col.id {
    width: 4.5em;
}
.col.entry,
.col.target {
    width: 25%;
}
.col.cb,
.col.si {
    width: 2.6em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.col.view {
    width: 4em;
}
.col.output-file {
    width: 40%;
}
.col.publishing-method {
    width: 17%;
}
.col.primary {
    width: auto;
    min-width: 15%;
}
thead .col.head.first-child {
    border-radius: 3px 0 0 0;
}
thead .col.head.last-child {
    border-radius: 0 3px 0 0;
}
.has-filter thead .col.head {
    border-radius: 0;
}
tfoot .col.head{
    border-width: 1px 0 0 1px;
}
.col.head.first-child,
.col.head.first-visible-child {
    border-left: 0;
}
.col.head a {
    display: block;
    position: relative;
    width: 100%;
    color: #2b2b2b;
    text-decoration: none;
}
.col.head a:hover {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(#fafafa, #e9eaea);
    background-image: -webkit-linear-gradient(#fafafa, #e9eaea);
    background-image: linear-gradient(#fafafa, #e9eaea);
}
.col.head.sorted,
.col.head.sorted a:hover {
    background-color: #dcdddd;
    background-image: -moz-linear-gradient(#dcdddd, #f3f3f3);
    background-image: -webkit-linear-gradient(#dcdddd, #f3f3f3);
    background-image: linear-gradient(#dcdddd, #f3f3f3);
}
.col-label {
    display: block;
    width: 80%;
    margin-left: 5px;
    padding: 7px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col.head a:hover .col-label {
    color: #2b2b2b;
}
.sorted .col-label {
    color: #2b2b2b;
}
.sm {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 7px;
    height: 10px;
    margin-top: -5px;
    background: transparent center no-repeat;
    background-image: url(../images/arrow/arrow-sort-both.gif);
}
.sm.asc {
    background-image: url(../images/arrow/arrow-sort-top.gif);
}
.sm.desc {
    background-image: url(../images/arrow/arrow-sort-bottom.gif);
}

/* -- Sub Columns */
.col .description {
    margin: 0.75em 0 0;
    font-size: 90%;
}
.col .user-info {
    overflow: hidden;
}
.col .user-info-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col .content-text {
    overflow: hidden;
}
.col .icon {
    display: inline-block;
    min-width: 15px;
    margin-right: 3px;
    text-align: center;
}
.col .comment.status {
    float: left;
    margin-right: 5px;
}
.col .picture {
    margin-bottom: 0;
}
.col .userpic .icon {
    margin: 0;
}
.col .item-ctrl .action-link {
    margin-right: 5px;
}
.col .role-item {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0 0 0 1.2em;
}
.col .archive-path-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.col .log-metadata pre {
    white-space: normal;
}

/* -- List Actions */
.list-actions {
    float: left;
}

/* -- Page Navigation */
.listing .actions-bar {
    min-height: 22px;
}
.listing .button-actions,
.listing .plugin-actions {
    float: left;
    margin: 8px 10px 8px 0;
}
.pagination,
.indicator {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.pagination,
.actions-bar .indicator {
    float: right;
    height: 22px;
    margin: 8px 0;
    line-height: 22px;
}
.actions-bar .indicator img {
    margin-bottom: 0.2em;
    vertical-align: bottom;
}
.pagenav,
.current-rows {
    margin: 0 0.25em;
}
.current-rows {
    font-weight: bold;
}

/* -- Legacy Listing */
.legacy.listing-table {
    border-radius: 3px;
}

.col.asset-thumbnail {
    width: 6em;
}
.col.asset-thumbnail .thumbnail {
    margin: 0 auto;
}
.asset-no-thumbnail .thumbnail {
    border: 0;
}
.col.asset-type-video .thumbnail {
    background: transparent url(../images/asset/video-45.png) no-repeat;
}
.col.asset-type-file .thumbnail {
    background: transparent url(../images/asset/file-45.png) no-repeat;
}
.col.asset-type-audio .thumbnail {
    background: transparent url(../images/asset/audio-45.png) no-repeat;
}

/* - Filter */
.filter-block {
    border: solid #c0c6c9;
    border-width: 1px 1px 0;
    background-color: #f3f3f3;
    border-radius: 3px 3px 0 0;
}
.filter-header #allpass-filter {
    display: inline-block;
    margin-left: 8px;
    color: #c53d43;
    font-size: 87%;
}
.filter-header .current-filter {
    background-image: url(../images/filter-list.png);
    text-decoration: none;
}
.filter-header .current-filter:hover {
    border-bottom: 0;
}
#filter-detail {
    border: solid #c0c6c9;
    border-width: 1px 0 0;
}
.filteritem {
    position: relative;
    margin: 0 8px;
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0;
    background-color: #fff;
}
.filteritem .item-content {
    padding: 10px;
}
.filteritem .item-ctrl {
    margin-left: 10px;
}

/* -- Select Filter */
#dialog_filter {
    padding: 0 0 10px 10px;
}
#dialog_filter_content {
    max-height: 420px;
    padding-top: 0;
    overflow: auto;
}
#dialog_filter .filter-list-block {
    margin-top: 15px;
}
#dialog_filter .filter-list-label {
    margin: 0 0 5px;
}

/* -- filter List */
#dialog_filter .filter {
    margin: 0 10px 1px 0;
    padding: 0 5px;
}
#dialog_filter .filter:hover {
    background-color: #e7e7eb;
}
#dialog_filter .filter.edit-mode {
    padding: 0;
}
#dialog_filter .filter.edit-mode:hover {
    background-color: transparent;
}
#dialog_filter .apply-link,
#dialog_filter .item-ctrl,
#dialog_filter .indicator {
    height: 23px;
    line-height: 23px;
}
#dialog_filter .apply-link {
    display: block;
    text-decoration: none;
}
.filter-label .apply-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#dialog_filter .item-ctrl {
    display: none;
    text-align: right;
}
#dialog_filter .filter:hover .item-ctrl {
    display: inline-block;
}
#dialog_filter .edit-mode .item-ctrl {
    display: inline-block;
    text-align: left;
}
#dialog_filter .item-ctrl a {
    margin-left: 5px;
}
#dialog_filter .tool-link {
    margin: 0 0 0 0.5em;
    vertical-align: top;
}
#dialog_filter .rename-link {
    color: #7b7c7d;
}
#dialog_filter .indicator {
    margin-left: 5px;
}
/* - Asset Preview */
.col .asset-preview {
    display: none;
    margin-top: 10px;
}

/* - Listing Panel */
#modal-search {
    margin-bottom: 10px;
}
.listing.selector {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
}
.panel-header {
    position: relative;
    padding: 10px 0;
}
.selected-items {
    min-height: 30px;
}

/* - Lisiting Footer */
#listing-footer {
    margin-top: 30px;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    border-radius: 3px;
}
.footer-link-item {
    display: inline-block;
    margin: 0 15px 0 0;
}

.ui-selectable-helper {
    display: none ! important;
}