#root .ui-state-highlight {
    position: relative;
    z-index: 100;
    height: 35px;
    margin: 5px -10px;
    border-top: 2px solid #adadad;
}

#root .target {
    position: relative;
    display: inline-block;
    height: 100%;
}

#root .marker {
    position: absolute;
    top: -7px;
    right: -20px;
    width: 20px;
    height: 10px;
    background: transparent url(../images/arrow-target-mark.png) center bottom no-repeat;
}

.sort-tab {
    display: inline-block;
/*
    display: block;
    position: absolute;
    top: 0;
    left: 0;
*/
    width: 35px;
    height: 100%;
    background: transparent url(../images/sort_handle.png) center no-repeat;
    cursor: move ! important;
}

.sortable-item .item-basename-text-container::before {
    content: "\0028";
}
.sortable-item .item-basename-text-container::after {
    content: "\0029";
}

.sortable-item .item-ctrl {
    display: none;
    margin-left: 10px;
}

.sortable-item .item-label,
.sortable-item .item-basename {
    display: block;
}

@media (min-width: 768px) {
    .sortable-item.on .item-ctrl {
        display: inline-block;
    }

    .sortable-item .item-label,
    .sortable-item .item-basename {
        display: inline-block;
    }
}

.highlight {
  background-color: #e6f2f4;
}

#itemlist {
    max-width: 100px;
}

#area-action .category-label {
    font-size: 16px;
    max-width: 130px;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

@media (min-width: 768px) {
    #itemlist {
        max-width: 200px;
    }

    #area-action .category-label {
        font-size: 1rem;
        max-width: 200px;
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
    }
}