/* - Status Message */
.msg { 
    position: relative;
    margin: 10px 0;
    padding: 0.8em;
    background-repeat: no-repeat;
    background-position: 8px center;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.msg-success { 
    background-color: #cee4ae;
}
.msg-alert { 
    background-color: #fef263;
}
.msg-error { 
    background-color: #f6bfbc;
}
.msg-info { 
    background-color: #e6eae3;
}
.msg-publishing { 
    padding-left: 40px;
    background-image: url(../images/ani-rebuild.gif);
}

.msg-text { 
    margin: 0;
}

.msg-error img.mt-close-msg, 
.insert-asset-dialog .msg img.mt-close-msg, 
.zero-state img.mt-close-msg { 
    display: none;
}


.field-content label.msg-error { 
    display: block;
    margin-top: 5px;
    border: 0;
    background-color: transparent;
    color: #c60;
}

.error-field input[type="text"] { 
    border-color: red;
}

/* -- for Permission Message */
.msg .detail { 
    margin: 10px 0 0 10px;
    color: #7b7c7d;
}

.msg.active .title .detail-link { 
    display: none;
}

/* - for Widget Content */
p.zero-state { 
    margin-bottom: 0;
}

/* - Generic Website Message */
#is-generic-website { 
    margin: 0;
    padding: 0.75em 0;
    border-bottom: 1px solid #c8c2be;
    background-color: #F2F2B0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#is-generic-website p { 
    margin: 0 auto;
    padding: 0 20px;
    font-size: 95%;
}


/* - Debug Panel Messages */
.debug-panel { 
    position: absolute;
    width: 100%;
    border-top: 1px solid #c8c2be;
    background-color: #f6bfbc;
    text-align: left;
}

.debug-panel h3 { 
    padding: 5px;
    font-size: 12px;
    margin: 0;
    background-color: #ec6d71;
    color: #f8fbf8;
    text-shadow: none;
}

.debug-panel-inner li {
    margin: 0;
    padding: 0.2em 0.5em;
    white-space: pre;
}

.debug-panel-inner li:hover {
    background-color: #f2a0a1;
}

.debug-panel-inner {
    padding: 5px;
    font-family: 'Andale Mono', monospace;
    font-size: 10px;
    max-height: 200px;
    overflow: auto;
}
