

.list-actions optgroup {
    font-size: x-small;
    font-style: normal;
    font-weight: normal;
    color: #666;
}

.list-actions optgroup option {
    padding-left: 10px;
    color: #000;
}









.padded-box {
    padding: 10px;
    margin: 50px;
    text-align: center;
}

.flt-wrppr {
/*    overflow: hidden;*/
    width: 100%;
}

.leftcol {
    float: left;
}

.rightcol {
    float: right;
}







#dialog-select-weblog table th.cb { width: 1%; min-width: 10px; }
#dialog-select-weblog table th.bt-name { width: 34%; }
#dialog-select-weblog table th.bt-description { width: 30%; }
#dialog-select-weblog table th.bt-view { width: 1%; min-width: 10px; }
#dialog-select-weblog table td.cb { width: 1%; min-width: 10px; }
#dialog-select-weblog table td.bt-name { width: 34%; }
#dialog-select-weblog table td.bt-description { width: 30%; }
#dialog-select-weblog table td.bt-view { width: 1%; min-width: 10px; }
/*#dialog-select-weblog #display-options { display: none; }*/

/* list_blog.tmpl */

body.list-blog #leftcol-full {
    width: 465px;
}

body.list-blog #rightcol-full {
    float: right;
    margin-left: 20px;
    width: 235px;
}

body.list-blog .blog-item,
#list-plugins .plugin-item {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #E3EBEF;
}

body.list-blog .blog-item#last-blog-item {
    border-width: 0;
}

body.list-blog .blog-info {
    float: left;
    width: 255px;
    overflow: hidden;
}

body.list-blog .blog-info h5,
#list-plugins .plugin-info h5 {
    margin: 0;
    font-size: 14px;
}

body.list-blog .blog-info p,
#list-plugins .plugin-info p {
    margin: 5px 0 0 0;
    color: #666;
    font-size: 10px;
}

body.list-blog .blog-info p.blog-desc,
#list-plugins .plugin-info p.plugin-desc {
    margin-top: 3px;
    color: #333;
    font-size: 11px;
}

body.list-blog .shortcuts {
    float: right;
    width: 180px;
    overflow: hidden;
}

body.list-blog .shortcuts p,
#list-plugins .shortcuts p {
    margin: 0 0 1px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #E3EBEF #CEDCE3 #CEDCE3 #E3EBEF;
    padding: 3px 0 3px 4px;
    font-size: 10px;
    line-height: 1.0;
    background-color: #F0F5F6;
    background-image: url(../images/mininav-create-bg.gif);
    background-repeat: repeat-x;
}

body.list-blog .shortcuts ul {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0 0 0 5px;
}

body.list-blog .shortcuts ul.shortcut-col2 {
    float: right;
    width: 70px;
}

body.list-blog .shortcuts li,
#list-plugins .shortcuts li {
    list-style-type: none;
    margin: 0;
    padding: 4px 0 0 0;
    color: #666;
    font-size: 10px;
    line-height: 1.0;
}
* html body.list-blog .shortcuts li,
* html body #list-plugins .shortcuts li { padding: 0; } /* ie win fix */

body.list-blog .shortcuts img,
#list-plugins .shortcuts img {
    margin-right: 5px;
    vertical-align: top;
}
* html body.list-blog .shortcuts img,
* html body #list-plugins .shortcuts img { vertical-align: bottom; padding-bottom: 2px; } /* ie win fix */

body.list-blog .shortcuts a,
#list-plugins .shortcuts a {
    text-decoration: none;
}

body.list-blog .shortcuts p a:link,
body.list-blog .shortcuts p a:visited,
#list-plugins .shortcuts p a:link,
#list-plugins .shortcuts p a:visited {
    color: #036;
}

body.list-blog .shortcuts li a:link,
body.list-blog .shortcuts li a:visited,
#list-plugins .shortcuts li a:link,
#list-plugins .shortcuts li a:visited {
    color: #333;
}

body.list-blog .shortcuts p a:hover,
body.list-blog .shortcuts p a:active,
body.list-blog .shortcuts li a:hover,
body.list-blog .shortcuts li a:active,
#list-plugins .shortcuts p a:hover,
#list-plugins .shortcuts p a:active,
#list-plugins .shortcuts li a:hover,
#list-plugins .shortcuts li a:active {
    color: #000;
}

body.list-blog .expanded-blog-item .blog-info {
    width: 310px;
}

body.list-blog .expanded-blog-item .blog-info h5 {
    font-size: 16px;
}

body.list-blog .expanded-blog-item .blog-info p {
    font-size: 11px;
}

body.list-blog .expanded-blog-item .blog-info p.blog-desc {
    font-size: 12px;
}

body.list-blog .expanded-blog-item .shortcuts {
    width: 125px;
}

body.list-blog .expanded-blog-item .shortcuts p {
    font-size: 11px;
}

body.list-blog .expanded-blog-item .shortcuts ul {
    width: 110px;
}

body.list-blog .expanded-blog-item .shortcuts ul,
body.list-blog .expanded-blog-item .shortcuts ul.shortcut-col2 {
    float: none;
    width: auto;
}

body.list-blog .expanded-blog-item .shortcuts li {
    font-size: 11px;
}

body.list-blog .expanded-blog-item .shortcuts img {
    padding-bottom: 1px;
}
* html body.list-blog .expanded-blog-item .shortcuts img { padding-bottom: 3px; } /* ie win fix */

/* list_plugins.tmpl */

#list-plugins .favicon {
    float: left;
    width: 16px;
    margin-right: 5px;
}

#list-plugins .plugin-info {
    float: left;
    width: 424px;
}

#list-plugins .plugin-minor h5 {
    font-size: 12px;
}

#list-plugins h5.disabled {
/*    color: #999;*/
}

#list-plugins h5 .plugin-version {
/*    color: #999;*/
/*    font-size: 85%;*/
}

#list-plugins .shortcuts {
    float: right;
    width: 150px;
}

#list-plugins .shortcuts ul {
    margin: 0;
    padding: 0 0 0 5px;
}

#list-plugins div.config,
#list-plugins div.resources {
    display: none;
    margin-left: 21px;
    border: 1px solid #CCD5B6;
    padding: 0 10px;
    font-size: 12px;
}

#list-plugins div.config p.caption,
#list-plugins div.resources p.caption {
    margin: 5px 0;
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#list-plugins fieldset {
    margin: 5px 0;
}

#list-plugins fieldset .label {
    width: 100px;
}

#list-plugins fieldset .field {
/*    width: 420px;*/
}

#list-plugins div.resources li {
    font-size: 11px;
}

#list-plugins div.resources .button-bar,
#list-plugins div.config .button-bar {
    width: auto;
    float: none;
/*    padding-bottom: 10px;*/
    text-align: center;
}

#list-plugins div.resources .button-bar input,
#list-plugins div.config .button-bar input {
    font-size: x-small;
}

#list-plugins .error-message code {
    font-size: 10px;
    font-weight: normal;
/*    font-family: "Andale Mono", "Courier New", Courier, monospace;*/
}

/* edit_author.tmpl */

#list-association h3.user_disabled, 
#list-group h3.user_disabled, 
#edit-author h3.user_disabled {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #BFBFBF;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}

#edit-author .leftcol {
    width: 390px;
}

#edit-author .rightcol {
    width: 205px;
}

#edit-author fieldset,
#edit-author fieldset h3 {
    margin-top: 0;
}

#edit-author fieldset .setting {
/*    border-bottom-width: 0;*/
/*    padding-bottom: 0;*/
}

#edit-author fieldset .label {
    width: 120px;
    margin: 4px 5px 0 10px;
}

#edit-author fieldset .field {
/*    width: 240px;*/
}

/* edit_group.tmpl */

#edit-group h3.group_disabled, 
#list-association h3.group_disabled, 
#list-author h3.group_disabled {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #BFBFBF;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}

#edit-group .leftcol {
    width: 390px;
}

#edit-group .rightcol {
    width: 205px;
}

#edit-group fieldset,
#edit-group fieldset h3 {
    margin-top: 0;
}

/*#edit-group fieldset .setting {*/
/*    border-bottom-width: 0;*/
/*    padding-bottom: 0;*/
/*}*/

#edit-group fieldset .label {
    width: 120px;
    margin: 4px 5px 0 10px;
}







#cfg-prefs #cc-license-name { font-weight: bold; }
#cfg-prefs #sanitize_spec_1 { vertical-align: middle; }







#cfg-feedback #setting-auth-status input { font-size: 10px; }
#cfg-feedback #setting-auth-status .auth-status-neutral { color: #333; }
#cfg-feedback #auto_delete_junk_prefs .field { font-size: 11px; }

a.spinner,
#cfg-feedback a#increase-threshold,
#cfg-feedback a#decrease-threshold {
    color: #333;
    font-size: 10px;
    text-decoration: none;
}

body.edit-comment h3.pending,
#edit-ping h3.pending {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #FC3;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}

body.edit-comment h3.junky,
#edit-ping h3.junky {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #67401A;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}

body.edit-comment .leftcol,
body.edit-comment .rightcol,
#edit-ping .leftcol,
#edit-ping .rightcol {
    width: 310px;
}

body.edit-comment #text,
#edit-ping #excerpt {
    width: 98%;
    height: 200px;
}

body.edit-comment .list table td,
#edit-ping .list table td,
body.edit-commenter .list table td {
    border-top: 1px solid #D7E3F5;
    border-bottom: 0;
    padding: 5px;
}

body.edit-comment .list table td.label,
#edit-ping .list table td.label,
body.edit-commenter .list table td.label {
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}

body.edit-comment .list table td.filter,
#edit-ping .list table td.filter,
body.edit-commenter .list table td.filter {
    font-size: x-small;
    text-align: right;
    vertical-align: middle;
}

body.edit-comment .list input,
#edit-ping .list input,
body.edit-comment .list select,
#edit-ping .list select {
    width: 180px;
}

body.edit-comment .list input.short,
#edit-ping .list input.short {
    width: 160px;
}

body.edit-comment .commenter-actions {
    padding-top: 2px;
}

body.edit-comment .commenter-trust,
body.edit-comment .commenter-ban,
body.edit-comment .commenter-neutral {
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: 1px 3px;
    font-size: 9px;
    text-decoration: none;
    background-repeat: repeat-x;
}
* html body.edit-comment .commenter-trust,
* html body.edit-comment .commenter-ban,
* html body.edit-comment .commenter-neutral { padding-top: 0; }

body.edit-comment .commenter-trust {
    border-color: #A8E5A8;
    background-color: #A8E5A8;
    background-image: url(../images/trust-bg.gif);
}

body.edit-comment .commenter-ban {
    border-color: #F2B1B1;
    background-color: #F2B1B1;
    background-image: url(../images/ban-bg.gif);
}

body.edit-comment .commenter-neutral {
    border-color: #BBB;
    background-color: #BBB;
    background-image: url(../images/neutral-bg.gif);
}

body.edit-comment .commenter-trust:link,
body.edit-comment .commenter-trust:hover,
body.edit-comment .commenter-trust:active,
body.edit-comment .commenter-trust:visited {
    color: #030;
}

body.edit-comment .commenter-ban:link,
body.edit-comment .commenter-ban:hover,
body.edit-comment .commenter-ban:active,
body.edit-comment .commenter-ban:visited {
    color: #300;
}

body.edit-comment .commenter-neutral:link,
body.edit-comment .commenter-neutral:hover,
body.edit-comment .commenter-neutral:active,
body.edit-comment .commenter-neutral:visited {
    color: #333;
}

body.edit-comment td#edit-comment-label { width: 30% }
body.edit-comment td#edit-comment-field { width: 68% }
body.edit-comment td#edit-comment-filter { width: 2% }







#edit-role h3.role_disabled {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #BFBFBF;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}

body.edit-commenter td#edit-commenter-label { width: 20% }
body.edit-commenter td#edit-commenter-field { width: 30% }
body.edit-commenter td#edit-commenter-filter { width: 30% }

#edit-ping td#edit-ping-label { width: 30% }
#edit-ping td#edit-ping-field { width: 68% }
#edit-ping td#edit-ping-filter { width: 2% }








#dialog-select-member table th.cb { width: 1%; min-width: 10px; }
#dialog-select-member table th.at-name { width: 30%;}
#dialog-select-member table th.at-username { width: 39%; }
#dialog-select-member table td.cb { width: 1%; min-width: 10px; }
#dialog-select-member table td.at-name { width: 30%; }
#dialog-select-member table td.at-username { width: 39%; }
#dialog-select-member #display-options { display: none; }






#dialog-select-group table th.cb { width: 1%; min-width: 10px; }
#dialog-select-group table th.gt-name { width: 30%;}
#dialog-select-group table th.gt-displayname { width: 30%; }
#dialog-select-group table th.gt-description { width: 39%; }
#dialog-select-group table td.cb { width: 1%; min-width: 10px; }
#dialog-select-group table td.gt-name { width: 30%; }
#dialog-select-group table td.gt-displayname { width: 30%; }
#dialog-select-group table td.gt-description { width: 39%; }
#dialog-select-group #display-options { display: none; }



#list-author h3.group_disabled {
    color: #FFF;
    text-align: center;
    letter-spacing: .3em;
    background-color: #BFBFBF;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-small;
}








#list-banlist table td.cb { width: 1%; min-width: 10px }
#list-banlist table th#bt-ip { width: 69% }
#list-banlist table th#bt-date { width: 30% }






#dialog-select-role table th.cb { width: 2%; min-width: 10px; }
#dialog-select-role table th.rt-name { width: 34%; }
#dialog-select-role table th.rt-description { width: 40%; }
#dialog-select-role table td.cb { width: 2%; min-width: 10px; }
#dialog-select-role table td.rt-name { width: 34%; }
#dialog-select-role table td.rt-description { width: 30%; }
#dialog-select-role #display-options { display: none; }






#dialog-select-association table th.cb { width: 2%; min-width: 10px; }
#dialog-select-association table th.pt-name { width: 34%; }
#dialog-select-association table th.pt-description { width: 30%; }
#dialog-select-association table td.cb { width: 2%; min-width: 10px; }
#dialog-select-association table td.pt-name { width: 34%; }
#dialog-select-association table td.pt-description { width: 30%; }
#dialog-select-association #display-options { display: none; }







#search-replace .search-bar {
    margin: -10px 0 10px 0;
    border-bottom: 1px solid #CEDCF0;
    padding: 10px 0 10px 100px;
    font-size: 11px;
    background-color: #E1EAFA;
}

#search-replace .search-bar-toggle {
    margin-bottom: 4px;
}

#search-replace .search-bar-toggle input {
    vertical-align: middle;
}

#search-replace #search-bar-search-field input,
#search-replace #search-bar-replace-fields input {
    font-size: x-small;
}

#search-replace #search-bar-search-field input#search {
    width: 360px;
}

#search-replace .search-bar-replace-wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 2px;
}

#search-replace .search-bar-replace-label {
    float: left;
    width: 45px;
    margin: 3px 5px 0 0;
    text-align: right;
}

#search-replace .search-bar-replace-field {
    float: left;
    width: 400px;
}

#search-replace .search-bar-replace-field input#search-alt,
#search-replace .search-bar-replace-field input#replace {
    width: 200px;
}

#search-replace #search-bar-advanced-search {
    margin-top: 5px;
}

#search-replace #search-bar-advanced-replace {
    margin-top: 5px;
    display: none;
}

#search-replace .advanced-options {
    margin: -10px 0 10px 0;
    border-bottom: 1px solid #CEDCF0;
    padding: 10px 0 5px 0;
    background-color: #FFF;
    text-align: left;
    background-color: #F5F9FF;
}

#search-replace .advanced-options#date-range {
    padding: 8px 0 3px 0;
}
* html body #search-replace .advanced-options#date-range { padding-bottom: 8px; }

#search-replace .advanced-options#date-range input {
    width: 30px;
    font-size: x-small;
    color: #999;
}

#search-replace .advanced-options#date-range input#datefrom_year,
#search-replace .advanced-options#date-range input#dateto_year {
    width: 40px;
}

#search-replace .advanced-options#date-range input.prefilled {
    color: #000;
}

#search-replace .advanced-options ul {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

#search-replace .advanced-options li {
    font-size: 11px;
    display: block;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
}

#search-replace .advanced-options li.first {
    font-weight: bold;
    text-align: right;
    width: 90px;
    margin-right: 10px;
}

#search-replace .advanced-options#date-range li.first {
    margin-top: 2px;
}
* html body #search-replace .advanced-options#date-range li.first { margin-top: 5px; }

* html body #search-replace .search-bar input.cb,
* html body #search-replace .search-bar input.rb,
* html body #search-replace .advanced-options input.cb { margin: -2px -4px; } /* ie win fix */








.upgrade h2 {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #93B06B;
    font-size: 20px;
    line-height: 1.2;
}

.upgrade h3 {
    text-align: center;
}

.upgrade p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

.upgrade .upgrade-process {
    overflow: auto;
    margin: 10px 0;
    border: 1px solid #CCC;
    padding: 10px 40px;
    background-color: #F7F7F7;
    height: 200px;
    voice-family: "\"}\"";
    voice-family:inherit;
    height: 178px;
}
html>body .upgrade .upgrade-process { height: 178px; }

.upgrade .upgrade-process ul {
    margin: 0;
    padding: 0;
}

.upgrade .upgrade-process li {
    margin-top: 5px;
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
}

.upgrade .button-bar {
    float: none;
    width: auto;
    border-top: 1px solid #C3CFDB;
    padding-top: 10px;
    text-align: right;
}













table td .link { float: right; vertical-align: text-top; margin-right:12px; } /* asset_list.tmpl & listing_panel.tmpl */
table td .link img { background-image: url(../images/status_icons/view.gif); }
table tr.selected .link img { background-image: url(../images/status_icons/invert-view.gif); }
table td .float_desc { float: left; }
