/* - Generic */
html,
body {
    height: 100%;
}
body {
    color: #2b2b2b;
    background-color: #fffffc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

a {
    color: #507ea4;
    outline: 0;
}
a:hover,
a:active {
    color: #839b5c;
    text-decoration: none;
}

h2, h3, h4, h5, h6 {
    margin: 1em 0;
    font-weight: bold;
}
h2 {
    font-size: 115%;
}
h3, h4, h5, h6 {
    font-size: 100%;
}

pre {
    margin: 10px 0 0;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    color: #7b7c7d;
}

/* - Component */
.hint {
    width: 75%;
    color: #a3a3a2;
    font-size: 95%;
    font-style: Italic;
}
.alert-warning-inline {
    margin: 5px 0 0;
    font-size: 95%;
}
.alert-warning-inline,
.alert-warning-inline a {
    color: #f39800;
}

.picture {
    clear: both;
    position: relative;
    margin: 1.5em 0;
}
.picture.small {
    float: left;
    margin: 0 10px 0.5em 0;
}
.picture img {
    height: auto;
}
.thumbnail img,
.userpic img {
    border: 1px solid #c0c6c9;
}
.userpic {
    position: relative;
}
.userpic .icon {
    position: absolute;
    right: 0;
    bottom: 0;
}
#userpic-preview {
    margin-bottom: 10px;
}
.thumbnail {
    background: #f3f3f3 url(../images/thumbnail-bg.png) repeat top left;
}
.asset-thumb {
    width: 45px;
    height: 45px;
}
.asset-thumb.asset-type-icon {
    border: 0;
    background: none;
}

/* -- Sticky Label */
.sticky-label {
    display: inline-block;
    padding: 0.2em 0.5em;
    line-height: 1.3;
    background-color: #adadad;
    color: #fff;
    font-size: 80%;
    border-radius: 2px;
}
.sticky-label.required,
.sticky-label.inuse-userpic {
    margin-left: 10px;
}

.sticky-label.system {
    background-color: #7b7c7d;
}
.sticky-label.website {
    background-color: #839b5c;
}
.sticky-label.blog {
    background-color: #5c909b;
}
.selected-items .sticky-label {
    margin-bottom: 1px;
    padding-right: 0;
    text-decoration: none;
}
.selected-items .sticky-label .remove {
    float: right;
    padding: 0 0.3em;
    margin: 0 0.3em;
    background-color: #dcdddd;
    color: #2b2b2b;
}
.selected-items .sticky-label .remove:hover {
    background-color: #2b2b2b;
    color: #fff;
}

/* -- Multiple Selection */
.multiple-selection {
    display: inline-block;
}
.multiple-selection li {
    display: inline-block;
    margin: 0 15px 5px 0;
}
.fixed-width.multiple-selection li {
    width: 250px;
    margin: 0 0 5px;
}

/* -- Overlay */
.overlay,
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.7;
    -ms-filter: 'alpha(opacity=70)';
    filter: alpha(opacity=70);
}

/* -- Toggle Button */
.toggle-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(#f3f3f3, #dcdddd);
    background-image: -moz-linear-gradient(#f3f3f3, #dcdddd);
    background-image: linear-gradient(#f3f3f3, #dcdddd);
    border-left: 1px solid #c0c6c9;
    text-align: center;
}
.toggle-button:hover {
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(#fafafa, #e9eaea);
    background-image: -moz-linear-gradient(#fafafa, #e9eaea);
    background-image: linear-gradient(#fafafa, #e9eaea);
}
.active .toggle-button {
    background-color: #dcdddd;
    background-image: -webkit-linear-gradient(#dcdddd, #f3f3f3);
    background-image: -moz-linear-gradient(#dcdddd, #f3f3f3);
    background-image: linear-gradient(#dcdddd, #f3f3f3);
}
.toggle-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
}
.menu-nav .toggle-button {
    width: 20px;
}
.filter-header .toggle-button {
    width: 30px;
    border-radius: 0 3px 0 0;
}
.filter-header .toggle-button img,
.menu-nav .toggle-button img {
    margin: -3px 0 0 -5px;
}

/* -- Toggle Link */
.toggle-link {
    cursor: pointer;
    background: transparent;
    color: #7b7c7d;
    text-decoration: underline;
}
.toggle-link:hover,
.toggle-link:active {
    text-decoration: none;
}
.detail {
    clear: both;
}

/* -- Open Dialog Link */
.open-dialog-link {
    border-bottom: 1px dotted;
    color: #7b7c7d;
    text-decoration: none;
}
.open-dialog-link:hover {
    border-bottom: 0;
}

/* -- Progress Bar */
.progressbar {
    height: 2em;
    border: 1px solid #c0c6c9;
    background: #fff;
    border-radius: 2px;
}
.progressbar.indeterminate {
    background: #c0c6c9 url(../images/progress-bar-indeterminate.gif) repeat;
}
.ui-progressbar .ui-progressbar-value {
    height:100%;
    background-color: #dcdddd;
    background-image: -webkit-linear-gradient(#58bee3, #32789e);
    background-image: -moz-linear-gradient(#58bee3, #32789e);
    background-image: linear-gradient(#58bee3, #32789e);
    border-radius: 3px 0 0 3px;
}

.item-action {
    margin-left: 8px;
}

.option {
    margin: 10px 0;
}

.metadata-item {
    line-height: 1.2;
    margin-bottom: 0.5em;
}
.metadata-item strong {
    margin-right: 0.5em;
}

/* -- Tabs */
.ui-tabs .ui-tabs-hide {
    display: none;
}
.ui-tabs-nav,
ul.tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid #c0c6c9;
}
.ui-tabs-nav li,
ul.tabs li {
    line-height: 1;
    display: inline-block;
    margin: 0 0 -1px 0;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
    font-size: 85%;
    border-radius: 2px 2px 0 0;
    box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.03);
}
.ui-tabs-nav li.first-child,
ul.tabs li.first-child {
    margin-left: 10px;
}
.ui-tabs-nav li.ui-tabs-selected,
ul.tabs li.selected-tab {
    border-bottom-color: #fff;
    background-color: #fff;
    box-shadow: none;
}
.ui-tabs-nav li.ui-state-hover {
    background-color: #fff;
}
.ui-tabs-nav li a,
ul.tabs li a {
    display: block;
    padding: 5px 10px;
    color: #2b2b2b;
    text-decoration: none;
    outline: 0;
}

/* -- Date Picker */
.ui-datepicker {
    display: none;
    width: 200px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    padding: 2px;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    background-color: #5c909b;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 22px;
    height: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    color: white;
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker table {
    width: 100%;
    margin: 0;
    font-size: 95%;
}
.ui-datepicker th {
    padding: 0.7em 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}
.ui-datepicker thead .ui-datepicker-week-end {
    color: #7b7c7d;
}
.ui-datepicker thead span[title=sunday] {
    color: #f55;
}
.ui-datepicker span[title=saturday] {
    color: #3b83f3;
}
.ui-datepicker td {
    padding: 1px;
}
.ui-datepicker .ui-state-default {
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
}
.ui-datepicker .ui-state-hover {
    border-color: #7b7c7d;
    background-color: #c0c6c9;
}
.ui-datepicker .ui-state-highlight {
    border-color: #ebd147;
    background-color: #fbf9ee;
}
.ui-datepicker a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
    color: #333;
}
.ui-datepicker,
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    border-radius: 2px;
}

/* - Layout */
#container {
    position: relative;
    height: auto;
    min-width: 980px;
    min-height: 100%;
}
#content {
    height: auto;
    margin: 0;
    padding: 15px 15px 20px;
}
.has-menu-nav #content {
    margin-left: 168px;
}
#content-body {
    margin-top: 15px;
}
#menu {
    float: left;
    width: 150px;
    margin-left: -168px;
    margin-bottom: 100px;
}
#main {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}
#footer {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 100%;
}

/* -- Has Related Content */
.has-related-content #content-body {
    margin-right: 218px;
}
#dashboard.has-related-content #content-body,
.edit-screen #content-body {
    margin-right: 260px;
}
.has-related-content #main-content {
    float: left;
    clear: left;
}
#related-content {
    float: right;
    clear: right;
    width: 200px;
    margin-right: -218px;
}
#dashboard.has-related-content #related-content,
.edit-screen #related-content {
    width: 240px;
    margin-right: -258px;
}

/* -- Grid */
.unit {
    float: left;
}

.size1of1 {
    float: none;
    width: 100%;
}
.size1of2 {
    width: 50%;
}
.size1of3 {
    width: 33.33333%;
}
.size2of3 {
    width: 66.66666%;
}
.size1of4 {
    width: 25%;
}
.size3of4 {
    width: 75%;
}
.size1of5 {
    width: 20%;
}
.size2of5 {
    width: 40%;
}
.size3of5 {
    width: 60%;
}
.size4of5 {
    width: 80%;
}

.mod {
    padding: 8px;
    position: relative;
}

/* - App Header */
#header {
    position: relative;
    height: 60px;
}

/* -- Brand */
#brand {
    height: 32px;
    background-color: #2b2b2b;
}
#brand img {
    visibility: hidden;
}
#brand a,
.preview-screen #brand {
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10;
    width: 175px;
    height: 32px;
    text-decoration: none;
    background: #2b2b2b url(../images/logo/movable-type-brand-logo.png) center 3px no-repeat;
    outline: 0;
}
.website #brand a,
.website.preview-screen #brand {
    background-image: url(../images/logo/movable-type-brand-logo-website.png);
}
.system #brand a,
.system.preview-screen #brand {
    background-image: url(../images/logo/movable-type-brand-logo-system.png);
}
#brand a:hover {
    background-color: #383c3c;
}
#brand span.tips {
    display: block;
    position: absolute;
    top: 8px;
    left: 195px;
    color: #7b7c7d;
    text-transform: uppercase;
}

/* - Utility Nav */
#utility-nav {
    position: absolute;
    color: #9ea1a3;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 95%;
}
#utility-nav-list {
    margin-right: 15px;
}
#utility-nav li {
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0;
    line-height: 32px;
}
#utility-nav a {
    padding: 0 0 0 0.5em;
    color: #c0c6c9;
    text-decoration: none;
}
#utility-nav a:hover {
    color: #f3f3f3;
    text-decoration: underline;
}
#utility-nav #user a {
    padding-right: 10px;
    border-right: 1px solid #7b7c7d;
}
#utility-nav #user a:hover {
    text-decoration: none;
}
#utility-nav #user a:hover span {
    text-decoration: underline;
}
#utility-nav #user .userpic {
    margin-top: -1px;
    border: 1px solid #c0c6c9;
    vertical-align: middle;
}
#utility-nav #help {
    margin-right: 0.5em;
}

/* - Menu bar */
#menu-bar {
    position: relative;
    height: 28px;
    width: 100%;
    background-color: #7b7c7d;
}
.website #menu-bar {
    background-color: #839b5c;
}
.blog #menu-bar {
    background-color: #5c909b;
}

/* -- Selector Nav */
#selector-nav {
    position: relative;
    z-index: 500;
    height: 28px;
}
#selector-nav .toggle-button {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 16px;
    height: 16px;
    border: 1px solid #c0c6c9;
    margin: -9px 10px 0 0;
    border-radius: 2px;
}
.scope {
    float: left;
    max-width: 100%;
    height: 28px;
    margin: 0;
    padding: 0 3px 0 0;
    color: #f3f3f3;
    font-size: 115%;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blog .scope {
    max-width: 70%;
}
.scope.website {
    background-color: #839b5c;
}
.blog .scope.website {
    max-width: 30%;
}
.scope.user,
.scope.system,
.scope.website {
    padding-left: 40px;
}
.scope.blog:before {
    content: '\00a0';
    float: left;
    width: 20px;
    height: 28px;
    background: transparent url(../images/selector-nav-separator_blog.gif) left center no-repeat;
}
.scope a {
    outline: 0;
    color: #f3f3f3;
    text-decoration: none;
}
.scope a:hover {
    color: #f3f3f3;
    text-decoration: underline;
}
.scope-label {
    line-height: 28px;
    font-style: normal;
}

/* --- Scope Selector */
.scope-selector {
    display: none;
    position: absolute;
    top: 28px;
    left: 10px;
    min-width: 320px;
    max-width: 100%;
    border: 1px solid #adadad;
    border-top: 0;
    background-color: #f3f3f3;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.show-selector .scope-selector {
    display: block;
}
.scope-list,
.create-action {
    border-top: 1px solid #dcdddd;
}
.sticky-label.scope-level {
    margin: 0 0 5px;
    font-size: 100%;
    border-radius: 0 0 2px 0;
}
.scope-selector li {
    margin: 0;
    font-weight: normal;
}
.scope-selector a {
    display: block;
    padding: 5px 8px 5px 15px;
    line-height: 15px;
    overflow: hidden;
    color: #2b2b2b;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.scope-selector a:hover {
    text-decoration: none;
    background-color: #7b7c7d;
    color: #fff;
    opacity: 1;
    -ms-filter: 'alpha(opacity=100)';
    filter: alpha(opacity=100);

}
.scope-list.website a:hover {
    background-color: #839b5c;
}
.scope-list.blog a:hover {
    background-color: #5c909b;
}
.parent {
    display: inline;
    margin-left: 5px;
    font-size: 85%;
    font-weight: normal;
}
.select-another {
    text-align: right;
}
.scope-selector div.last-child li.last-child a {
    border-radius: 0 0 3px 3px;
}

/* --- Menu Bar list */
#menu-bar-nav {
    top: 0;
    right: 0;
    z-index: 500;
    height: 28px;
}
#menu-bar-nav a {
    outline: 0;
}

/* ---- Favorite Action */
.fav-actions-nav {
    position: relative;
    top: 3px;
    z-index: 600;
    float: right;
}
.fav-actions-nav .action.button,
.fav-actions-nav .toggle-button {
    border-color: #f8b500;
    background-color: #ffd900;
    background-image: -moz-linear-gradient(#ffd900, #f8b500);
    background-image: -webkit-linear-gradient(#ffd900, #f8b500);
    background-image: linear-gradient(#ffd900, #f8b500);
    color: #2b2b2b;
    text-shadow: none;
    box-shadow: 1px 1px 2px #666666;
}
.fav-actions-nav .action.button:hover,
.fav-actions-nav .toggle-button:hover {
    border-color: #c89932;
    background-color: #ffdd1a;
    background-image: -moz-linear-gradient(#ffdd1a, #ffbf13);
    background-image: -webkit-linear-gradient(#ffdd1a, #ffbf13);
    background-image: linear-gradient(#ffdd1a, #ffbf13);
}
.fav-actions-nav .action.button:active,
.fav-actions-nav.active .toggle-button {
    background-color: #c89932;
    background-image: -moz-linear-gradient(#ffbf13, #ffdd1a);
    background-image: -webkit-linear-gradient(#ffbf13, #ffdd1a);
    background-image: linear-gradient(#ffbf13, #ffdd1a);
}
.fav-actions {
    border: 1px solid #adadad;
    border-top: 0;
    background-color: #fbfbfb;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.fav-action {
    margin: 0;
}
.fav-action-link {
    display: block;
    padding: 5px;
    line-height: 15px;
    text-decoration: none;
}
.fav-action-link:hover {
    background-color: #f3f3f3;
    color: #2b2b2b;
}
.fav-action.last-child .fav-action-link {
    border-radius: 0 0 2px 2px;
}

/* ---- Nav Icons */
#menu-bar-icons {
    float: right;
    height: 100%;
    margin: 0 15px 0 8px;
}
#menu-bar-icons li {
    float: left;
    margin: 0;
}
#menu-bar-icons li a {
    display: block;
    width: 30px;
    height: 28px;
    color: #f3f3f3;
    background-position: center;
    background-repeat: no-repeat;
}
#rebuild-site a {
    background-image: url(../images/nav-icon-publish.png);
}
#view-site a {
    background-image: url(../images/nav-icon-view.png);
}
#cms-search a {
    position: static;
    background-image: url(../images/search-submit.png);
    border: 0;
}
#menu-bar-icons li.active a,
#menu-bar-icons li a:hover {
    background-color: #9ea1a3;
}
#rebuild-site a span,
#view-site a span,
#cms-search a span,
#blog-dashboard a span {
    display: none;
}

/* --- Menu bar Search */
#quick-search-form {
    position: absolute;
    top: 28px;
    right: 15px;
    z-index: 500;
    padding: 8px;
    border-top: 1px solid #c0c6c9;
    background-color: #9ea1a3;
    text-align: right;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#basic-search .text,
#basic-search .button {
    margin: 0;
    box-shadow: none;
}
#basic-search .search-query {
    width: 200px;
}

/* - Navigation Menu */
.menu-nav {
    position: relative;
    background-color: #ffffff;
}
.menu-nav em {
    font-style: normal;
}
.menu-nav li {
    margin: 0;
}
.menu-label {
    display: block;
    line-height: 17px;
}
.menu-link {
    display: block;
    text-decoration: none;
    outline: 0;
}
.menu-link:hover {
    color: #2b2b2b;
}

/* -- topmenu */
.top-menu-link {
    margin-right: 20px;
}
.current .top-menu-link {
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f3f3f3, #dcdddd);
    background-image: -webkit-linear-gradient(#f3f3f3, #dcdddd);
    background-image: linear-gradient(#f3f3f3, #dcdddd);
    color: #2b2b2b;
    font-weight: bold;
    text-shadow: 0 1px 0 #f8fbf8;
}
.current .top-menu-link:hover {
    background-color: #fafafa;
    background-image: -moz-linear-gradient(#fafafa, #e9eaea);
    background-image: -webkit-linear-gradient(#fafafa, #e9eaea);
    background-image: linear-gradient(#fafafa, #e9eaea);
}
.top-menu div {
    position: relative;
}
.top-menu .menu-label {
    padding: 5px;
}

/* -- submenu */
.sub-menu {
    display: none;
    background-color: #fbfbfb;
    font-size: 90%;
}
.current .sub-menu {
    display: block;
}
.sub-menu-link:hover {
    background-color: #f3f3f3;
}
.sub-menu-link.current {
    background-color: #e7e7eb;
    color: #2b2b2b;
}
.sub-menu .menu-label {
    padding: 3px 5px;
}

.top-menu div,
.sub-menu {
    border: solid #c0c6c9;
    border-width: 1px 1px 0;
}
.top-menu.last-child div,
.top-menu.last-child .sub-menu {
    border-width: 1px;
}
.top-menu-open.last-child .sub-menu {
    border-top-width: 0;
}

.menu-nav,
.top-menu.first-child.last-child div {
    border-radius: 3px;
}
.top-menu.last-child div,
.top-menu.last-child .sub-menu {
    border-radius: 0 0 3px 3px;
}
.top-menu.last-child .toggle-button {
    border-radius: 0 0 3px 0;
}
.current.first-child .top-menu-link {
    border-radius: 3px 0 0 0;
}
.top-menu.first-child.last-child .toggle-button {
    border-radius: 0 3px 3px 0;
}
.top-menu.first-child div,
.top-menu-open.first-child.last-child div {
    border-radius: 3px 3px 0 0;
}
.top-menu.first-child .toggle-button,
.top-menu-open.first-child.last-child .toggle-button {
    border-radius: 0 3px 0 0;
}
.top-menu-open.last-child div,
.top-menu-open.last-child .toggle-button {
    border-radius: 0;
}


/* - Content Header */
#content-header {
    position: relative;
}
.title.page {
    font-size: 150%;
    font-weight: normal;
}
.title.panel {
    margin-bottom: 10px;
}

/* -- Action Link List */ 
.action-link-list {
    margin-top: 5px;
}
.action-link-list li {
    display: inline-block;
    margin-right: 10px;
}

/* -- Object Nav */
.object-nav {
    position: absolute;
    top: 0;
    right: 0;
}
.object-nav span {
    color: #9ea1a3;
}
.object-nav li {
    display: inline-block;
    line-height: 1;
    margin: 0;
}
.object-nav li a,
.object-nav li span {
    display: inline-block;
    text-decoration: none;
    padding: 0.3em 0.5em;
    background-color: #f3f3f3;
    outline: 0;
    border-radius: 2px;
}
.object-nav li a:hover {
    text-decoration: underline;
}

/* - Fields */
#display_image-field {
    margin-top: 0;
}
#system_users-field .listing {
    margin-bottom: 10px;
}

/* -- Create Inline */
.create-inline {
    display: none;
    margin: 10px 0;
    padding: 0.62em;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
}

/* - Actions Bar */
.widget .actions-bar {
    margin-bottom: 0;
}
.display-options .actions-bar {
    margin-bottom: 8px;
}
.create-inline .actions-bar {
    margin-left: 14em;
}
.plugin-actions {
    float: right;
    margin: 3px 0 0;
}

/* -- Auto save message */
.autosave-notification {
    margin-top: 1em;
}


/* - Widget */
.widget {
    margin-bottom: 15px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 3px;
}
.widget-header {
    position: relative;
    padding: 5px 8px;
    line-height: 15px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f3f3f3, #dcdddd);
    background-image: -webkit-linear-gradient(#f3f3f3, #dcdddd);
    background-image: linear-gradient(#f3f3f3, #dcdddd);
    border-radius: 3px 3px 0 0;
}
.widget-no-header .widget-header {
    display: none;
}
.widget-header h2,
.widget-header h3,
.widget-header h4,
.widget-header h5,
.widget-header h6 {
    margin: 0;
    font-size: 100%;
    font-weight: bold;
}
.tabbed .widget-label h2,
.tabbed .widget-label h3,
.tabbed .widget-label h4,
.tabbed .widget-label h5,
.tabbed .widget-label h6 {
    display: none;
}
.widget-action {
    float: right;
}
.widget-close-link {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(../images/widget/widget-icons.png) -33px 0 no-repeat;
}
.widget-close-link span {
    display: none;
}
.widget-content {
    padding: 10px;
    border-top: 1px solid #c0c6c9;
}
.tabbed .widget-content,
.widget-no-header .widget-content {
    border: 0;
}

/* -- Status widget */
.loaded-revision .status-widget {
    background-color: #f2f2b0;
}

/* -- You Widget */
.user .you-widget {
    clear: both;
    border: 0;
    background-color: transparent;
}
.user .you-widget .widget-content {
    padding: 0;
}
.you-widget .user-pic {
    position: relative;
    width: 90px;
    height: 90px;
}
.you-widget .user-stats {
    margin-left: 110px;
}

/* -- Favorite Website, Blog Widget */
#favorite_blogs .widget-header {
    padding-bottom: 0;
}
#favorite_blogs #favorite-blogs-tabs {
    margin: 0 -10px;
}
#favorite_blogs #favorite-blogs-tabs ul.tabs {
    margin-bottom: 0;
    width: 100%;
}
.favorite-blogs-widget .widget-content {
    padding-right: 0;
}
.blog-name {
    margin-top: 0;
    font-size: 115%;
}
.favorite-blogs-widget .blog-container {
    max-height: 455px;
    overflow: auto;
}
.favorite-blogs-widget .msg {
    margin-right: 10px;
}
.favorite-blogs-widget .blog-content {
    position: relative;
    margin: 0 10px 0 0;
    padding: 10px;
}
.favorite-blogs-widget .thumbnail {
    margin-bottom: 0;
}
.favorite-blogs-widget .blog-meta {
    margin-right: 120px;
    margin-left: 135px;
}
.favorite-blogs-widget .blog-name {
    margin-bottom: 3px;
}
.favorite-blogs-widget .blog-link {
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 90%;
    text-overflow: ellipsis;
    white-space: pre;
}
.favorite-blogs-widget .blog-link a {
    color: #7b7c7d;
}
.favorite-blogs-widget .blog-description {
    margin-bottom: 10px;
    font-size: 90%;
}
.favorite-blogs-widget .blog-control li {
    display: inline;
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #c0c6c9;
    font-size: 90%;
}
.favorite-blogs-widget .blog-control li.first-child {
    margin-left: 0;
}
.favorite-blogs-widget .blog-control li.last-child {
    padding: 0;
    border: 0;
}
.favorite-blogs-widget .blog-action {
    position: absolute;
    top: 10px;
    right: 10px;
}
.favorite-blogs-widget .blog-action a.button {
    width: 100px;
    margin: 0;
}
.favorite-blogs-widget .select-website,
.favorite-blogs-widget .select-blog {
    margin-top: 10px;
    text-align: right;
}
.favorite-blogs-widget .select-website a,
.favorite-blogs-widget .select-blog a {
    margin-right: 10px;
}

/* -- Blog Stats Widget */
.blog-stats-widget {
    min-height: 480px;
}
#blog-stats-widget-tabs {
    margin: 0 -10px;
}
.blog-stats-widget-panel {
    overflow: hidden;
}
.blog-stats-widget embed {
    display: block;
    width: 540px;
    height: 120px;
    margin: 0 auto;
}
.blog-stats-widget .stats-summary {
    text-align: center;
}

.blog-stats-widget .tab-panel-header {
    margin: 20px 0 10px;
    font-weight: bold;
}

.object-list-widget .content {
    padding: 0 10px 10px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 8px 16px;
    overflow: hidden;
}
.object-list-widget .content p {
    margin-bottom: .5em;
}
.object-list-widget .content .meta {
    color: #9ea1a3;
}
.blog-stats-widget-panel .view-all {
    margin-top: 10px;
    text-align: right;
}

/* --- Blog Stats: Comments */
#comment-panel .content {
    padding-top: 10px;
}
.blog-stats-widget .comment-status-publish {
    background-image: url(../images/status_icons/success.gif);
}
.blog-stats-widget .comment-status-pending {
    background-image: url(../images/status_icons/warning.gif);
}

/* --- Blog Stats: Entries */
.blog-stats-widget .entry-status-publish {
    background-image: url(../images/status_icons/success.gif);
}
.blog-stats-widget .entry-status-review {
    background-image: url(../images/status_icons/warning.gif);
}
.blog-stats-widget .entry-status-spam {
    background-image: url(../images/status_icons/warning.gif);
}
.blog-stats-widget .entry-status-draft {
    background-image: url(../images/status_icons/draft.gif);
}
.blog-stats-widget .entry-status-future {
    background-image: url(../images/status_icons/future.gif);
}

/* --- Blog Stats: Tags */
.blog-stats-widget #tag-cloud {
    margin: 10px 0;
}
.blog-stats-widget #tag-cloud-list li {
    display: inline;
    padding-right: 10px;
}
.blog-stats-widget .tag-1 {
    font-size: 24px;
}
.blog-stats-widget .tag-2 {
    font-size: 22px;
}
.blog-stats-widget .tag-3 {
    font-size: 20px;
}
.blog-stats-widget .tag-4 {
    font-size: 18px;
}
.blog-stats-widget .tag-5 {
    font-size: 16px;
}
.blog-stats-widget .tag-6 {
    font-size: 14px;
}

/* --- Blog Stats: Registrations */
.blog-stats-widget .author {
    padding: 10px;
}
.blog-stats-widget .auth-icon {
    width: 12px;
    height: 12px;
}
.blog-stats-widget .author h4 {
    margin-top: 5px;
}

/* -- MT News */
.news-widget #news-widget-tabs {
    margin: 0 -10px 15px;
}
.news-widget .news-widget-list {
    display: none;
}
.most-recent-entry .excerpt {
    margin-top: 10px;
}

/* -- Include Templates Widget */
.include-from {
    display: block;
    margin-left: 20px;
    font-size: 85%;
}
.tmpl-label.error {
    color: #9e3d3f;
}


/* - Listing */
/* -- List Asset (legacy) */
#asset-listing-table .asset-thumb a span {
    display: none;
}
#asset-listing-table .asset-thumbnail .asset-type-youtube .asset-thumb a img {
    margin-left: -25px;
    margin-top: -9px;
}
#asset-listing-table .status-missing .as-asset-type {
    background: url(../images/status_icons/warning.gif) no-repeat left center;
    padding-left: 15px;
}
.asset-image {
    background-image: url(../images/asset-image.gif);
}

/* -- List Revision */
#page-revison-listing,
#entry-revision-listing,
#template-revision-listing {
    margin-bottom: 0;
    padding: 0;
}
.list-revision-dialog .col.datetime {
    width: 25%;
}
.list-revision-dialog .col.status {
    width: 15%;
}
.list-revision-dialog .col.created-by {
    width: 18%;
}

/* -- List Template (legacy) */
.tmpl-type-name {
    margin-bottom: 3px;
}

/* - Edit Screen */
/* - Edit Comment, Ping, Author & Entry */
.edit-comment #status-field,
.edit-ping #status-field,
.edit-author .user-status-disabled,
.edit-group .group-status-disabled {
    position: relative;
    padding: 10px 0 10px;
}
#comment-feedback-rating,
#ping-feedback-rating {
    margin-top: 10px;
}
#status-field .listing {
    margin-bottom: 0;
}

/* -- Editor */
#text-field {
    position: static;
}
.editor-toolbar {
    padding: 8px;
    border: solid #c0c6c9;
    border-width: 1px 1px 0;
    background-color: #f3f3f3;
    border-radius: 3px 3px 0 0;
}
.editor-toolbar .button {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    border-radius: 0;
}
.editor {
    display: block;
    position: relative;
    padding: 0;
    border-top: 0;
    background-color: #fff;
}

#editor-content-iframe {
    border: 1px solid #adadad;
}

.editor textarea,
.editor iframe {
    width: 100%;
    min-width: 100%;
    height: 550px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
}
.editor textarea {
    padding: 8px;
    font-size: 14px;
    font-family: monospace;
    line-height: 1.3;
}

/* -- Edit Entry, Page */
.edit-entry #title-field {
    padding: 0;
}
.edit-entry #permalink-field .field-content {
    color: #7b7c7d;
}
.sort-enabled {
    margin-bottom: 15px;
    padding: 0;
    border: 1px solid #c0c6c9;
    background-color: #fff;
    border-radius: 3px;
}
.sort-enabled:hover {
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0; 
}
.sort-enabled .field-header {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
    background-image: url(../images/sort_handle.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 3px 3px 0 0;
}
.sort-enabled .field-header:hover {
    cursor: move;
}
.sort-enabled .field-header label {
    margin-left: 20px;
}
.sort-enabled .field-content {
    padding: 0 10px 10px;
}
.placeholder {
    margin-bottom: 15px;
    border: 1px dashed #c0c6c9;
    background-color: #fbfbfb;
}

/* -- Edit Template */
#template-editor-toolbar {
    text-align: right;
}
#textarea-enclosure {
    background-color: #fff;
    border-radius: 0 0 2px 2px;
}

/* --- Toggle Highlight */
.button.command-highlight-on,
.button.command-highlight-off {
    margin: 0;
    background-image: url(../images/buttons/toolbar/toggle-highlight.gif);
}
.button.command-highlight-on:hover,
.button.command-highlight-off:hover {
    background-image: url(../images/buttons/toolbar/toggle-highlight-hover.gif);
}
.button.command-highlight-on.active,
.button.command-highlight-off.active {
    background-image: url(../images/buttons/toolbar/toggle-highlight-active.gif);
}
.button.command-highlight-off,
.button.command-highlight-off:hover {
    width: 23px;
    border-left: 1px solid #c0c6c9;
    background-position: -22px 0;
}
.button.toolbar .button-label {
    display: none;
}

/* --- Line Numbers */
.CodeMirror-gutter-text pre {
    padding: 0.4em 0.3em 0 0;
    overflow: hidden;
    border-right: 1px solid #dcdddd;
    color: #a3a3a2;
    text-align: right;
    font-family: monospace;
}

/* -- Tags Field */
#tags-field {
    position: relative;
    height: auto;
    overflow: visible;
}
#tags-suggestion {
    position: relative;
    top: -1px;
    left: 2px;
    width: 100%;
}
#tags_completion {
    display: none;
    min-width: 200px;
    max-width: 100%;
    position: absolute;
    z-index: 50;
    border: 1px solid #c0c6c9;
    background-color: #f3f3f3;
}
#tags_completion div {
    padding: 2px 5px;
}
#tags_completion .complete-highlight {
    color: #2b2b2b;
    background-color: #dcdddd;
}

/* --- Status Widget */
#entry-status-widget {
    position: relative;
}
#entry-status-widget .status {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* --- Publishing Widget */
#edit-page #basename {
    width: 180px;
}
#entry-publishing-widget .save-action,
#entry-publishing-widget .preview-action {
    float: left;
    width: 107px;
}
#entry-publishing-widget .preview-action {
    float: right;
}
#entry-publishing-widget .actions-bar .button {
    width: 100%;
    margin: 0;
}
#entry-publishing-widget .delete-action {
    margin-top: 5px;
    text-align: right;
}
#entry-publishing-widget a.delete {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 17px;
    background: transparent url(../images/delete.gif) left bottom no-repeat;
    color: #7b7c7d;
}
#entry-publishing-widget a.delete:hover {
    background-position: left top;
    color: #9e3d3f;
}

/* ---- Publish Date Field */
.edit-entry .date-time-fields .post-date {
    width: 7em;
}
.edit-entry .date-time-fields .post-time {
    width: 5.5em;
}
.date-time-fields .scheduled {
    margin: 5px 0 0 0;
}

/* --- Categories Widget */
#category-field {
    margin: 0;
}
.category-selector {
    max-width: 600px;
    margin: 0 0 30px;
}
.edit-entry .category-selector {
    margin-bottom: 10px;
}

.category-selector a {
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
}
.category-selector-header {
    padding: 0 0 5px;
    text-align: right;
}
.category-selector-list {
    height: 120px;
    padding: 3px;
    border: 1px solid #c0c6c9;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    clear: both;
}
.category-selector-list .list-item {
    clear: both;
    margin-bottom: 2px;
    padding: 1px 2px 1px 0;
}
.category-selector-list .list-item label {
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
}
/* take up the scrollbar space explicitly */
.category-selector-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}
.category-selector-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border: 2px solid #fff;
    border-radius: 8px;
}
.category-selector-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.5);
}
.list-item-hover {
    background: #dcdddd;
}
.add-category-new-link {
    float: right;
    width: 9px;
    height: 9px;
    margin-top: 3px;
}
.list-item-hover .add-category-new-link {
    background: url(../images/status_icons/create.gif) no-repeat left center;
}
.add-category-save-link {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
}
.add-category-cancel-link {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    background: url(../images/status_icons/error.gif) no-repeat left center;
}
.add-category-new-parent-link {
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
}
.add-category-new-link span,
.add-category-save-link span,
.add-category-cancel-link span {
    display: none;
}

/* ---- Add New Category Form */
.add-category-form {
    white-space: nowrap;
}
.category-selector .add-category-form .add-category-input {
    width: 80%;
    margin: 3px 0 5px 2px;
}
.category-selector #add-category-form .add-category-input {
    margin-left: 0;
}
.add-category-checkbox {
    margin-left: 2px;
}
.category-toggle-link {
    position: absolute;
    top: 5px;
    right: 10px;
}
.edit-page .add-category-toggle-link {
    position: static;
}
#category-list strong {
    padding-left: 13px;
    background: url(../images/status_icons/primary.png) no-repeat 0 50%;
}
#category-list a {
    text-decoration: none;
}
#category-list a.primary {
    padding-left: 13px;
    color: #5c909b;
}
#category-list .focus a.primary {
    background: url(../images/status_icons/primary-disabled.png) no-repeat 0 50%;
}
#category-list .delete {
    padding-right: 9px;
}
#category-list .focus .delete {
    background: url(../images/status_icons/close-disabled.gif) no-repeat right center;
}
#category-list .focus .delete:hover {
    background: url(../images/status_icons/close.gif) no-repeat right center;
}
#category-list .delete span {
    display: none;
}
.add-new-category-link {
    float: right;
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
    position: relative;
    right: 2px;
    top: 9px;
}
.edit-page .add-new-category-link {
    float: none;
    position: static;
}

/* ---- Page Folder */
.change-folder-link {
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
}

/* --- Feedback Widget */
#allow-feedback-field li {
    position: relative;
}
.feedback-count {
    position: absolute;
    right: 0;
}
.comments-link a,
.pings-link a {
    display: inline-block;
    min-height: 18px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}
.comments-link a {
    background-image: url(../images/nav_icons/color/comments.gif);
}
.pings-link a {
    background-image: url(../images/nav_icons/color/trackbacks.gif);
}
#ping-urls-field {
    margin-bottom: 0;
}

/* --- Asset List Widget */
#asset_container .widget-content-inner {
   padding: 0px 10px 10px;
}
.asset-list-header {
    margin-bottom: 5px;
    text-align: right;
}
.add-new-asset-link {
    padding-left: 11px;
    background: url(../images/status_icons/create.gif) no-repeat left center;
    text-decoration: none;
}
ul#asset-list li {
    position: relative;
    padding: 5px 0 0 18px;
    line-height: 1.2;
    background-repeat: no-repeat;
    background-position: left center;
}
ul#asset-list li#empty-asset-list {
    padding-left: 0;
}
ul#asset-list li a.asset-title {
    display: inline-block;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul#asset-list li a.remove-asset {
    position: absolute;
    top: 5px;
    right: 0;
}
ul#asset-list li img.list-image {
    position: absolute;
    z-index: 100;
    left: -115px;
    top: -5px;
    padding: 5px;
    background-color: #7b7c7d;
    border-radius: 3px;
}
ul#asset-list .asset-type-file {
    background-image: url(../images/asset/file.gif);
}
ul#asset-list .asset-type-image {
    background-image: url(../images/asset/image.gif);
}
ul#asset-list .asset-type-audio {
    background-image: url(../images/asset/audio.gif);
}
ul#asset-list .asset-type-video {
    background-image: url(../images/asset/video.gif);
}

/* --- Asset Option */
#asset_details {
    margin-bottom: 30px;
}
.new-asset #new_entry_prefs {
    margin-bottom: 20px;
}

/* -- Edit Comment, Trackback */
.settings-screen a#increase-threshold,
.settings-screen a#decrease-threshold {
    color: #383c3c;
    text-decoration: none;
    vertical-align: text-top;
}
.edit-comment .commenter-actions a {
    white-space: nowrap;
}
.edit-comment .commenter-detail-link {
    text-decoration: none;
}
.edit-comment .commenter-trust,
.edit-comment .commenter-ban,
.edit-comment .commenter-neutral {
    font-size: 70%;
}
.edit-comment .commenter-trust {
    border-color: #88cb7f;
    background-color: #d6e9ca;
    background-image: -moz-linear-gradient(#d6e9ca, #98d98e);
    background-image: -webkit-linear-gradient(#d6e9ca, #98d98e);
    background-image: linear-gradient(#d6e9ca, #98d98e);
}
.edit-comment .commenter-trust:hover {
    border-color: #77c46d;
    background-color: #fdf7f8;
    background-image: -moz-linear-gradient(#e4f0dc, #a9dfa1);
    background-image: -webkit-linear-gradient(#e4f0dc, #a9dfa1);
    background-image: linear-gradient(#e4f0dc, #a9dfa1);
}
.edit-comment .commenter-trust:active {
    background-color: #f6bfbc;
    background-image: -moz-linear-gradient(#98d98e, #d6e9ca);
    background-image: -webkit-linear-gradient(#98d98e, #d6e9ca);
    background-image: linear-gradient(#98d98e, #d6e9ca);
}
.edit-comment .commenter-ban {
    border-color: #f2a0a1;
    background-color: #fdeff2;
    background-image: -moz-linear-gradient(#fdeff2, #f6bfbc);
    background-image: -webkit-linear-gradient(#fdeff2, #f6bfbc);
    background-image: linear-gradient(#fdeff2, #f6bfbc);
}
.edit-comment .commenter-ban:hover {
    border-color: #ef8a8b;
    background-color: #fdf7f8;
    background-image: -moz-linear-gradient(#fdf7f8, #f9d4d2);
    background-image: -webkit-linear-gradient(#fdf7f8, #f9d4d2);
    background-image: linear-gradient(#fdf7f8, #f9d4d2);
}
.edit-comment .commenter-ban:active {
    background-color: #f6bfbc;
    background-image: -moz-linear-gradient(#f6bfbc, #fdeff2);
    background-image: -webkit-linear-gradient(#f6bfbc, #fdeff2);
    background-image: linear-gradient(#f6bfbc, #fdeff2);
}

/* -- Edit Template  */
.edit-template #title-field {
    padding: 0;
}
#template-body-actions {
    padding: 4px 8px;
    border: 1px solid #c0c6c9;
    border-bottom: none;
    background: #f3f3f3;
}
.edit-template th.archive-delete div {
    height: 11px;
    background: url('../images/nav_icons/mini/delete.gif') no-repeat center center;
}
.edit-template th.archive-delete span {
    display: none;
}
.edit-template .delete-archive-link {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('../images/nav_icons/mini/delete.gif') no-repeat center center;
}
.edit-template .delete-archive-link span {
    display: none;
}
.templatemap-listing-table .tmpl-path,
.templatemap-listing-table .tmpl-path-custom,
.templatemap-listing-table #build-type {
    width: 100%;
}
.templatemap-listing-table .publish-options {
    width: 20%;
}
#server_side_include-field .field-content,
#caching-field .field-content {
    margin: 10px 0 0  15px;
}
#template-options {
    position: relative;
    margin-bottom: 10px;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #dcdddd;
    border-radius: 3px;
}
#template-options-header {
    overflow: hidden;
}
.active #template-options-header {
    margin-bottom: 10px;
}
.template-options-toggle {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: bold;
}
.template-options-toggle a {
    color: #2b2b2b;
}
.template-options-summary {
    float: right;
    height: 30px;
    line-height: 30px;
    color: #7b7c7d;
    font-size: 90%;
}
.active .template-options-summary,
#template-options-content {
    display: none;
}
.active #template-options-content {
    display: block;
}

/* --- Archive Mapping */
#archive_mapping-field p {
    margin-bottom: 3px;
}
#template-options #templatemap-listing {
    margin-bottom: 5px;
}
#template-options #templatemap-listing-table tr.last-child td.first-child {
    border-radius: 0 0 0 3px;
}
#template-options #templatemap-listing-table tr.last-child td.last-child {
    border-radius: 0 0 3px 0;
}
#caching-field ul ul {
    margin-left: 1.5em;
}
#caching-field li {
    margin-bottom: .5em;
}
#caching-field li li {
    display: inline-block;
    width: 30%;
    margin: 0.5em 0 0;
}
#cache-time-value,
#cache-time-unit {
    vertical-align: middle;
}
#cache-events {
    margin-top: 3px;
}

/* --- Edit Widget Set */
#widget-manager {
    margin: 15px 0;
}
.widget-item {
    margin-bottom: 10px;
    cursor: move;
    box-shadow: 0 1px 0 #fff;
}
#available-column-items,
#installed-column-items {
    min-height: 38px;
}
#available-widgets {
    margin: 0 10px 0 0;
}
#installed-widgets {
    margin: 0 0 0 10px;
    background-color: #f6f6f6;
}
#available-widgets .widget-content,
#installed-widgets .widget-content {
    padding-bottom: 0;
}
#installed-widgets > .widget-header {
    background-color: #adadad;
    background-image: -moz-linear-gradient(#adadad, #7b7c7d);
    background-image: -webkit-linear-gradient(#adadad, #7b7c7d);
    background-image: linear-gradient(#adadad, #7b7c7d);
    color: #fffffc;
}

/* -- Edit Asset */
.asset-preview {
    margin-bottom: 30px;
}
.asset-preview-thumb .thumbnail {
    display: inline-block;
}
.asset-preview-thumb img {
    border: 0;
}
.edit-asset .asset-metadata {
    overflow: hidden;
}
.edit-asset .asset-info {
    clear: both;
}

/* --- Related Assets Widget */
#related-assets .asset {
    overflow: hidden;
    clear: left;
    margin-bottom: 10px;
    padding-bottom: 5px; 
}
#related-assets .asset.last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.edit-asset .actions-bar {
    clear: both;
}

/* - Preview */
.preview-content {
    margin: 1.2em 0;
}
.preview-title,
.preview-body,
.preview-more {
    margin: 30px 0;
    line-height: 1.5;
}
.preview-title {
    font-size: 130%;
    font-weight: bold;
}
.preview-screen {
    overflow: hidden;
}
.preview-layout {
    width: 100%;
    min-width: 900px;
    height: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
.preview-control-strip {
    position: relative;
    padding: 1px 0;
    border-bottom: 1px solid #dcdddd;
    background-color: #2b2b2b;
}
.preview-label {
    margin: 10px 20px 20px;
    text-align: right;
    color: #f8fbf8;
}
.preview-screen .actions-bar {
    margin: 0 20px 10px;
}
.preview-screen .preview-content {
    height: 100%;
    margin: 0;
    padding: 0;
}
.preview-screen .preview-content iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* - Settings */
#system-check iframe {
    width: 758px;
    height: 400px;
}
#system-check .field {
    padding-bottom: 0;
    border-bottom: 0;
}

/* -- Contextual Help */
.help-link {
    display: none;
}
#formatting-help-link {
    display: inline;
    text-align: center;
    padding: 0 3px;
    border: 1px solid #7b7c7d;
    margin: 0 3px 0 0;
    color: #7b7c7d;
    background-color: #dcdddd;
    font-weight: bold;
    text-decoration: none;
}
#formatting-help-link:hover {
    background-color: #7b7c7d;
    color: #fff;
}
#formatting-help-link.disabled {
    display: none;
}

/* -- General Settings */
#has-license-field p {
    margin: 5px 0 0;
}
#has-license-field .actions-link {
    display: block;
    margin-top: 5px;
}
.content-path {
    margin-bottom: 10px;
    font-weight: bold;
}
.path-text {
    color: #7b7c7d;
}

/* -- System General Settings */
#system_email_address-field .field-content > div {
    position: relative;
    display: inline-block;
    width: 500px;
}
#system_email_address-field #system_email_address {
    width: 73%;
}
#system_email_address-field #send-test-email {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

input#system_debug_mode,
input#system_performance_logging_threshold {
    width: 4em;
    text-align: center;
}

/* -- Registration Settings */
#setting-auth-status-field li ul {
    margin: 0.5em 0 1.5em 2em;
}

/* -- Plugin Settings */
#list-plugins .plugin .plugin-status a:link,
#list-plugins .plugin .plugin-name a:link,
#list-plugins .plugin .plugin-tabs a:link,
#list-plugins .plugin .plugin-status a:visited,
#list-plugins .plugin .plugin-name a:visited,
#list-plugins .plugin .plugin-tabs a:visited {
    color: #2b2b2b;
    text-decoration: none;
}
#list-plugins .plugin-group {
    margin-bottom: 25px;
}
#list-plugins .plugin-group-name {
    margin: 0 0 10px;
}
#list-plugins .plugin {
    margin-bottom: -1px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
}
#list-plugins .plugin.first-child {
    border-radius: 3px 3px 0 0;
}
#list-plugins .plugin.last-child {
    border-radius: 0 0 3px 3px;
}
#list-plugins .plugin:hover,
#list-plugins .plugin-expanded {
    background-color: #f9f9f9;
}
#list-plugins .plugin-header {
    position: relative;
}
#list-plugins .plugin-name {
    border: none;
    margin: 0;
    font-size: 110%;
}
#list-plugins .plugin-name a,
#list-plugins .plugin-name .plugin-name-disabled {
    display: block;
    padding: 10px 10px 10px 35px;
    background: url(../images/plugin-error.gif) no-repeat 10px 10px;
    outline: 0;
}
#list-plugins .plugin-name a:hover {
    display: block;
}
#list-plugins .plugin-status {
    position: absolute;
    top: 10px;
    right: 10px;
}
#list-plugins .plugin-status a.button {
    margin: -3px 0 0 5px;
    text-align: center;
    min-width: 45px;
}
#list-plugins .plugin-content {
    display: none;
}
#list-plugins .plugin-expanded .plugin-content {
    display: block;
    margin: 0 10px 10px;
}
#list-plugins .plugin-tabs-list li {
    border: 0;
    margin: 0 0 2px;
    background-color: transparent;
}
#list-plugins .plugin-tabs-list li.ui-tabs-selected {
    border-bottom: 3px solid #7b7c7d;
    background-color: transparent;
}
#list-plugins .plugin-tabs-list li a {
    padding: 0 10px 0 23px;
    background-position: 10px center;
}
#list-plugins .plugin-metadata-list {
    margin: 0;
}
#list-plugins .plugin-metadata-list li {
    display: inline;
    margin-right: 10px;
}
#list-plugins .setting-advanced {
    display: none;
    margin: 10px 0 20px 1.2em;
}
#list-plugins .config li ul {
    margin: 10px 0 0 1.2em;
}
#list-plugins #plugin_control .actions-bar {
    text-align: center;
}
#list-plugins #plugin_control .actions-bar button {
    margin: 0;
}

/* -- Theme Setting */
#list-themes .theme-group {
    margin-bottom: 25px;
}
#list-themes .theme-group-name {
    margin: 0 0 10px;
}
#list-themes .theme {
    position: relative;
    clear: both;
    margin-bottom: -1px;
    padding: 10px;
    border: 1px solid #c0c6c9;
    background-color: #fff;
}
#list-themes .theme.first-child {
    border-radius: 3px 3px 0 0;
}
#list-themes .theme.last-child {
    border-radius: 0 0 3px 3px;
}
#list-themes .theme:hover,
#list-themes .theme-expanded {
    background-color: #f9f9f9;
}
#list-themes .theme-status {
    position: absolute;
    top: 10px;
    right: 10px;
}
#list-themes .theme-status .button {
    margin: 0 0 0 0.5em;
}
#list-themes .theme-status .alert-warning a {
    color: #2b2b2b;
}
#list-themes .theme .picture.small {
    margin-bottom: 0;
}
#list-themes .theme-meta {
    margin-left: 135px;
}
#list-themes .theme-title {
    margin: 0 0 3px;
    font-size: 110%;
}
#list-themes .theme-author {
    margin: 5px 0 10px;
    font-size: 90%;
}
#list-themes .description {
    margin: 0;
    font-size: 90%;
}
#list-themes .theme-tabs-list li {
    border: 0;
    margin: 0 0 2px;
    background-color: transparent;
}
#list-themes .theme-tabs-list li.ui-tabs-selected {
    border-bottom: 3px solid #7b7c7d;
    background-color: transparent;
}
#list-themes .theme-tabs-list li a {
    padding: 0 10px;
    background-position: 10px center;
}
#list-themes .error-text {
    margin: 10px 0 0;
}
#list-themes .theme-details {
    display: none;
    clear: both;
    padding-top: 20px;
    color: #2b2b2b;
}
#list-themes .theme-expanded .theme-details {
    display: block;
}
#list-themes .theme-info ul {
    margin: 10px 0 10px 1.5em;
}
#list-themes .theme-info li {
    list-style-type: disc;
}
#list-themes .error-text a,
#list-themes .theme-errors li {
    color: #f39800;
}

/* -- System User Settings */
#new_user_theme_thumb {
    margin-bottom: 5px;
}
#new_user_theme_thumb img {
    border: 1px solid #c0c6c9;
}
#select-personal-blog-theme .theme {
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #c0c6c9;
    overflow: hidden;
    background-color: white;
}
#select-personal-blog-theme .theme .theme-thumbnail {
    margin: 15px;
}
#select-personal-blog-theme .theme .theme-meta {
    margin: 15px 0 15px 135px;
}

/* -- System Info */

.exception {
    height: 100px;
    margin: 5px 0 0;
    font-family: monospace;
    font-size: 95%;
    background-color: #f3f3f3;
    color: #7b7c7d;
}

/* -- Edit Author */
.edit-author #system_permissions-field li {
    display: inline-block;
    width: 225px;
}
.edit-author #system_permissions-field li label {
    white-space: nowrap;
}

/* - Backup & Restore */
.progress-log {
    height: 300px;
    margin: 15px 0 10px;
    padding: 10px;
    border: 1px solid #c0c6c9;
    overflow: auto;
    background-color: #fff;
    border-radius: 2px;
}

#backup-files {
    padding-left: 1.5em;
}
#backup-files .list-item {
    list-style-type: disc;
}

/* - Export Theme */
#template_set h3 {
    margin-bottom: 5px;
}
#template_set .listing {
    margin-bottom: 30px;
}

/* -- Template Set */
.template-group {
    position: relative;
    margin-bottom: 10px;
}
.template-group-header {
    position: relative;
}
.template-group-header h3 {
    display: inline-block;
    margin: 0;
    text-shadow: none;
}
.template-group-header h3 a {
    color: #2b2b2b;
}
.template-group-summary {
    position: absolute;
    top: 0;
    right: 0;
    color: #888;
    text-align: right;
    width: 400px;
}
.template-group-content table {
    margin-bottom: 20px;
}
.template-group-content .output-file {
    width: 60%;
}
div.template-group-content {
    display: none;
}
div.template-group-content.active {
    display: block;
}

/* -- Default Category */
#default_categories-table .display-name {
    width: 40%;
}

/* -- Default Folder */
#default_folders-table .display-name {
    width: 35%;
}


/* - Search Replace */
.search-replace .ui-tabs-nav {
    margin-bottom: 0;
}
.search-replace #search-field,
.search-replace #search-alt-field,
.search-replace #replace-field {
    padding: 0;
}
.search-replace #search-bar-advanced-search {
    margin-bottom: 10px;
}
.search-replace .advanced-options {
    margin: 0;
    border: 1px solid #adadad;
    border-top-color: #cfd0d0;
    border-left-color: #cfd0d0;
    background-color: #fff;
}
#search-bar .actions-bar {
    margin: 20px 0 10px;
}
.search-replace .listing {
    margin-top: 30px;
}


/* - Display Optins */
.display-options {
    margin: 10px 0 0;
}
.display-options .toggle-link {
    float: right;
    position: relative;
    padding: 5px 25px 5px 0.5em;
    border: 1px solid #c0c6c9;
    line-height: 13px;
    background: #f3f3f3;
    border-radius: 2px;
    text-decoration: none;
}
.display-options.active .toggle-link {
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
}
.display-options .toggle-button {
    width: 18px;
    border-radius: 0 2px 2px 0;
}
.display-options.active .toggle-button {
    border-radius: 0 2px 0 0;
}
.display-options-detail {
    display: none;
    margin-bottom: 5px;
    padding: 10px 10px 0;
    border: 1px solid #c0c6c9;
    text-align: left;
    border-radius: 2px 0 2px 2px;
}

/* - Footer */
#footer {
    border-top: 1px solid #c0c6c9;
    padding: 8px 0 1px;
    background-color: #dcdddd;
    font-size: 85%;
}
#footer a {
    color: #7b7c7d;
}
#footer a:hover,
#footer a:active {
    color: #2b2b2b;
}
#footer .inline-nav {
    margin: 0 20px 10px;
    white-space: nowrap;
}
#footer .inline-nav li {
    display: inline;
    border: 0;
    border-left: 2px solid #9ea1a3;
    padding: 0 7px;
}
#footer .inline-nav li.first-child {
    border: none;
    padding-left: 0;
}
#version,
#copyright {
    margin-left: 20px;
}

/* - beta */
.mt-beta #brand {
    background-image: url(../images/beta_icons/beta_icon.png);
    background-position: 195px center;
    background-repeat: no-repeat;
}
.mt-beta #brand span.tips {
    left: 240px;
}
.mt-beta #container {
    padding-bottom: 180px;
}
.mt-beta #footer {
    padding-top: 0;
}
.mt-beta #footer #msg-beta {
    margin-bottom: 10px;
    border-bottom: 1px solid #c0c6c9;
    background-color: #fef263;
    text-align: center;
}
.mt-beta #footer #msg-beta p {
    display: inline-block;
    margin: 0 auto;
    padding: 0.8em 0 0.8em 45px;
    background: transparent url(../images/beta_icons/beta_icon.png) left center no-repeat;
    text-align: left;
}

/* - Clone */
.process-msg {
    position: relative;
    overflow: auto;
    overflow-x: auto;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    height: 300px;
}

/* - Clearfix */
#container,
#content,
.line,
.top-menu,
.display-options,
.user .you-widget,
.favorite-blogs-widget .blog-content,
#list-themes .theme,
#entry-publishing-widget .actions-bar {
    zoom: 1;
}
#container:before,
#container:after,
#content:before,
#content:after,
.line:before,
.line:after,
.top-menu:before,
.top-menu:after,
.display-options:before,
.display-options:after,
.user .you-widget:before,
.user .you-widget:after,
.favorite-blogs-widget .blog-content:before,
.favorite-blogs-widget .blog-content:after,
#list-themes .theme:before,
#list-themes .theme:after,
#entry-publishing-widget .actions-bar:before,
#entry-publishing-widget .actions-bar:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\00a0";
}
#container:after,
#content:after,
.line:after,
.top-menu:after,
.display-options:after,
.user .you-widget:after,
.favorite-blogs-widget .blog-content:after,
#list-themes .theme:after,
#entry-publishing-widget .actions-bar:after {
    clear: both;
}
