.hidden { display: none !important; }
.visible { display: block; }
.invisible { visibility: hidden; }
.clickable { cursor: pointer; }
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.inline { display: inline; }
.nowrap { white-space: nowrap; }
.fl { float: left; }
.fr { float: right; }

