#content-header #content-header-inner #page-title {
  line-height: 1.2;
}

.shortcuts-widget ul li {
  margin-bottom: 0;
}

.settings-screen .field-left-label .field-header {
  width: 145px;
}

.settings-screen .field-left-label .field-content, 
.settings-screen .settings-actions-bar .actions-bar-inner {
  margin-left: 155px;
}

#publishing-field #basename-field .field-header {
  width: 85px;
}

#calendar #calendar-content {
  overflow: auto;
}

.calendar-footer {
  clear: both;
}
