/* Publishing Widget */
#entry-publishing-widget .actions-bar { 
    height: auto;
}

#entry-publishing-widget button.preview { 
    position: static;
}

#entry-publishing-widget button.draft { 
    margin-top: 10px;
}

