<mt:include name="include/basic_filter_forms.tmpl">
<mt:setvarblock name="page_title"><__trans phrase="Download Log (CSV)"></mt:setvarblock>

<mt:setvarblock name="form_header">
  <form id="export-log-form" method="GET">
</mt:setvarblock>

<mt:setvarblock name="modal_body">
  <mtapp:setting
    id="export-log-setting"
    label="<__trans phrase="Please specify the time period">">
    <div class="form-check">
      <input type="checkbox" id="is_dateranged" name="is_dateranged" value="1" class="form-check-input cb" />
      <label class="form-check-label" for="is_dateranged">
        <__trans phrase="Specify the period">
      </label>
    </div>
    <div id="date-range" class="form-inline" style="display: none;">
      <__trans phrase="Created On">
      <div class="date-options">
        <mt:setvarblock name="date_input_from"><input name="from" type="text" class="form-control m-1 text required date text-date" /></mt:setvarblock>
        <mt:setvarblock name="date_input_to"><input name="to" type="text" class="form-control m-1 text required date text-date" /></mt:setvarblock>
        <mt:setvarblock name="date_input_origin"><input name="origin" type="text" class="form-control m-1 text required date text-date" /></mt:setvarblock>
        <mt:setvarblock name="date_input_days"><input name="days" type="text" class="form-control m-1 text required digit days" /></mt:setvarblock>
        <div class="date-option date"><__trans phrase="__FILTER_DATE_ORIGIN" params="<mt:var name="date_input_origin">"></div>
        <div class="date-option range"><__trans phrase="[_1] and [_2]" params="<mt:var name="date_input_from">%%<mt:var name="date_input_to">"></div>
        <div class="date-option days"><__trans phrase="_FILTER_DATE_DAYS" params="<mt:var name="date_input_days">"></div>
      </div>
      <select class="filter-date custom-select form-control m-1 form-select">
        <option value="range"><__trans phrase="is between"></option>
        <option value="days"><__trans phrase="is within the last"></option>
        <option value="before"><__trans phrase="is before"></option>
        <option value="after"><__trans phrase="is after"></option>
      </select>
    </div>
  </mtapp:setting>
</mt:setvarblock>

<mt:setvarblock name="action_buttons">
  <button type="submit" accesskey="s" id="export-log-download" class="btn btn-primary action primary button"><__trans phrase="Download Log (CSV)"></button>
  <button type="submit" accesskey="x" class="cancel btn btn-default action" data-mt-modal-close><__trans phrase="Cancel"></button>
</mt:setvarblock>

<mt:setvarblock name="form_footer">
  </form>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script>
document.addEventListener('DOMContentLoaded', function() {
  const detectType = function ($node) {
    switch ($node.val()) {
    case 'days':
      return 'days';
    case 'before':
    case 'after':
      return 'date';
    default:
      return 'range';
    }
  }

  const dateOption = function ($node) {
    const type = detectType($node);
    jQuery('.date-options .date-option').hide();
    jQuery(`.date-options .date-option.${type}`).show();
  };

  jQuery('.filter-date').each(function (_, element) {
    const $node = jQuery(element);
    dateOption($node);
    $node.on('change', function () {
      dateOption($node);
    });
  });

  jQuery('input.text-date').datepicker({
    dateFormat: 'yy-mm-dd',
    dayNamesMin: [<__trans phrase="_LOCALE_CALENDAR_HEADER_">],
    monthNames: ['- 01','- 02','- 03','- 04','- 05','- 06','- 07','- 08','- 09','- 10','- 11','- 12'],
    showMonthAfterYear: true,
    prevText: '<',
    nextText: '>'
  });

  jQuery('#is_dateranged').on('change', function () {
    if ( jQuery(this).prop('checked') ) {
      jQuery('#date-range').show();
    } else {
      jQuery('#date-range').hide();
    };
  });

  jQuery('#export-log-form').on('submit', function (e) {
    e.preventDefault();
    const optionNode = jQuery('.filter-date');
    const selected_type = detectType(optionNode);
    let url = `<mt:var name="script_url" excape="html"><mt:var name="script_url" excape="html">?__mode=export_log&blog_id=<mt:var name="blog_id">&magic_token=<mt:var name="magic_token" escape="html">`;

    if (!jQuery('#is_dateranged').prop('checked')) {
      url += `&type=${optionNode.val()}`;
      jQuery(`.date-options .date-option.${selected_type} input`).each(function (_, elem) {
        url += `&${elem.name}=${elem.value}`;
      });
    }
    window.location.href = url
  });
});
</script>
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
