<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
   <meta name="generator" content="<$MTProductName version="1"$>" />

   <link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />

   <title><$MTBlogName encode_html="1"$>: <MT_TRANS phrase="Comment on"> <$MTEntryTitle$></title>

   <script type="text/javascript" src="<$MTBlogURL$>mt-site.js"></script>
</head>
<body class="layout-one-column comment-preview" onload="individualArchivesOnLoad(commenter_name)">
   <div id="container">
      <div id="container-inner" class="pkg">

         <div id="banner">
            <div id="banner-inner" class="pkg">
               <h1 id="banner-header"><a href="<$MTBlogURL$>" accesskey="1"><$MTBlogName encode_html="1"$></a></h1>
               <h2 id="banner-description"><$MTBlogDescription$></h2>
            </div>
         </div>

         <div id="pagebody">
            <div id="pagebody-inner" class="pkg">
               <div id="alpha">
                  <div id="alpha-inner" class="pkg">

                     <h3><MT_TRANS phrase="Previewing your Comment"></h3>

                     <div class="comment">
                        <div class="comment-content">
                           <$MTCommentPreviewBody$>
                        </div>
                        <p class="comment-footer">
                           <MT_TRANS phrase="Posted by">:
                           <$MTCommentPreviewAuthorLink default_name="<MT_TRANS phrase="Anonymous">"$> |
                           <$MTCommentPreviewDate$>
                        </p>
                     </div>
                     
                     <MTEntryIfCommentsOpen> 
                        <form method="post" action="<$MTCGIPath$><$MTCommentScript$>" name="comments_form">
                        <input type="hidden" name="static" value="1" />
                        <input type="hidden" name="entry_id" value="<$MTEntryID$>" />

                        <div class="comments-open" id="comments-open">
                           
                           <MTIfRegistrationAllowed>
                              <script type="text/javascript">
                                 <!--
                                  writeTypeKeyGreeting(commenter_name, <$MTEntryID$>);
                                 //-->
                              </script>
                           </MTIfRegistrationAllowed>
                           
                           <div class="comments-open-content">
                              <MTIfCommentsModerated>
                                 <p class="comments-open-moderated">
                                    <MT_TRANS phrase="(If you haven't left a comment here before, you may need to be approved by the site owner before your comment will appear. Until then, it won't appear on the entry. Thanks for waiting.)">
                                 </p>
                              </MTIfCommentsModerated>

                              <div id="comments-open-data">
                                 <div id="name-email">
                                 <MTIfRegistrationRequired>
                                 <MTElse>
                                 <p>
                                    <label for="comment-author"><MT_TRANS phrase="Name">:</label>
                                    <input id="comment-author" name="author" size="30" value="<$MTCommentPreviewAuthor$>" />
                                 </p>
                                 <p>
                                    <label for="comment-email"><MT_TRANS phrase="Email Address">:</label>
                                    <input id="comment-email" name="email" size="30" value="<$MTCommentPreviewEmail$>" />
                                 </p>
                                 </MTElse>
                                 </MTIfRegistrationRequired>
                                 </div>
                                 <p>
                                    <label for="comment-url"><MT_TRANS phrase="URL">:</label>
                                    <input id="comment-url" name="url" size="30" value="<$MTCommentPreviewURL$>" />
                                 </p>
                              </div>

                              <p id="comments-open-text">
                                 <label for="comment-text"><MT_TRANS phrase="Comments">: <MTIfAllowCommentHTML><MT_TRANS phrase="(you may use HTML tags for style)"></MTIfAllowCommentHTML></label>
                                 <textarea id="comment-text" name="text" rows="10" cols="50"><$MTCommentPreviewBody autolink="0" sanitize="0" convert_breaks="0"$></textarea>
                              </p>
                              <div id="comments-open-footer" class="comments-open-footer">
                                 <input type="submit" name="preview" id="comment-preview" accesskey="v" value="<MT_TRANS phrase="Preview">" />
                                 <input type="submit" name="post" id="comment-post" accesskey="s" value="<MT_TRANS phrase="Post">" />
                                 <input type="button" name="cancel" id="comment-cancel" value="<MT_TRANS phrase="Cancel">" onclick="window.location='<$MTEntryPermalink$>'" />
                              </div>
                           </div>
                        </div>
                        </form>
                     </MTEntryIfCommentsOpen>


                     <MTIfCommentsActive>
                     <div id="comments" class="comments">
                        <div class="comments-content">
                           <MTComments>
                           <MTCommentsHeader>
                               <h3 class="comments-header"><MT_TRANS phrase="Comments"> (<$MTEntryCommentCount$>)</h3>
                           </MTCommentsHeader>
                           <a id="c<$MTCommentID pad="1"$>"></a>
                           <div class="comment" id="comment-<$MTCommentID$>">
                               <div class="comment-inner">
                                   <div class="comment-header">
                                      <$MTCommentAuthorLink default_name="Anonymous" show_email="0"$><MTIfNonEmpty tag="CommentAuthorIdentity"> <$MTCommentAuthorIdentity$></MTIfNonEmpty>:
                                   </div>
                                  <div class="comment-content">
                                     <$MTCommentBody$>
                                  </div>
                                  <p class="comment-footer">
                                     <MT_TRANS phrase="Posted by">:
                                     <$MTCommentAuthorLink default_name="<MT_TRANS phrase="Anonymous">"$> <$MTCommentAuthorIdentity$> |
                                     <a href="#comment-<$MTCommentID$>"><$MTCommentDate$></a>
                                  </p>
                                  <p class="comment-footer-experimental">
                                     <MT_TRANS phrase="Posted on">:
                                     <a href="#comment-<$MTCommentID$>" title="<MT_TRANS phrase="Permalink to this comment">"><$MTCommentDate format="%x %H:%M"$></a>
                                  </p>
                              </div>
                           </div>
                           </MTComments>
                        </div>
                     </div>
                     </MTIfCommentsActive>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
