<mt:unless name="screen_class" eq="search-replace">
<div class="actions-bar actions-bar-<$mt:var name="bar_position" default="top"$><mt:if name="settings_bar"> settings-actions-bar</mt:if>">
    <mt:unless name="hide_pager">
    <mt:include name="include/pagination.tmpl">
    </mt:unless>
    <mt:var name="action_buttons">
    <div class="plugin-actions">
        <mt:include name="include/itemset_action_widget.tmpl">
    </div>
</div>
</mt:unless>
