
<mt:setvar name="screen_type" value="dialog-screen insert-asset-dialog">

<mt:setvarblock name="js_include" append="1">
  <script type="text/javascript" src="<mt:var name="static_uri">js/assetdetail.js?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="text/javascript" src="<mt:var name="static_uri">js/upload_settings.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:unless name="optimize_ui">
  <script type="text/javascript" src="<mt:var name="static_uri">jqueryui/jquery.ui.touch-punch.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:else>
  <script type="text/javascript" src="<mt:var name="static_uri">jqueryui/jquery.ui.touch-punch.min.js?v=<mt:var name="mt_version_id" escape="url">"></script>
</mt:unless>


<mt:unless name="debug_riot">
  <script type="text/javascript" src="<mt:var name="static_uri">riot/riot.min.js?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="text/javascript" src="<mt:var name="static_uri">riot-ss/riot.ss.min.js?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="text/javascript" src="<mt:var name="static_uri">js/asset/asset.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<mt:else>
  <script type="riot/tag" src="<mt:var name="static_uri">riot-ss/ss.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="riot/tag" src="<mt:var name="static_uri">js/asset/tag/asset-preview.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="riot/tag" src="<mt:var name="static_uri">js/asset/tag/asset.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="riot/tag" src="<mt:var name="static_uri">js/asset/tag/assets.tag?v=<mt:var name="mt_version_id" escape="url">"></script>
  <script type="text/javascript" src="<mt:var name="static_uri">riot/riot-compiler.js?v=<mt:var name="mt_version_id" escape="url">"></script>
</mt:unless>

</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">
  var assets = <mt:if name="assets">JSON.parse('<mt:var name="assets" escape="json">');<mt:else>[];</mt:if>

  var observer = riot.observable();
  jQuery(document).on('click', '.mt-pager-next', function(event) {
    var $this = jQuery(this);
    observer.trigger('onNextPage');
  });
  jQuery(document).on('click', '.mt-pager-prev', function(event) {
    var $this = jQuery(this);
    observer.trigger('onPrevPage');
  });
  jQuery(document).on('click', '.mt-pager-index', function(event) {
    var $this = jQuery(this);
    observer.trigger('onPageIndex', $this.text());
  });
  jQuery(document).on('click', '.insert-assets', function(event) {
    var $this = jQuery(this);
    observer.trigger('onInsertAsset');
  });

  var objectType = '<mt:var name="object_type" escape="js">';

  var types = [<mt:loop name="class_filter_loop" glue=",">
  {
    type: '<mt:var name="key" escape="js">',
    label: '<mt:var name="label" escape="js">'
  }
  </mt:loop>];
  
  riot.mount('assets', {
    blog_id: "<mt:var name="blog_id" escape="js">",
    magic_token: "<mt:var name="magic_token" escape="js">",
    return_args: "<mt:var name="return_args" escape="js">",
    id: "<mt:var name="id" escape="js">",
    edit_field: "<mt:var name="edit_field" escape="js">",
    content_field_id: "<mt:var name="content_field_id" escape="js">",
    assets: assets,
    types: types,
    observer: observer,
    index: 0,
    limit: <mt:var name="page_limit">,
    can_multi: <mt:If name="can_multi" eq="1">true<mt:Else>false</mt:If>,
    can_upload: <mt:If name="can_upload" eq="1">true<mt:Else>false</mt:If>,
    destination: '<mt:var name="destination">',
    allow_to_change_at_upload: <mt:If name="allow_to_change_at_upload" eq="1">true<mt:Else>false</mt:If>,
    destination_loop: <mt:if name="destination_loop"><mt:var name="destination_loop" to_json="1"><mt:else>[]</mt:if>,
    upload_destination_label: '<mt:var name="upload_destination_label" escape="js">',
    upload_destination_value: '<mt:var name="upload_destination_value" escape="js">',
    extra_path: '<mt:var name="extra_path" escape="js">',
    dir_separator: '<mt:var name="dir_separator">',
    auto_rename_non_ascii: <mt:If name="auto_rename_non_ascii" eq="1">true<mt:Else>false</mt:If>,
    operation_if_exists: '<mt:var name="operation_if_exists">',
    normalize_orientation: <mt:If name="normalize_orientation" eq="1">true<mt:Else>false</mt:If>,
    require_type: '<mt:var name="require_type" escape="js">',
    require_type_label: '<mt:var name="require_type_label" escape="js">',
    <mt:if name="user_id">user_id: '<mt:var name="user_id" escape="js">',</mt:if>
    filter: '<mt:var name="filter" escape="js">',
    filter_val: '<mt:var name="filter_val" escape="js">',
    <mt:if name="upload_mode">upload_mode: '<mt:var name="upload_mode" escape="js">',</mt:If>
    assets_count: <mt:if name="assets_count"><mt:var name="assets_count" escape="js"><mt:else>0</mt:if>,
  });
</mt:setvarblock>

<mt:setvarblock name="modal_body">

  <div data-is="assets"></div>

</mt:setvarblock>

<mt:setvarblock name="modal_footer">
<div class="actions-bar actions-bar-bottom">
  <div class="panel-buttons">
    <form action="" method="get" onsubmit="return false">
      <button
        type="submit"
        accesskey="s"
        title="<mt:if name="is_image"><__trans phrase="Next (s)"><mt:else><__trans phrase="Insert (s)"></mt:if>"
        class="action primary button disabled btn btn-primary insert-assets"
        disabled="disabled"
        >
          <mt:if name="is_image"><__trans phrase="Continue"><mt:else><__trans phrase="Insert"></mt:if>
      </button>
      <button
        type="submit"
        accesskey="x"
        class="cancel action button mt-close-dialog btn btn-default"
        data-mt-modal-close
        title="<__trans phrase="Cancel (x)">">
        <__trans phrase="Cancel">
      </button>
    </form>
  </div>
  <div class="asset-options-buttons d-none">
      <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Close (s)">"
        class="action primary button btn btn-primary">
          <__trans phrase="Close (s)">
      </button>
      <button
        type="submit"
        accesskey="x"
        class="cancel action button mt-close-dialog btn btn-default"
        data-mt-modal-close
        title="<__trans phrase="Cancel (x)">">
        <__trans phrase="Cancel">
      </button>

  </div>
</div>
</mt:setvarblock>

<mt:setvarblock name="css_include" append="1">
<style>
.modal-body {
  max-height: 100% !important;
}
</style>
</mt:setvarblock>
<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
