</pre>
</div>

<script type="text/javascript">
<!--
var progress = getByID("progress-bar");
if (progress) {
    progress.style.display = "none";
}
// -->
</script>

<TMPL_IF NAME=BACKUP_SUCCESS>
<p><strong><MT_TRANS phrase="All of the data has been backed up successfully!"></strong></p>
<TMPL_IF NAME=FILES_LOOP>
<div class="list" id="list-files">
<table cellspacing="0">

<thead>
<tr>
<th id="ft-filename"><MT_TRANS phrase="Filename"></th>
<th id="ft-view">&nbsp;</th>
</tr>
</thead>
<tbody>

<TMPL_LOOP NAME=FILES_LOOP>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td><TMPL_VAR NAME=FILENAME></td>
<td class="status-view"><TMPL_IF NAME=URL><a href="<TMPL_VAR NAME=URL>" target="<MT_TRANS phrase="_external_link_target">" title="<MT_TRANS phrase="Download This File">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Download This File">" width="13" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
</tr>
</TMPL_LOOP>

</tbody>
</table>
<p><strong><MT_TRANS phrase="_BACKUP_TEMPDIR_WARNING" params="<TMPL_VAR NAME=TEMPDIR>"></strong></p>
</div>
<TMPL_ELSE>
<form name="file_download" id="file_download" method="POST" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="backup_download" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="filename" value="<TMPL_VAR NAME=FILENAME ESCAPE=HTML>" />
<TMPL_IF NAME=BLOG_ID><input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" /></TMPL_IF>
</form>
<script type="text/javascript">
var timer;

function submit_form() {
    window.clearTimeout(timer);
    var p = getByID('download_message');
    if (p)
        p.style.display = 'none';
    var f = document['file_download'];
    if (f) {
        f.submit();
    }
}

timer = window.setTimeout("submit_form()", 3000);
</script>
<p id="download_message"><strong><MT_TRANS phrase="_BACKUP_DOWNLOAD_MESSAGE"></strong></p>
</TMPL_IF>
<TMPL_ELSE>
<p><strong><MT_TRANS phrase="An error occurred during the backup process: [_1]" params="<TMPL_VAR NAME=ERROR>"></strong></p>
</TMPL_IF>

<TMPL_INCLUDE NAME="include/footer.tmpl">
