<mt:if name="BLOG_ID">
    <mt:setvarblock id="more_items" name="more_items"></mt:setvarblock>
<ul>
    <li<mt:if name="general-settings"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_prefs&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="General"></b></a></li>
    <li<mt:if name="publishing"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_archives&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Publishing"></b></a></li>
    <li<mt:if name="entries"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_entry&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Entry"></b></a></li>
    <li<mt:if name="comments"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_comments&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Comment"></b></a></li>
    <li<mt:if name="trackbacks"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_trackbacks&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="TrackBack"></b></a></li>
    <li<mt:if name="registration-settings"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_registration&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Registration"></b></a></li>
    <li<mt:if name="spam"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_spam&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Spam"></b></a></li>
    <li<mt:if name="web_services"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=cfg_web_services&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="Web Services"></b></a></li>
    <mt:if name="show_ip_info">
    <li<mt:if name="ip_info"> class="active"</mt:if>><a href="<mt:var name="SCRIPT_URL">?__mode=list&amp;_type=banlist&amp;blog_id=<mt:var name="BLOG_ID">"><b><__trans phrase="IP Banning"></b></a></li>
    </mt:if>
    <mt:var name="more_items">
</ul>
</mt:if>
