<div class="row">
  <div class="mt-footer">
  <mt:if name="mt_alpha_or_beta">
    <div id="msg-beta" class="text-center">
      <p>
    <mt:if name="mt_alpha">
        <span class="badge badge-info"><__trans phrase="DEVELOPER PREVIEW"></span>
        <__trans phrase="This is a alpha version of Movable Type and is not recommended for production use.">
    <mt:elseif name="mt_beta">
        <span class="badge badge-info"><__trans phrase="BETA"></span>
        <__trans phrase="This is a beta version of Movable Type and is not recommended for production use.">
    </mt:if>
      </p>
    </div>
  </mt:if>

    <ul class="mt-footer__links list-inline">
      <li class="list-inline-item">
        <a href="<__trans phrase="https://www.movabletype.org">">
          <__trans phrase="MovableType.org">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="<__trans phrase="https://plugins.movabletype.org/">">
          <__trans phrase="Plugins">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="<__trans phrase="https://www.movabletype.org/documentation/">">
          <__trans phrase="Documentation">
        </a>
      </li>
      <li class="list-inline-item">
        <a href="<mt:var name="mt_support">">
          <__trans phrase="Support">
        </a>
      </li><mt:if name="language_id" eq="ja">
      <li class="list-inline-item">
        <a href="<__trans phrase="https://forums.movabletype.org/">">
          <__trans phrase="Forums">
        </a>
      </li></mt:if>
      <li class="list-inline-item">
        <a href="<mt:var name="mt_feedback_url">">
          <__trans phrase="Send Us Feedback">
        </a>
      </li>
    </ul>

    <p>
      <small>
        <MT_TRANS phrase="Copyright &copy; 2001 Six Apart. All Rights Reserved."><br>
        <__trans phrase="<a href="[_1]"><mt:var name="mt_product_name"></a> [_2]" params="<mt:var name="portal_url">%%<mt:var name="mt_release_version_id">">
<mt:if name="packs_installed">
        <span class="mt-footer__installedAddons">
          <__trans phrase="with">:
  <mt:loop name="packs_installed" glue=", ">
    <mt:if name="link">
          <a href="<mt:var name="link" escape="html">">
    </mt:if>
            <mt:var name="label" escape="html">
            <mt:var name="version" escape="html">
    <mt:if name="link">
          </a>
    </mt:if>
  </mt:loop>
        </span>
</mt:if>
      </small>
    </p>
  </div>


  <div class="w-100 fixed-bottom text-center p-5 mobile_view_button_block <mt:Unless name="pc_view">d-none</mt:Unless>">
    <button class="btn btn-lg mobile_view_button"><__trans phrase="Mobile View"></button>
  </div>

  <style>
    .mobile_view_button_block {
      background-color: rgba(0,0,0,.5)

    }
    .mobile_view_button {
      width: 90%;
      background-color: #ffffff;
      font-size: 500%;
      margin: 86px 0;
      padding: 80px 0;
      border-radius: 15px;
      color: #004B9A;
    }
  </style>

  <mt:setvarblock name="jq_js_include" append="1">
    jQuery('.mobile_view_button').on('click', function(){
      jQuery.ajax({
        type: 'POST',
        url: '<mt:var name="script_url">',
        dataType: 'json',
        data: {
          __mode: 'change_to_mobile_view'
        }
      }).done(function () {
        jQuery('meta[name=viewport]').attr('content', 'width=device-width, initial-scale=1.0');
        jQuery(window).trigger('change_to_mobile_view');
        jQuery(window).trigger('resize');
      });
    });
    jQuery(window).on('change_to_mobile_view', function () {
      jQuery('.mobile_view_button_block').addClass('d-none');
    });
    jQuery(window).on('change_to_pc_view', function () {
      jQuery('.mobile_view_button_block').removeClass('d-none');
    });
  </mt:setvarblock>


</div>
