<div id="footer">
  <div class="container">
    <mt:if name="mt_beta">
      <div id="msg-beta">
        <p><__trans phrase="This is a beta version of Movable Type and is not recommended for production use."></p>
      </div>
    </mt:if>

    <mt:if name="author_name">
      <ul id="footer-nav" class="inline-nav">
        <li><a href="<__trans phrase="http://www.movabletype.org">"><__trans phrase="MovableType.org"></a></li>
        <li><a href="<__trans phrase="http://plugins.movabletype.org/">"><__trans phrase="Plugins"></a></li>
        <li><a href="<__trans phrase="http://www.movabletype.org/documentation/">"><__trans phrase="Documentation"></a></li>
        <li><a href="<__trans phrase="http://wiki.movabletype.org/">"><__trans phrase="Wiki"></a></li>
        <li><a href="<mt:var name="mt_support">"><__trans phrase="Support"></a></li>
        <li><a href="<__trans phrase="http://forums.movabletype.org/">"><__trans phrase="Forums"></a></li>
        <li><a href="<mt:var name="mt_feedback_url">"><__trans phrase="Send Us Feedback"></a></li>
      </ul>
    </mt:if>

    <mt:include name="include/copyright.tmpl">

    <p id="version">
      <strong><__trans phrase="<a href="[_1]"><mt:var name="mt_product_name"></a> version [_2]" params="<mt:var name="portal_url">%%<mt:var name="mt_version_id">"></strong>
    <mt:if name="packs_installed">
      <__trans phrase="with">: <mt:loop name="packs_installed" glue=", "><mt:if name="link"><a href="<mt:var name="link" escape="html">"></mt:if><mt:var name="label" escape="html"> <mt:var name="version" escape="html"><mt:if name="link"></a></mt:if></mt:loop>
    </mt:if>
    </p>
  <div>
</div>

