<mt:setvarblock name="user_screen_name"><mt:if name="author_display_name"><mt:var name="author_display_name" escape="html"><mt:else><mt:var name="author_name" escape="html"></mt:if></mt:setvarblock>

<mt:setvarblock name="dropdown_label">
<mt:if name="scope_type" eq="user">
<__trans phrase="User Dashboard">
<mt:elseif name="scope_type" eq="system">
<__trans phrase="System Overview">
<mt:elseif name="scope_type" eq="website">
<mt:var name="curr_website_name" escape="html">
<mt:elseif name="scope_type" eq="blog">
<mt:var name="curr_blog_name" escape="html">
</mt:if>
</mt:setvarblock>

<mt:setvarblock name="dropdown_content">
          <div class="dropdown-menu" aria-labelledby="systemDropdownMenu">
<mt:if name="scope_type" ne="user">
            <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard">
              <__trans phrase="User Dashboard">
            </a>
</mt:if>
<mt:if name="scope_type" ne="system">
            <a class="dropdown-item" href="<$mt:var name="mt_url">?__mode=dashboard&blog_id=0">
              <__trans phrase="System Overview">
            </a>
</mt:if>
<mt:if name="fav_website_loop">
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">
              <__trans phrase="Sites">
            </h6>
  <mt:loop name="fav_website_loop">
    <mt:if name="fav_website_can_link">
            <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard&blog_id=<$mt:var name="fav_website_id"$>">
              <mt:var name="fav_website_name" escape="html">
            </a>
    <mt:else>
        <mt:var name="fav_website_name" escape="html">
    </mt:if>
    <mt:if name="__last__">
      <mt:unless name="selector_hide_website_chooser">
            <a href="<mt:var name="script_url">?__mode=dialog_select_website&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
              <__trans phrase="Select another site...">
            </a>
      </mt:unless>
    </mt:if>
  </mt:loop>
<mt:else>
  <mt:unless name="selector_hide_website_chooser">
            <h6 class="dropdown-header">
              <__trans phrase="Sites">
            </h6>
            <a href="<mt:var name="script_url">?__mode=dialog_select_website&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
              <__trans phrase="Select another site...">
            </a>
  </mt:unless>
</mt:if>
<mt:if name="fav_blog_loop">
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">
              <__trans phrase="Child Sites">
            </h6>
  <mt:loop name="fav_blog_loop">
            <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard&blog_id=<$mt:var name="fav_blog_id"$>" class="scope-link">
              <mt:var name="fav_blog_name" escape="html">
              <span class="parent">
                <__trans phrase="(on [_1])" params="<mt:var name="fav_parent_name" escape="html" escape="html">">
              </span>
            </a>
    <mt:if name="__last__">
      <mt:unless name="selector_hide_blog_chooser">
            <a href="<mt:var name="script_url">?__mode=dialog_select_weblog&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
              <__trans phrase="Select another child site...">
            </a>
      </mt:unless>
    </mt:if>
  </mt:loop>
<mt:else>
  <mt:unless name="selector_hide_blog_chooser">
            <h6 class="dropdown-header">
              <__trans phrase="Child Sites">
            </h6>
            <a href="<mt:var name="script_url">?__mode=dialog_select_weblog&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
              <__trans phrase="Select another child site...">
            </a>
  </mt:unless>
</mt:if>
<mt:if name="can_create_website">
            <div class="dropdown-divider"></div>
            <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=website&amp;blog_id=0" class="dropdown-item create-link website">
              <__trans phrase="Create Site">
            </a>
</mt:if>
<mt:if name="can_create_blog">
  <mt:if name="scope_type" eq="website">
            <div class="dropdown-divider"></div>
            <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog&amp;blog_id=<$mt:var name="blog_id"$>" class="dropdown-item create-link website">
              <__trans phrase="Create Child Site (on [_1])" params="<mt:var name="curr_website_name" escape="html" escape="html">">
            </a>
  <mt:elseif name="scope_type" eq="blog">
            <div class="dropdown-divider"></div>
            <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog&amp;blog_id=<$mt:var name="curr_website_id"$>" class="dropdown-item create-link blog">
              <__trans phrase="Create Child Site (on [_1])" params="<mt:var name="curr_website_name" escape="html" escape="html">">
            </a>
  </mt:if>
</mt:if>
          </div>
</mt:setvarblock>

<div class="mt-globalNavigation">
  <div class="col-4">
    <div class="row">
      <div class="col mt-globalNavigation__sites mt-globalNavigation--selected">
        <h1 class="mt-globalNavigation__logo btn-group">
          <a href="<mt:var name="mt_url">?__mode=dashboard" role="home"><img src="<mt:var name="static_uri">images/logo-mark.svg" alt="Movable Type" width="36" height="36"></a>
          <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" id="systemDropdownMenu" aria-haspopup="true" aria-expanded="false"><mt:var name="dropdown_label" strip_linefeeds="1"></button>
          <mt:if name="blog_id"><a href="<mt:var name="blog_url" escape="html">" class="ml-2" target="_blank"><svg title="<__trans phrase="View Link">" role="img" class="mt-icon"><use xlink:href="<mt:var name="static_uri">images/sprite.svg#ic_permalink"></svg></a></mt:if>
          <mt:var name="dropdown_content">
        </h1>
      </div>
      <div class="col <mtif name="scope_type" ne="system"><mt:if name="can_access_overview">mt-globalNavigation__system </mt:if></mt:if>d-flex">
<mt:if name="scope_type" ne="system">
  <mt:if name="can_access_overview">
        <a href="<$mt:var name="mt_url">?__mode=dashboard&blog_id=0" class="align-self-center"><__trans phrase="System"></a>
  </mt:if>
</mt:if>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row justify-content-end">
      <div class="col-4 align-self-center">
<mt:if name="blog_id">
        <ul class="mt-globalNavigation__functions">
          <li><a href="<$mt:var name="mt_url"$>?__mode=rebuild_confirm&blog_id=<$mt:var name="blog_id"$>" class="mt-rebuild"><mtapp:svgicon id="ic_build" title="<__trans phrase="Publish Site">" color="primary" size="lg" strip_linefeeds="1"></a></li>
          <li><a href="#"><mtapp:svgicon id="ic_search" title="<__trans phrase="Search">" color="primary" size="lg"></a></li>
        </ul>
</mt:if>
      </div>
      <div class="col-3 align-self-center text-right">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" id="userDropdownMenu" aria-haspopup="true" aria-expanded="false"><mt:if name="author_userpic_url"><img src="<mt:var name="author_userpic_url" escape="html">" alt="" widht="32" height="32" class="mr-1 rounded-circle"><mt:else><img src="<mt:var name="static_uri">images/user-default.svg" alt="" widht="32" height="32" class="mr-1"></mt:if><mt:var name="user_screen_name"></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu">
          <a class="dropdown-item" href="<mt:var name="mt_url">?__mode=view&_type=author&id=<mt:var name="author_id" escape="url">"><__trans phrase="Profile"></a>
          <a class="dropdown-item" href="<__trans phrase="https://movabletype.org/documentation/">" target="_blank"><__trans phrase="Documentation"></a>
          <a class="dropdown-item" href="<mt:var name="mt_url">?__mode=logout"><__trans phrase="Sign out"></a>
        </div>
      </div>
    </div>
  </div>
</div>

