<mt:setvarblock name="user_screen_name"><mt:if name="author_display_name"><mt:var name="author_display_name" escape="html"><mt:else><mt:var name="author_name" escape="html"></mt:if></mt:setvarblock>

<div class="mt-globalNavigation align-items-center">
  <div class="col">
    <h1 class="mt-globalNavigation__logo btn-group">
      <a href="<mt:var name="mt_url">?__mode=dashboard" role="home"><img src="<mt:var name="static_uri">images/logo-mark.svg" alt="Movable Type" width="40" height="40"></a>
      <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" id="systemDropdownMenu" aria-haspopup="true" aria-expanded="false"><span class="sr-only"><__trans phrase="Drop Down Menu"></span></button>
      <div class="dropdown-menu" aria-labelledby="systemDropdownMenu">
<mt:if name="scope_type" ne="user">
        <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard">
          <__trans phrase="User Dashboard">
        </a>
</mt:if>
<mt:if name="scope_type" ne="system">
        <a class="dropdown-item" href="<$mt:var name="mt_url">?__mode=dashboard&blog_id=0">
          <__trans phrase="System Overview">
        </a>
</mt:if>
<mt:if name="fav_website_loop">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">
          <__trans phrase="Sites">
        </h6>
  <mt:loop name="fav_website_loop">
    <mt:if name="fav_website_can_link">
        <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard&blog_id=<$mt:var name="fav_website_id"$>">
          <mt:var name="fav_website_name" escape="html">
        </a>
    <mt:else>
        <mt:var name="fav_website_name" escape="html">
    </mt:if>
    <mt:if name="__last__">
      <mt:unless name="selector_hide_website_chooser">
        <a href="<mt:var name="script_url">?__mode=dialog_select_website&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
          <__trans phrase="Select another site...">
        </a>
      </mt:unless>
    </mt:if>
  </mt:loop>
<mt:else>
  <mt:unless name="selector_hide_website_chooser">
        <h6 class="dropdown-header">
          <__trans phrase="Sites">
        </h6>
        <a href="<mt:var name="script_url">?__mode=dialog_select_website&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
          <__trans phrase="Select another site...">
        </a>
  </mt:unless>
</mt:if>
<mt:if name="fav_blog_loop">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">
          <__trans phrase="Child Sites">
        </h6>
  <mt:loop name="fav_blog_loop">
        <a class="dropdown-item" href="<$mt:var name="mt_url"$>?__mode=dashboard&blog_id=<$mt:var name="fav_blog_id"$>" class="scope-link">
          <mt:var name="fav_blog_name" escape="html">
          <span class="parent">
            <__trans phrase="(on [_1])" params="<mt:var name="fav_parent_name" escape="html" escape="html">">
          </span>
        </a>
    <mt:if name="__last__">
      <mt:unless name="selector_hide_blog_chooser">
        <a href="<mt:var name="script_url">?__mode=dialog_select_weblog&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
          <__trans phrase="Select another child site...">
        </a>
      </mt:unless>
    </mt:if>
  </mt:loop>
<mt:else>
  <mt:unless name="selector_hide_blog_chooser">
        <h6 class="dropdown-header">
          <__trans phrase="Child Sites">
        </h6>
        <a href="<mt:var name="script_url">?__mode=dialog_select_weblog&amp;select_favorites=1" class="dropdown-item text-right mt-open-dialog mt-modal-open scope-link" data-mt-modal-large>
          <__trans phrase="Select another child site...">
        </a>
  </mt:unless>
</mt:if>
<mt:if name="can_create_website">
        <div class="dropdown-divider"></div>
        <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=website&amp;blog_id=0" class="dropdown-item create-link website">
          <__trans phrase="Create Site">
        </a>
</mt:if>
<mt:if name="can_create_blog">
  <mt:if name="scope_type" eq="website">
        <div class="dropdown-divider"></div>
        <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog&amp;blog_id=<$mt:var name="blog_id"$>" class="dropdown-item create-link website">
          <__trans phrase="Create Child Site (on [_1])" params="<mt:var name="curr_website_name" escape="html" escape="html">">
        </a>
  <mt:elseif name="scope_type" eq="blog">
        <div class="dropdown-divider"></div>
        <a href="<$mt:var name="mt_url"$>?__mode=view&amp;_type=blog&amp;blog_id=<$mt:var name="curr_website_id"$>" class="dropdown-item create-link blog">
          <__trans phrase="Create Child Site (on [_1])" params="<mt:var name="curr_website_name" escape="html" escape="html">">
        </a>
  </mt:if>
</mt:if>
      </div>
    </h1>

<mt:if name="scope_type" eq="user">
    <__trans phrase="User Dashboard">
<mt:elseif name="scope_type" eq="system">
    <a href="<mt:var name="mt_url">?__mode=dashboard&blog_id=0">
      <__trans phrase="System Overview">
    </a>
<mt:else>
    <b>&gt;</b>
    <a<mt:if name="curr_website_can_link"> href="<mt:var name="mt_url">?__mode=dashboard&blog_id=<mt:var name="curr_website_id">"</mt:if>>
      <span class="current-site-name">
        <mt:var name="curr_website_name" escape="html">
      </span>
    </a>
</mt:if>
<mt:if name="scope_type" eq="blog">
    <b>&gt;</b>
    <a href="<mt:var name="mt_url">?__mode=dashboard&blog_id=<mt:var name="curr_blog_id">">
      <mt:var name="curr_blog_name" escape="html">
    </a>
</mt:if>

<mt:if name="mt_alpha_or_beta">
    <span class="badge badge-info">
  <mt:if name="mt_alpha">
      <__trans phrase="DEVELOPER PREVIEW">
  <mt:elseif name="mt_beta">
      <__trans phrase="BETA">
  </mt:if>
    </span>
</mt:if>

  </div>

<mt:if name="blog_id">
  <div class="ml-auto col-2 text-right">
    <a href="<mt:var name="url">?__mode=view&_type=entry&blog_id=<mt:var name="blog_id">" id="create-entry-shortcut"><mtapp:svgicon id="ic_edit" title="<__trans phrase="Edit">"></a>
    <a href="<$mt:var name="mt_url"$>?__mode=rebuild_confirm&blog_id=<$mt:var name="blog_id"$>" class="mt-rebuild"><mtapp:svgicon id="ic_build" title="<__trans phrase="Rebuild">"></a>
    <a href="<mt:var name="blog_url" escape="html">" target="_blank"><mtapp:svgicon id="ic_permalink" title="<__trans phrase="View Link">"></a>
    <a href="#"><mtapp:svgicon id="ic_search" title="<__trans phrase="Search">"></a>
  </div>
</mt:if>

  <div class="col-2">
    <div class="float-right">
      <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" id="userDropdownMenu" aria-haspopup="true" aria-expanded="false"><mt:if name="author_userpic_url"><img src="<mt:var name="author_userpic_url" escape="html">" alt="" widht="32" height="32" class="mr-1 rounded-circle"><mt:else><img src="<mt:var name="static_uri">images/user-default.svg" alt="" widht="32" height="32" class="mr-1"></mt:if><mt:var name="user_screen_name"></button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenu">
        <a class="dropdown-item" href="<mt:var name="mt_url">?__mode=view&_type=author&id=<mt:var name="author_id" escape="url">"><__trans phrase="Profile"></a>
        <a class="dropdown-item" href="<__trans phrase="https://movabletype.org/documentation/">" target="_blank"><__trans phrase="Documentation"></a>
        <a class="dropdown-item" href="<mt:var name="mt_url">?__mode=logout"><__trans phrase="Sign out"></a>
      </div>
    </div>
  </div>
</div>

