<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<$mt:var name="language_tag"$>" xmlns="http://www.w3.org/1999/xhtml" xmlns:mt="http://www.sixapart.com/ns/mt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$mt:var name="language_encoding"$>" />
<title><mt:loop name="page_titles"><mt:var name="bc_name" escape="html"> | </mt:loop><mt:var name="mt_product_name"></title>
<link rel="stylesheet" href="<mt:var name="static_uri">styles.css" type="text/css" />
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Core.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/JSON.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Timer.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/DOM.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Observable.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Autolayout.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Component.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/App.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cache.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Client.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Template.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/tc.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">mt.js"></script>
<mt:if name="local_lang_id" ne="en"><link rel="stylesheet" href="<mt:var name="static_uri">styles_<mt:var name="local_lang_id">.css" />
<script type="text/javascript" src="<mt:var name="static_uri">mt_<mt:var name="local_lang_id">.js" charset="utf-8"></script></mt:if>
<script type="text/javascript">
/* <![CDATA[ */
CMSScriptURI = '<mt:var name="mt_url">';
ScriptURI = '<mt:var name="script_url">';
ScriptBaseURI = '<mt:var name="script_base_url">';
StaticURI = '<mt:var name="static_uri">';
HelpBaseURI = '<mt:var name="help_url">';

function closeDialog(url) {
    if (url)
        if (window.opener)
            window.opener.location = url;
    window.close();
}
/* ]]> */
</script>
</head>

<body id="<$mt:var name="screen_id"$>" class="<mt:if name="blog_id">blog blog-<mt:var name="blog_id"><mt:else>system</mt:if> <$mt:var name="screen_type" default="main-screen"$>"<mt:if name="refocus"> onload="window.focus()"</mt:if>>
<div id="container">
<div class="header">
    <div id="brand"><h1><mt:var name="mt_product_name"></h1></div>
</div>
<div id="content" class="pkg">
    <!-- <div id="alpha"><div id="alpha-inner"> -->
    <div class="body-pop">
