<mtapp:setting
   id="username"
   label="<__trans phrase="Username">">
  <input type="text" name="username" id="username" class="text full" />
</mtapp:setting>
<mtapp:setting
   id="password"
   label="<__trans phrase="Password">">
  <input type="password" name="password" id="password" class="text password full" />
</mtapp:setting>
<div id="remember-me">
  <label for="remember"><input type="checkbox" name="remember" id="remember" value="1" accesskey="r" /> <__trans phrase="Remember me?"></label>
</div>
