<mtapp:listing>
    <mt:if name="__first__">
        <thead>
            <tr>
                <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
                <th id="at-flag si"><img src="<mt:var name="static_uri">images/status_icons/invert-flag.gif" alt="<__trans phrase="Status">" title="<__trans phrase="Status">" width="9" height="9" /></th>
                <th id="at-username"><__trans phrase="Username"></th>
                <th id="at-name"><__trans phrase="Name"></th>
                <th id="at-email"><__trans phrase="Email"></th>
                <th id="at-url"><__trans phrase="URL"></th>
                <th id="at-created"><__trans phrase="Created By"></th>
            </tr>
        </thead>
        <tbody>
    </mt:if>
            <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <td class="cb"><input<mt:if name="is_administrator"><mt:if name="is_me"> id="sysadmin"</mt:if></mt:if> type="checkbox" name="id" value="<$mt:var name="id"$>" class="select" /></td>
    <mt:if name="usertype_author">
                <td class="user-status-enabled si"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="_USER_ENABLED">" width="7" height="9" /></td>
                <td><mt:if name="has_edit_access"><a href="<mt:var name="script_url">?__mode=view&amp;_type=author&amp;id=<mt:var name="id">"></mt:if><mt:var name="name" escape="html"><mt:if name="has_edit_access"></a></mt:if></td>
    <mt:else>
                <td class="<mt:if name="status_trusted">status-trusted<mt:else>user-status-enabled</mt:if> si"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<mt:if name="status_trusted"><__trans phrase="Trusted commenter"><mt:else><__trans phrase="Commenter"></mt:if>" width="7" height="9" /></td>
                <td><a href="<mt:var name="script_url">?__mode=view&amp;_type=commenter&amp;id=<mt:var name="id">&amp;blog_id=<mt:var name="blog_id">"><mt:var name="name" escape="html"></a> (c)</td>
    </mt:if>
                <td><mt:if name="nickname"><mt:var name="nickname" escape="html"><mt:else>&nbsp;</mt:if></td>
                <td class="status-email"><mt:if name="email"><a href="mailto:<mt:var name="email" escape="html">" title="<mt:var name="email" escape="html">"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="Email">" width="16" height="9" /></a><mt:else>&nbsp;</mt:if></td>
                <td class="status-link"><mt:if name="url"><a href="<mt:var name="url" escape="html">" title="<mt:var name="url" escape="html">"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="Link">" width="16" height="9" /></a><mt:else>&nbsp;</mt:if></td>
                <td><mt:if name="created_by"><mt:var name="created_by" escape="html"><mt:else><em><__trans phrase="System"></em></mt:if></td>
            </tr>
    <mt:if name="__last__">
        </tbody>
    </mt:if>
</mtapp:listing>
