<mt:setvarblock name="html_head" append="1">
  <mt:unless name="optimize_ui">
  <link rel="stylesheet" href="<$mt:var name="static_uri"$>bootstrap-3.3.7/css/bootstrap.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
  <link rel="stylesheet" href="<$mt:var name="static_uri"$>bootstrap-3.3.7/css/bootstrap-theme.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />

  <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>jqueryui/jquery-ui.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>

  <script type="text/javascript" src="<$mt:var name="static_uri"$>bootstrap-3.3.7/js/bootstrap.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
  <mt:else>
  <link rel="stylesheet" href="<$mt:var name="static_uri"$>bootstrap-3.3.7/css/bootstrap.min.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
  <link rel="stylesheet" href="<$mt:var name="static_uri"$>bootstrap-3.3.7/css/bootstrap-theme.min.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />

  <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
  <script type="text/javascript" src="<$mt:var name="static_uri"$>jqueryui/jquery-ui.min.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>

  <script type="text/javascript" src="<$mt:var name="static_uri"$>bootstrap-3.3.7/js/bootstrap.min.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
  </mt:unless>
</mt:setvarblock>

