<mt:if name="has_menu">
  <div class="sidebar col-md-2">
    <mt:loop name="top_nav_loop">
      <mt:if name="allowed">
      <div class="panel panel-default">
        <div class="panel-heading sidebar-menu-header<mt:if name="screen_group" eq="$id"> in</mt:if>">
          <div class="row">
            <div class="col-xs-10 col-md-10">
              <a href="<mt:var name="link" escape="html">"><mt:var name="label"></a>
            </div>
            <div class="col-xs-2 col-md-2 float-right collapse-button">
              <a href="#collapse<mt:var name="id" capitalize="1">" data-toggle="collapse">&#x25BC;</a>
            </div>
          </div>
        </div>
        <div id="collapse<mt:var name="id" capitalize="1">" class="panel-collapse collapse<mt:if name="screen_group" eq="$id"> in</mt:if>">
          <div class="panel-body">
            <ul class="sidebar-menu-group">
            <mt:loop name="sub_nav_loop">
              <mt:if name="allowed">
                <li class="sidebar-menu-group-item<mt:if name="current"> active</mt:if>"><a href="<mt:var name="link" escape="html">"><mt:var name="label"></a></li>
              </mt:if>
            </mt:loop>
            </ul>
          </div>
        </div>
      </div>
      </mt:if>
    </mt:loop>
  </div>
</mt:if>
