<svg role="img" class="mt-icon<mt:var name="color" escape="html"><mt:var name="size" escape="html">"><mt:var name="title"><use xlink:href="<mt:var name="static_uri" escape="html">images/sprite.svg#<$mt:var name="id" escape="html"$>"></use></svg>
