<mt:setvartemplate name="line_items" function="unshift">
<mt:if name="user_view">
    <mt:unless name="edit_author_id">
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=author&amp;id=<mt:var name="author_id" escape="html">"><__trans phrase="Profile"></a></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;author_id=<mt:var name="author_id" escape="html">"><__trans phrase="Permissions"></a></li>
    <mt:else>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=author&amp;id=<mt:var name="edit_author_id" escape="html">"><__trans phrase="Profile"></a></li>
        <mt:unless name="profile_inactive">
            <mt:if name="list_group">
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;author_id=<mt:var name="edit_author_id" escape="html">"><__trans phrase="Permissions"></a></li>
            <mt:else>
    <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;author_id=<mt:var name="edit_author_id" escape="html">"><__trans phrase="Permissions"></a></em></li>
            </mt:if>
        <mt:else>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;author_id=<mt:var name="edit_author_id" escape="html">"><__trans phrase="Permissions"></a></li>
        </mt:unless>
    </mt:unless>
</mt:if>

<mt:if name="edit_author">
    <mt:unless name="profile_inactive">
    <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=author<mt:if name="id">&amp;id=<mt:var name="id" escape="html"></mt:if>"><__trans phrase="Profile"></a></em></li>
    <mt:else>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=author<mt:if name="id">&amp;id=<mt:var name="id" escape="html"></mt:if>"><__trans phrase="Profile"></a></li>
    </mt:unless>
    <mt:unless name="new_object">
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;author_id=<mt:var name="id" escape="html">"><__trans phrase="Permissions"></a></li>
    </mt:unless>
</mt:if>

<mt:if name="role_view">
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=role&amp;id=<mt:var name="ROLE_ID" escape="html">"><__trans phrase="Details"></a></li>
    <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;role_id=<mt:var name="ROLE_ID" escape="html">"><__trans phrase="Users"></a></em></li>
</mt:if>

<mt:if name="usergroup_view">
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_author"><__trans phrase="Users"></a></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_role"><__trans phrase="Roles"></a></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;blog_id=<mt:var name="BLOG_ID" escape="html">"><__trans phrase="Permissions"></a></li>
</mt:if>

<mt:if name="edit_role">
    <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=role&amp;id=<mt:var name="ID" escape="html">"><__trans phrase="Details"></a></em></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;role_id=<mt:var name="ID" escape="html">"><__trans phrase="Users"></a></li>
</mt:if>

<mt:if name="list_users">
    <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=list_author"><__trans phrase="Users"></a></em></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_role"><__trans phrase="Roles"></a></li>
    <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;blog_id=<mt:var name="BLOG_ID" escape="html">"><__trans phrase="Permissions"></a></li>
</mt:if>

<mt:if name="list_role">
    <mt:if name="EDIT_AUTHOR_ID">
        <li><a href="<mt:var name="SCRIPT_URL">?__mode=view&amp;_type=author&amp;id=<mt:var name="EDIT_AUTHOR_ID" escape="html">"><__trans phrase="Profile"></a></li>
        <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=list_role&amp;author_id=<mt:var name="EDIT_AUTHOR_ID" escape="html">"><__trans phrase="Roles"></a></em></li>
    <mt:else>
        <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_author"><__trans phrase="Users"></a></li>
        <li class="active"><em><a href="<mt:var name="SCRIPT_URL">?__mode=list_role"><__trans phrase="Roles"></a></em></li>
        <li><a href="<mt:var name="SCRIPT_URL">?__mode=list_association&amp;blog_id=<mt:var name="BLOG_ID" escape="html">"><__trans phrase="Permissions"></a></li>
    </mt:if>
</mt:if>
</mt:setvartemplate>

<ul>
<mt:loop name="line_items"><mt:var name="__value__"></mt:loop>
</ul>
