<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><__trans phrase="Configuration Wizard"> | <$mt:var name="mt_product_name"$></title>

    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles.css?v=<mt:var name="MT_VERSION" escape="URL">" type="text/css" />
    <!--[if IE]>
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie.css?v=<mt:var name="MT_VERSION" escape="URL">" type="text/css" />
    <![endif]-->
<mt:if name="local_lang_id">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles_<$mt:var name="local_lang_id"$>.css?v=<mt:var name="MT_VERSION" escape="URL">" />
</mt:if>

<script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Core.js?v=<mt:var name="MT_VERSION" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>mt.js?v=<mt:var name="MT_VERSION" escape="URL">"></script>

<script language="javascript" type="text/javascript">
<!--
function showByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "block";
}
function hideByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "none";
}
// -->
</script>

<$mt:var name="html_head"$>

</head>

<body id="mode_<$mt:var name="mode"$>" class="chromeless">

<div id="container"><div id="container-inner" class="inner">

<div id="top"></div>

<div id="header" class="pkg">
    <div id="brand"></div>

    <div id="nav">

    <mt:unless name="complete">
    <mt:if name="step" ne="pre_start">
    <mt:loop name="wizard_steps">
    <mt:unless name="__last__">
    <div class="step<mt:if name="active">_active</mt:if>"></div>
    </mt:unless>
    </mt:loop>
    <div class="pipe"></div>
    </mt:if>
    </mt:unless>

    <!-- <div class="help"></div> -->
    </div>

</div>


<div id="content"><div id="content-inner" class="inner pkg">

<div id="main-content"><div class="inner pkg">

<h2 id="page-title"><$mt:var name="page_title"$></h2>
