<mt:setvarblock name="system_msg" append="1">
    <mt:if name="request.saved">
        <mtapp:newstatusmsg
            id="saved"
            class="success"
            rebuild="all"
            can_close="0">
            <__trans phrase="Your changes have been saved.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.approved">
        <mtapp:newstatusmsg
            id="approved"
            class="success">
            <__trans phrase="The selected TrackBack(s) has been approved.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.emptied">
        <mtapp:newstatusmsg
            id="emptied"
            class="success">
            <__trans phrase="All TrackBacks reported as spam have been removed.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.unapproved">
        <mtapp:newstatusmsg
            id="unapproved"
            class="success">
            <__trans phrase="The selected TrackBack(s) has been unapproved.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.junked">
        <mtapp:newstatusmsg
            id="junked"
            class="success">
            <__trans phrase="The selected TrackBack(s) has been reported as spam.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.unjunked">
        <mtapp:newstatusmsg
            id="unjunked"
            class="success">
            <__trans phrase="The selected TrackBack(s) has been recovered from spam.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.saved_deleted_ping">
        <mtapp:newstatusmsg
            id="saved-deleted-ping"
            class="success">
            <__trans phrase="The selected TrackBack(s) has been deleted from the database.">
        </mtapp:newstatusmsg>
    </mt:if>
    <mt:if name="request.no_junk_found">
        <mtapp:newstatusmsg
            id="no-junk-found"
            class="info">
            <__trans phrase="No TrackBacks appeared to be spam.">
        </mtapp:newstatusmsg>
    </mt:if>
</mt:setvarblock>
