<mt:setvarblock name="system_msg" append="1">
<mt:if name="request.saved_deleted">
  <mtapp:newstatusmsg
     id="saved-deleted"
     class="success">
    <__trans phrase="You have successfully deleted the role(s).">
  </mtapp:newstatusmsg>
</mt:if>
</mt:setvarblock>
