<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
/* <![CDATA[ */
    jQuery.fn.mtModal.close();
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
