<MTIfArchiveTypeEnabled archive_type="Category-Yearly">
    <div class="module-categories module">
        <h2 class="module-header">Category Yearly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Category-Yearly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Category-Monthly">
    <div class="module-categories module">
        <h2 class="module-header">Category Monthly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Category-Monthly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Category-Weekly">
    <div class="module-categories module">
        <h2 class="module-header">Category Weekly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Category-Weekly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Category-Daily">
    <div class="module-categories module">
        <h2 class="module-header">Category Daily Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Category-Daily">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

