<MTIfArchiveTypeEnabled archive_type="Author-Yearly">
    <div class="module-categories module">
        <h2 class="module-header">Author Yearly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Author-Yearly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Author-Monthly">
    <div class="module-categories module">
        <h2 class="module-header">Author Monthly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Author-Monthly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Author-Weekly">
    <div class="module-categories module">
        <h2 class="module-header">Author Weekly Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Author-Weekly">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

<MTIfArchiveTypeEnabled archive_type="Author-Daily">
    <div class="module-categories module">
        <h2 class="module-header">Author Daily Archives</h2>
        <div class="module-content">
            <MTArchiveList archive_type="Author-Daily">
                <MTArchiveListHeader>
                    <ul class="module-list">
                </MTArchiveListHeader>
                <li class="module-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$> (<$MTArchiveCount$>)</a></li>
                <MTArchiveListFooter>
                    </ul>
                </MTArchiveListFooter>
            </MTArchiveList>
        </div>
    </div>
</MTIfArchiveTypeEnabled>

