<MTIfArchiveTypeEnabled archive_type="Monthly">
<div class="widget-archives widget" id="monthly-archives">
   <h3 class="widget-header"><a href="<$MTBlogURL$>archives.html"><MT_TRANS phrase="Archives"></a></h3>
   <div class="widget-content">
      <select onchange="nav(this)">
         <option><MT_TRANS phrase="Select a Month..."></option>
         <MTArchiveList archive_type="Monthly">
         <option value="<$MTArchiveLink$>"><$MTArchiveTitle$></option>
         </MTArchiveList>
      </select>
   </div>
</div>
</MTIfArchiveTypeEnabled>

<script type="text/javascript" charset="utf-8">
function nav(sel) {
   if (sel.selectedIndex == -1) return;
   var opt = sel.options[sel.selectedIndex];
   if (opt && opt.value)
      location.href = opt.value;
}    
</script>
