<div class="widget-recent-comments widget">
  <h3 class="widget-header"><MT_TRANS phrase="Recent Comments"></h3>
  <div class="widget-content">
<MTComments lastn="10" sort_order="descend">
    <a href="<MTCommentEntry><$MTEntryPermalink$></MTCommentEntry>#comment-<$MTCommentID$>"><$MTCommentAuthor$> on <MTCommentEntry><$MTEntryTitle$></MTCommentEntry></a>: <$MTCommentBody remove_html="1" trim_to="10"$><br />
</MTComments>
  </div>
</div>
