<div class="module-archives module">
   <h2 class="module-header"><MT_TRANS phrase="Recent Posts"></h2>
   <div class="module-content">
      <ul class="module-list">
      <MTEntries lastn="10">
         <li class="module-list-item"><a href="<$MTEntryPermalink$>"><$MTEntryTitle$></a></li>
      </MTEntries>
      </ul>
   </div>
</div>
