<div class="widget-syndicate widget">
   <div class="widget-content">
      <a href="<$MTBlogURL$>atom.xml"><MT_TRANS phrase="Subscribe to this blog's feed"></a><br />
      [<a href="<MT_TRANS phrase="http://www.sixapart.com/about/feeds">"><MT_TRANS phrase="What is this?"></a>]
   </div>
</div>
