<div class="widget-tagcloud widget">
    <h3 class="widget-header"><MT_TRANS phrase="Tag cloud"></h3>
    <div class="widget-content">
        <ul class="widget-list">
            <MTTags>
                <li class="widget-list-item taglevel<$MTTagRank$>">
                    <a href="<$MTTagSearchLink$>"><$MTTagName$></a>
                </li>
            </MTTags>
        </ul>
    </div>
</div>