build-language-stamp
lib/MT/L10N/de-iso-8859-1.pm
lib/MT/L10N/es-iso-8859-1.pm
lib/MT/L10N/fr-iso-8859-1.pm
lib/MT/L10N/nl-iso-8859-1.pm
mt-static/assets_c
mt-static/css/main.css
mt-static/css/simple.css
mt-static/js/mt_core_compact.js
mt-static/js/editor.js
mt-static/jquery/jquery.mt.min.js
mt-static/plugins/TinyMCE/tiny_mce/plugins/mt/plugin.min.js
mt-static/plugins/TinyMCE/tiny_mce/plugins/mt_fullscreen/plugin.min.js
mt-static/mt_en_us.js
mt-static/mt_de.js
mt-static/mt_es.js
mt-static/mt_fr.js
mt-static/mt_ja.js
mt-static/mt_nl.js
mt-static/support
mt-config.cgi

mt-comments.cgi
mt-cp.cgi
mt-tb.cgi
addons
mt-static/addons
mt-static/plugins/FacebookCommenters
mt-static/plugins/OpenID
mt-static/plugins/feeds-app-lite
mt-static/plugins/mixiComment
mt-static/themes/tristan-blue
mt-static/themes/tristan-blue-4.2
plugins/Comments
plugins/FacebookCommenters
plugins/OpenID
plugins/Trackback
plugins/feeds-app-lite
plugins/mixiComment

mt-sp.cgi
plugins/SmartphoneOption
mt-static/plugins/SmartphoneOption
themes/rainier
themes/eiger

t/site/
t/db/mt.db
t/archive/
t/update/

*.DS_Store
*.swp
*.swo
/mt.pid

/node_modules/
yarn-error.log

.perl-version
perltidy.LOG

cover_db/

.vstags
.vscode/
.envrc

/vendor/

