dist: focal
os:
  - linux
language: ruby
services:
  - docker

jobs:
  include:
    - # Perl 5.28 / PHP 7.3 / MariaDB 10.3
      if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/*.t"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/[^t]*"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/t*"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/admin_theme_id/ t/app/ t/class/ t/cms/ t/model/ t/mt_object/ t/object_driver/ t/task/ t/template/ t/tools t/util/"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/cms_permission/"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/data_api/"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/tag/"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - if: type != cron
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="phpunit && make test-php-lint"

    - # Perl 5.34 / PHP 8.0 / MySQL 8.0
      if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/*.t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/[^t]*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/t*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/app/ t/class/ t/cms/ t/model/ t/mt_object/ t/object_driver/ t/task/ t/template/ t/tools t/util/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/cms_permission/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/data_api/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/tag/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="MT_TEST_RUN_APP_AS_CGI=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora35" TEST_COMMAND="phpunit php/tests/*Test.php && make test-php-lint"

    - # Perl 5.36 / PHP 8.1 / MySQL 8.0
      if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/*.t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/[^t]*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/t*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/app/ t/class/ t/cms/ t/model/ t/mt_object/ t/object_driver/ t/task/ t/template/ t/tools t/util/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/cms_permission/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/data_api/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/tag/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="fedora37" TEST_COMMAND="MT_TEST_BUILDER=MT::Builder::Fast prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"

    - # 5.10 / PHP 5.5 / MySQL 5.1
      if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/*.t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/[^t]*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/t*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/app/ t/class/ t/cms/ t/model/ t/mt_object/ t/object_driver/ t/task/ t/template/ t/tools t/util/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/cms_permission/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/data_api/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBJECT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/tag/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="centos6" TEST_COMMAND="MT_TEST_DISABLE_OBEJCT_CACHE=1 prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"

    - # Perl 5.32 / PHP 7.4 / MariaDB 10.5
      if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/*.t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/[^t]*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/mt7/t*"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/app/ t/class/ t/cms/ t/model/ t/mt_object/ t/object_driver/ t/task/ t/template/ t/tools t/util/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/cms_permission/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 MT_TEST_FORCE_DATAAPI_VERSION=5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/data_api/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/tag/"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="MT_TEST_ADMIN_THEME_ID=bootstrap5 prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="bullseye" TEST_COMMAND="phpunit && make test-php-lint"

    - # chromiumdriver
      if: type != cron
      env: TEST_IMAGE_NAME=chromiumdriver TEST_COMMAND="MT_TEST_SELENIUM_MAX_RETRY=5 prove -v -j1 -PMySQLPool=MT::Test::Env -It/lib t/selenium/*.t"
    - if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME=chromiumdriver TEST_COMMAND="MT_TEST_SELENIUM_MAX_RETRY=5 MT_TEST_CRAWL=1 prove -j1 -PMySQLPool=MT::Test::Env -It/lib t/selenium/crawl.t"

    - # no need to run extra tests under various environments (use buster to keep MySQL < 8 for now)
      if: (type = cron AND (branch = master OR branch = develop OR branch =~ /^support-/ OR branch =~ /^release-/)) OR branch =~ /cron/
      env: TEST_IMAGE_NAME="buster" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib xt"
#    - if: (type = cron
#      env: TEST_COMMAND="travis_retry npm run test-riot"

before_script:
  - docker login --username "$DOCKER_USERNAME" --password "$DOCKER_PASSWORD"
  - docker run -t -v $PWD:/mt -w /mt movabletype/test:buster bash -c "BUILD_RELEASE_NUMBER=1 make"

script:
  - docker run -t -v $PWD:/mt -w /mt movabletype/test:$TEST_IMAGE_NAME bash -c "$TEST_COMMAND"

notifications:
  slack:
    secure: c11SdzxeFF23AlZS7b8jeCL8CJSn2Ire6ovAneFwHUUxb9jeG9lqC78mOJiE0Yrcdkv7beom4WVYrFY7ZoT+tD5RXNUkh8PcxPPXBFjvfDi5PCXwbNs1wb4Pa4bHAZvABgjCN8+21KQ6GcvlHl6sDQmhy/8v4yeYngOavsYfhMs=
