sudo: required

services:
  - docker

env:
  matrix:
    - PERL_VERSION="5.20" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/1*.t"
    - PERL_VERSION="5.20" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/2*.t"
    - PERL_VERSION="5.20" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/[^12]*.t"
    - PERL_VERSION="5.20" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - PERL_VERSION="5.20" TEST_COMMAND="phpunit && make test-php-lint"

    - PERL_VERSION="5.10" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/1*.t"
    - PERL_VERSION="5.10" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/2*.t"
    - PERL_VERSION="5.10" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/[^12]*.t"
    - PERL_VERSION="5.10" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - PERL_VERSION="5.10" TEST_COMMAND="phpunit && make test-php-lint"

    - PERL_VERSION="5.30" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/1*.t"
    - PERL_VERSION="5.30" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/2*.t"
    - PERL_VERSION="5.30" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib t/[^12]*.t"
    - PERL_VERSION="5.30" TEST_COMMAND="prove -j4 -PMySQLPool=MT::Test::Env -It/lib plugins/*/t"
    - PERL_VERSION="5.30" TEST_COMMAND="phpunit && make test-php-lint"

before_script:
  - rm t/34-sqlite.t
  - rm plugins/MultiBlog/t/02.tags.t

script:
  - if [ "$TRAVIS_EVENT_TYPE" != "cron" ] && [ "$PERL_VERSION" = "5.20" ]; then docker run -t -v $PWD:/mt -w /mt movabletype/test:jessie bash -c "$TEST_COMMAND" ; fi

  - if [ "$TRAVIS_EVENT_TYPE" != "cron" ] && [ "$PERL_VERSION" = "5.30" ] && ([ $TRAVIS_BRANCH = "master" ] || [ $TRAVIS_BRANCH = "rokocha" ] || [[ $TRAVIS_BRANCH =~ ^support- ]] || [[ $TRAVIS_BRANCH =~ ^release- ]]); then docker run -t -v $PWD:/mt -w /mt movabletype/test:fedora bash -c "$TEST_COMMAND" ; fi

  - if [ "$TRAVIS_EVENT_TYPE" != "cron" ] && [ "$PERL_VERSION" = "5.10" ] && ([ $TRAVIS_BRANCH = "master" ] || [ $TRAVIS_BRANCH = "rokocha" ] || [[ $TRAVIS_BRANCH =~ ^support- ]] || [[ $TRAVIS_BRANCH =~ ^release- ]]); then docker run -t -v $PWD:/mt -w /mt --entrypoint='' movabletype/test:centos6 bash -c "$TEST_COMMAND"; fi

  - if [ "$TRAVIS_EVENT_TYPE" != "cron" ] && [ -z $PERL_VERSION ]; then $TEST_COMMAND; fi

  - if [ "$TRAVIS_EVENT_TYPE" = "cron" ] && [ "$PERL_VERSION" = "5.20" ]; then docker run -e MT_TEST_IGNORE_FIXTURE=1 -t -v $PWD:/mt -w /mt movabletype/test:jessie bash -c "$TEST_COMMAND" ; fi

notifications:
  slack:
    secure: c11SdzxeFF23AlZS7b8jeCL8CJSn2Ire6ovAneFwHUUxb9jeG9lqC78mOJiE0Yrcdkv7beom4WVYrFY7ZoT+tD5RXNUkh8PcxPPXBFjvfDi5PCXwbNs1wb4Pa4bHAZvABgjCN8+21KQ6GcvlHl6sDQmhy/8v4yeYngOavsYfhMs=
