<input type="number" step="<mt:var name="step">" name="content-field-<mt:var name="content_field_id" escape="html">" class="form-control text short html5-form content-field w-25" value="<mt:var name="value" escape="html">" mt:watch-change="1" mt:raw-name="1" <mt:var name="required"> <mt:var name="max"> <mt:var name="min">>
