#recent_blogs div.row.odd {
    background-color: #fbfbfb;
}

#recent_blogs ul {
    padding: 0;
}

#recent_blogs li {
    display: inline;
    border: 0;
    border-left: 2px solid #9ea1a3;
    padding: 0 7px;
}

#recent_blogs li:first-child {
    border: none;
    padding-left: 0;
}

