.blog-container .row.odd {
    background-color: #fbfbfb;
}

.blog-container ul {
    padding: 0;
}

.blog-container li {
    display: inline;
    border: 0;
    border-left: 2px solid #9ea1a3;
    padding: 0 7px;
}

.blog-container li:first-child {
    border: none;
    padding-left: 0;
}

