<MTIfArchiveTypeEnabled archive_type="Monthly">
<div class="widget-archives widget">
   <h3 class="widget-header"><a href="<$MTBlogURL$>archives.html"><MT_TRANS phrase="Archives"></a></h3>
   <div class="widget-content">
   <MTArchiveList archive_type="Monthly">
      <MTArchiveListHeader><ul class="widget-list"></MTArchiveListHeader>
         <li class="widget-list-item"><a href="<$MTArchiveLink$>"><$MTArchiveTitle$></a></li>
      <MTArchiveListFooter></ul></MTArchiveListFooter>
   </MTArchiveList>
   </div>
</div>
</MTIfArchiveTypeEnabled>
