<TMPL_IF NAME="UNAPPROVED"><TMPL_IF NAME=ENTRY_ID><MT_TRANS phrase="An unapproved TrackBack has been posted on your blog [_1], for entry #[_2] ([_3]). You need to approve this TrackBack before it will appear on your site." params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>%%<TMPL_VAR NAME=ENTRY_ID>%%<TMPL_VAR NAME=ENTRY_TITLE>"><TMPL_ELSE><TMPL_IF NAME=CATEGORY_ID><MT_TRANS phrase="An unapproved TrackBack has been posted on your blog [_1], for category #[_2], ([_3]). You need to approve this TrackBack before it will appear on your site." params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>%%<TMPL_VAR NAME=CATEGORY_ID>%%<TMPL_VAR NAME=CATEGORY_LABEL>"></TMPL_IF></TMPL_IF>

<MT_TRANS phrase="Approve this TrackBack:"> <<TMPL_VAR NAME=EDIT_URL>><TMPL_ELSE><TMPL_IF NAME=ENTRY_ID><MT_TRANS phrase="A new TrackBack has been posted on your blog [_1], on entry #[_2] ([_3])." params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>%%<TMPL_VAR NAME=ENTRY_ID>%%<TMPL_VAR NAME=ENTRY_TITLE>"><TMPL_ELSE><TMPL_IF NAME=CATEGORY_ID><MT_TRANS phrase="A new TrackBack has been posted on your blog [_1], on category #[_2] ([_3])." params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>%%<TMPL_VAR NAME=CATEGORY_ID>%%<TMPL_VAR NAME=CATEGORY_LABEL>"></TMPL_IF></TMPL_IF>

<TMPL_IF NAME=VIEW_URL><MT_TRANS phrase="View this TrackBack:"> <<TMPL_VAR NAME=VIEW_URL>>
</TMPL_IF>
<MT_TRANS phrase="Edit this TrackBack">: <<TMPL_VAR NAME=EDIT_URL>></TMPL_IF NAME="UNAPPROVED">

<MT_TRANS phrase="IP Address">: <TMPL_VAR NAME=PING_IP>
<MT_TRANS phrase="URL">: <TMPL_VAR NAME=PING_URL>
<MT_TRANS phrase="Title">: <TMPL_VAR NAME=PING_TITLE>
<MT_TRANS phrase="Weblog">: <TMPL_VAR NAME=PING_BLOG_NAME>
<MT_TRANS phrase="Excerpt">:

<TMPL_VAR NAME=PING_EXCERPT>

<TMPL_INCLUDE NAME="footer-email.tmpl">
