<MT_TRANS phrase="A new post entitled '[_1]' has been published to [_2]." params="<TMPL_VAR NAME=ENTRY_TITLE>%%<TMPL_VAR NAME=BLOG_NAME>">

<MT_TRANS phrase="View post">: <<TMPL_IF NAME=ENTRY_PERMALINK><TMPL_VAR NAME=ENTRY_PERMALINK><TMPL_ELSE><TMPL_VAR NAME=ENTRY_EDITURL></TMPL_IF>>

------------------------------------------------------------------------
<MT_TRANS phrase="Entry Title">: <TMPL_VAR NAME=ENTRY_TITLE>
<MT_TRANS phrase="Publish Date">: <TMPL_VAR NAME=ENTRY_DATE>
<TMPL_IF NAME=SEND_EXCERPT>

<TMPL_VAR NAME=ENTRY_EXCERPT>
</TMPL_IF>
------------------------------------------------------------------------

<TMPL_IF NAME=MESSAGE><MT_TRANS phrase="Message from Sender">":
<TMPL_VAR NAME=MESSAGE></TMPL_IF>
<TMPL_IF NAME=SEND_BODY>
------------------------------------------------------------------------

<TMPL_VAR NAME=ENTRY_TEXT>

------------------------------------------------------------------------</TMPL_IF>

<MT_TRANS phrase="You are receiving this email either because you have elected to receive notifications about new content on [_1], or the author of the post thought you would be interested. If you no longer wish to receive these emails, please contact the following person:" params="<TMPL_VAR NAME=BLOG_NAME>">

<TMPL_VAR NAME=SENDER_NAME> <<TMPL_VAR NAME=SENDER_EMAIL>>
