/*

A Six Apart theme adapted for Movable Type default templates 
name: Hills Green  
designer: Mena Trott  
layouts: layout-wtt, layout-twt, layout-wt, layout-tw
*/


/* Default ---------------------------------------------------------------- */

/* Global */

body {
    font: normal 13px arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}


/* Header */

#header {
    border-top-width: 10px;
    border-top-style: solid;
}

#header-inner {
    position: relative;
}

#header-name {
    margin: 0 0 5px;
    line-height: 1;
}

#header-description {
    margin: 0;
    font-size: 14px;
    line-height: 1.125;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}


/* Content */

.asset-name {
    font-size: 22px;
    font-weight: bold;
}

.asset-name a {
    text-decoration: none;
}

.asset-name a:hover {
    text-decoration: underline;
}

.asset-content {
    margin: 5px 0;
}

.asset-more-link {
    font-weight: bold;
}

.asset-meta {
    border-top: 1px solid #d4e5f2;
}

.asset-footer {
    border-top: 1px solid #d4e5f2;
}

.asset-footer a,
.comment-footer a {
    font-weight: normal;
}

.content-nav {
    margin: 5px 0 10px;
}

.archive-title {
    margin: 5px 0 30px;
    font-size: 26px;
    font-weight: bold;
}

.trackbacks-info,
.trackback-content,
.comment-content,
.comments-open-content,
.comments-closed {
    margin: 5px 0;
}

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.search-results-header {
    margin-bottom: .25em;
}

.asset-more-link,
.asset-meta,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed {
    font-size: 11px;
}

/* Footer */

#footer-content,
#footer-content a {
    color: #fff;
}


/* Utility */

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;
}


/* Global ----------------------------------------------------------------- */

body {
    color: #333;   
    background: #fff url(body.gif) repeat-x fixed top center; 
}

a {
    color: #5e9ad2; 
    font-weight: bold; 
}

a:hover {
    text-decoration: none;
}


/* Layout ----------------------------------------------------------------- */

#container-inner,
#content {
    background-color: #fff;
}

#header-inner, #content-inner, #footer-inner {
    padding-top: 0;
    padding-bottom: 0;
}

#header-inner, #beta-inner, #gamma-inner {
    padding-right: 0;
    padding-left: 0;
}


/* Header ----------------------------------------------------------------- */

#header { 
    border-color: #5283b1;  
    background: #cdeaff url(header.png) no-repeat bottom left; 
}

#header a {
    color: #5e9ad2;
    font-weight: normal;
}

* html #header-content {  /*HACK targets IE6 but not 7, instead of min-height*/
    height: 74px;
}
#header-content {
    width: 770px; 
    min-height: 74px; 
    margin: 20px 0 116px 20px;
}

#header-name {
    color: #5e9ad2; 
    font-size: 28px;
    font-weight: normal;
}

#header-description {
    color: #999;  
    font-weight: normal; 
}

#header {
    margin-bottom: 10px;
}

#header-inner {
    padding-bottom: 20px;
    padding-left: 27px;
}


/* Content ---------------------------------------------------------------- */

.asset {
    background: url(post-ornament.gif) no-repeat 0 0;
}

.asset-header {
    margin-top: 15px;
}

.asset-header,
.asset-content,
.asset-footer {
    margin-left: 27px;
    margin-right: 27px;
}  

.asset-name,
.asset-name a,
.archive-title {
    color: #5e9ad2;
}

.comment-footer,
.comment-footer a,
.trackback-footer {
    color: #999;
}

.asset-footer {
    border-top-color: #d4e5f2;
}

.comments-header,
.comments-open-header,
.trackbacks-header,
.archive-header,
.search-form-header,
.search-results-header {
    color: #5e9ad2;
}


.archive-list-item {
    margin-bottom: 5px;
}


/* Widget ----------------------------------------------------------------- */

.layout-wtt #content-inner { background: transparent url(content-wtt.gif) repeat-y scroll right top; }
.layout-twt #content-inner { background: transparent url(content-twt.gif) repeat-y scroll left top; }
.layout-wt #content-inner { background: transparent url(content-wt.gif) repeat-y scroll right top; }
.layout-tw #content-inner { background: transparent url(content-tw.gif) repeat-y scroll left top; }

#content .widget {
    border-bottom: 1px solid #d4e5f2;
}

.widget-header,
.widget-content {
    margin-right: 15px;
    margin-left: 15px;
}

.widget-header {
    margin-top: 10px;
}

.widget-header,
.widget-header a {
    color: #5e9ad2;
    font-weight: bold;
}

.widget-content {
    margin-bottom: 15px;
}

.widget-content a {
    color: #999;
}

.widget-about .widget-header {
    margin-bottom: 10px;
}

#content .widget-powered .widget-content {
    margin: 0;
    background-color: #f0f6fa;
}

.layout-wtt #content #beta .widget-powered .widget-content,
.layout-twt #content #gamma .widget-powered .widget-content,
.layout-wt #content #beta .widget-powered .widget-content {
    margin-left: 1px;
}

.layout-twt #content #beta .widget-powered .widget-content,
.layout-tw #content #beta .widget-powered .widget-content {
    margin-right: 1px;
}

.widget-email .widget-content,
.widget-subscribe .widget-content,
.widget-syndicate .widget-content {
    margin-top: 15px;
} 

.widget-header {
    font-size: 14px;
}

.widget-header a {
    text-decoration: none;
}

.widget-header a:hover {
    text-decoration: underline;
}

.widget-content {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 11px;
}


/* "Powered By" Widget */

.widget-powered .widget-content {
    padding: 10px;
    text-align: center;
}


/* Calendar Widget */

.widget-calendar .widget-content table {
    font-size: 10px;
}


/* Footer Widgets */

#footer .widget {
    margin: 10px 0;
}

#footer .widget-content {
    padding-right: 0;
    padding-left: 0;
}

#footer .widget-powered .widget-content {
    padding: 0;
    text-align: left;
}


/* Footer ----------------------------------------------------------------- */

#footer { 
    background-color: #5283b1; 
}

#footer-content {
    margin: 20px 0;
}


/* Utilities -------------------------------------------------------------- */

#header:after,
#header-inner:after,
#content:after,
#alpha-inner:after,
#beta-inner:after,
#gamma-inner:after,
#footer:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}


#header-inner,
#content-inner,
#footer-inner,
.asset-body {
    height: 1%;
}


/* Custom Styles ---------------------------------------------------------- */

.asset-stream  .asset-header-content {
    padding: 15px 0 0 27px;
}