/*

A Six Apart theme adapted for Movable Type default templates 
name: Unity Purple  
designer: Lilia Ahner  
designer_url: http://lilia.vox.com/ 
layouts: layout-wtt, layout-twt, layout-wt, layout-tw
*/


/* Default ---------------------------------------------------------------- */

/* Global */

body {
    font: normal 13px arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}


/* Header */

#header {
    border-top-width: 10px;
    border-top-style: solid;
}

#header-inner {
    position: relative;
}

#header-name {
    margin: 0 0 5px;
    line-height: 1;
}

#header-description {
    margin: 0;
    font-size: 14px;
    line-height: 1.125;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}


/* Content */

.asset-name {
    font-size: 22px;
    font-weight: bold;
}

.asset-name a {
    text-decoration: none;
}

.asset-name a:hover {
    text-decoration: underline;
}

.asset-content {
    margin: 5px 0;
}

.asset-more-link {
    font-weight: bold;
}

.asset-meta {
    margin-top: .25em;
    padding-top: 2px;
    font-weight: normal;

    display: block;
    border-top: 1px dashed #e3d9ee;
    padding-bottom: .3em;
}

.asset-footer a,
.comment-footer a {
    font-weight: normal;
}

.content-nav {
    margin: 5px 0 10px;
}

.archive-title {
    margin: 5px 0 30px;
    font-size: 26px;
    font-weight: bold;
}

.trackbacks-info,
.trackback-content,
.comment-content,
.comments-open-content,
.comments-closed {
    margin: 5px 0;
}

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.search-results-header {
    margin-bottom: .25em;
}

.asset-more-link,
.asset-meta,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed {
    font-size: 11px;
}

/* Footer */

#footer-content,
#footer-content a {
    color: #fff;
}


/* Utility */

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;
}


/* Global ----------------------------------------------------------------- */

body {
    color: #333;   
    background: #524060 url(body.gif) repeat-y  top center; 
}

a {
    color: #8b63ac; 
    font-weight: bold; 
}

a:hover {
    text-decoration: none;
}


/* Layout ----------------------------------------------------------------- */

#container-inner,
#content {
    background-color: #fff;
}

#header-inner, #content-inner, #footer-inner {
    padding-top: 0;
    padding-bottom: 0;
}

#header-inner, #beta-inner, #gamma-inner {
    padding-right: 0;
    padding-left: 0;
}


/* Header ----------------------------------------------------------------- */

#container-inner {
    background-color: #fff;
}

#content {
    margin-top: 15px;
}

#beta-inner,
#gamma-inner {
    padding: 0 0 25px;
}

#header {
    background: url(header.png) no-repeat center top #fff;
    padding-top: 24px;
    position: static; 
    width: 100%; 
}

#header-inner {
    background-color: #fff;
}

#header-content {
    margin: 10px 20px 0;
}

#header-name {
    font-weight: bold;
    font-size: 32px;
}

#header-name,
#header-name a {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: #66487f;
}

#header-name a:hover {
    text-decoration: underline;
}

#header-description,
#header-description a { 
    color: #999;
}


/* Content ---------------------------------------------------------------- */

.asset-name,
.asset-name a,
.archive-title {
    color: #8b63ac;
}

.asset-footer,
.asset-footer a,
.comment-footer,
.comment-footer a,
.trackback-footer {
    color: #b3b3b3;
}

.asset-footer {
    border-top-color: #e3d9ee;
}

.comments-header,
.comments-open-header,
.trackbacks-header,
.archive-header,
.search-form-header,
.search-results-header {
    color: #fff;
}


.archive-list-item {
    margin-bottom: 5px;
}


/* Widget ----------------------------------------------------------------- */

.layout-wtt #content-inner { background: transparent url(content-wtt.gif) repeat-y scroll right top; }
.layout-twt #content-inner { background: transparent url(content-twt.gif) repeat-y scroll left top; }
.layout-wt #content-inner { background: transparent url(content-wt.gif) repeat-y scroll right top; }
.layout-tw #content-inner { background: transparent url(content-tw.gif) repeat-y scroll left top; }


.layout-wt #beta-decor b {
    z-index: 3;
    display: block;
    background: url(corner-left.gif) transparent no-repeat;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.layout-twt #beta-decor b,
.layout-tw #beta-decor b {
    z-index: 3;
    display: block;
    background: url(corner-right.gif) no-repeat;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.layout-wtt #gamma-decor b,
.layout-twt #gamma-decor b {
    z-index: 3;
    display: block;
    background: url(corner-left.gif) transparent no-repeat;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 1px;
}

.layout-wm .recent-comments-stream-widget .widget-header {
    background-image: url(corner-left.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
} 


.widget a,
.archive-widget .widget-list .item {
    color: #66487f;
} 
#gamma .widget a {
    color: #66487f;
} 

.widget-header {
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold; 
    font-family: arial, helvetica, "hirakakupro-w3", osaka, "ms pgothic", sans-serif; 
    background-color: #8b63ac; 
}  
.widget .widget-header {
    border-left: 1px solid #fff;
}

.layout-tw .widget .widget-header {
    border-left-width: 0;
}

.layout-twt #beta .widget-header,
.layout-tw .widget-header {
    border: 0;
}

.embed-asset-widget .widget-header {
    margin-bottom: 10px;
}  
#gamma .widget-header,
#gamma .widget-header a, 
.widget-header,
.widget-header a {
    text-decoration: none;
    color: #fff;
}

.widget-header .edit a {
    border-left-color: #fff
} 
#gamma .widget-header a:hover, 
.widget .widget-header a:hover {
    text-decoration: underline;
}

.widget-content {
    padding: 0 15px;
}

.media-stream-widget img {
    border: 1px solid #999;
} 

.widget-header {
    font-size: 14px;
}

.widget-header a {
    text-decoration: none;
}

.widget-header a:hover {
    text-decoration: underline;
}

.widget-content {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 11px;
}


/* "Powered By" Widget */

.widget-powered .widget-content {
    padding: 10px;
    text-align: center;
}


/* Calendar Widget */

.widget-calendar .widget-content table {
    font-size: 10px;
}


/* Footer Widgets */

#footer .widget {
    margin: 10px 0;
}

#footer .widget-content {
    padding-right: 0;
    padding-left: 0;
}

#footer .widget-powered .widget-content {
    padding: 0;
    text-align: left;
}


/* Footer ----------------------------------------------------------------- */

#footer { 
    background-color: #310e4c; 
}

#footer-content {
    margin: 20px 0;
}


/* Utilities -------------------------------------------------------------- */

#header:after,
#header-inner:after,
#content:after,
#alpha-inner:after,
#beta-inner:after,
#gamma-inner:after,
#footer:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}


#header-inner,
#content-inner,
#footer-inner,
.asset-body {
    height: 1%;
}


/* Custom Styles ---------------------------------------------------------- */

.connections-view #header-content {
    background-color: #eae1f4;
}
.group-banner {
    top: 33px;
}