<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>StyleCatcher</title>
        <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=STATIC_URI>styles.css" />
        <TMPL_IF NAME=LOCAL_LANG_ID><link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=STATIC_URI>styles_<TMPL_VAR NAME=LOCAL_LANG_ID>.css" /></TMPL_IF>
        <link rel="stylesheet" type="text/css" title="Default Layout" href="<TMPL_VAR NAME=STATIC_URI>plugins/StyleCatcher/templates.css" />
        
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js"></script>
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc.js"></script>
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/mixer.js"></script>
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/mixer/tagmatch.js"></script>
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/mixer/display.js"></script>
        <script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/client.js"></script>
<style type="text/css">
<MT_HEAD:STYLE>
</MT_HEAD:STYLE>
</style>
<script type="text/javascript">
<MT_HEAD:SCRIPT>
</MT_HEAD:SCRIPT>
</script>
    </head>
    <body>
    
       <div id="topnav">
         <div id="topnav-container">
            <div id="topnav-img"><h1><a href="<TMPL_VAR NAME=MT_URL>"><img alt="Movable Type" src="<TMPL_VAR NAME=STATIC_URI>images/topnav-logo.gif" width="224" height="66" border="0" /></a></h1></div>

            <div id="topnav-links">
               <div class="leftcol">
                  <a href="<TMPL_VAR NAME=MT_URL>"><MT_TRANS phrase="Main Menu"></a>
                  &nbsp;|&nbsp;
                  <a href="<TMPL_VAR NAME=MT_URL>?__mode=admin"><MT_TRANS phrase="System Overview"></a>
                  &nbsp;|&nbsp;
                  <a href="<TMPL_VAR NAME=HELP_URL>"><MT_TRANS phrase="Help"></a>
               </div>
               <div class="rightcol">
                  <MT_TRANS phrase="Welcome">
                  <a href="<TMPL_VAR NAME=MT_URL>?__mode=view&amp;_type=author&amp;id=<TMPL_VAR NAME=AUTHOR_ID>"><TMPL_VAR NAME=AUTHOR_NAME></a>
                  &nbsp;|&nbsp;
                  <a href="<TMPL_VAR NAME=MT_URL>?__mode=logout"><MT_TRANS phrase="Logout"></a>
               </div>
            </div>
         </div>
      </div>

<div class="body-wrap">
<div class="body">

<TMPL_UNLESS NAME=NO_BREADCRUMBS>
<h2 id="breadcrumbs">
<TMPL_IF NAME=BLOG_NAME>
<span class="sitecrumb"><a href="<TMPL_VAR NAME=BLOG_URL>"><MT_TRANS phrase="View Site"></a> &#187;</span>
</TMPL_IF>
<TMPL_LOOP NAME=BREADCRUMBS><TMPL_UNLESS NAME=IS_LAST><a href="<TMPL_VAR NAME=BC_URI ESCAPE=HTML>"><TMPL_VAR NAME=BC_NAME ESCAPE=HTML></a>&nbsp;&gt;&nbsp;<TMPL_ELSE><TMPL_VAR NAME=BC_NAME ESCAPE=HTML></TMPL_UNLESS></TMPL_LOOP>
</h2>
</TMPL_UNLESS>
