<mt:unless name="cfg_exists">
  <link rel="icon" href="<$mt:var name="static_uri"$>images/favicon.ico" type="image/ico" />
  <!--[if IE]>
  <mtapp:stylesheet path="css/hacks/ie.css">
  <![endif]-->
  <mtapp:script path="js/tc.js">
</mt:unless>

<mt:unless name="optimize_ui">
  <mtapp:script path="jquery/jquery.js">
  <mtapp:script path="jquery/jquery-migrate.js">
  <mtapp:script path="jqueryui/jquery-ui.js">
  <mtapp:script path="jquery/jquery.validate.js">
<mt:if name="use_svg4everybody">
  <mtapp:script path="svg4everybody/svg4everybody.js">
</mt:if>
<mt:else>
  <mtapp:script path="jquery/jquery.min.js">
  <mtapp:script path="jquery/jquery-migrate.min.js">
  <mtapp:script path="jqueryui/jquery-ui.js">
  <mtapp:script path="jquery/jquery.validate.min.js">
<mt:if name="use_svg4everybody">
  <mtapp:script path="svg4everybody/svg4everybody.min.js">
</mt:if>
</mt:unless>
<mt:unless name="cfg_exists">
  <mtapp:script path="js/common/Core.js">
</mt:unless>

<mt:unless name="cfg_exists">
  <mtapp:script path="mt.js">
  <mtapp:script path="mt_%l.js">
  <mt:unless name="optimize_ui">
    <mtapp:script path="jquery/jquery.mt.js">
  <mt:else>
    <mtapp:script path="jquery/jquery.mt.min.js">
  </mt:unless>
</mt:unless>

<mt:unless name="optimize_ui">
  <mtapp:script path="popper/popper.js">
  <mtapp:script path="bootstrap5/js/bootstrap.bundle.js">
<mt:else>
  <mtapp:script path="popper/popper.min.js">
  <mtapp:script path="bootstrap5/js/bootstrap.bundle.min.js">
</mt:unless>
