<mt:if name="blog_id">
  <h2><__trans phrase="Flickr Settings"></h2>
  <mtapp:settinggroup id="system-feedback-controls">

    <mtapp:setting
       id="flickr_consumer_key"
       label="<__trans phrase="API Key">">
      <input type="text" id="flickr_consumer_key" name="flickr_consumer_key" value="<mt:Var name="flickr_consumer_key" encode_html="1" />" />
    </mtapp:setting>

    <mtapp:setting
       id="flickr_consumer_secret"
       label="<__trans phrase="Shared Secret">">
      <input type="text" id="flickr_consumer_secret" name="flickr_consumer_secret" value="<mt:Var name="flickr_consumer_secret" encode_html="1" />" />
    </mtapp:setting>

    <mtapp:setting
       id="flickr_token"
       label="<__trans phrase="Access Token">"
       show_hint="0">
        <span id="ready_flickr_token" class="items"></span>
    <input type="hidden" id="flickr_token" name="flickr_token" value="<mt:Var name="flickr_token" encode_html="1" />" />
    <a href="#" id="get_flickr_token" class="button"><__trans phrase="Get Access Token" /></a>
    </mtapp:setting>

  </mtapp:settinggroup>
</mt:if>

<mt:if name="blog_id">
  <h2><__trans phrase="YouTube Account"></h2>
  <mtapp:settinggroup id="system-feedback-controls">

    <mt:SetVarBlock name="hint"><__trans phrase="Create an OAuth2 application's Client ID for web applications with this redirect URI via <a href="https://cloud.google.com/console" target="_blank">Google Cloud Console</a> before selecting profile." /></mt:SetVarBlock>

    <mtapp:setting
       id="youtube_redirect_uri"
       label="<__trans phrase="Redirect URI of the OAuth2 application">"
       hint="$hint"
       show_hint="1">
        <span id="youtube_redirect_uri_text"></span>
        <input type="hidden" id="youtube_redirect_uri" value="<mt:Var name="youtube_redirect_uri" encode_html="1" />" />
    </mtapp:setting>

    <mtapp:setting
       id="youtube_client_id"
       label="<__trans phrase="Client ID of the OAuth2 application">">
      <input type="text" id="youtube_client_id" name="youtube_client_id" value="<mt:Var name="youtube_client_id" encode_html="1" />" />
    </mtapp:setting>

    <mtapp:setting
       id="youtube_client_id"
       label="<__trans phrase="Client Secret of the OAuth2 application">">
      <input type="text" id="youtube_client_secret" name="youtube_client_secret" value="<mt:Var name="youtube_client_secret" encode_html="1" />" />
    </mtapp:setting>

    <mtapp:setting
       id="youtube_code"
       label="<__trans phrase="Access Token">"
       show_hint="0">
        <span id="ready_youtube_access_token" class="items"></span>
    <input type="hidden" id="youtube_code" name="youtube_code" value="<mt:Var name="youtube_code" encode_html="1" />" />
    <a href="#" id="get_youtube_access_token" class="button"><__trans phrase="Get Access Token" /></a>
    </mtapp:setting>

  </mtapp:settinggroup>
</mt:if>

<input type="hidden" id="youtube_configured_client_id" value="<mt:Var name="youtube_configured_client_id" encode_html="1" />" />
<input type="hidden" id="youtube_configured_client_secret" value="<mt:Var name="youtube_configured_client_secret" encode_html="1" />" />
<input type="hidden" id="youtube_dialog_url" value="<mt:Var name="youtube_dialog_url" encode_html="1" />" />
<input type="hidden" id="flickr_get_token_url" value="<mt:Var name="flickr_get_token_url" encode_html="1" />" />

<script type="text/javascript">
jQuery(function($) {

    // Flickr

    $('#get_flickr_token').click(function() {
        var consumer_key    = $('#flickr_consumer_key').val();
        var consumer_secret = $('#flickr_consumer_secret').val();

        if (!consumer_key) {
            return false;
        }

        var url = 
            ScriptURI +
            '?__mode=flickr_oauth_request' +
            '&consumer_key=' + consumer_key +
            '&consumer_secret=' + consumer_secret;
        window.open(
            url, 'flickr_authorize',
            'width=700, height=500, menubar=no, toolbar=no, scrollbars=yes'
        );

        return false;
    });


    // YouTube

    var redirectUri = $('#youtube_redirect_uri').val();
    if (! redirectUri.match(/^https?:\/\//)) {
        redirectUri =
            redirectUri.replace(/^\/?/, location.protocol + '//' + location.host + '/');
        $('#youtube_redirect_uri').val(redirectUri);
        $('#youtube_redirect_uri_text').text(redirectUri);
    }

    $.updateProfile = function () {
        var $profile = $('#ready_youtube_access_token');
        var $code    = $('#youtube_code');

        $profile.empty();
        if ($code.val() == '') {
            $profile.text('<__trans phrase="(No access token)" encode_js="1">');
        }
        else {
            var $label = $('<span class="sticky-label selected-item" />');
            $label.append($('<span />').text(
                '<__trans phrase="An access token was got.">'
            ));
            $label.append('&nbsp;<span class="remove clickable">x</span></span>');
            $label.find('span.remove').click(function() {
                $('#youtube_code').val('');
                $.updateProfile();
            });
            $profile.append($label);
        }
    }
    $.updateProfile();

    $('#youtube_client_id, #youtube_client_secret')
        .on('input click keyup change', function() {
            if ( $('#youtube_client_id').val() && $('#youtube_client_secret').val() ) {
                $('#get_youtube_access_token').removeClass('disabled');
            }
            else {
                $('#get_youtube_access_token').addClass('disabled');
            }
        })
        .triggerHandler('input');

    $('#get_youtube_access_token').click(function() {
        var clientId = $('#youtube_client_id').val();

        if (! clientId) {
            return false;
        }

        var url = '<mt:Var name="youtube_authorize_url" encode_js="1" />'
            .replace('__client_id__', clientId)
            .replace('__redirect_uri__', redirectUri);
        window.open(
            url, 'youtube_authorize',
            'width=700, height=500, menubar=no, toolbar=no, scrollbars=yes'
        );

        return false;
    });

    $($('#youtube_client_id').get(0).form).on('submit', function() {
        var clientId     = $('#youtube_client_id').val();
        var clientSecret = $('#youtube_client_secret').val();
        if (
            (clientId && clientId !== $('#youtube_configured_client_id').val()) ||
            (clientSecret && clientSecret !== $('#youtube_configured_client_secret').val())
        ) {
            return window.confirm('<__trans phrase="Client ID or client secret for YouTube was changed, but profile was not updated. Are you sure you want to save these settings?" escape="js">');
        }
    });
});
</script>
