/*

A Six Apart theme adapted for Movable Type default templates 
name: Cityscape Portland  
designer: Tiffany Chow  
designer_url: http://tiffany.vox.com/ 
layouts: layout-wtt, layout-twt, layout-wt, layout-tw
*/


/* Default ---------------------------------------------------------------- */

/* Global */

body {
    font: normal 13px arial, helvetica, hirakakupro-w3, osaka, "ms pgothic", sans-serif;
}


/* Header */

#header {
    border-top-width: 10px;
    border-top-style: solid;
}

#header-inner {
    position: relative;
}

#header-name {
    margin: 0 0 5px;
    line-height: 1;
}

#header-description {
    margin: 0;
    font-size: 14px;
    line-height: 1.125;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}


/* Content */

.asset-name {
    font-size: 22px;
    font-weight: bold;
}

.asset-name a {
    text-decoration: none;
}

.asset-name a:hover {
    text-decoration: underline;
}

.asset-content {
    margin: 5px 0;
}

.asset-more-link {
    font-weight: bold;
}

.asset-meta {
    border-top: 1px solid #e0f2fe;
}

.asset-footer {
    border-top: 1px solid #e0f2fe;
}

.content-nav {
    margin: 5px 0 10px;
}

.archive-title {
    margin: 5px 0 30px;
    font-size: 26px;
    font-weight: bold;
}

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.search-results-header {
    margin-bottom: .25em;
}

.asset-more-link,
.asset-meta,
.typelist-thumbnailed {
    font-size: 11px;
}

/* Footer */

#footer-content,
#footer-content a {
    color: #fff;
}


/* Utility */

.widget-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header,
.search-form-header,
.search-results-header {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;
}


/* Global ----------------------------------------------------------------- */

body {
    color: #333;  
    font-family: "trebuchet ms", arial, "hirakakupro-w3", osaka, "ms pgothic", sans-serif;   
    background: #124344 url(body.gif) repeat-y  top center; 
}

a {
    color: #3d6dae; 
}

a:hover {
    text-decoration: none;
}


/* Layout ----------------------------------------------------------------- */

#container-inner,
#content {
    background-color: #fff;
}

#header-inner, #content-inner, #footer-inner {
    padding-top: 0;
    padding-bottom: 0;
}

#header-inner, #beta-inner, #gamma-inner {
    padding-right: 0;
    padding-left: 0;
}


/* Header ----------------------------------------------------------------- */

#header { 
    border-color: #27455a;  
    background: #b3c9e3 url(header.png) no-repeat bottom left; 
}

#header a {
    color: #003c6a;
    font-weight: bold;
}

* html #header-content {  /*HACK targets IE6 but not 7, instead of min-height*/
    height: 72px;
}
#header-content {
    width: 844px; 
    min-height: 72px; 
    margin: 20px 0 100px 20px;
}

#header-name {
    color: #003c6a;  
    font-family: "century gothic", futura, arial, helvetica, "hirakakupro-w3", osaka, "ms pgothic", sans-serif; 
    font-size: 28px;
    font-weight: bold;
}

#header-description {
    color: #003c6a;  
    font-family: "century gothic", futura, arial, helvetica, "hirakakupro-w3", osaka, "ms pgothic", sans-serif;  
    font-weight: bold; 
}


/* Content ---------------------------------------------------------------- */

.asset-name,
.comments-header,
.comments-open-header,
.trackbacks-header,
.archive-title
.archive-header,
.search-form-header,
.search-results-header {
    font-family: "century gothic", futura, arial, helvetica, "hirakakupro-w3", osaka, "ms pgothic", sans-serif;
} 

.asset-name,
.asset-name a,
.archive-title {
    color: #3e667e;
}

.asset-footer {
    border-top-color: #e0f2fe;
}

.comments-header,
.comments-open-header,
.trackbacks-header,
.archive-header,
.search-form-header,
.search-results-header {
    color: #a0cddd;
}

.comment,
.trackback {
    border-color: #e0f2fe;
}



.archive-list-item {
    margin-bottom: 5px;
}


/* Widget ----------------------------------------------------------------- */

.layout-wtt #content-inner { background: transparent url(content-wtt.gif) repeat-y scroll right top; }
.layout-twt #content-inner { background: transparent url(content-twt.gif) repeat-y scroll left top; }
.layout-wt #content-inner { background: transparent url(content-wt.gif) repeat-y scroll right top; }
.layout-tw #content-inner { background: transparent url(content-tw.gif) repeat-y scroll left top; }




.widget a,
.archive-widget .widget-list .item {
    color: #4c6885;
} 

.widget-header {
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold; 
    font-family: "century gothic", futura, arial, helvetica, "hirakakupro-w3", osaka, "ms pgothic", sans-serif; 
    background: url(widget-header.gif) repeat top left #587fa5; 
}  
.widget .widget-header {
    border-left: 1px solid #fff;
}

.layout-tw .widget .widget-header {
    border-left-width: 0;
}

.layout-twt #beta .widget-header,
.layout-tw .widget-header {
    border: 0;
}

.embed-asset-widget .widget-header {
    margin-bottom: 10px;
}  
.widget-header,
.widget-header a {
    text-decoration: none;
    color: #fff;
}

.widget-header .edit a {
    border-left-color: #fff
} 
.widget .widget-header a:hover {
    text-decoration: underline;
}

.widget-content {
    padding: 0 15px;
}

.media-stream-widget img {
    border: 1px solid #999;
} 
.widget-header .edit a,
.archive-widget .widget-list .item a,
.archive-widget .widget-list .item {
    font-weight: normal;
} 

.widget-header {
    font-size: 14px;
}

.widget-header a {
    text-decoration: none;
}

.widget-header a:hover {
    text-decoration: underline;
}

.widget-content {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 11px;
}


/* "Powered By" Widget */

.widget-powered .widget-content {
    padding: 10px;
    text-align: center;
}


/* Calendar Widget */

.widget-calendar .widget-content table {
    font-size: 10px;
}


/* Footer Widgets */

#footer .widget {
    margin: 10px 0;
}

#footer .widget-content {
    padding-right: 0;
    padding-left: 0;
}

#footer .widget-powered .widget-content {
    padding: 0;
    text-align: left;
}


/* Footer ----------------------------------------------------------------- */

#footer { 
    background-color: #27455a; 
}

#footer-content {
    margin: 20px 0;
}


/* Utilities -------------------------------------------------------------- */

#header:after,
#header-inner:after,
#content:after,
#alpha-inner:after,
#beta-inner:after,
#gamma-inner:after,
#footer:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}


#header-inner,
#content-inner,
#footer-inner,
.asset-body {
    height: 1%;
}


/* Custom Styles ---------------------------------------------------------- */

#content-inner {
    padding: 10px 0;
}