<mtapp:setting
   id="username"
   label="<__trans phrase="Username">"
   label_for="username"
   label_class="top-label form-group">
  <input type="text" name="username" id="username" class="form-control text full" />
</mtapp:setting>
<mtapp:setting
   id="password"
   label="<__trans phrase="Password">"
   label_for="password"
   label_class="top-label form-group">
  <input type="password" name="password" id="password" class="form-control text password full" />
</mtapp:setting>
<div id="remember-me" class="checkbox mb-4">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="remember" id="remember" class="custom-control-input" value="1" accesskey="r" />
    <label class="custom-control-label" for="remember"><__trans phrase="Remember me?"></label>
  </div>
</div>
