<mt:setvarblock name="jq_js_include" append="1">
var $field = parent.jQuery( '#<mt:var name="edit_field" escape="js">' );
if ($field){
    parent.jQuery( '#<mt:var name="edit_field" escape="js">-preview' ).empty();
    var ids = [];
<mt:loop name="assets">
    <mt:Asset id="$id">
    ids.push('<mt:var name="id" escape="JS">');
    parent.jQuery( '#<mt:var name="edit_field" escape="js">-preview' ).append('<img src="<$mt:AssetThumbnailURL width="100" $>" style="width: 100px;" alt="">');
    </mt:Asset>
</mt:loop>
    $field.val(ids.join(','));
}
jQuery.fn.mtModal.close();
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">

