<$mt:setvar name="screen_type" value="popup-screen"$>
<mt:include name="include/header_popup.tmpl">

<form method="post" action="<mt:var name="script_url">">
<input type="hidden" name="__mode" value="category_do_add" />
<input type="hidden" name="_type" value="<mt:var name="object_type">" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<h4><__trans phrase="Add A [_1]" params="<mt:var name="object_label">"></h4>

<p><__trans phrase="To create a new [_1], enter a title in the field below, select a parent [_1], and click the Add button." params="<mt:var name="object_label" lower_case="1">"></p>

<p>
<label for="label"><__trans phrase="[_1] Title:" params="<mt:var name="object_label">"></label>
<br />
<input name="label" id="label" maxlength="100" />
</p>

<p>
<label for="parent"><__trans phrase="Parent [_1]:" params="<mt:var name="object_label">"></label>
<br />
<select name="parent" id="parent">
<option value="0"><__trans phrase="Top Level"></option>
<mt:loop name="category_loop">
<option value="<mt:var name="category_id">"><mt:var name="category_label_spacer"><mt:var name="category_label"></option>
</mt:loop>
</select>
</p>

<div>
<input type="submit" value="<__trans phrase="Save">" accesskey="s" title="<__trans phrase="Save [_1] (s)" params="<mt:var name="object_label" lower_case="1">">" />
<input type="button" onclick="window.close()" value="<__trans phrase="Cancel">" />
</div>

</form>
<script type="text/javascript" charset="utf-8">
    var fld = getByID("label");
    if (fld) {
        fld.disabled = false;
        fld.focus();
    }
</script>
<mt:include name="include/footer_popup.tmpl">
