<mt:setvarblock name="page_title"><__trans phrase="Password Recovery"></mt:setvarblock>
<mt:setvar name="complete" value="1">
<mt:include name="include/chromeless_header.tmpl">

<form method="post" action="<mt:var name="script_url">">
<input type="hidden" name="__mode" value="recover" />

<mt:if name="recovered">
<p><__trans phrase="Your password has been changed, and the new password has been sent to your email address ([_1])." params="<mt:var name="email" escape="html">"></p>

<p><a href="<$mt:var name="mt_url"$>"><__trans phrase="Return to sign in to Movabale Type"></a></p>

<mt:else>
<fieldset>

<mtapp:setting
    id="name"
    label="<__trans phrase="Enter your Movable Type username:">">
    <input name="name" id="name" />
</mtapp:setting>

<mtapp:setting
    id="hint"
    label="<__trans phrase="Enter your password recovery word/phrase:">">
    <input name="hint" id="hint" />
</mtapp:setting>


<div align="right">
<input type="submit" value="<__trans phrase="Recover">" />
<input type="button" onclick="history.back()" value="<__trans phrase="Cancel">" />
</div>
</fieldset>
</mt:if>

</form>

<mt:include name="include/chromeless_footer.tmpl">
