<$mt:setvar name="screen_type" value="popup-screen"$>
<mt:include name="include/header_popup.tmpl">

<form action="<mt:var name="script_url">" onsubmit="return false;">

<p><label for="html"><__trans phrase="Copy and paste this HTML into your entry."></label></p>

<p>
<textarea name="html" id="html" rows="10" style="width: 100%;"><mt:var name="upload_html" escape="html"></textarea>
</p>

<p>
<input type="button" onclick="window.close()" value="<__trans phrase="Close">" />
<input type="button" onclick="window.location='<mt:var name="script_url">?__mode=start_upload&amp;blog_id=<mt:var name="blog_id">'" value="<__trans phrase="Upload Another">" />
</p>

</form>

<mt:include name="include/footer_popup.tmpl">
