
</div>

<TMPL_IF NAME=BLOG_ID>
<br style="clear: both;" />
<TMPL_ELSE>
<TMPL_IF NAME=SYSTEM_OVERVIEW_NAV>
<br style="clear: both;" />
</TMPL_IF>
</TMPL_IF>

</div>

<div id="copyright">
<strong><TMPL_VAR NAME=PLUGIN_NAME>, v<TMPL_VAR NAME=PLUGIN_VERSION></strong> - Six Apart. Released under the Artistic License
</div>

</body>
</html>
