<mt:setvarblock name="page_title"><__trans phrase="Widgets"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="uri">plugins/WidgetManager/js/app.js"></script>
<script type="text/javascript">
<!--
var tableSelect;
function init() {
    // setup
    tableSelect = new TC.TableSelect( "selector" );
    tableSelect.rowSelect = true;
}

TC.attachLoadEvent( init );
// -->
</script>
</mt:setvarblock>
<mt:setvarblock name="action_buttons">
<input type="button" name="delete" value="<__trans phrase="Delete">" onclick="doRemoveItems(this.form, '<__trans phrase="Widget Set">', '<__trans phrase="Widget Sets">', '', '', 'delete_widget')" accesskey="x" title="<__trans phrase="Delete selected Widget Sets (x)">" />
</mt:setvarblock>
<mt:setvarblock name="related_content">
<mtapp:widget id="tips" label="<__trans phrase="Helpful Tips">">
<p><__trans phrase="To add a widget set to your templates, use the following syntax:"></p>
<p><__trans phrase="<strong>&lt;$MTWidgetSet name=&quot;Name of the Widget Set&quot;$&gt;</strong>"></p>
</mtapp:widget>

</mt:setvarblock>

<mt:include name="include/header.tmpl">

<div id="msg-block">
<mt:if name="rebuild">
    <mtapp:statusmsg id="saved-msg" class="success" rebuild="all">
    <__trans phrase="Your changes to the widget set have been saved.">
    </mtapp:statusmsg>
</mt:if>

<mt:if name="deleted">
    <mtapp:statusmsg id="delete-msg" class="info" rebuild="all">
    <__trans phrase="You have successfully deleted the selected widget set(s) from your blog.">
    </mtapp:statusmsg>
</mt:if>
</div>

<div class="list-wrapper">

<a href="<mt:var name="script_url">?__mode=edit_widget&amp;blog_id=<mt:var name="blog_id">&amp;widgetmanager=<__trans phrase="New Widget Set" escape="url">" class="icon-left icon-create"><__trans phrase="Create Widget Set"></a>
</div>

<form method="get" action="<mt:var name="url">">
<input type="hidden" name="__mode" value="delete_widget" />
<input type="hidden" name="blog_id" value="<mt:var name="id">" />

<div class="listing" id="selector">

<div class="actions-bar-inner pkg">
<span class="button-actions">
<mt:var name="action_buttons">
</span>
</div>

<table cellspacing="0">
  <thead>
  <tr>
    <th width="1%" class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
    <th><__trans phrase="Name"></th>
    <th><__trans phrase="Installed Widgets"></th>
  </tr>
  </thead>
  <tbody>
<mt:loop name="widgetmanagers">
  <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
    <td class="cb"><input type="checkbox" name="id" value="<mt:var name="widgetmanager">" class="select" /></td>
    <td class="widgetmanager-name"><a href="?__mode=edit_widget&blog_id=<mt:var name="blog_id">&widgetmanager=<mt:var name="widgetmanager">"><mt:var name="widgetmanager"></a></td>
    <td class="widgetmanager-widgets"><mt:var name="names"></td>
  </tr>
</mt:loop>
</table>
</div>
</form>

<mt:include name="include/footer.tmpl">
