<div class="form-group">
    <label class="form-control-label" for="header-element"></label>
    <select class="custom-select form-control w-100" name="elem" id="header-element">
        <mt:loop name="elements">
        <option value="<$mt:var name="element_value"$>"<mt:if name="elem" eq="$element_value">selected</mt:if>><$mt:var name="element_label" escape_html="1"$></option>
        </mt:loop>
    </select>
</div>
<div class="form-group">
  <textarea class="form-control" name="blockeditor_field_value"><mt:var name="value" escape="html"></textarea>
</div>
