<mt:setvar name="edit_screen" value="1">
<mt:setvar name="page_title" value="<__trans phrase="Edit Content Type Data">">
<mt:setvar name="position_actions_bottom" value="1">
<mt:setvar name="screen_id" value="edit-content-type-data">
<mt:setvar name="screen_class" value="edit-content-type-data">
    
<mt:setvarblock name="system_msg">
<div id="msg-block">
<mt:if name="recovered_object">
  <mtapp:statusmsg
     id="recovered-object"
     class="success">
    <__trans phrase="You have successfully recovered your saved content data.">
  </mtapp:statusmsg>
<mt:else>
  <mt:if name="autosaved_object_exists">
    <mt:unless name="error">
  <mtapp:statusmsg
     id="recovered-object"
     class="info">
    <__trans phrase="A saved version of this content data was auto-saved [_2]. <a href="[_1]">Recover auto-saved content</a>" params="<mt:var name="script_url">?__mode=edit_content_data&amp;_recover=1<mt:if name="id">&amp;id=<mt:var name="id" escape="url"></mt:if><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id" escape="url"></mt:if><mt:if name="content_type_id">&amp;content_type_id=<mt:var name="content_type_id" escape="url"></mt:if>%%<mt:date ts="$autosaved_object_ts" relative="1">">
  </mtapp:statusmsg>
    </mt:unless>
  </mt:if>
</mt:if>

<mt:if name="saved">
  <mtapp:statusmsg
     id="saved"
     class="success">
    <__trans phrase="[_1] has been saved." params="<mt:var name="name">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="err_msg">
  <mtapp:statusmsg
     id="err_msg"
     class="error"
     can_close="0">
    <mt:var name="err_msg">
  </mtapp:statusmsg>
</mt:if>
</div>
</mt:setvarblock>

<mt:setvarblock name="form_header">
<form name="edit-content-type-data-form" id="edit-content-type-data-form" method="post" action="<mt:var name="script_url">"<mt:unless name="config.previewnewwindow"> mt:once</mt:unless> mt:auto-save="1" mt:auto-save-delay="<mt:var name="autosave_frequency">000">
  <input type="hidden" name="__mode" value="save_content_data" />
  <input type="hidden" name="_type" value="cd" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
  <input type="hidden" name="cfg_screen" value="edit_content_data" />
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
  <input type="hidden" name="content_type_id" value="<mt:var name="content_type_id">" />
  <mt:if name="use_revision">
  <input type="hidden" name="save_revision" id="save_revision" value="1" />
  </mt:if>
  <mt:unless name="new_object">
  <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
  </mt:unless>
</mt:setvarblock>

<mt:setvarblock name="form_footer">
</form>
</mt:setvarblock>

<mt:setvarblock name="related_content">
<mtapp:widget
   id="entry-status-widget"
   class="status-widget"
   label="<__trans phrase="Status">">
  <div class="status">
  <mt:unless name="new_object">
    <mt:if name="status_draft">
    <span class="icon-left-wide icon-draft"><__trans phrase="Unpublished (Draft)"></span>
    <mt:else name="status_review">
    <span class="icon-left-wide icon-warning"><__trans phrase="Unpublished (Review)"></span>
    <mt:else name="status_future">
    <span class="icon-left-wide icon-future"><__trans phrase="Scheduled"></span>
    <mt:else name="status_publish">
    <span class="icon-left-wide icon-success"><__trans phrase="Published"></span>
    <mt:else name="status_spam">
    <span class="icon-left-wide icon-spam"><__trans phrase="Unpublished (Spam)"></span>
    <mt:else name="status_unpublish">
    <span class="icon-left-wide icon-unpublish"><__trans phrase="Unpublished (End)"></span>
    </mt:if>
  </mt:unless>
  </div>
  <mt:if name="new_object">
  <p class="zero-state"><__trans phrase="New [_1]" params="<mt:var name="object_label">"></p>
  <mt:else>
    <mt:if name="use_revision">
  <div class="revision-info">
      <mt:if name="rev_date">
    <p><__trans phrase="Revision: <strong>[_1]</strong>" params="<mt:var name="rev_date" escape="html">"></p>
    <a href="<mt:var name="script_url">?__mode=list_revision&_type=cd&id=<$mt:var name="id" escape="url"$>&blog_id=<$mt:var name="blog_id"$>&r=<mt:var name="rev_number" escape="html">" class="mt-open-dialog" title="<__trans phrase="View revisions of this [_1]" params="<mt:var name="object_label">">"><__trans phrase="View revisions"></a>
      <mt:else>
    <p class="zero-state"><__trans phrase="No revision(s) associated with this [_1]" params="<mt:var name="object_label" lower_case="1" escape="html">"></p>
      </mt:if>
  </div>
    <mt:else>
  <ul>
    <li><__trans phrase="[_1] - Created by [_2]" params="<$mt:date ts="$created_on_ts" relative="1" _default="$created_on_formatted" format="%b %e %Y"$>%%<$mt:var name="created_by" escape="html" escape="html"$>"></li>
      <mt:if name="status_publish">
    <li><__trans phrase="[_1] - Published by [_2]" params="<$MTDate ts="$authored_on_ts" relative="1" _default="$authored_on_formatted" format="%b %e %Y"$>%%<$mt:var name="authored_by" escape="html" escape="html"$>"></li>
      </mt:if>
      <mt:if name="modified_by">
    <li><__trans phrase="[_1] - Edited by [_2]" params="<$MTDate ts="$modified_on_ts" relative="1" _default="$modified_on_formatted" format="%b %e %Y"$>%%<$mt:var name="modified_by" escape="html" escape="html"$>"></li>
      </mt:if>
  </ul>
    </mt:if>
  </mt:if>
</mtapp:widget>

<mtapp:widget
   id="entry-publishing-widget"
   label="<__trans phrase="Publishing">">
<mt:if name="new_object">
  <mt:if name="can_publish_post">
    <mt:if name="status_publish">
      <mt:setvar name="button_text" value="<__trans phrase="Publish">">
      <mt:setvarblock name="button_title"><__trans phrase="Publish this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:else>
      <mt:setvar name="button_text" value="<__trans phrase="Save">">
      <mt:setvarblock name="button_title"><__trans phrase="Draft this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    </mt:if>
    <mt:setvar name="publish_button_text" value="<__trans phrase="Publish">">
    <mt:setvarblock name="publish_button_title"><__trans phrase="Publish this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="draft_button_text" value="<__trans phrase="Save">">
    <mt:setvarblock name="draft_button_title"><__trans phrase="Draft this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="scheduled_button_text" value="<__trans phrase="Schedule">">
  <mt:else>
    <mt:setvar name="draft_button_text" value="<__trans phrase="Save">">
    <mt:setvarblock name="draft_button_title"><__trans phrase="Draft this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
  </mt:if>
<mt:else>
  <mt:if name="status_publish">
    <mt:setvar name="button_text" value="<__trans phrase="Update">">
    <mt:setvarblock name="button_title"><__trans phrase="Update this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="publish_button_text" value="<__trans phrase="Update">">
    <mt:setvarblock name="publish_button_title"><__trans phrase="Update this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="draft_button_text" value="<__trans phrase="Save">">
    <mt:setvarblock name="draft_button_title"><__trans phrase="Unpublish this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
  <mt:else>
    <mt:setvar name="button_text" value="<__trans phrase="Save">">
    <mt:setvarblock name="button_title"><__trans phrase="Draft this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="publish_button_text" value="<__trans phrase="Publish">">
    <mt:setvarblock name="publish_button_title"><__trans phrase="Publish this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:setvar name="draft_button_text" value="<__trans phrase="Save">">
    <mt:setvarblock name="draft_button_title"><__trans phrase="Draft this [_1]" params="<mt:var name="object_label">" escape="html"></mt:setvarblock>
    <mt:if name="status_future">
      <mt:setvar name="scheduled_button_text" value="<__trans phrase="Save">">
    <mt:else>
      <mt:setvar name="scheduled_button_text" value="<__trans phrase="Schedule">">
    </mt:if>
  </mt:if>
</mt:if>

  <mt:setvarblock name="scheduled_button_title"><__trans phrase="Save this [_1]" params="<mt:var name="object_label">"></mt:setvarblock>
  <mtapp:setting
     id="status"
     label="<__trans phrase="Status">"
     label_class="top-label"
     help_page="entries"
     help_section="status">
  <mt:unless name="sitepath_configured">
    <input type="hidden" name="status" id="status" value="1" />
    <span><__trans phrase="Unpublished"></span>
    <span class="alert-warning-inline"><img src="<$mt:var name="static_uri"$>images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" /> <a href="<$mt:var name="script_url"$>?__mode=cfg_archives&amp;id=<$mt:var name="blog_id"$>&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="You must configure this blog before you can publish this content data."></a></span>
  <mt:else>
    <mt:if name="can_publish_post">
    <select name="status" id="status" class="full" onchange="highlightSwitch(this)">
      <option value="1"<mt:if name="status_draft"> selected="selected"</mt:if>><__trans phrase="Unpublished (Draft)"></option>
      <option value="2"<mt:if name="status_publish"> selected="selected"</mt:if>><__trans phrase="Published"></option>
    <mt:if name="status_review">
      <option value="3" selected="selected"><__trans phrase="Unpublished (Review)"></option>
    <mt:else name="status_spam">
      <option value="5" selected="selected"><__trans phrase="Unpublished (Spam)"></option>
    </mt:if>
    <mt:if name="new_object">
      <option value="4"<mt:if name="status_future"> selected="selected"</mt:if>><__trans phrase="Scheduled"></option>
    <mt:else>
      <mt:unless name="status_publish">
      <option value="4"<mt:if name="status_future"> selected="selected"</mt:if>><__trans phrase="Scheduled"></option>
      </mt:unless>
    </mt:if>
    <mt:if name="status_unpublish">
      <option value="6" selected="selected"><__trans phrase="Unpublished (End)"></option>
    </mt:if>
    </select>
    <mt:else>
      <mt:if name="new_object">
    <input type="hidden" name="status" id="status" value="1" /><span><__trans phrase="Unpublished"></span>
      <mt:else>
        <mt:if name="status_draft">
    <input type="hidden" name="status" id="status" value="1" /><span><__trans phrase="Unpublished (Draft)"></span>
        <mt:else name="status_publish">
    <input type="hidden" name="status" id="status" value="2" /><span><__trans phrase="Published"></span>
        <mt:else name="status_future">
    <input type="hidden" name="status" id="status" value="4" /><span><__trans phrase="Scheduled"></span>
        <mt:else name="status_review">
    <input type="hidden" name="status" id="status" value="3" /><span><__trans phrase="Unpublished (Review)"></span>
        <mt:else name="status_spam">
    <input type="hidden" name="status" id="status" value="5" /><span><__trans phrase="Unpublished (Spam)"></span>
        <mt:else name="status_unpublish">
    <input type="hidden" name="status" id="status" value="6" /><span><__trans phrase="Unpublished (End)"></span>
        </mt:if>
      </mt:if>
    </mt:if>
  </mt:unless>
  </mtapp:setting>

<mt:if name="status_future">
  <mt:setvar name="authored_on_label" value="<__trans phrase="Publish On">">
<mt:else>
  <mt:setvar name="authored_on_label" value="<__trans phrase="Publish Date">">
</mt:if>

  <mtapp:setting
     id="authored_on"
     label="$authored_on_label"
     label_class="top-label"
     help_page="entries"
     help_section="date">
    <div class="date-time-fields">
      <input type="text" id="created-on" class="text date text-date<mt:if name="status_future"><mt:if name="can_publish_post"> highlight</mt:if></mt:if>" name="authored_on_date" value="<$mt:var name="authored_on_date" escape="html"$>" placeholder="YYYY-MM-DD"/><span class="separator"> <__trans phrase="@"></span> <input type="text" class="text time <mt:if name="status_future"><mt:if name="can_publish_post"> highlight</mt:if></mt:if>" name="authored_on_time" value="<$mt:var name="authored_on_time" escape="html"$>"  placeholder="HH:mm:ss"/>
    </div>
  </mtapp:setting>

  <mt:setvar name="unpublished_on_label" value="<__trans phrase="Unpublish Date">">

  <mtapp:setting
     id="unpublished_on"
     label="$unpublished_on_label"
     label_class="top-label"
     help_page="entries"
     help_section="date">
    <div class="date-time-fields">
      <div id="unpublished-on" class="mt-edit-inputblock<$mt:if name="show_input_unpublished_on"> show-input</mt:if>">
        <input type="text" id="unpublished-on-date" class="text date text-date" name="unpublished_on_date" value="<$mt:var name="unpublished_on_date" escape="html"$>" placeholder="YYYY-MM-DD" /><span class="separator"> <__trans phrase="@"></span> <input type="text" id="unpublished-on-time" class="text time" name="unpublished_on_time" value="<$mt:var name="unpublished_on_time" escape="html"$>" placeholder="HH:mm:ss" />
      </div>
    </div>
  </mtapp:setting>

<mt:if name="object_type" eq="page">
  <mt:var name="category_setting">
</mt:if>

<mt:if name="use_revision">
  <mtapp:setting
     id="revision-note"
     label="<__trans phrase="Change note">"
     label_class="top-label">
    <input type="text" name="revision-note" id="revision-note" class="text full" value="<mt:var name="revision-note" escape="html">" />
  </mtapp:setting>
</mt:if>

  <div class="actions-bar">
    <div class="save-action">
      <button
         name="status"
         type="submit"
         title="<mt:var name="button_title">"
         class="publish action primary button">
        <mt:var name="button_text">
      </button>
    </div>
    <div class="preview-action">
      <button
         name="preview_entry"
         type="submit"
         accesskey="v"
         title="<mt:var name="preview_button_title">"
         class="preview action button">
        <__trans phrase="Preview">
      </button>
    </div>
  </div>

<mt:if name="id">
<div class="delete-action">
  <a
     href="javascript:void(0)"
     mt:command="do-remove-items"
     mt:object-singular="<mt:var name="object_label" lower_case="1" escape="html">"
     mt:object-plural="<mt:var name="object_label_plural" lower_case="1" escape="html">"
     mt:object-type="content_data_<mt:var name="content_type_id" escape="html">" mt:blog-id="<mt:var name="blog_id">"
     type="submit"
     title="<mt:var name="delete_button_title">"
     class="delete"
     accesskey="x">
    <__trans phrase="Delete">
  </a>
</div>
</mt:if>

<mt:unless name="sitepath_configured">
  <input type="hidden" name="status" id="status" value="1" />
  <p class="alert-warning-inline">
    <img src="<$mt:var name="static_uri"$>images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
    <a href="<$mt:var name="script_url"$>?__mode=cfg_prefs&amp;id=<$mt:var name="blog_id"$>&amp;blog_id=<$mt:var name="blog_id"$>">
  <mt:if name="object_type" eq="entry">
      <__trans phrase="You must configure this blog before you can publish this entry.">
  <mt:else>
      <__trans phrase="You must configure this blog before you can publish this page.">
    </mt:if>
    </a>
  </p>
</mt:unless>
</mtapp:widget>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
  <!--// this MUST loaded after mt.js // -->
  <script type="text/javascript" src="<$mt:var name="static_uri"$>js/edit.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/ContentType/css/content-type.css?v=<$mt:var name="mt_version_id" escape="url"$>">

<script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/client.js"></script>

<script type="text/javascript">
function highlightSwitch(selection) {
    var descriptionObject = getByID('created_on-label');
    var highlightObject = getByID('created_on-date');
    if (highlightObject) {
        if (selection.value == 4) {
            highlightObject.className = 'highlight';
            descriptionObject.innerHTML = '<__trans phrase="Publish On" escape="js">';
        } else {
            highlightObject.className = 'default';
            descriptionObject.innerHTML = '<__trans phrase="Publish Date" escape="js">';
        }
    }
    return false;
}

Template.templates.autoSave = '<mt:section encode_js="1">
[# if ( saving ) { #]
    [#= trans("Auto-saving..." ) #]
[# } else { #]
    [#= trans("Last auto-save at [_1]:[_2]:[_3]", hh, mm, ss ) #]
[# } #]
</mt:section>';
</script>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">plugins/ContentType/js/cms.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header_include">

<mtapp:settinggroup id="content_data">

  <h2><__trans phrase="Edit <mt:var name="name" escape="html">"></h2>

  <mt:loop name="fields">
  <mt:if name="can_edit">
  <div>
    <mt:var name="options{label}">
  </div>
  <div>
    <mt:if name="field_html">
      <mt:var name="field_html">
    <mt:elseif name"data_type" eq="varchar">
      <input type="text" name="content-field-<mt:var name="content_field_id">" class="text long" value="<mt:var name="value">" mt:watch-change="1" mt:raw-name="1" />
    <mt:elseif name"data_type" eq="blob">
      <textarea name="content-field-<mt:var name="content_field_id">" class="text high" mt:watch-change="1" mt:raw-name="1"><mt:var name="value"></textarea>
    <mt:elseif name"data_type" eq="integer">
      <input type="text" name="content-field-<mt:var name="content_field_id">" class="text short" value="<mt:var name="value">" mt:watch-change="1" mt:raw-name="1" />
    <mt:elseif name"data_type" eq="float">
      <input type="text" name="content-field-<mt:var name="content_field_id">" class="text short" value="<mt:var name="value">" mt:watch-change="1" mt:raw-name="1" />
    </mt:if>
  </div>
  </mt:if>
  </mt:loop>

</mtapp:settinggroup>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

<mt:setvarblock name="jq_js_include" append="1">
  jQuery(function() {
    jQuery('input[type="text"]').keyup(function() {
      setDirty(true);
    });
    jQuery('input[type="checkbox"]').click(function() {
      setDirty(true);
    });
    jQuery('input[type="radio"]').click(function() {
      setDirty(true);
    });
    jQuery('textarea').keyup(function() {
      setDirty(true);
    });
    jQuery('select').change(function() {
      setDirty(true);
    });
  });

  jQuery('#edit-content-type-data-form').submit( function() {
    setDirty(false);
    return true;
  });   

  jQuery('div.mt-edit-inputblock').mtEditInputBlock({
    edit: '<__trans phrase="Edit">',
    text: '<$mt:if name="unpublished_on_date"><$mt:var name="unpublished_on_date" escape="html"$> <__trans phrase="@"> <$mt:var name="unpublished_on_time" escape="html"$><mt:else><__trans phrase="Not specified"></mt:if>'
  });

  jQuery('select#status').change(function() {
      setSaveButtonText();
      clearUnpublishDate();
  });
  function setSaveButtonText () {
      var selectedStatus = jQuery('select#status').val();
      if (selectedStatus == 2) {
          jQuery('button.publish').text('<mt:var name="publish_button_text">');
          jQuery('button.publish').attr('title', '<mt:var name="publish_button_title">');
      } else if (selectedStatus == 4) {
          jQuery('button.publish').text('<mt:var name="scheduled_button_text">');
          jQuery('button.publish').attr('title', '<mt:var name="scheduled_button_title">');
      } else {
          jQuery('button.publish').text('<mt:var name="draft_button_text">');
          jQuery('button.publish').attr('title', '<mt:var name="draft_button_title">');
      }
  }
  function clearUnpublishDate () {
      var oldStatus = jQuery('input#old_status').val();
      if (oldStatus == 6) {
          jQuery('input#unpublished-on-date').val('');
          jQuery('input#unpublished-on-time').val('');
          jQuery('span.unpublished-on-text').text('<__trans phrase="Not specified">');
      }
  }
  setSaveButtonText();
</mt:setvarblock>

<div id="autosave-notification-<$mt:var name="bar_position" escape="html" default="top"$>" class="autosave-notification"></div>

<mt:include name="include/footer.tmpl">
