<mt:loop name="list_values">
<div>
  <input type="text" name="content-field-<mt:var name="field_id" escape="html">" class="text long" value="<mt:var name="__value__">" />
  <a href="javascript:void(0)" onclick="removeList(this)"><img src="<mt:var name="static_uri">images/status_icons/close.gif" /></a>
</div>
</mt:loop>

<a href="javascript:void(0)" onclick="addList(this)"><img src="<mt:var name="static_uri">images/status_icons/create.gif" /></a>

<script>
function removeList(removeButton) {
  jQuery(removeButton).parent().remove();
  setDirty(true);
}

function addList(createButton) {
  var newDiv = '<div>' + "\n";
  newDiv += '  <input name="content-field-<mt:var name="field_id" escape="html">" class="text long" value="" />' + "\n";
  newDiv += '  <a href="javascript:void(0)" onclick="jQuery(this).parent().remove()"><img src="<mt:var name="static_uri">images/status_icons/close.gif" /></a>' + "\n";
  newDiv += '</div>' + "\n";

  jQuery(createButton).before(newDiv);

  setDirty(true);
}
</script>

