<div class="group-container">
  <mt:loop name="options_values">
  <input type="radio" class="content-field group" name="content-field-<mt:var name="content_field_id" escape="html">" id="content-field-<mt:var name="content_field_id" escape="html">-<mt:var name="__counter__">" value="<mt:var name="v">" <mt:var name="checked"> mt:watch-change="1" mt:raw-name="1" <mt:if name="__first__"><mt:var name="required"></mt:if>>
  <label for="content-field-<mt:var name="content_field_id" escape="html">-<mt:var name="k" escape="html">"><mt:var name="k" escape="html"></label>
  </mt:loop>
</div>

