<table id="js-table-<mt:var name="field_id" escape="html">">
<mt:var name="value">
</table>
<input type="hidden" id="content-field-<mt:var name="field_id" escape="html">" name="content-field-<mt:var name="field_id" escape="html">" value="" mt:raw-name="1" />

<mt:unless name="loaded_table_library">
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/ContentType/a-table.js/fonts/a-table-icon.css">
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/ContentType/a-table.js/css/a-table.css">
<script src="<mt:var name="static_uri">plugins/ContentType/a-table.js/build/a-table.js"></script>
</mt:unless>

<script>
(function() {
  var changeableColumns = <mt:var name="changeable_columns" escape="js">;
  var changeableRows = <mt:var name="changeable_rows" escape="js">;
  var fieldId = '<mt:var name="field_id" escape="js">';
  var languageTag = '<mt:var name="language_tag" escape="js">';

  var table = new aTable(
    `#js-table-${fieldId}`,
    {
      changeableColumns: changeableColumns,
      changeableRows: changeableRows,
      lang: languageTag
    }
  );

  table.afterAction =
  table.afterEntered = function() {
    setDirty(true);
    log(`found dirty form: #js-table-${fieldId}`);
    (app.getIndirectMethod('setDirty'))();
  };

  function updateTableInputValue() {
    var tableInnerHtml = jQuery(table.getTable()).children().html();
    jQuery(`#content-field-${fieldId}`).val(tableInnerHtml);
  }

  jQuery(window).on('pre_autosave', function() {
    updateTableInputValue();
  });

  jQuery('form#edit-content-type-data-form').submit(function() {
    updateTableInputValue();
  });
})();
</script>

