<input type="text" name="content-field-<mt:var name="content_field_id" escape="html">" class="text long url html5-form content-field" value="<mt:var name="value">" mt:watch-change="1" mt:raw-name="1" <mt:if name="options{required}">required</mt:if>>

