#personal_stats ul {
    list-style: none;
    padding-left: 0;
}

#personal_stats .icon {
    padding-left: 15px;
    background-repeat: no-repeat;
}
#personal_stats .icon-entry {
    background-image: url(../../../images/nav_icons/mini/entries.gif);
}
#personal_stats .icon-page {
    background-image: url(../../../images/nav_icons/mini/pages.gif);
}
#personal_stats .icon-comment {
    background-image: url(../../../images/nav_icons/mini/comments.gif);
}
#personal_stats .icon-draft {
    background-image: url(../../../images/nav_icons/mini/entry-new.gif);
}

