<mt:setvar name="page_title" value="<__trans phrase="Trackback">">
<$mt:setvar name="screen_class" value="pinging-screen"$>
<mt:include name="include/header.tmpl">

<script type="text/javascript">
<!--
function doRedirect () {
    window.location.replace('<mt:var name="script_url">?__mode=ping&blog_id=<mt:var name="blog_id">&entry_id=<mt:var name="entry_id">&is_new=<mt:var name="is_new">&old_status=<mt:var name="old_status">&magic_token=<mt:var name="magic_token">');
}
setTimeout('doRedirect()', 1000);
// -->
</script>

<mtapp:statusmsg
    id="pinging"
    class="info">
    <__trans phrase="Pinging sites...">
    <ul>
    <mt:loop name="url_list">
        <li><mt:var name="url" escape="html"></li>
    </mt:loop>
    </ul>
</mtapp:statusmsg>

<mt:include name="include/footer.tmpl">
