<$mt:setvar name="page_title" value="<__trans phrase="Upload Asset">"$>

<mt:setvarblock name="html_head" append="1">
  <mt:script type="text/javascript" path="js/upload_settings.js">
</mt:setvarblock>

<mt:if name="compat_upload_template">
  <mt:include name="include/asset_upload.tmpl">
<mtelse>
  <mt:setvarblock name="page_content">
    <mt:include name="include/async_asset_upload.tmpl">
  </mt:setvarblock>
</mt:if>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">
