$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      values: (
        10: 10%,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
  )
);
