<div class="content">
<TMPL_VAR NAME=CONTENT>
</div>

<div class="actions">
<a href="<TMPL_VAR NAME=MT_URL>?__mode=view&amp;_type=comment&amp;id=<TMPL_VAR NAME=LOG_METADATA>&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Edit"></a>
</div>