<entry>
  <title type="html"><TMPL_VAR NAME=LOG.MESSAGE></title>
  <published><TMPL_VAR NAME=LOG.TBPING.CREATED_ON_ISO></published>
  <updated><TMPL_VAR NAME=LOG.TBPING.MODIFIED_ON_ISO></updated>
  <id><TMPL_VAR NAME=LOG.ATOM_ID></id>
  <TMPL_IF NAME=LOG.TBPING.ENTRY.STATUS_IS_2><link type="text/html" rel="alternate" href="<TMPL_VAR NAME=LOG.TBPING.ENTRY.PERMALINK>#p<TMPL_VAR NAME=LOG.TBPING.ID>"/><TMPL_ELSE><link type="text/html" rel="alternate" href="<TMPL_VAR NAME=LOG.PERMALINK>"/></TMPL_IF>
  <author>
  <TMPL_IF NAME=LOG.TBPING.BLOG_NAME>
    <name><TMPL_VAR NAME=LOG.TBPING.BLOG_NAME></name>
    <TMPL_IF NAME=LOG.TBPING.SOURCE_URL><uri><TMPL_VAR NAME=LOG.TBPING.SOURCE_URL></uri></TMPL_IF>
  <TMPL_ELSE>
    <name>(<MT_TRANS phrase="system">)</name>
  </TMPL_IF>
  </author>
  <content type="html">
    &lt;div class="content"&gt;
        <TMPL_IF NAME=LOG.TBPING.VISIBLE>
        &lt;p style="float:right;"&gt;&lt;img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/success.gif" alt="<MT_TRANS phrase="Published">" width="9" height="9" /&gt;&lt;a href="<TMPL_VAR NAME=LOG.TBPING.ENTRY.PERMALINK>"&gt;<MT_TRANS phrase="Published">&lt;/a&gt;&lt;/p&gt;
        <TMPL_ELSE>
        &lt;p style="float:right;"&gt;&lt;img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/draft.gif" alt="<MT_TRANS phrase="Unpublished">" width="9" height="9" /&gt;&lt;href="<TMPL_VAR NAME=LOG.TBPING.ENTRY.PERMALINK>"&gt;<MT_TRANS phrase="Unpublished">&lt;/a&gt;&lt;/p&gt;
        </TMPL_IF>

        &lt;p&gt;
        &lt;b&gt;<MT_TRANS phrase="Blog">:&lt;/b&gt; &lt;a href="<TMPL_VAR NAME=LOG.TBPING.BLOG.SITE_URL>"&gt;<TMPL_VAR NAME=LOG.TBPING.BLOG.NAME ESCAPE=HTML>&lt;/a&gt;&lt;br /&gt;
        <TMPL_IF NAME=LOG.TBPING.ENTRY.STATUS_IS_2>
        &lt;b&gt;<MT_TRANS phrase="Entry">:&lt;/b&gt; &lt;a href="<TMPL_VAR NAME=LOG.TBPING.ENTRY.PERMALINK>"&gt;<TMPL_IF NAME=LOG.TBPING.ENTRY.TITLE><TMPL_VAR NAME=LOG.TBPING.ENTRY.TITLE ESCAPE=HTML><TMPL_ELSE>(<MT_TRANS phrase="Untitled">)</TMPL_IF>&lt;/a&gt;&lt;br /&gt;
        <TMPL_ELSE>
        &lt;b&gt;<MT_TRANS phrase="Entry">:&lt;/b&gt; <TMPL_IF NAME=LOG.TBPING.ENTRY.TITLE><TMPL_VAR NAME=LOG.TBPING.ENTRY.TITLE ESCAPE=HTML><TMPL_ELSE>(<MT_TRANS phrase="Untitled">)</TMPL_IF>&lt;br /&gt;
        </TMPL_IF>
        &lt;b&gt;<MT_TRANS phrase="Source blog">:&lt;/b&gt; <TMPL_VAR NAME=LOG.TBPING.BLOG_NAME ESCAPE=HTML>&lt;br /&gt;
        &lt;b&gt;<MT_TRANS phrase="Title">:&lt;/b&gt; <TMPL_VAR NAME=LOG.TBPING.TITLE ESCAPE=HTML>&lt;br /&gt;
        &lt;b&gt;<MT_TRANS phrase="URL">:&lt;/b&gt; <TMPL_VAR NAME=LOG.TBPING.SOURCE_URL ESCAPE=HTML>&lt;br /&gt;
        &lt;/p&gt;

      <TMPL_VAR NAME=LOG.TBPING.EXCERPT ESCAPE=HTML>
      &lt;hr /&gt;
    &lt;/div&gt;

    &lt;div class="actions" style="float:left;width:49%;"&gt;

        &lt;ul&gt;
            &lt;strong&gt;<MT_TRANS phrase="Actions">:&lt;/strong&gt;&lt;br /&gt;

            &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=view&amp;_type=ping&amp;id=<TMPL_VAR NAME=LOG.TBPING.ID>&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>"><MT_TRANS phrase="Edit">&lt;/a&gt;&lt;/li&gt;

            <TMPL_IF NAME=LOG.TBPING.VISIBLE>
            &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=unapprove_item&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;id=<TMPL_VAR NAME=LOG.TBPING.ID>&amp;return_args=__mode%3Dview%26_type%3Dping%26id%3D<TMPL_VAR NAME=LOG.TBPING.ID>%26blog_id%3D<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;feed_token=<TMPL_VAR NAME=FEED_TOKEN>"&gt;<MT_TRANS phrase="Unpublish">&lt;/a&gt;&lt;/li&gt;
            <TMPL_ELSE>
            <mt:If name="log.tbping.junk_status" eq="-1">
            &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=not_junk&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;id=<TMPL_VAR NAME=LOG.TBPING.ID>&amp;return_args=__mode%3Dview%26_type%3Dping%26id%3D<TMPL_VAR NAME=LOG.TBPING.ID>%26blog_id%3D<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;feed_token=<TMPL_VAR NAME=FEED_TOKEN>"&gt;<MT_TRANS phrase="Publish">&lt;/a&gt;&lt;/li&gt;
            <mt:Else>
            &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=approve_item&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;id=<TMPL_VAR NAME=LOG.TBPING.ID>&amp;return_args=__mode%3Dview%26_type%3Dping%26id%3D<TMPL_VAR NAME=LOG.TBPING.ID>%26blog_id%3D<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;feed_token=<TMPL_VAR NAME=FEED_TOKEN>"&gt;<MT_TRANS phrase="Publish">&lt;/a&gt;&lt;/li&gt;
            </mt:If>
            </TMPL_IF>
            &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=handle_junk&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;id=<TMPL_VAR NAME=LOG.TBPING.ID>&amp;return_args=__mode%3Dview%26_type%3Dping%26id%3D<TMPL_VAR NAME=LOG.TBPING.ID>%26blog_id%3D<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;feed_token=<TMPL_VAR NAME=FEED_TOKEN>"&gt;<MT_TRANS phrase="Junk">&lt;/a&gt;&lt;/li&gt;

      <TMPL_IF NAME=LOOP_ACTIONS>
      <TMPL_LOOP NAME=LOOP_ACTIONS>
      &lt;li&gt;&lt;a href="<TMPL_VAR NAME=LINK>"&gt;<TMPL_VAR NAME=LABEL ESCAPE=HTML>&lt;/a&gt;&lt;/li&gt;
      </TMPL_LOOP>
      </TMPL_IF>
      &lt;/ul&gt;
    &lt;/div&gt;

    &lt;div class="discovery" style="float:right;width:49%;"&gt;

        &lt;ul&gt;
        &lt;strong&gt;<MT_TRANS phrase="More like this">:&lt;/strong&gt;&lt;br /&gt;
        &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=list_pings&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>"&gt;<MT_TRANS phrase="From this blog">&lt;/a&gt;&lt;/li&gt;

        <TMPL_IF NAME=LOG.TBPING.ENTRY.ID>&lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=list_pings&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;filter=entry_id&amp;filter_val=<TMPL_VAR NAME=LOG.TBPING.ENTRY.ID>"&gt;<MT_TRANS phrase="On this entry">&lt;/a&gt;&lt;/li&gt;

        </TMPL_IF>&lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=search_replace&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;_type=ping&amp;search=<TMPL_VAR NAME=LOG.TBPING.BLOG_NAME ESCAPE=URL>&amp;do_search=1"&gt;<MT_TRANS phrase="By source blog">&lt;/a&gt;&lt;/li&gt;

        &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=search_replace&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;search=<TMPL_VAR NAME=LOG.TBPING.TITLE ESCAPE=URL>&amp;do_search=1"&gt;<MT_TRANS phrase="By source title">&lt;/a&gt;&lt;/li&gt;

        &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=search_replace&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;search=<TMPL_VAR NAME=LOG.TBPING.SOURCE_URL ESCAPE=URL>&amp;do_search=1"&gt;<MT_TRANS phrase="By source URL">&lt;/a&gt;&lt;/li&gt;

        &lt;li&gt;&lt;a href="<TMPL_VAR NAME=MT_URL>?__mode=search_replace&amp;_type=ping&amp;blog_id=<TMPL_VAR NAME=LOG.TBPING.BLOG_ID>&amp;from=<TMPL_VAR NAME=LOG.TBPING.CREATED_ON>&amp;to=<TMPL_VAR NAME=LOG.TBPING.CREATED_ON>&amp;show_all=1&amp;do_search=1"&gt;<MT_TRANS phrase="On this day">&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      
    &lt;/div&gt;
    &lt;br style="clear: both;" /&gt;

  </content>
</entry>
