<entry>
  <title type="html"><mt:var name="log.message"></title>
  <published><mt:var name="log.entry.authored_on_iso"></published>
  <updated><mt:var name="log.entry.modified_on_iso"></updated>
  <id><mt:var name="log.atom_id"></id>
  <mt:if name="log.entry.status_is_2"><link type="text/html" rel="alternate" href="<mt:var name="log.entry.permalink">"/><mt:else><link type="text/html" rel="alternate" href="<mt:var name="log.permalink">"/></mt:if>
  <author>
  <mt:if name="log.entry.author.id">
    <name><mt:var name="log.entry.author.name"></name>
    <mt:if name="log.entry.author.email"><email><mt:var name="log.entry.author.email"></email></mt:if>
    <mt:if name="log.entry.author.url"><uri><mt:var name="log.entry.author.url"></uri></mt:if>
  <mt:else>
    <name>(<__trans phrase="system">)</name>
  </mt:if>
  </author>
  <content type="html">
    &lt;div class="content"&gt;

    <mt:if name="log.entry.status_is_1">
    &lt;p style="float:right;"&gt;&lt;img src="<mt:var name="static_uri">images/status_icons/draft.gif" alt="<__trans phrase="Unpublished (Draft)">" width="9" height="9" /&gt;&lt;href="<mt:var name="log.entry.permalink">"&gt;<__trans phrase="Unpublished (Draft)">&lt;/a&gt;&lt;/p&gt;
    <mt:elseif name="log.entry.status_is_2">
    &lt;p style="float:right;"&gt;&lt;img src="<mt:var name="static_uri">images/status_icons/success.gif" alt="<__trans phrase="Published">" width="9" height="9" /&gt;&lt;a href="<mt:var name="log.entry.permalink">"&gt;<__trans phrase="Published">&lt;/a&gt;&lt;/p&gt;
    <mt:elseif name="log.entry.status_is_3">
    &lt;p style="float:right;"&gt;&lt;img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="<__trans phrase="Unpublished (Review)">" width="9" height="9" /&gt;&lt;href="<mt:var name="log.entry.permalink">"&gt;<__trans phrase="Unpublished (Review)">&lt;/a&gt;&lt;/p&gt;
    <mt:elseif name="log.entry.status_is_4">
    &lt;p style="float:right;"&gt;&lt;img src="<mt:var name="static_uri">images/status_icons/future.gif" alt="<__trans phrase="Scheduled">" width="9" height="9" /&gt;&lt;href="<mt:var name="log.entry.permalink">"&gt;<__trans phrase="Scheduled">&lt;/a&gt;&lt;/p&gt;
    <mt:elseif name="log.entry.status_is_5">
    &lt;p style="float:right;"&gt;&lt;img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="<__trans phrase="Unpublished (Spam)">" width="9" height="9" /&gt;&lt;href="<mt:var name="log.entry.permalink">"&gt;<__trans phrase="Unpublished (Spam)">&lt;/a&gt;&lt;/p&gt;
    </mt:if>

    &lt;p&gt;
    &lt;b&gt;<__trans phrase="Blog">:&lt;/b&gt; &lt;a href="<mt:var name="log.entry.blog.site_url">"&gt;<mt:var name="log.entry.blog.name" escape="html">&lt;/a&gt;&lt;br /&gt;
    <mt:if name="log.entry.status_is_2">
    &lt;b&gt;<__trans phrase="Title">:&lt;/b&gt; &lt;a href="<mt:var name="log.entry.permalink">"&gt;<mt:if name="log.entry.title"><mt:var name="log.entry.title" escape="html"><mt:else>(<__trans phrase="Untitled">)</mt:if>&lt;/a&gt;&lt;br /&gt;
    <mt:else>
    &lt;b&gt;<__trans phrase="Title">:&lt;/b&gt; <mt:if name="log.entry.title"><mt:var name="log.entry.title" escape="html"><mt:else>(<__trans phrase="Untitled">)</mt:if>&lt;br /&gt;
    </mt:if>
    &lt;b&gt;<__trans phrase="Author">:&lt;/b&gt; <mt:var name="log.entry.author.name" escape="html">&lt;br /&gt;
    &lt;/p&gt;
    
      <mt:var name="log.entry.text_html" escape="html">
      <mt:var name="log.entry.text_more_html" escape="html">

      &lt;hr /&gt;
    &lt;/div&gt;


    &lt;div class="actions" style="float:left;width:49%;"&gt;

        &lt;ul&gt;
            &lt;strong&gt;<__trans phrase="Actions">:&lt;/strong&gt;&lt;br /&gt;
    
            &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=view&amp;_type=entry&amp;id=<mt:var name="log.entry.id">&amp;blog_id=<mt:var name="log.entry.blog_id">"&gt;<__trans phrase="Edit">&lt;/a&gt;&lt;/li&gt;

            <mt:if name="log.entry.status_is_1">
            &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=rebuild_new_phase&amp;_type=entry&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;id=<mt:var name="log.entry.id">&amp;return_args=__mode%3Dview%26_type%3Dentry%26id%3D<mt:var name="log.entry.id">%26blog_id%3D<mt:var name="log.entry.blog_id">&amp;feed_token=<mt:var name="feed_token">"&gt;<__trans phrase="Publish">&lt;/a&gt;&lt;/li&gt;
            <mt:elseif name="log.entry.status_is_2">
            &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=itemset_action&amp;action_name=set_draft&amp;_type=entry&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;id=<mt:var name="log.entry.id">&amp;return_args=__mode%3Dview%26_type%3Dentry%26id%3D<mt:var name="log.entry.id">%26blog_id%3D<mt:var name="log.entry.blog_id">&amp;feed_token=<mt:var name="feed_token">"&gt;<__trans phrase="Unpublish">&lt;/a&gt;&lt;/li&gt;
            <mt:elseif name="log.entry.status_is_3">
            &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=rebuild_new_phase&amp;_type=entry&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;id=<mt:var name="log.entry.id">&amp;return_args=__mode%3Dview%26_type%3Dentry%26id%3D<mt:var name="log.entry.id">%26blog_id%3D<mt:var name="log.entry.blog_id">&amp;feed_token=<mt:var name="feed_token">"&gt;<__trans phrase="Publish">&lt;/a&gt;&lt;/li&gt;
            <mt:elseif name="log.entry.status_is_5">
            &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=rebuild_new_phase&amp;_type=entry&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;id=<mt:var name="log.entry.id">&amp;return_args=__mode%3Dview%26_type%3Dentry%26id%3D<mt:var name="log.entry.id">%26blog_id%3D<mt:var name="log.entry.blog_id">&amp;feed_token=<mt:var name="feed_token">"&gt;<__trans phrase="Publish">&lt;/a&gt;&lt;/li&gt;
            </mt:if>

          <mt:if name="loop_actions">
          <mt:loop name="loop_actions">
          &lt;li&gt;&lt;a href="<mt:var name="link">"&gt;<mt:var name="label">&lt;/a&gt;&lt;/li&gt;
          </mt:loop>
          </mt:if>
        &lt;/ul&gt;
    &lt;/div&gt;

    &lt;div class="discovery" style="float:right;width:49%;"&gt;

        &lt;ul&gt;
        &lt;strong&gt;<__trans phrase="More like this">:&lt;/strong&gt;&lt;br /&gt;
        &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=list_entry&amp;blog_id=<mt:var name="log.entry.blog_id">"&gt;<__trans phrase="From this blog">&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=list_entry&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;filter=author_id&amp;filter_val=<mt:var name="log.entry.author.id">"&gt;<__trans phrase="From this author">&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="<mt:var name="mt_url">?__mode=search_replace&amp;_type=entry&amp;from=<mt:var name="log.entry.authored_on">&amp;to=<mt:var name="log.entry.authored_on">&amp;show_all=1&amp;blog_id=<mt:var name="log.entry.blog_id">&amp;do_search=1"&gt;<__trans phrase="On this day">&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;br style="clear: both;" /&gt;
  </content>
</entry>
