<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <link type="text/html" rel="alternate" href="<mt:var name="mt_url">?__mode=view_log" title="<__trans phrase="Movable Type Activity Log">"/>
    <title><__trans phrase="Movable Type System Activity"></title>
    <entry>
        <content>
            <__trans phrase="This link is invalid. Please resubscribe to your activity feed.">
        </content>
    </entry>
</feed>
