<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <link type="text/html" rel="alternate" href="<TMPL_VAR NAME=MT_URL>?__mode=view_log" title="<MT_TRANS phrase="Movable Type Activity Log">"/>
    <title><MT_TRANS phrase="Movable Type System Activity"></title>
    <entry>
        <content>
            <MT_TRANS phrase="This link is invalid. Please resubscribe to your activity feed.">
        </content>
    </entry>
</feed>