<!DOCTYPE html>
<html lang="<mt:var name="language_tag">"<mt:if name="screen_id"> data-screen-id="<mt:var name="screen_id">"</mt:if>>
<head>
  <meta charset="<mt:var name="language_encoding">"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="<mt:var name="static_uri">bootstrap-3.3.7/css/bootstrap.min.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
  <mt:var name="css_include">

  <title><mt:if name="html_title"><$mt:var name="html_title"$><mt:else><$mt:var name="page_title"$></mt:if><mt:if name="blog_name"> - <$mt:var name="blog_name" escape="html"$></mt:if> | <$mt:var name="mt_product_name"$></title>
  <mt:include name="include/icon.tmpl">

  <mt:include name="include/libjs.tmpl">

  <script type="text/javascript">
  /* <![CDATA[ */
  ScriptURI = '<mt:var name="script_url">';
  ScriptBaseURI = '<mt:var name="script_base_url">';
  StaticURI = '<mt:var name="static_uri">';
  __blankURI__ = '<$mt:var name="static_uri">html/blank.html';
  HelpBaseURI = '<mt:var name="help_url">';
  window.onkeypress = dialogKeyPress;
  /* ]]> */
  </script>

  <mt:var name="html_head">
</head>
<body>
