/* Vicksburg 2 */

/* basic page elements */

body {
    font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
    font-size: 12px;
}

a { color: #36414d; text-decoration: underline; }
a:hover { color: #a3b8cc; }

#banner a { color: #fff; text-decoration: none; }
#banner a:hover { color: #fff; }

.module-content a { color: #36414d; }
.module-content a:hover { color: #a3b8cc; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

.module-header,
.trackbacks-header h3,
.comments-header,
.comments-open-header,
.archive-header {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;

    margin: 0;
    border-left: 5px solid #36414d;
    padding: 5px;
    color: #fff;
    background: #a3b8cc;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.module-header a,
.module-header a:hover,
.trackbacks-header h3 a,
.trackbacks-header h3 a:hover,
.comments-header a,
.comments-header a:hover,
.comments-open-header a,
.comments-open-header a:hover
.archive-header a,
.archive-header a:hover {
    color: #fff;
}

.entry-more-link,
.entry-meta,
.typelist-thumbnailed {
    font-size: 11px;
}

.commenter-profile img { vertical-align: middle; }


/* page layout */

body {
    min-width: 720px;
    color: #333;
    background: #36414d;
}

#container {
    width: 720px;
    margin-bottom: 20px;
    background: #fff;
}

#container-inner {
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #292e33;
}

#banner {
    width: 710px; /* necessary for ie win */
    background: #a3b8cc;
}

#banner-inner {
    padding: 15px 13px;
    border-width: 2px 2px 0;
    border-style: solid;
    border-color: #fff;
}

.banner-user {
    width: 70px;
    margin-top: 5px;
    font-size: 10px;
}

.banner-user-photo { border: 1px solid #fff; }

#banner-header {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-shadow: #36414d 0 2px 3px;
}

#banner-description {
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
    background: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: #36414d 0 1px 2px;
}

#alpha { margin: 15px 15px 0; width: 480px; }
#beta { width: 200px; background: #e6ecf2; }
#gamma, #delta { width: 180px; background: #e6ecf2; }

#beta-inner,
#gamma-inner,
#delta-inner {
    padding: 10px 10px 0;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: #fff;
}

.date-header {
    margin-top: 0;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.entry-header {
    margin-top: 0;
    border-left: 5px solid #dae0e6;
    padding: 0 0 0 10px;
    color: #666;
    font-size: 18px;
}

.entry-content {
    margin: 0;
    line-height: 1.5;
}

.entry-categories,
.entry-tags {
    margin: 0 0 10px 10px;
}

.entry-categories-header,
.entry-categories-list,
.entry-category,
.entry-tags-header,
.entry-tags-list,
.entry-tag {
    display: inline;
}

.entry-categories-list,
.entry-tags-list {
    list-style:none;
    padding: 0;
}

.entry-meta {
    margin: 0 0 10px;
    color: #666;
    font-size: 10px;
    text-align: right;
}

.content-nav { margin-top: 0; }

#comments-open-footer {
    margin: 10px 0;
}


/* modules */

.module {
    margin: 0 0 10px;
    border-bottom: 1px solid #f3f6f9;
    background: #dae0e6;
}

.module-content {
    margin: 0 0 10px;
    border-top: 1px solid #cfd4d9;
    padding: 10px 10px 0;
    font-size: 10px;
    line-height: 1.2;
}

.module-search input { font-size: 10px; }
.module-search #search { width: 100px; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table { font-size: 10px; }

.module-powered { border-width: 0; }
.module-powered .module-content {
    margin-bottom: 0;
    border: 1px dashed #a3b8cc;
    padding-bottom: 10px;
    color: #292e33;
    background: #fff;
}

.module-photo { background: none; }
.module-photo img { border: solid 1px #fff; }

.module-list {
    margin: 0 15px 10px;
    list-style: disc;
}

.module-list .module-list {
    margin: 5px 0 0;
    padding-left: 15px;
    list-style: circle;
}

.module-list-item {
    margin-top: 0;
    color: #666;
    line-height: 1.2;
}

.typelist-thumbnailed .module-list {
    margin: 0 0 10px;
    list-style: none;
}

.typelist-thumbnailed .module-list-item {
    margin: 1px 0;
    padding: 0;
    background: #f3f6f9;
}

.typelist-thumbnail {
    background: #fff;
}

.module-photo img { border: 1px solid #fff; }

.module-featured-photo { width: 398px; }
.module-featured-photo .module-content {
    margin: 0;
    border-width: 0;
    padding: 0;
}
.module-featured-photo img { width: 398px; }

.module-recent-photos .module-content { padding: 10px 0 0 19px; }
.module-recent-photos .module-list { margin: 0; }
.module-recent-photos .module-list-item {
    width: 64px; /* mac ie fix */
    margin: 0 10px 10px 0;
    padding: 0;
    background: none;
}

.module-recent-photos .module-list-item a {
    border: #cfd4d9 1px solid;
    padding: 1px;
    background: #fff;
}

.module-recent-photos .module-list-item a:hover {
    border-color: #36414d;
    background: #fff;
}

.module-tagcloud .module-list {text-align: center; }
.module-tagcloud .module-list { list-style: none; }
.module-tagcloud .module-list-item { display: inline; }
.module-tagcloud li.taglevel1 { font-size: 19px; }
.module-tagcloud li.taglevel2 { font-size: 17px; }
.module-tagcloud li.taglevel3 { font-size: 15px; }
.module-tagcloud li.taglevel4 { font-size: 13px; }
.module-tagcloud li.taglevel5 { font-size: 11px; }
.module-tagcloud li.taglevel6 { font-size: 9px; }


/* calendar tweaks */

.layout-calendar #alpha { width: 260px; }
.layout-calendar #beta { width: 420px; }

.layout-calendar #gamma,
.layout-calendar #delta {
    width: 190px;
}

.layout-calendar #gamma-inner,
.layout-calendar #delta-inner {
    border: 0;
    padding: 0;
}

.module-mmt-calendar { width: 398px; }
.module-mmt-calendar .module-content {
    margin: 0;
    border-width: 0;
    padding: 10px;
}

.module-mmt-calendar table {
    width: 378px;
    background: #a3b8cc;
}

.module-mmt-calendar th {
    color: #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #f3f6f9;
    border-bottom: 1px solid #cfd4d9;
    padding: 2px;
    text-align: right;
    font-weight: bold;
}

.module-mmt-calendar td {
    border-top: 1px solid #fff;
    border-right: 1px solid #f3f6f9;
    border-bottom: 1px solid #cfd4d9;
    padding: 2px;
    text-align: right;
    font-weight: normal;
    background: #e6ecf2;
}

th.weekday-7, td.day-7, td.day-14, td.day-21, td.day-28, td.day-35, td.day-42 {
    border-right: none;
}

.module-mmt-calendar td { height: 70px; }

.day-photo {
    width: 49px;
    height: 49px;
}

.day-photo a {
    border: #cfd4d9 1px solid;
    padding: 1px;
    background: #fff;
}

.day-photo a:hover {
    border-color: #36414d;
    background: #fff;
}

.day-photo a img {
    width: 45px;
    height: 45px;
}


/* artistic tweaks */

.layout-artistic #alpha { width: 260px; }
.layout-artistic #beta { width: 420px; }

.layout-artistic #gamma,
.layout-artistic #delta {
    width: 190px;
}

.layout-artistic #gamma-inner,
.layout-artistic #delta-inner {
    border: 0;
    padding: 0;
}


/* moblog1 tweaks */

.layout-moblog1 #alpha {
    margin: 0;
    width: 180px;
    background: #e6ecf2;
}

.layout-moblog1 #alpha-inner {
    padding: 10px 10px 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #fff;
}

.layout-moblog1 #beta {
    margin: 15px 15px 0;
    width: 320px;
    background: none;
}

.layout-moblog1 #beta-inner {
    padding: 0;
    border-width: 0;
}

.layout-moblog1 .module-recent-photos .module-content { padding: 10px 0 0 10px; }


/* moblog2 tweaks */

.layout-moblog2 #alpha {
    margin: 0;
    width: 86px;
    background: #e6ecf2;
}

.layout-moblog2 #alpha-inner {
    padding: 10px 10px 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #fff;
}

.layout-moblog2 #beta {
    margin: 15px 15px 0;
    width: 260px;
    background: none;
}

.layout-moblog2 #beta-inner {
    padding: 0;
    border-width: 0;
}

.layout-moblog2 #delta {
    width: 154px;
}

.layout-moblog2 .module-recent-photos {
    border: 0;
    background: none;
}

.layout-moblog2 .module-recent-photos .module-content {
    padding: 0;
    border: 0;
}

.layout-moblog2 .module-recent-photos .module-list-item { margin: 0 0 10px; }


/* timeline tweaks */

.layout-timeline #alpha { width: 260px; }
.layout-timeline #beta { width: 420px; }

.layout-timeline #gamma,
.layout-timeline #delta {
    width: 190px;
}

.layout-timeline #gamma-inner,
.layout-timeline #delta-inner {
    border: 0;
    padding: 0;
}


/* one-column tweaks */

.layout-one-column body { min-width: 520px; }
.layout-one-column #container { width: 520px; }
.layout-one-column #banner { width: 510px; } /* necessary for ie win */


/* two-column-left tweaks */

.layout-two-column-left #alpha {
    margin: 0;
    width: 200px;
    background: #e6ecf2;
}

.layout-two-column-left #alpha-inner {
    padding: 10px 10px 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #fff;
}

.layout-two-column-left #beta {
    margin: 15px 15px 0;
    width: 480px;
    background: none;
}

.layout-two-column-left #beta-inner {
    padding: 0;
    border-width: 0;
}


/* three-column tweaks */

.layout-three-column #alpha {
    margin: 0;
    width: 180px;
    background: #e6ecf2;
}

.layout-three-column #alpha-inner {
    padding: 10px 10px 0;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #fff;
}

.layout-three-column #beta {
    margin: 15px 15px 0;
    width: 320px;
    background: none;
}

.layout-three-column #beta-inner {
    padding: 0;
    border-width: 0;
}


/*
 *  Preliminary styles added by Jay for Vicksburg II
 *     for review by Luke/Walt and rest of team
 */

/* All or multiple templates */
/* Suppress underlines on linked entry titles */
.entry-header a { text-decoration: none; }
/* Suppress the prev/next nav */
.content-nav { margin: 0; }

/* Search results templates */
.search-results .search-results-header {
    border: 2px solid #669;
    padding: 5px;
    color: #eee;
    background-color: #36414d;
}
.search-results .search-results-container { margin-left: 10px; }
.search-results form#search-form { width: 400px; margin: 0 auto 20px; }
.search-results form#search-form input#search { width: 80%; }
.search-results form#search-form #search-options { text-align: center; }

/* Entry categories display */
div.entry-categories { margin: 0 0 10px 10px; }

/* Entry tag display */
div.entry-tags { margin: 0 0 10px 10px; }
ul.entry-tags-list {
    padding: 0;
    list-style: none;
}

h4.entry-tags-header,
ul.entry-tags-list,
li.entry-tag {
    display: inline;
}

/* Comment preview and individual entry */
/* Widen the comment form */
form textarea#comment-text { width: 400px; }

/* All archive templates */
/* Informational "where am I?" module at top of sidebar */
.module-welcome p { font-size: 12px; }
.module-content p.first { margin-top: 0; }

/* Date-based and category archives */
/* Archive title banner at top of page, below blog banner */
#archive-title {
    /* ie win (5, 5.5, 6) bugfix */
    p\osition: relative;
    width: 100%;
    w\idth: auto;

    margin: 0;
    border-left: 10px solid #a3b8cc;
    padding: 5px;
    color: #fff;
    background: #36414d;
}

.comments-header,
.trackbacks-header {
    margin-bottom: 15px;
}

.comment,
.trackback {
    margin: 0 10px 15px;
    border: 1px solid #dae0e6;
    padding: 5px;
    background-color: #eef;
}

.comment a,
.trackback a {
    border-bottom: 1px dotted #36414d;
    text-decoration: none;
}

.comment-header,
.trackback-header {
    color: #666;
    font-style: italic;
}

.comment-content,
.trackback-content {
    line-height: 1.5;
}

.comment-footer,
.trackback-footer {
    color: #666;
    font-size: 10px;
    text-align: right;
}
