<div class="form-inline">
  <span>
    <input type="text" name="time-<mt:var name="content_field_id" escape="html">" id="time-<mt:var name="content_field_id">" class="form-control text time html5-form content-field" value="<mt:var name="time">" placeholder="HH:mm:ss" mt:watch-change="1" mt:raw-name="1" <mt:var name="required">>
  </span>
</div>
