<mt:unless name="invalid_category_set">

<mt:unless name="setup_categories_css">
<mt:var name="setup_categories_css" value="1">
<mt:setvarblock name="css_include" append="1">
<style>
.mt-categorylist {
  padding: 0;
  max-height: 20rem;
}

.categories-field-container [id^=category-selector-] .list-item,
.categories-field-container [id^=folder-selector-] .list-item {
  padding: 0.5rem 0 0.5rem 1rem;
}

.categories-field-container [id^=category-selector-] .list-item.odd,
.categories-field-container [id^=folder-selector-] .list-item.odd {
    background-color: #f4f4f4;
}

.categories-field-container [id^=category-selector-] .list-item:hover,
.categories-field-container [id^=folder-selector-] .list-item:hover {
    background-color: none;
}

@media (min-width: 768px) {
  .categories-field-container [id^=category-selector-] .list-item:hover,
  .categories-field-container [id^=folder-selector-] .list-item:hover {
      background-color: #cacaca;
  }
}

.category-list li {
  clear:both;
}

.category-list li:not(:first-child) > a.primary {
    text-decoration: none;
}
.category-list li:not(:first-child) > a.primary .mt-icon--secondary {
    margin: 0;
}


.category-list li:not(:first-child) > a.primary > span:first-child {
    display: none;
}

.category-list li:not(:first-child) > a.primary > span:not(:first-child) {
    display: inline-block;
}

.category-list li:not(:first-child):hover > a.primary > span:first-child {
    display: inline-block;
}

.category-list li:not(:first-child):hover > a.primary > span:not(:first-child) {
    display: none;
}

.form-group.add-category-form {
    margin-top: 1rem;
    clear:both;
}
input.add-category-input {
    float:left;
}

.category-selector-list {
    text-align:left;
    clear:both;
}

.category-selector-item {
  word-break: break-all;
  word-wrap: break-word;
  padding-right: 0;
}

.category-selector-add {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 767.98px) {
  .categories-field-container [id^=category-selector-] .list-item {
    padding: 0.5rem;
  }
}
</style>
</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">
jQuery(window).on('load resize', function () {
  var $fieldToggleLinks = jQuery('.categories-field-container a[data-toggle=collapse]');
  if (MT.Util.isMobileView()) {
    $fieldToggleLinks
      .removeClass('btn-link')
      .addClass('btn-default');
  } else {
    $fieldToggleLinks
      .removeClass('btn-default')
      .addClass('btn-link');
  }
});
</mt:setvarblock>
</mt:unless>

<div class="categories-field-container group-container">

  <div class="mt-collapse">
    <div class="mt-collapse__container">
      <div class="col"></div>
      <div class="col-auto">
        <a data-toggle="collapse" href="#categories-<mt:var name="content_field_id" escape="html">" aria-expanded="<mt:if name="selected_category_loop">false<mt:else>true</mt:if>" aria-controls="categories-<mt:var name="content_field_id" escape="html">" class="btn btn-link d-inline-block<mt:if name="selected_category_loop"> collapsed</mt:if>">
          <mt:if name="selected_category_loop"><__trans phrase="Edit"><mt:else><__trans phrase="Close"></mt:if>
        </a>
      </div>
    </div>
    <div class="collapse mt-collapse__content<mt:unless name="selected_category_loop"> show</mt:unless>" id="categories-<mt:var name="content_field_id" escape="html">">
      <div class="row">
        <div class="col">

          <script type="text/javascript">
          /* <![CDATA[ */
              Template.templates.categoryList = '<mt:section encode_js="1">
                  [# if ( !items.length ) { #]
                      <span class="ml-3 text-muted disabled">[#|h trans("None selected") #]</span>
                      [#* return #]
                  [# } #]
                  <p class="h5 ml-3 py-3">[#|h trans("Selected Categories") #]</p>
                  <ul class="list-unstyled ml-3 category-list">
                  [# var map = {}; #]
                  [# for ( var i = 0; i < items.length; i++ ) { #]
                      [# if ( items[ i ] == 0 && i == 0 ) { #]
                          [#-- special case, no primary selected, but has secondaries --#]
                          [# continue #]
                      [# } #]
                      [# var cat = cache.getItem( "cat:"+items[ i ] ); #]
                      [# if ( !cat ) continue; #]
                      [# var label; #]
                      [# if ( cat.path.length ) {
                          label = [];
                          for ( var j = 0; j < cat.path.length; j++ ) {
                              var c = cache.getItem( "cat:"+cat.path[ j ] );
                              if ( c )
                                  label.push( c.label );
                          }
                          label.push( cat.label );
                          for ( var j = 0; j < label.length; j++ )
                              label[ j ] = context.f.h( label[ j ] );
                          label = label.join( ' &raquo; ' );
                      } else {
                          label = context.f.h( cat.label );
                      } #]
                      [# if ( multiple ) { #]
                          [# if ( i == 0 ) { #]
                          <li class="primary row" mt:focus-hover="1" mt:id="[#= cat.id #]">
                            <div class="col-auto"><mtapp:svgicon id="ic_fav" color="success" title="Primary" ></div>
                            <strong class="col text-break px-0">[#= label #]</strong>
                            <a href="javascript:void(0);" mt:command="remove" class="ml-1 delete d-md-inline-block category-selected-delete px-3 col-auto" title="[#|h trans("Remove") #]">
                              <span>
                                <mtapp:svgicon id="ic_caution" color="danger" title="Remove" >
                              </span>
                            </a>
                          </li>
                          [# } else { #]
                          <li mt:focus-hover="1" mt:id="[#= cat.id #]" class="row">
                            <a mt:focus-hover="1" href="javascript:void(0);" mt:command="primary" class="primary col row" title="[#|h trans("Make primary") #]">
                              <span class="col-auto">
                                <mtapp:svgicon id="ic_fav" title="Primary" color="success">
                              </span>
                              <span class="col-auto">
                                <mtapp:svgicon id="ic_fav" title="Primary" color="secondary">
                              </span>
                              <div class="col text-break px-0">[#= label #]</div>
                            </a>
                            <a mt:focus-hover="1" href="javascript:void(0);" mt:command="remove" class="ml-3 delete d-md-inline-block px-3 col-auto" title="[#|h trans("Remove") #]">
                              <span>
                                <mtapp:svgicon id="ic_caution" color="danger" title="Remove">
                              </span>
                            </a>
                          </li>
                          [# } #]
                      [# } else { #]
                      <li mt:focus-hover="1" mt:id="[#= cat.id #]" class="focus row">
                        <span class="col text-break">[#= label #]</span>
                        <a href="javascript:void(0);" mt:command="remove" class="ml-1 delete d-md-inline-block category-selected-delete px-3 col-auto" title="[#|h trans("Remove") #]">
                          <span>
                            <mtapp:svgicon id="ic_caution" color="danger" title="Remove" >
                          </span>
                        </a>
                      </li>
                      [# } #]
                  [# } #]
                  </ul>
              </mt:section>';

              Template.templates.categorySelectorList<mt:var name="content_field_id" escape="js"> = '<mt:section encode_js="1">
                      [# if ( item.path == null ) item.path = [] #]
                      <div class="category-selector-list row" style="margin-left:[#= item.path.length * 10 #]px; margin-right:0;">
                          <div class="col custom-control <mt:if name="options{multiple}">custom-checkbox<mt:else>custom-radio</mt:if> category-selector-item">
                              <input type="<mt:if name="options{multiple}">checkbox<mt:else>radio</mt:if>" name="content-field-<mt:var name="content_field_id">" id="content-field-<mt:var name="content_field_id">-[#= item.id #]" class="custom-control-input add-category-checkbox category group content-field" value="[#= item.id #]" <mt:if name="category_is_selected">checked="checked"</mt:if> mt:watch-change="1" mt:raw-name="1" />
                              <label class="custom-control-label" for="content-field-<mt:var name="content_field_id">-[#= item.id #]">
                                  [#|h item.label #]
                              </label>
                          </div>
                          <mt:if name="options{can_add}">
                          <div class="col-auto category-selector-add">
                            <a href="javascript:void(0);" mt:id="[#= item.id #]" mt:content-field-id="<mt:var name="content_field_id" escape="html">" mt:command="show-add-category" class="add-category-new-link"><span class="d-inline-block"><mtapp:svgicon id="ic_add" color="success" title="Add" ></span></a>
                          </div>
                          </mt:if>
                      </div>
              </mt:section>';

              Template.templates.categorySelectorAddForm = '<mt:section encode_js="1">
              [# div.className="form-group add-category-form m-3" #]
                <div class="form-group row">
                  <div class="col-auto pl-3 pr-0">
                    <a href="javascript:void(0);" mt:command="cancel" class="add-category-cancel-link btn"><mtapp:svgicon id="ic_caution" title="Cancel"></a>
                  </div>
                  <div class="col pl-0">
                    <div class="input-group">
                      <input id="add-category-input-movable-[#= contentFieldId #]" class="form-control add-category-input input-hint" type="text" value="" placeholder="[#|h trans( "Add sub category" ) #]" />
                      <div class="input-group-append">
                        <a href="javascript:void(0);" mt:command="add" class="add-category-save-link btn btn-default">[#|h trans( "Add" ) #]</a>
                      </div>
                  </div>
                </div>
              </mt:section>';

              jQuery(window).on('load', function () {
                  var selectedCategoryList = <$mt:if name="selected_category_loop"><$mt:var name="selected_category_loop" to_json="1"$><mt:else>[]</mt:if>;
                  var categoryList = <$mt:if name="category_tree"><$mt:var name="category_tree" to_json="1" regex_replace="/(s)(cript)/ig","$1\$2"$><mt:else>[]</mt:if>;

                  var categorySetId = <mt:if name="options{category_set}"><mt:var name="options{category_set}" escape="js"><mt:else>0</mt:if>;
                  var contentFieldId = <mt:var name="content_field_id" escape="js">;

                  var catCache = new Cache( categoryList.length + 50 );
                  for ( var i = 0; i < categoryList.length; i++ ) {
                      catCache.setItem( 'cat:'+categoryList[ i ].id, categoryList[ i ] );
                  }
                  var list = new MT.App.CategoryList(
                      'category-list-' + contentFieldId,
                      {
                          catCache: catCache,
                          contentFieldId: contentFieldId,
                          multiple: <mt:if name="options{multiple}">true<mt:else>false</mt:if>,
                          selectedCategoryList: selectedCategoryList
                      }
                  );
                  if(!window.app){
                      MT.App.bootstrap();
                  }
                  app.setDelegate( "categoryList", list );
                  list.redraw( catCache );
                  if ( !app.fieldCategorySelectors ) {
                      app.fieldCategorySelectors = {};
                  }

                  var selector = app.fieldCategorySelectors[contentFieldId] = new MT.App.CategorySelector(
                      '<mt:if name="options{multiple}">category<mt:else>folder</mt:if>-selector-' + contentFieldId,
                      'categorySelectorList' + contentFieldId,
                      {
                          categorySetId: categorySetId,
                          categoryList: categoryList,
                          catCache: catCache,
                          catForm: 'add-category-form-' + contentFieldId,
                          catInput: 'add-category-input-' + contentFieldId,
                          catInputMovableId: 'add-category-input-movable-' + contentFieldId,
                          catList: list,
                          contentFieldId: contentFieldId,
                          selectedCategoryList: selectedCategoryList
                      }
                  );
                  selector.redraw();
                  selector.open();

              });
          /* ]]> */
          </script>

          <div id="<mt:if name="options{multiple}">category<mt:else>folder</mt:if>-selector-<mt:var name="content_field_id" escape="html">" class="category-selector hidden" style="display: none;">
          <mt:if name="options{can_add}">
            <div class="input-group d-md-flex">
              <input id="add-category-input-<mt:var name="content_field_id" escape="html">" type="text" class="form-control add-category-input" placeholder="<__trans phrase="Category Name">" aria-label="<__trans phrase="Category Name">">
              <div class="input-group-append">
                <button class="btn btn-default" type="button" mt:command="add"><mtapp:svgicon id="ic_add" color="success" title="<__trans phrase="Add">" ><__trans phrase="Add"></button>
              </div>
            </div>
          </mt:if>
            <div class="mt-categorylist">
              <div id="<mt:if name="options{multiple}">category<mt:else>folder</mt:if>-selector-<mt:var name="content_field_id" escape="html">-list">
              </div>
            </div>
          </div><!-- /category-selector -->

        </div>
      </div>
    </div>
    <div class="mt-collapse__container p-4">
      <div class="col">
        <div mt:delegate="category-list" id="category-list-<mt:var name="content_field_id" escape="html">" class="category-list-container" mt:content-field-id="<mt:var name="content_field_id" escape="html">"></div>
        <input id="category-ids-<mt:var name="content_field_id" escape="js">" type="hidden" style="display: none;" name="category-<mt:var name="content_field_id" escape="html">" value="<$mt:var name="selected_category_loop" glue=","$>" <mt:var name="required"> <mt:var name="multiple"> />
      </div>
    </div>
  </div>

</div>
<mt:setvarblock name="jq_js_include" append="1">
  jQuery('#categories-<mt:var name="content_field_id" escape="html">').on('hide.bs.collapse', function (e) {
    jQuery(e.target).siblings('.mt-collapse__container:first-child').find('a').text('<__trans phrase="Edit">');
  })
  jQuery('#categories-<mt:var name="content_field_id" escape="html">').on('show.bs.collapse', function (e) {
    jQuery(e.target).siblings('.mt-collapse__container:first-child').find('a').text('<__trans phrase="Close">');
  })
</mt:setvarblock>
<mt:else>
<div class="alert alert-warning">
  <__trans phrase="This field is disabled because valid Category Set is not selected in this field.">
</div>
</mt:unless>
