<mtapp:widget
  class="activity-log-widget"
  label="<__trans phrase="Activity Log">"
  can_close="1">
  <mt:if name="logs">
  <ul class="mt-widget__list">
    <mt:Loop name="logs">
    <li>
      <span class="row">
        <span class="col mt-widget--info"><mt:var name="created_on_formatted"></span>
        <span class="col mt-widget--info text-right"><mt:var name="site_name" escape="html"></span>
      </span>
      <mt:var name="log_message" escape="html">
    </li>
    </mt:Loop>
  </ul>
  <mt:Else>
  <div class="row">
    <div class="col"><__trans phrase="No [_1] could be found." params="<__trans phrase="Log">"></div>
  </div>
  </mt:if>
</mtapp:widget>

