<mt:setvarblock name="html_head" append="1" id="html_head">
<mt:if name="stat_url">
<script type="text/javascript">
    /* <![CDATA[ */
    var slider_variable = '<__trans phrase="Entries" escape="js">';
    var slider_variable_singular = '<__trans phrase="Entry" escape="js">';
    var file_name = '<mt:var name="stat_url" escape="js">';

    var entriesSlider = new FlashTag("<mt:var name="static_uri">flash/date_slider_open.swf?date_range="+date_range+"&file_name="+file_name+"&box_color="+box_color+"&bar_color="+bar_color+"&line_color="+line_color+"&slider_variable="+slider_variable+"&slider_variable_singular="+slider_variable_singular+"&lang=<mt:var name="language_tag">&static_path="+escape(StaticURI+"flash"), 540, 122);
    entriesSlider.setFlashvars("lcId=" + lcId);
    entriesSlider.setFlashvars("flashSource=http://www.measuremap.com/developer/slider/&contentLicense=http://creativecommons.org/licenses/by/2.0/");
    /* ]]> */
</script>
</mt:if>
</mt:setvarblock>

<mt:setvarblock name="tabs" append="1">
<li id="entry-tab" class="tab <mt:if name="tab" eq="entry">selected-tab</mt:if>" mt:tab="entry" mt:command="select-tab" onclick="return blogStatsTabSelect('entry');"><a href="javascript:void(0)" ><span><__trans phrase="Entries"></span></a></li>
</mt:setvarblock>

<div id="entry-panel" class="blog-stats-widget-panel <mt:unless name="tab" eq="entry">hidden</mt:unless>" mt:tab-content="entry">
<mt:if name="stat_url">
    <script type="text/javascript">
        /* <![CDATA[ */
        entriesSlider.write(document);
        /* ]]> */
    </script>
    <div class="stats-summary" id="stats-summary-entry">&nbsp;</div>
</mt:if>
    <h4 class="tab-panel-header"><__trans phrase="Most Recent Entries"></h4>
<mt:entries>
    <mt:setvarblock name="entry_type" id="entry_type"></mt:setvarblock>
    <div id="entry-<$MTEntryID$>" class="entry content entry-<mt:if name="__odd__">odd odd<mt:else>even even</mt:if> entry-status-<$mt:entrystatus lower_case="1"$><mt:if name="entry_type"> entry-<$mt:var name="entry_type"$></mt:if>">
        <div class="entry-header"><mt:entryauthorid setvar="entry_author_id">
            <mt:setvarblock name="entry_title"><mt:if tag="entrytitle"><mt:entrytitle escape="html"><mt:else><__trans phrase="..."></mt:if></mt:setvarblock>
            <h4 class="entry-title">
    <mt:if name="editable">
                <a href="<$mt:var name="script_url"$>?__mode=view&amp;_type=entry&amp;id=<$mt:entryid$>&amp;blog_id=<$mt:blogid$>"><mt:var name="entry_title"></a>
    <mt:else name="author_id" eq="$entry_author_id">
                <a href="<$mt:var name="script_url"$>?__mode=view&amp;_type=entry&amp;id=<$mt:entryid$>&amp;blog_id=<$mt:blogid$>"><mt:var name="entry_title"></a>
    <mt:else>
                <mt:var name="entry_title">
    </mt:if>
            </h4>
        </div>
        <div class="entry-content">
            <p><mt:entryexcerpt escape="html"></p>
        </div>
        <div class="entry-meta meta">
    <mt:if tag="MTEntryAuthorDisplayName">
            <mt:setvarblock name="entry_author"><$MTEntryAuthorLink show_email="0"$></mt:setvarblock>
    <mt:else>
            <mt:setvarblock name="entry_author"><$MTEntryAuthorUsername escape="html"$></mt:setvarblock>
    </mt:if>
    <mt:if tag="entrycategory">
            <__trans phrase="Posted by [_1] [_2] in [_3]" params="<$mt:var name="entry_author"$>%%<$MTEntryDate relative="1"$>%%<MTEntryCategories glue=", "><MTIf name="editable"><a href="<mt:var name="script_url">?__mode=list_entry&amp;blog_id=<$MTBlogID$>&amp;filter=category_id&amp;filter_val=<$MTCategoryID$>"><$MTCategoryLabel escape="html"$></a><MTElse><$MTCategoryLabel escape="html"$></MTIf></MTEntryCategories>">
    <mt:else>
            <__trans phrase="Posted by [_1] [_2]" params="<$mt:var name="entry_author"$>%%<$MTEntryDate relative="1"$>">
    </mt:if>
    <mt:entryiftagged>
            <mt:setvarblock name="tags"><mt:entrytags glue=", "><mt:if name="editable"><a href="<$mt:var name="script_url"$>?__mode=list_entry<mt:if tag="blogid">&amp;blog_id=<$mt:blogid$></mt:if>&amp;filter=exacttag&amp;filter_val=<$mt:tagname escape="url"$>" rel="tag"><mt:tagname escape="html"$></a><mt:else><mt:tagname escape="html"></mt:if></mt:entrytags></mt:setvarblock>
            <__trans phrase="Tagged: [_1]" params="<mt:var name="tags">">
    </mt:entryiftagged>
        </div>
    </div>
    <mt:if name="__last__">
        <mt:if name="editable">
    <div class="view-all"><a href="<mt:var name="script_url">?__mode=list_entry&amp;blog_id=<$mt:var name="blog_id"$>"><__trans phrase="View all entries"></a></div>
        </mt:if>
    </mt:if>
    <mt:else>
        <p><__trans phrase="No entries have been created in this blog. <a href="[_1]">Create a entry</a>" params="<$mt:var name="mt_url"$>?__mode=view&amp;_type=entry&amp;blog_id=<$mt:var name="blog_id"$>"></p>
    </mt:entries>
</div>
