<mt:unless name="widget_label">
<mt:setvarblock name="widget_label"><__trans phrase="What's new in Movable Type [_1]" params="<mt:var name="mt_version">"></mt:setvarblock>
</mt:unless>
<mtapp:widget
    label="$widget_label"
    class="welcome-widget">
    <div class="picture small">
        <img alt="<mt:var name="mt_product_name"> <mt:var name="mt_version_id">" src="<mt:var name="static_uri">images/logo/mt-spanner.png" />
    </div>
    <div class="useful-links">
        <p><mt:if name="widget_description"><mt:var name="Congratulations, you have successfully installed Movable Type [_1]. Listed below is an overview of the new features found in this release." params="<mt:var name="mt_version">"></mt:if></p>
        <ul>
        <mt:loop name="feature_loop">
            <li>
        <mt:if name="feature_url">
                <a href="<mt:var name="feature_url" escape="html">"><mt:var name="feature_label" escape="html"></a>
        <mt:else>
                <mt:var name="feature_label" escape="html">
        </mt:if>
        <mt:if name="feature_description">
                <span class="description"><mt:var name="feature_description" escape="html"></span>
        </mt:if>
            </li>
        </mt:loop>
        </ul>
        <div class="actions-bar">
            <button
                onclick="javascript:removeWidget('<mt:var name="widget_id">'); return false;"
                title="<__trans phrase="Remove this widget">">
                <__trans phrase="Close"></button>
        </div>
    </div>
</mtapp:widget>
