<mtapp:widget
    class="welcome-widget"
    label="<__trans phrase="Welcome to Movable Type">">
    <div class="picture small">
        <img alt="<mt:var name="mt_product_name"> <mt:var name="mt_version_id">" src="<mt:var name="static_uri">images/logo/mt-spanner.png" />
    </div>
    <div class="useful-links">
        <p><__trans phrase="Welcome to Movable Type, the world's most powerful blogging, publishing and social media platform:"></p>
        <ul>
            <li>
                <a href="<__trans phrase="http://www.movabletype.org/documentation/">"><__trans phrase="Movable Type Online Manual"></a>
                <span class="description"><__trans phrase="Whether you're new to Movable Type or using it for the first time, learn more about what this tool can do for you."></span>
            </li>
        </ul>
        <div class="actions-bar">
          <button
              onclick="javascript:removeWidget('<mt:var name="widget_id">'); return false;"
              title="<__trans phrase="Remove this widget">">
              <__trans phrase="Close"></button>
        </div>
    </div>
</mtapp:widget>
