<mtapp:widget
   class="message-center-widget"
   label="<__trans phrase="Message from system">"
   can_close="0">
<mt:setvarblock name="widget_header">
</mt:setvarblock>
<ul id="message-center">
<mt:if name="loop_notification_dashboard">
<mt:loop name="loop_notification_dashboard">
    <li><span class="icon-left icon-<mt:if name="level"><mt:var name="level"><mt:else>warning</mt:if> item"><mt:var name="text"></span><mt:if name="detail"><span class="icon-left detail"><mt:var name="detail"></span></mt:if></li>
</mt:loop>
<mt:else>
    <li><__trans phrase="There is no message from system."></li>
</mt:if>
</ul>
</mtapp:widget>
