<mt:setvarblock name="page_title"><__trans phrase="Base Site Path Configuration"></mt:setvarblock>

<mt:setvarblock name="page_content">
<form method="post">
  <input type="hidden" name="__mode" value="" />
  <input type="hidden" name="step" value="base_site_path" />
  <input type="hidden" name="config" value="<mt:var name="config" escape="html">" />
  <input type="hidden" name="set_static_uri_to" id="set_static_uri_to" value="<mt:var name="static_uri" escape="html">">
  <input type="hidden" name="default_language" value="<mt:var name="default_language" escape="html">" />
  <p class="intro"><__trans phrase="Base Site Path works as the default site path for each new site. It also ensures that each site path is within the Base Site Path."></p>

<mt:if name="base_site_path_is_relative">
  <mtapp:statusmsg
     id="base-site-path-is-relative"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must be an absolute path." params="<__trans phrase="_BASE_SITE_PATH">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="base_site_path_does_not_exist">
  <mtapp:statusmsg
     id="base-site-path-does-not-exist"
     class="error"
     can_close="0">
    <__trans phrase="[_1] does not exist." params="<__trans phrase="_BASE_SITE_PATH">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="base_site_path_is_within_mt_dir">
  <mtapp:statusmsg
     id="base-site-path-is-within-mt-dir"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must not be a subdirectory of the Movable Type directory." params="<__trans phrase="_BASE_SITE_PATH">">
  </mtapp:statusmsg>
</mt:if>

  <div id="base_site_path_settings">
    <mtapp:setting
      id="base-site-path"
      label="<__trans phrase="_BASE_SITE_PATH">"
      label_class="top-label">
      <input type="text" name="base_site_path" id="base-site-path" class="form-control text full" value="<mt:if name="base_site_path"><mt:var name="base_site_path" escape="html"></mt:if>" />
    </mtapp:setting>
  </div>

  <div id="submit" class="actions-bar text-right">
    <button
       name="test"
       type="submit"
       onclick="go('test');"
       value="1"
       class="continue action primary button btn btn-primary">
      <__trans phrase="Continue">
    </button>
    <button
       name="back"
       type="submit"
       onclick="this.form.reset(); go('previous_step');"
       class="goback action button btn btn-default">
      <__trans phrase="Back">
    </button>
  </div>

  </div>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
/* <![CDATA[ */
function go(mode) {
    var f = document.forms[0];
    f['__mode'].value = mode;
}
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="layout/chromeless.tmpl">
<mt:var name="layout">

