<mt:setvarblock name="page_title"><__trans phrase="Setup Your First Blog"></mt:setvarblock>

<mt:include name="include/chromeless_header.tmpl">


<form id="blog_form" method="post" onsubmit="return validate(this)">
<input type="hidden" name="__mode" value="" />
<input type="hidden" name="step" value="setup_blog" />
<input type="hidden" name="set_static_uri_to" id="set_static_uri_to" value="<mt:var name="static_uri" escape="html">" />
<input type="hidden" name="default_language" value="<mt:var name="default_language">" />    
<input type="hidden" name="config" value="<mt:var name="config" escape="html">" />

<!--
Commenting out until someone can input proper error checking if any
<mt:if name="connect_error">
<h4 class="error-message"><mt:var name="error"><mt:if name="error_more">&nbsp;&nbsp;<a href="javascript:void(0)" onclick="return toggleMore()">More</a>. <div id="error_more" style="display:none"><mt:var name="error_more"></div></mt:if></h4>
<mt:else>
<mt:if name="error">
<h4 class="error-message"><mt:var name="error"></h4>
</mt:if>
</mt:if>
-->

<p class="intro"><__trans phrase="In order to properly publish your blog, you must provide Movable Type with your blog's URL and the path on the filesystem where its files should be published."></p>

<fieldset id="blog_settings">

    <mtapp:setting
        id="blogname"
        label="<__trans phrase="Blog Name">"
        label_class="top-label">
<input type="text" id="blogname" class="ti" name="blogname" value="<__trans phrase="My First Blog">" />
    </mtapp:setting>

    <mtapp:setting
        id="blogurl"
        label="<__trans phrase="Blog URL">"
        label_class="top-label">
<input type="text" id="blogurl" class="ti" name="blogurl" value="<mt:if name="blogurl"><mt:var name="blogurl" escape="html"></mt:if>" />
    </mtapp:setting>

    <mtapp:setting
        id="blogpath"
        label="<__trans phrase="Publishing Path">"
        label_class="top-label">
<input type="text" id="blogpath" class="ti" name="blogpath" value="<mt:if name="blogpath"><mt:var name="blogpath" escape="html"></mt:if>" />
<p class="hint"><__trans phrase="Your 'Publishing Path' is the path on your web server's file system where Movable Type will publish all the files for your blog. Your web server must have write access to this directory."></p>
    </mtapp:setting>

<div id="continue" class="action-buttons">
<div class="left">
<input name="back" type="submit" class="sb" value="<__trans phrase="Back">" onclick="needValidate = false; this.form.reset(); go('previous_step');" />
</div>
<div class="right">
<input name="continue" type="submit" class="sb" value="<__trans phrase="Continue">" name="continue" onclick="go('next_step')" />
</div>
</div>

</fieldset>
</form>
<script type="text/javascript">
/* <![CDATA[ */
var needValidate = false;

function validate (f) {
    if (needValidate) {
    }
    return true;
}
function go(mode) {
    var f = document.forms[0];
    f['__mode'].value = mode;
}
/* ]]> */
</script>
<mt:include name="include/chromeless_footer.tmpl">
