<TMPL_INCLUDE NAME=header.tmpl>

<form method="post">
<input type="hidden" name="__mode" value="seed" />
<input type="hidden" name="config" value="<TMPL_VAR NAME=CONFIG ESCAPE=HTML>" />
<input type="hidden" name="set_static_uri_to" id="set_static_uri_to" value="<TMPL_VAR NAME=STATIC_URI>">


<TMPL_UNLESS NAME=CONFIG_CREATED>
<div class="error-message"><MT_TRANS phrase="We were unable to create your configuration file."></div>
<MT_TRANS phrase="If you would like to check the directory permissions and retry, click the 'Retry' button.">
<TMPL_ELSE>
<div class="message"><MT_TRANS phrase="Congratulations! You've successfully configured [_1] [_2]." params="<TMPL_VAR NAME=MT_PRODUCT_NAME>%%<TMPL_VAR NAME=MT_VERSION>"></div>
<MT_TRANS phrase="The settings below have been written to the file <tt>[_1]</tt>. If any of these settings are incorrect, you may click the 'Back' button below to reconfigure them." params="<TMPL_VAR NAME=CONFIG_FILE>">
</TMPL_UNLESS>

<p>
<MT_TRANS phrase="This is a copy of your configuration settings.">
</p>

<textarea style="width: 100%; height: 300px; font-family: monospace">
<TMPL_INCLUDE NAME=mt-config.tmpl>
</textarea>

<p>
<input type="submit" value="<MT_TRANS phrase="Back">" onclick="document.location.href='?__mode=optional&amp;config=<TMPL_VAR NAME=CONFIG ESCAPE=HTML>&amp;set_static_uri_to=<TMPL_VAR NAME=STATIC_URI>'; return false" />
<TMPL_UNLESS NAME=CONFIG_CREATED>
<input name="retry" type="submit" value="<MT_TRANS phrase="Retry">" />
<TMPL_ELSE>
<input name="continue" type="submit" value="<MT_TRANS phrase="Install">" onclick="document.location.href='mt.cgi'; return false" />
</TMPL_UNLESS>
</p>

</form>

<TMPL_INCLUDE NAME=footer.tmpl>
