<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><MT_TRANS phrase="Movable Type"></title>

<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>" type="text/css" />
<TMPL_IF NAME=LOCAL_LANG_ID><link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles_<TMPL_VAR NAME=LOCAL_LANG_ID>.css?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>" type="text/css" /></TMPL_IF>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>"></script>

<script language="javascript" type="text/javascript">
<!--
function showByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "block";
}
function hideByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "none";
}
// -->
</script>

<style>
   .error-message {
       font-family: Verdana, Arial, sans-serif;
       font-size: x-small;
       color: #666;
       line-height: 13px;
       font-weight: bold;
       margin: 0 0 10px 0;
       border: 1px #D44 solid;
       background: #FEE;
       padding: 10px;
   }
   fieldset {
       margin: 30px 0;
       border-width: 0;
       padding: 0;
   }

   fieldset h3 {
       margin-bottom: 10px;
       border-bottom: 1px solid #93B06B;
       font-size: 14px;
       color: #93B06B;
   }

   fieldset .setting {
       overflow: hidden;
       width: 100%;
       margin-bottom: 10px;
       border-bottom: 1px solid #E4EBDA;
       padding-bottom: 10px;
   }

   fieldset .label {
       float: left;
       width: 125px;
       margin: 4px 5px 0 5px;
       color: #333;
       font-size: 11px;
       font-weight: bold;
       text-align: right;
   }

   fieldset .field {
       float: left;
       width: 445px;
       margin: 0;
   }

   fieldset .field p {
       margin: 3px 0;
       padding: 1px 0 0 0;
       font-size: 11px;
       line-height: 1.1;
       color: #666;
   }

   fieldset input {
       font-size: 11px;
   }
   .field {
       margin-bottom: 10px;
   }
   .field p {
       margin: 3px 0;
       font-size: 11px;
       line-height: 1.1;
   }


</style>

</head>

<body id="mt-wizard">

<div id="topnav">
<div id="topnav-container">
<div id="topnav-img"><h1><MT_TRANS phrase="Movable Type"></h1></div>
</div>
</div>

<div class="body-wrap">
<div class="body">

<h2 id="breadcrumbs"><MT_TRANS phrase="Movable Type Configuration Wizard"></h2>
