<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MOVABLE TYPE</title>
<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" />
<script language="javascript" type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js"></script>
<script language="javascript" type="text/javascript">
<!--
function showByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "block";
}
function hideByID(id) {
    var el = getByID(id);
    if (el) el.style.display = "none";
}
// -->
</script>

</head>

<body>

<div id="topnav">
<div id="topnav-container">
<div id="topnav-img"><h1><img alt="Movable Type" src="<TMPL_VAR NAME=STATIC_URI>images/topnav-logo.gif" width="224" height="66" border="0" /></h1></div>
</div>
</div>

<div class="body-wrap">
<div class="body">

<h2 id="breadcrumbs"><MT_TRANS phrase="Movable Type Configuration Wizard"></h2>
