<mt:setvarblock name="page_title"><__trans phrase="Other Path Configuration"></mt:setvarblock>

<mt:setvarblock name="page_content">
<form method="post">
  <input type="hidden" name="__mode" value="" />
  <input type="hidden" name="step" value="other_paths" />
  <input type="hidden" name="config" value="<mt:var name="config" escape="html">" />
  <input type="hidden" name="set_static_uri_to" id="set_static_uri_to" value="<mt:var name="static_uri" escape="html">">
  <input type="hidden" name="default_language" value="<mt:var name="default_language" escape="html">" />
  <p class="intro"><__trans phrase="There are a few more paths you should specify to separate your files from the system files. All of them should not be web-accessible."></p>

<mt:if name="user_plugin_path_is_relative">
  <mtapp:statusmsg
     id="user-plugin-path-is-relative"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must be an absolute path." params="<__trans phrase="User Plugin Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_plugin_path_does_not_exist">
  <mtapp:statusmsg
     id="user-plugin-path-does-not-exist"
     class="error"
     can_close="0">
    <__trans phrase="[_1] does not exist." params="<__trans phrase="User Plugin Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_plugin_path_is_within_mt_dir">
  <mtapp:statusmsg
     id="user-plugin-path-is-within-mt-dir"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must not be a subdirectory of the Movable Type directory." params="<__trans phrase="User Plugin Directory">">
  </mtapp:statusmsg>
</mt:if>

<mt:if name="user_themes_directory_is_relative">
  <mtapp:statusmsg
     id="user-themes-directory-is-relative"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must be an absolute path." params="<__trans phrase="User Themes Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_themes_directory_does_not_exist">
  <mtapp:statusmsg
     id="user-themes-directory-does-not-exist"
     class="error"
     can_close="0">
    <__trans phrase="[_1] does not exist." params="<__trans phrase="User Themes Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_themes_directory_is_within_mt_dir">
  <mtapp:statusmsg
     id="user-themes-directory-is-within-mt-dir"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must not be a subdirectory of the Movable Type directory." params="<__trans phrase="User Themes Directory">">
  </mtapp:statusmsg>
</mt:if>

<mt:if name="user_template_path_is_relative">
  <mtapp:statusmsg
     id="user-template-path-is-relative"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must be an absolute path." params="<__trans phrase="User Template Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_template_path_does_not_exist">
  <mtapp:statusmsg
     id="user-template-path-does-not-exist"
     class="error"
     can_close="0">
    <__trans phrase="[_1] does not exist." params="<__trans phrase="User Template Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="user_template_path_is_within_mt_dir">
  <mtapp:statusmsg
     id="user-template-path-is-within-mt-dir"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must not be a subdirectory of the Movable Type directory." params="<__trans phrase="User Template Directory">">
  </mtapp:statusmsg>
</mt:if>

<mt:if name="import_path_is_relative">
  <mtapp:statusmsg
     id="import-path-is-relative"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must be an absolute path." params="<__trans phrase="Import Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="import_path_does_not_exist">
  <mtapp:statusmsg
     id="import-path-does-not-exist"
     class="error"
     can_close="0">
    <__trans phrase="[_1] does not exist." params="<__trans phrase="Import Directory">">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="import_path_is_within_mt_dir">
  <mtapp:statusmsg
     id="import-path-is-within-mt-dir"
     class="error"
     can_close="0">
    <__trans phrase="[_1] must not be a subdirectory of the Movable Type directory." params="<__trans phrase="Import Directory">">
  </mtapp:statusmsg>
</mt:if>

  <div id="other_paths_settings">
    <mtapp:setting
      id="user-plugin-path"
      label="<__trans phrase="User Plugin Directory">"
      label_class="top-label">
      <input type="text" name="user_plugin_path" id="user-plugin-path" class="form-control text full" value="<mt:if name="user_plugin_path"><mt:var name="user_plugin_path" escape="html"></mt:if>" />
    </mtapp:setting>

    <mtapp:setting
      id="user-themes-directory"
      label="<__trans phrase="User Themes Directory">"
      label_class="top-label">
      <input type="text" name="user_themes_directory" id="user-themes-directory" class="form-control text full" value="<mt:if name="user_themes_directory"><mt:var name="user_themes_directory" escape="html"></mt:if>" />
    </mtapp:setting>

    <mtapp:setting
      id="user-template-path"
      label="<__trans phrase="User Template Directory">"
      label_class="top-label">
      <input type="text" name="user_template_path" id="user-template-path" class="form-control text full" value="<mt:if name="user_template_path"><mt:var name="user_template_path" escape="html"></mt:if>" />
    </mtapp:setting>

    <mtapp:setting
      id="import-path"
      label="<__trans phrase="Import Directory">"
      label_class="top-label">
      <input type="text" name="import_path" id="import-path" class="form-control text full" value="<mt:if name="import_path"><mt:var name="import_path" escape="html"></mt:if>" />
    </mtapp:setting>
  </div>

  <div id="submit" class="actions-bar text-right">
    <button
       name="test"
       type="submit"
       onclick="go('test');"
       value="1"
       class="continue action primary button btn btn-primary">
      <__trans phrase="Continue">
    </button>
    <button
       name="back"
       type="submit"
       onclick="this.form.reset(); go('previous_step');"
       class="goback action button btn btn-default">
      <__trans phrase="Back">
    </button>
  </div>

  </div>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
/* <![CDATA[ */
function go(mode) {
    var f = document.forms[0];
    f['__mode'].value = mode;
}
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="layout/chromeless.tmpl">
<mt:var name="layout">

