<mt:setvartemplate name="layout">
  <mt:include name="layout/default/header.tmpl">

  <mt:if name="related_content">
    <mt:include name="modules/notification_indicator.tmpl">
    <mt:include name="modules/system_msg.tmpl">
    <div class="row">
      <div class="col-md-9">
        <mt:include name="modules/page_title.tmpl">
        <mt:include name="modules/content_header.tmpl">
        <mt:var name="content">
      </div>
      <div class="col-md-3">
        <mt:var name="related_content">
      </div>
    </div>
  <mt:else>
    <mt:include name="modules/notification_indicator.tmpl">
    <mt:include name="modules/system_msg.tmpl">
    <mt:include name="modules/page_title.tmpl">
    <mt:include name="modules/content_header.tmpl">
    <mt:var name="content">
  </mt:if>

  <mt:include name="layout/default/footer.tmpl">
</mt:setvartemplate>
