<mtapp:setting
   id="default_access_allowed"
   label="<__trans phrase="Default system aggregation policy">">
  <ul>
    <li><input type="radio" value="1" name="default_access_allowed" id="default_access_allowed" class="rb"<mt:if name="default_access_allowed"> checked="checked"</mt:if> onclick="hide('mb-disallow');show('mb-allow');" /> <__trans phrase="Allow"></li>
    <li><input type="radio" value="0" name="default_access_allowed" id="default_access_allowed" class="rb"<mt:unless name="default_access_allowed"> checked="checked"</mt:unless> onclick="hide('mb-allow');show('mb-disallow');" /> <__trans phrase="Disallow"></li>
  </ul>
  <p id="mb-allow" style="display:<mt:if name="default_access_allowed">block<mt:else>none</mt:if>;"><__trans phrase="Cross-blog aggregation will be allowed by default.  Individual blogs can be configured through the blog-level MultiBlog settings to restrict access to their content by other blogs."></p>
  <p id="mb-disallow" style="display:<mt:if name="default_access_allowed">none<mt:else>block</mt:if>;"><__trans phrase="Cross-blog aggregation will be disallowed by default.  Individual blogs can be configured through the blog-level MultiBlog settings to allow access to their content by other blogs."></p>
</mtapp:setting>
