                </div>
            </div>
        </div>
    </div>
    <div id="cbl"></div>
    <div id="cbr"></div>
    <div id="footer">
        <div class="inner">
            <mt:ignore>
            <mt:include name="include/copyright.tmpl">
            <div id="version">
                <__trans phrase="<a href="[_1]">Movable Type</a> version [_2]" params="<mt:var name="portal_url">%%<mt:var name=mt_version_id>">
            </div>
            </mt:ignore>
        </div>
    </div>
</div><!-- container-inner-->
</div><!--container-->

</body>
</html>
