</div>
<script type="text/javascript">
/* <![CDATA[ */
if (window.jQuery) {
    function showByID(id) {
        jQuery('#'+id).show();
    }
    function hideByID(id) {
        jQuery('#'+id).hide();
    }
    jQuery('input').each(function() {
        jQuery(this).addClass(jQuery(this).attr('type'));
    });
    jQuery(function() {
    <mt:var name="jq_js_include">
    });
}
/* ]]> */
</script>
</body>
</html>
