<mt:if name="page_title">
  <mt:unless name="no_page_header">
  <div class="row">
    <div class="col-md-12">
      <h3 id="page-title"><mt:var name="page_title"></h3>
    </div>
  </div>
  </mt:unless>
</mt:if>
