<mt:if name="page_title">
  <div class="row">
    <div class="col-md-12 page-header">
      <h1><mt:var name="page_title"></h1>
    </div>
  </div>
<mt:else>
  <div class="row" style="margin: 15px">
  </div>
</mt:if>

