<p><__trans phrase="Incoming feedback can be monitored for specific keywords, domain names, and patterns. Matches can be held for moderation or scored as junk. Additionally, junk scores for these matches can be customized."></p>

<mtapp:setting
   id="sll_wordlist_moderate"
   label="<__trans phrase="Keywords to Moderate">"
   label_for="sll_wordlist_moderate">
  <textarea name="wordlist_moderate" id="sll_wordlist_moderate" class="form-control text high" rows="10"><mt:var name="wordlist_moderate" escape="html"></textarea>
</mtapp:setting>

<mtapp:setting
   id="sll_wordlist_junk"
   label="<__trans phrase="Keywords to Junk">"
   label_for="sll_wordlist_junk">
  <textarea name="wordlist_junk" id="sll_wordlist_junk" class="form-control text high" rows="10"><mt:var name="wordlist_junk" escape="html"></textarea>
</mtapp:setting>
