<$mt:setvar name="page_title" value="<__trans phrase="Reply to comment">"$>
<$mt:include name="dialog/header.tmpl"$>
<mt:if name="closing">
<script type="text/javascript">
/* <![CDATA[ */
closeDialog('<mt:var name="return_url" escape="js">');
/* ]]> */
</script>
</mt:if>
<mt:if name="error">
    <mtapp:statusmsg
        id="generic-error"
        class="error">
        <mt:var name="error" escape="html">
    </mtapp:statusmsg>
</mt:if>
<form action="<mt:var name="script_url">" method="post" name="comments_form" id="comments-form" class="<mt:if name="preview_html">preview</mt:if>">
    <input type="hidden" name="__mode" value="" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="reply_to" value="<mt:var name="reply_to" escape="html">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
    <input type="hidden" name="return_url" value="<mt:if name="return_url"><mt:var name="return_url" escape="html"><mt:else><mt:var name="mt_url">?__mode=list_comments&amp;blog_id=<mt:var name="blog_id" escape="url"></mt:if>" />
    <div id="comment">
        <p class="comment-meta"><__trans phrase="On [_1], [_2] commented on [_3]" params="<span class="comment-date"><$mt:var name="comment_created_on"$></span>%%<span class="commenter-name"><$mt:var name="commenter_name" escape="html"$></span>%%<span class="entry-title"><$mt:var name="entry_title" escape="html"$></span>"></p>
        <div class="comment-body">
            <$mt:var name="comment_text"$>
        </div>
    </div>
<mt:if name="preview_html">
    <div id="comment-preview">
        <div class="intro"><__trans phrase="Preview of your comment"></div>
        <div id="reply-body">
            <mt:var name="preview_html">
        </div>
    </div>
</mt:if>
    <div id="comment-reply">
        <div class="intro"><__trans phrase="Your reply:"></div>
        <textarea id="reply-body" name="text" rows="" cols="" class="full-width medium"><$mt:var name="text" escape="html"$></textarea>
    </div>
    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <button
                mt:command="submit"
                mt:mode="reply"
                type="submit"
                accesskey="s"
                title="<__trans phrase="Submit reply (s)">"
                id="publish-comment-action"
                class="primary-button"
                ><__trans phrase="Submit"></button>
            <button
                mt:command="submit"
                mt:mode="reply_preview"
                type="submit"
                accesskey="v"
                title="<__trans phrase="Preview reply (v)">"
                id="preview-comment-action"
                ><__trans phrase="Preview"></button>
            <button
                onclick="DOM.removeClassName( DOM.getElement('comments-form'), 'preview' ); return false"
                type="submit"
                accesskey="r"
                title="<__trans phrase="Re-edit reply (r)">"
                id="re-edit-comment-action"
                ><__trans phrase="Re-edit"></button>
            <button
                onclick="closeDialog(); return false"
                type="submit"
                accesskey="x"
                title="<__trans phrase="Cancel (x)">"
                ><__trans phrase="Cancel"></button>
        </div>
    </div>
</form>
<mt:include name="dialog/footer.tmpl">
