<mt:setvar name="page_title" value="<__trans phrase="Select Content Data">">
<mt:setvar name="screen_type" value="dialog-screen insert-content-data-dialog">

<mt:setvarblock name="modal_body">
<div class="row">
  <div class="col-12">
    <mt:include name="include/content_data_list.tmpl" dialog="1">
  </div>
</div>
</mt:setvarblock>

<mt:setvarblock name="modal_footer">
<div class="actions-bar actions-bar-bottom">
  <form action="" method="get" onsubmit="return false">
    <button
      type="submit"
      accesskey="s"
      title="<__trans phrase="Insert (s)">"
      class="action primary button close-button disabled btn btn-primary"
      disabled="true">
      <__trans phrase="Insert">
    </button>
    <button
      type="submit"
      accesskey="x"
      class="cancel action button mt-close-dialog btn btn-default"
      data-mt-modal-close
      title="<__trans phrase="Cancel (x)">">
      <__trans phrase="Cancel">
    </button>
  </form>
</div>
</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">
<mt:if name="can_add">
var currentPanel = '#create-content-data-panel';
<mt:else>
var currentPanel = '#select-content-data-panel';
</mt:if>
jQuery('.left-menu-item').click(function () {
  // Make custom event
  var event = new jQuery.Event('changePanel');

  currentPanel = jQuery(this).attr('data-panel-id');
  jQuery('#select_content_data input[name="id"]').val('');

  jQuery('.actions-bar button.primary')
    .attr('disabled', 'disabled')
    .addClass('disabled');
  jQuery('div.panel')
    .addClass('hidden')
    .hide();
  jQuery(currentPanel)
    .removeClass('hidden')
    .show()
    .trigger(event);
  jQuery(this)
    .parent('li')
    .siblings()
    .removeClass('active');
  jQuery(this)
    .parent('li')
    .addClass('active');

  var buttonText;
  if (currentPanel === '#create-content-data-panel') {
    buttonText = '<__trans phrase="Create and Insert">';
  } else if (currentPanel === '#select-content-data-panel') {
    buttonText = '<__trans phrase="Insert">';
  }
  jQuery('button.primary').text(buttonText);
});
jQuery('.actions-bar button.primary').click(function() {
  var contentFieldId = '<mt:var name="content_field_id" escape="js">';
  var canMulti = <mt:if name="can_multi">true<mt:else>false</mt:if>;

  var $ul = parent.jQuery('#content-field-' + contentFieldId + '-list-content-data')
  $ul.children('li.empty-content-data-list').remove();
  if (!canMulti) {
    $ul.children().remove();
  }

  var getEditUrl = function (id) {
    var query = {
      __mode: 'edit_content_data',
      blog_id: '<mt:var name="blog_id" escape="js">',
      content_type_id: '<mt:var name="content_type_id" escape="js">',
      id: id
    };
    return '<mt:var name="script_url">?' + jQuery.param(query);
  };

  jQuery('input[name=id]:checked').each(function (i, e) {
    var id = e.value;
    if ($ul.find('input[value=' + id + ']').length) {
      return;
    }

    var id = jQuery(e).parent().next().text();
    var editUrl = getEditUrl(id);
    var $inputId = jQuery('<input/>').attr({type: 'hidden', name: 'content-field-' + contentFieldId}).val(id);
    var $editAnchor = jQuery('<a/>').attr({href: editUrl, target: '_blank'}).text('(ID:' + id + ')');
    var $removeAnchor = jQuery('<a/>').addClass('icon-remove icon16 action-icon')
                                      .css('cursor', 'pointer')
                                      .attr('href', 'javascript:void(0)');
    $removeAnchor.get(0).innerHTML = '<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
    var $inputCol = jQuery('<div/>').addClass('col text-truncate')
                                    .append($inputId, $editAnchor);
    var $removeCol = jQuery('<div/>').addClass('col-1')
                                     .append($removeAnchor);
    var $row = jQuery('<div/>').addClass('row')
                               .append($inputCol, $removeCol);
    var $li = jQuery('<li/>').append($row);
    $ul.append($li);
  });

  var $container = parent.jQuery('#content-type-field-' + contentFieldId);
  var ns = parent.jQuery.data($container.get(0), 'mtValidator');
  if (ns) {
    $container.mtValid({ focus: false });
  }

  parent.setDirty(true);
  log('found dirty form');
  parent.app.setDirty();

  jQuery.fn.mtModal.close();
  return false;
});
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
