<$mt:setvar name="screen_type" value="dialog-screen dialog-grant-role"$>
<mt:setvarblock name="page_title"><mt:var name="dialog_title"></mt:setvarblock>

<!--
This dialog presents a list of roles for selection. The user may
select one and only one role.

If the role selected was a system role, then there is nothing further
to do.

Upon selecting a non-system role, the user clicks the "Next" button to
then select one or more weblogs.

possible paths:

creating a new user association
    list of users -> list of roles -> list of weblogs

creating a new group association
    list of groups -> list of roles -> list of weblogs

creating a new association for a particular user
    list of roles -> list of weblogs

creating a new association for a particular group
    list of roles -> list of weblogs

To facilitate this, I need to create divs for each "page" of the dialog
all but the first will be hidden. The "continue" button will toggle from
one page to the following page.
-->

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>

<script type="text/javascript">
/* <![CDATA[ */
var dialog;
var panels;
function dialog_closed(ok) {
    if (ok) {
        // fill out form and submit to create the association
        var frm = document['grant'];
        for (var i = 0; i < dialog.panels.length; i++) {
            var panel = dialog.panels[i];
            var fld = frm.elements[panel.name];
            if (!fld) {
                alert("cannot find field for " + panel.name);
                continue;
            }
            var items = panel.selectionList.items();

            var item_length = items.length;
            for(var x = 0; x < item_length; x++){
                var val = items[x];
                var type = val.slice(0, val.indexOf('-'));
                if(panel.name != type){
                    var input_val = frm.elements[type].value;
                    if(input_val) input_val += ',';
                    input_val += val;
                    frm.elements[type].value = input_val
                }
            }
            var target_items =  items.filter(function(val){
                var type = val.slice(0, val.indexOf('-'));
                return( panel.name === type);
            });
            fld.value = target_items.join(',');
        }
        // commit!
        frm.submit();
    } else {
        jQuery.fn.mtModal.close();
    }
}

function returnRoleSelection(ok) {
    if (ok) {
        parent.jQuery('span.items').empty();

        var ids = new Array();
        jQuery('input[name=role-cb]:checked').each( function() {
            ids.push(this.value);
            parent.jQuery('span.items').append('<span id="selected-role-'+this.value+'" class="badge badge-default sticky-label selected-item">'+jQuery('tr#role-'+this.value+' > td.panel-label > label').text()+'&nbsp;<span class="tag-pill remove clickable">x</span></span>');
        });
        parent.jQuery('input#new_created_user_role').val( ids.join(",") );
    }
    jQuery.fn.mtModal.close();
}


function init() {
    dialog = new Dialog.MultiPanel("assoc");
    panels = [];
    var panel;<mt:loop name="panel_loop">
    panel = new ListingPanel("<mt:var name="panel_type">");
    <mt:if name="panel_type" eq="site">panel.listChanged = function(ts, row, checked) {
        if (this.selectionList) {
            var self = this;
            if (checked){
                this.selectionList.add(row.id);
                if(jQuery(row).hasClass('has_child')){
                  jQuery(row).find('.list-unstyled li').each(function(){
                    self.selectionList.add(this.id);
                  });
                }
            } else {
                this.selectionList.remove(row.id);
                if(jQuery(row).hasClass('has_child')){
                  var self = this;
                  jQuery(row).find('.list-unstyled li').each(function(){
                    self.selectionList.remove(this.id);
                  });
                }
            }
        } else {
            var count = ts.selected().length;
            if (this.nextButton) {
                if (count == 0)
                    TC.addClassName(this.nextButton, "disabled");
                else
                    TC.removeClassName(this.nextButton, "disabled");
                this.nextButton.disabled = count == 0;
            }
            if (this.closeButton) {
                if (count == 0)
                    TC.addClassName(this.closeButton, "disabled");
                else
                    TC.removeClassName(this.closeButton, "disabled");
                this.closeButton.disabled = count == 0;
            }
        }
    };</mt:if>
    panel.pager.setState(<mt:var name="pager_json">);
    panels[panels.length] = panel;</mt:loop>
    dialog.setPanels(panels);
    dialog.open({}, <mt:var name="confirm_js" default="dialog_closed">);


<mt:if name="has_group">
    var panel = panels[dialog.currentPanel];
    var datasource = panel.datasource;

    jQuery('.select_assoc_type :radio').on('click', function(){
        var target = jQuery(this).val();
        var search = jQuery('.search-input');
        if(target == 'both' && search.val() == ''){
            datasource.navigate(0);
            panel.searchField.value = "";
            jQuery(panel.searchReset).hide();
            return;
        }

        if (datasource.searching) return;

        var doc = TC.getOwnerDocument(datasource.element);
        var args = doc.location.search;
        args = args.replace(/^\?/, '');
        args = args.replace(/&?offset=\d+/, '');
        datasource.searching = true;
        if (datasource.pager)
            datasource.pager.render();
        if (datasource.pager2)
            datasource.pager2.render();

        args = args.replace(/&_type=\w+/, '');
        args += '&search=' + escape(search.val());
        if(target == 'both'){
            args += '&_type=author';
        } else if(target == 'author'){
            args += '&_type=author&link_filter=1';
        }else if(target == 'group'){
            args += '&_type=group&link_filter=1';
        }
        args += '&json=1&no_limit=1';

        TC.Client.call({
            'load': function(c,r) { datasource.searched(r); },
            'error': function() { alert("Error during search."); datasource.searched(null); },
            'method': 'POST',
            'uri': ScriptURI,
            'arguments': args
        });
    });
</mt:if>
}

TC.attachLoadEvent(init);
/* ]]> */
</script>
</mt:setvarblock>

<mt:setvarblock name="page_content">

<form name="grant" id="grant" method="post" target="_top" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="grant_role" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token" escape="html">" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
    <mt:if name="blog_id"><input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    </mt:if><mt:if name="edit_author_id"><input type="hidden" name="author_id" value="<mt:var name="edit_author_id">" />
    </mt:if><mt:if name="group_id"><input type="hidden" name="group_id" value="<mt:var name="group_id" escape="html">" />
    </mt:if><mt:if name="role_id"><input type="hidden" name="role_id" value="<mt:var name="role_id" escape="html">" />
    </mt:if><mt:loop name="panel_loop">
    <input type="hidden" name="<mt:var name="panel_type">" value="" /></mt:loop>
    <mt:if name="has_group"><input type="hidden" name="group" value="" /></mt:if>
</form>

<div class="modal-header">
    <h4 class="mt-0 modal-title"><mt:var name="page_title"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-mt-modal-close>
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<mt:if name="missing_data">
<div class="modal-body">
    <mt:if name="missing_role">
        <mtapp:statusmsg
            id="generic-info"
            class="info"
            can_close="0">
            <__trans phrase="No roles exist in this installation. [_1]Create a role</a>" params="<a href="javascript:void(0)" onclick="jQuery.fn.mtModal.close('<mt:var name="script_full_url">?__mode=view&amp;_type=role');" class="alert-link">">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="missing_group">
        <mtapp:statusmsg
            id="generic-info"
            class="info"
            can_close="0">
            <__trans phrase="No groups exist in this installation. [_1]Create a group</a>" params="<a href="javascript:void(0)" onclick="jQuery.fn.mtModal.close('<mt:var name="script_full_url">?__mode=view&amp;_type=group');" class="alert-link">">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="missing_author">
        <mtapp:statusmsg
            id="generic-info"
            class="info"
            can_close="0">
            <__trans phrase="No users exist in this installation. [_1]Create a user</a>" params="<a href="javascript:void(0)" onclick="jQuery.fn.mtModal.close('<mt:var name="script_full_url">?__mode=view&amp;_type=author');" class="alert-link">">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="missing_blog">
        <mtapp:statusmsg
            id="generic-info"
            class="info"
            can_close="0">
            <__trans phrase="No blogs exist in this installation. [_1]Create a blog</a>" params="<a href="javascript:void(0)" onclick="jQuery.fn.mtModal.close('<mt:var name="script_full_url">?__mode=view&amp;_type=blog');" class="alert-link">">
        </mtapp:statusmsg>
    </mt:if>
</div>
<div class="modal-footer actions-bar">
    <form onsubmit="return false" onclick="window.focus();">
        <button
           type="submit"
           accesskey="x"
           class="cancel action primary button btn btn-primary"
           title="<__trans phrase="Close (x)">"
           ><__trans phrase="Close"></button>
    </form>
</div>
<mt:else>
<div class="modal-body">

<mt:if name="has_group">
    <ul class="select_assoc_type list-inline">
        <li class="list-inline-item">
            <label class="custom-control custom-radio">
                <input type="radio" name="search_object" class="custom-control-input search_object" value="both" checked="checked">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><__trans phrase="Both"></span>
            </label>
        </li>
        <li class="list-inline-item">
            <label class="custom-control custom-radio">
                <input type="radio" name="search_object" class="custom-control-input search_object" value="author">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><__trans phrase="Users only"></span>
            </label>
        </li>
        <li class="list-inline-item">
            <label class="custom-control custom-radio">
                <input type="radio" name="search_object" class="custom-control-input search_object" value="group">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><__trans phrase="Groups only"></span>
            </label>
        </li>
    </ul>
</mt:if>

    <mt:loop name="panel_loop">
      <mt:include name="include/listing_panel.tmpl" use_page_content="1">
    </mt:loop>
</div>
</mt:if>

</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
