        <div id="bootstrapper" class="hidden"></div>
      <!-- /Content Body --></div>
    <!-- /Content --></div>
  <!-- /Container --></div>
<script type="text/javascript">
/* <![CDATA[ */
App.bootstrapInline( false );
jQuery(function() {
<mt:var name="jq_js_include">
    jQuery.mtAddEdgeClass();
    jQuery('button, .button').button();
    jQuery('button.mt-close-dialog').click(function() {
        parent.jQuery.fn.mtDialog.close();
    });
    jQuery('input').each(function() {
        jQuery(this).addClass(jQuery(this).attr('type'));
    });
<mt:if name="insert_script">
    parent.jQuery.fn.mtDialog.close();
</mt:if>
});
/* ]]> */
</script>
</body>
</html>
