<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="dialog" lang="<mt:var name="language_tag">">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=<mt:var name="language_encoding">" />
        <title><mt:loop name="page_titles"><mt:var name="bc_name" escape="html"> | </mt:loop><mt:var name="mt_product_name"></title>
<mt:unless name="optimize_ui">
        <link rel="stylesheet" href="<$mt:var name="static_uri"$>styles.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
<mt:else>
        <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/main.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
</mt:unless>
        <!--[if IE]>
        <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
        <![endif]-->
        <!--[if lte IE 6]>
        <link rel="stylesheet" href="<$mt:var name="static_uri"$>css/hacks/ie6.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
        <![endif]-->
<mt:unless name="optimize_ui">
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Core.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Timer.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Timer.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cookie.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/DOM.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Devel.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Observable.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Autolayout.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Component.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/List.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/App.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Cache.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Client.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/common/Template.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<mt:var name="static_uri">js/tc.js"></script>
        <script type="text/javascript" src="<mt:var name="static_uri">js/tc/tableselect.js"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.validate.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.mt.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<mt:else>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>js/mt_core_compact.js?v=<mt:var name="mt_version_id" escape="url">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.validate.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
        <script type="text/javascript" src="<$mt:var name="static_uri"$>jquery/jquery.mt.min.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
</mt:unless>

        <mt:var name="html_head">

        <script type="text/javascript" src="<mt:var name="static_uri">mt.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<mt:if name="local_lang_id" ne="en-us">
        <link rel="stylesheet" href="<mt:var name="static_uri">styles_<mt:var name="local_lang_id">.css" />
        <script type="text/javascript" src="<mt:var name="static_uri">mt_<mt:var name="local_lang_id">.js" charset="utf-8"></script>
</mt:if>

        <mt:var name="js_include">

        <script type="text/javascript">
        /* <![CDATA[ */
            ScriptURI = '<mt:var name="script_url">';
            ScriptBaseURI = '<mt:var name="script_base_url">';
            StaticURI = '<mt:var name="static_uri">';
            __blankURI__ = '<$mt:var name="static_uri">html/blank.html';
            HelpBaseURI = '<mt:var name="help_url">';
            window.onkeypress = dialogKeyPress;
        /* ]]> */
        </script>
    </head>
    <body id="<$mt:var name="screen_id"$>" class="dialog <$mt:var name="screen_type" default="dialog-screen"$>">
        <div id="container">
            <div id="content-header">
                <h1><$mt:var name="page_title"$></h1>
            </div>
            <div id="content">
