<$mt:setvar name="screen_type" value="dialog-screen list-revision-dialog"$>
<mt:setvarblock name="page_title"><__trans phrase="Revision History"></mt:setvarblock>

<mt:include name="dialog/header.tmpl">

<p class="hint"><__trans phrase="Select the revision to populate the values of the Edit screen."></p>

<mt:include name="include/revision_table.tmpl" show_actions="0">

<mt:setvarblock name="action_buttons">
        <button
            type="submit"
            accesskey="x"
            class="cancel action button mt-close-dialog"
            title="<__trans phrase="Cancel (x)">"
            ><__trans phrase="Cancel"></button>
        <button
            type="button"
            accesskey="c"
            class="action button disabled"
            title="<__trans phrase="Compare (c)">"
            ><__trans phrase="Compare"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">

<form id="revision_form" method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="diff_revisions" />
    <input type="hidden" name="_type" value="<mt:var name="object_type">" />
    <input type="hidden" name="id" value="<mt:var name="object_id">" />
    <input type="hidden" name="rev_from" value="" />
    <input type="hidden" name="rev_to" value="" />
</form>

<script type="text/javascript">
/* <![CDATA[ */
(function ($) {
    var $radio_from = $('input[name="diff_from"]');
    var $radio_to = $('input[name="diff_to"]');
    $radio_from.first().attr('disabled',true);
    $radio_to.last().attr('disabled',true);
    var already_enabled = 0;

    function enable_button() {
        if (already_enabled) {
            return;
        }
        if ($radio_to.filter(':checked').length && $radio_from.filter(':checked').length) {
            $('div.actions-bar-bottom button:last').removeClass('disabled').bind('click', function (e) {
                var $form = $('#revision_form');
                $form.children('[name=rev_from]').val( $radio_from.filter(':checked').val() );
                $form.children('[name=rev_to]').val( $radio_to.filter(':checked').val() );
                $form.submit();
            })
        }
    }

    $radio_from.bind('click', function(e) {
        var val = $(this).val();
        $radio_to.attr('disabled',false).each(function() {
            var $this = $(this);
            if ($this.val() <= val) {
                $this.attr('disabled',true);
            }
        })
        enable_button();
    });
    $radio_to.bind('click', function(e) {
        var val = $(this).val();
        $radio_from.attr('disabled',false).each(function() {
            var $this = $(this);
            if ($this.val() >= val) {
                $this.attr('disabled',true);
            }
        })
        enable_button();
    });
})(jQuery);
/* ]]> */
</script>

<mt:include name="dialog/footer.tmpl">
