<mt:var name="screen_id" value="change-password">
<mt:setvarblock name="page_title"><__trans phrase="Change Password"></mt:setvarblock>
<mt:setvar name="complete" value="1">
<mt:include name="include/chromeless_header.tmpl">

<mt:if name="error">
        <mtapp:statusmsg
            id="error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
</mt:if>

    <form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="new_pw" />
    <input type="hidden" name="token" value="<mt:var name="token" escape="html">" />
    <input type="hidden" name="email" value="<mt:var name="email" escape="html">" />
<fieldset>

<mtapp:setting
    id="name"
    label="<__trans phrase="New Password">"
    label_class="top-label">
    <input type="password" name="password" id="password" value="<mt:var name="password">" class="ti" />
</mtapp:setting>

<mtapp:setting
    id="name"
    label="<__trans phrase="Confirm New Password">"
    label_class="top-label">
    <input type="password" name="password_again" id="password_again" value="<mt:var name="password_again">" class="ti" />
</mtapp:setting>

<mt:setvarblock name="action_buttons">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Change">"
       class="action primary-button"
       ><__trans phrase="Change"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</fieldset>
</form>

<mt:include name="include/chromeless_footer.tmpl">
