<$mt:setvar name="screen_type" value="dialog-screen dialog-4"$>
<$mt:setvar name="page_title" value="<__trans phrase="Reply to comment">"$>
<$mt:include name="dialog/header.tmpl"$>
<mt:if name="error">
<mtapp:statusmsg
    id="generic-error"
    class="error">
    <mt:var name="error">
</mtapp:statusmsg></mt:if>
<form id="comments-form" method="post" action="<mt:var name="comment_script_url">" name="comments_form">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="reply_to" value="<mt:var name="reply_to">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="return_url" value="<mt:if name="return_url"><mt:var name="return_url"><mt:else><mt:var name="mt_url">?__mode=list_comments&amp;blog_id=<mt:var name="blog_id"></mt:if>" />
    <div id="form-content" class="pkg">
        <div id="comment">
            <div class="intro"><__trans phrase="<strong>[_2]</strong> wrote:" params="<mt:var name="comment_created_on">%%<mt:var name="commenter_name">"></div>
            <div id="comment-body"><mt:var name="comment_text"></div>
            <div class="comment-meta"><__trans phrase="Posted to &ldquo;[_1]&rdquo; on [_2]" params="<mt:var name="entry_title">%%<mt:var name="comment_created_on">"></div>
        </div>
        <div id="reply">
            <div class="intro"><__trans phrase="Your reply:"></div>
            <textarea id="reply-text" name="text" rows="" cols=""></textarea>
            <div class="hint"><__trans phrase="Note: Your reply will be automatically published."></div>
        </div>
    </div>
    <div class="actions-bar">
        <input onclick="closeDialog()" type="button" value="<__trans phrase="Cancel">" />
        <input type="submit" accesskey="v" name="reply_preview" id="comment-reply-preview" value="<__trans phrase="Preview">" />
        <input type="submit" accesskey="s" name="reply" id="comment-reply" value="<__trans phrase="Post">" />
    </div>
</form>
<mt:include name="dialog/footer.tmpl">
