<$mt:setvar name="screen_type" value="dialog-screen dialog-4"$>
<mt:include name="dialog/header.tmpl">
<mt:if name="return_url">
<script type="text/javascript">
<!--
closeDialog('<mt:var name="return_url">');
//-->
</script>
<mt:else><mt:if name="preview_html">
<mt:var name="preview_html">

<p><mt:var name="comment_text"></p>
<form method="post" action="<mt:var name="comment_script_url">" name="comments_form" id="comments-form">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="reply_to" value="<mt:var name="reply_to">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="return_url" value="<mt:var name="mt_url">?__mode=list_comments&amp;blog_id=<mt:var name="blog_id">" />
    <textarea id="comment-text" name="text" rows="" cols="" class="full-width medium"><mt:var name="text" encode="html"></textarea>

    <div class="panel-commands">
        <input type="submit" accesskey="v" name="reply_preview" id="comment-reply-preview" value="<__trans phrase="Preview">" />
        <input type="submit" accesskey="s" name="reply" id="comment-reply" value="<__trans phrase="Post">" />
        <input onclick="closeDialog()" type="button" value="<__trans phrase="Cancel">" />
    </div>
</form>
</mt:if></mt:else>
</mt:if>
<p class="hint"><__trans phrase="Note: Your reply to this comment will be automatically published."></p>
<mt:include name="dialog/footer.tmpl">
