<mtapp:setting
   id="enable-data-api"
   label="<__trans phrase="Data API">">
<div class="form-group">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" value="1" name="enable_data_api" id="enable-data-api" class="custom-control-input" <mt:if name="data_api_disable_site_readonly">disabled="disabled"</mt:if><mt:if name="enable_data_api"> checked="checked"</mt:if> />
    <label class="custom-control-label" for="enable-data-api">
  <mt:if name="blog_id">
      <__trans phrase="Enable Data API in this site.">
  <mt:else>
      <__trans phrase="Enable Data API in system scope.">
  </mt:if>
    </label>
  </div>
</div>
</mtapp:setting>
