    <mtapp:setting
        id="default_access_allowed"
        label="<__trans phrase="Default system aggregation policy">">
    <ul>
    <li><input type="radio" value="1" name="default_access_allowed" id="default_access_allowed" class="rb" <TMPL_IF NAME=DEFAULT_ACCESS_ALLOWED>checked="checked"</TMPL_IF> onclick="hide('mb-disallow');show('mb-allow');" /> <MT_TRANS phrase="Allow"></li>
    <li><input type="radio" value="0" name="default_access_allowed" id="default_access_allowed" class="rb" <TMPL_UNLESS NAME=DEFAULT_ACCESS_ALLOWED>checked="checked"</TMPL_UNLESS> onclick="hide('mb-allow');show('mb-disallow');" /> <MT_TRANS phrase="Disallow"></li>
    </ul>
    <p id="mb-allow" style="display:<TMPL_IF NAME=DEFAULT_ACCESS_ALLOWED>block<TMPL_ELSE>none</TMPL_IF>"><MT_TRANS phrase="Cross-blog aggregation will be allowed by default.  Individual blogs can be configured through the blog-level MultiBlog settings to restrict access to their content by other blogs."></p>
    <p id="mb-disallow" style="display:<TMPL_IF NAME=DEFAULT_ACCESS_ALLOWED>none<TMPL_ELSE>block</TMPL_IF>"><MT_TRANS phrase="Cross-blog aggregation will be disallowed by default.  Individual blogs can be configured through the blog-level MultiBlog settings to allow access to their content by other blogs."></p>
    </mtapp:setting>
