<TMPL_INCLUDE NAME="header.tmpl">

<h2><MT_TRANS phrase="Feeds.App Lite Widget Creator"></h2>

<h3><TMPL_VAR NAME=FEED_TITLE ESCAPE=HTML></h3>

<p><strong><MT_TRANS phrase="Feed URL">:</strong> <TMPL_VAR NAME=FEED_URI ESCAPE=HTML></p>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>"/>
<input type="hidden" name="__mode" value="save"/>
<input type="hidden" name="uri" value="<TMPL_VAR NAME=FEED_URI ESCAPE=HTML>"/>

<fieldset>
<div class="setting">
<div class="label" style="width: 50px;"><label for="feed_title"><MT_TRANS phrase="Title">:</label></div>
<div class="field" style="width: 270px;">
<input name="feed_title" value="<TMPL_VAR NAME=FEED_TITLE ESCAPE=HTML>" type="text">
<p><MT_TRANS phrase="Enter a title for your widget.  This will also be displayed as the title of the feed when used on your published blog."></p>
</div>
</div>

        
<div class="setting">
<div class="label" style="width: 50px;"><label for="lastn"><MT_TRANS phrase="Display">:</label></div>
<div class="field" style="width: 270px;">
<select name="lastn">
<option value="3"><MT_TRANS phrase="3"></option>
<option value="5" selected="1"><MT_TRANS phrase="5"></option>
<option value="10"><MT_TRANS phrase="10"></option>
<option value=""><MT_TRANS phrase="All"></option>
</select>
<p><MT_TRANS phrase="Select the maximum number of entries to display."></p>
</div>
</div>

</fieldset>
</div>

<div>
<input type="submit" value="Save" />&nbsp;
</div>

</form>

<TMPL_INCLUDE NAME="footer-popup.tmpl">


