
<p><MT_TRANS phrase="Or return to the <a href="[_1]">Main Menu</a> or <a href="[_2]">System Overview</a>." params="<TMPL_VAR NAME=MT_URL>%%<TMPL_VAR NAME=MT_URL>?__mode=admin"></p>
</div>
</div>
<br style="clear: both;" />

</body>
</html>
