<p>Or return to the <a href="<TMPL_VAR NAME=MT_URL>"><MT_TRANS phrase="Main Menu"></a> or <a href="<TMPL_VAR NAME=MT_URL>?__mode=admin"><MT_TRANS phrase="System Overview"></a>.</p>
</div>

</body>
</html>
