<TMPL_INCLUDE NAME="header-popup.tmpl">

<h2><MT_TRANS phrase="Feeds.App Lite Widget Creator"></h2>

<p><MT_TRANS phrase="Multiple feeds were discovered. Select the feed you wish to use. Feeds.App lite supports text-only RSS 1.0, 2.0 and Atom feeds."></p>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>"/>
<input type="hidden" name="__mode" value="config"/>

<div class="list">
<table class="compact" cellspacing="0" style="width:600px;">
<thead>
<tr>
<th style="width:10%;" class="cb"></th>
<th style="width:50%;"><MT_TRANS phrase="Title"></th>
<th style="width:40%;"><MT_TRANS phrase="URI"></th>
</tr>
</thead>
<tbody>

<TMPL_LOOP NAME=FEEDS>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td class="cb"><input type="radio" name="uri" value="<TMPL_VAR NAME=URI ESCAPE=HTML>"/></td>
<td><TMPL_VAR NAME=TITLE ESCAPE=HTML></td>
<td><TMPL_VAR NAME=URI ESCAPE=HTML></td>
</tr>
</TMPL_LOOP>

</tbody>
</table>
</div>

<br />

<div>
<input type="submit" value="Continue" />&nbsp;
</div>

</form>

<TMPL_INCLUDE NAME="footer-popup.tmpl">


