build-language-stamp
extlib/Data
index.html
lib/MT.pm
lib/MT/L10N/de-iso-8859-1.pm
lib/MT/L10N/es-iso-8859-1.pm
lib/MT/L10N/fr-iso-8859-1.pm
lib/MT/L10N/nl-iso-8859-1.pm
mt-check.cgi
mt-config.cgi
mt-config.cgi-original
mt-static/css/main.css
mt-static/css/simple.css
mt-static/js/common
mt-static/js/mt_core_compact.js
mt-static/mt_de.js
mt-static/mt_es.js
mt-static/mt_fr.js
mt-static/mt_ja.js
mt-static/mt_nl.js
mt-static/support/dashboard
php/mt.php
readme.html
