    <mtapp:setting
       id="<mt:var name="name">-input_format"
       label="<__trans phrase="Input format">">
      <select name"<mt:var name="name">-input_format" id="<mt:var name="name">-input_format">
        <option value=""><__trans phrase="Input format is not selected"></option>
        <option value="plain_text"><__trans phrase="Plain Text"></option>
        <option value="wysiwyg"><__trans phrase="WYSIWYG"></option>
        <option value="markdown"><__trans phrase="Markdown"></option>
        <option value="convert_breaks"><__trans phrase="Convert Breaks"></option>
        <option value="block"><__trans phrase="Block"></option>
      </select>
    </mtapp:setting>
