/* - Generic */
body { 
    height: 100% ! important;
}

.dialog input.text,  
.edit-entry input.text, 
.edit-entry textarea, 
.edit-template input.text, 
.edit-template textarea { 
    width: 99%;
}

.widget input.text, 
.widget select, 
.widget textarea { 
    padding-left: 0;
    width: 97%;
}

.basename-text { 
    display: inline-block;
    width: 90% ! important;
    overflow: hidden ! important;
}

#template-options input.text { 
    width: 80%;
}


#sign-in input.text { 
    width: 313px;
}

.list-notification .create-inline input.text { 
    width: 25%;
}

#notification-listing-table input.text { 
    width: 100%;
}

#notification-listing-table .url input.text { 
    width: 60%;
}

.batch-edit table input.text { 
    width: auto;
}

/* -- Component */
.picture.small { 
    padding-bottom: 1px;
}

/* - App Header */
/* -- Brand */
#brand a,
.preview-screen #brand {
    background-image: none ! important;
    text-align: center;
}

#brand a span { 
    display: inline-block;
    width: 170px;
    height: 25px;
    margin-top: 5px;
    background: transparent url(../../images/logo/movable-type-brand-logo.png) center 3px no-repeat;
}

.website #brand a span {
    background-image: url(../../images/logo/movable-type-brand-logo-website.png);
}
.system #brand a span {
    background-image: url(../../images/logo/movable-type-brand-logo-system.png);
}

/* -- Menu bar, Content Nav */
#selector-nav #current-website em { 
    background-color: #839B5C;
}
#selector-nav #current-blog em { 
    background-color: #5C909B;
}
#selector-nav #current-website em { 
    margin-right: -4px;
}
#selector-nav .selector { 
    width: 300px;
}

/* - Navigation Menu */
ul.menu-nav li, 
ul.menu-nav li a { 
    height: 1%;
}
ul.menu-nav li.top-menu { 
    margin-top: -3px;
}
ul.sub-menu li.last-child a { 
    margin-bottom: 3px;
}
ul.menu-nav li.last-child a { 
    border-bottom: 1px solid #c8c2be;
}

ul.menu-nav li.top-menu-open ul.sub-menu li.last-child a, 
ul.menu-nav li.top-menu-open ul.sub-menu li a, 
ul.menu-nav li.top-menu-open a.top-menu-link { 
    border-bottom: 0;
}

ul.menu-nav li.last-child ul.sub-menu li.last-child a { 
    border-bottom: 1px;
}

/* - Actions Bar */
.chromeless .actions-bar { 
    height: 25px;
}

.chromeless .actions-bar button { 
    float: right;
    margin-left: 12px;
}
.chromeless .actions-bar button.goback { 
    margin-left: 0;
}

ul#asset-list li a.remove-asset { 
   top: -1px;
   right: 13px;
}

/* - Dashbord Widget */
.blog-stats-widget-panel { 
    width: 100%;
}

/* - Listing */
.batch-edit .entry-listing-table { 
    table-layout: auto;
}

/* - List Theme */

/* - Footer */
#footer { 
    position: static;
    margin-top: 0;
}

/* - for IE6 Duplicate Characters Bug */
#related-content { 
    margin-left: -3px;
}

html#dialog {
    overflow-x: hidden;
    border: 0;
}

#dialog .dialog #container {
    width: 92%;
}

.backup-status pre,
.import-process pre { 
    width: 97%;
}

/* - haslayout */
#main-content-inner, 
#content-header, 
#related-content, 
.msg, 
.plugin, 
.theme, 
.field-content ul, 
.listing-screen .actions-bar, 
#editor .editor-header, 
.widget-header, 
.allow-feedback li, 
.dialog #selector, 
#template-options-header, 
#template-options .field, 
.widget-content .field-content { 
    display: block;
    zoom: 1;
}


