    <mtapp:setting
        id="google_api_key"
        label="<__trans phrase="Google API Key">"
        hint="<__trans phrase="If you wish to use any of the Google API functionality, you will need a Google API key. Paste it in here.">">
        <input type="text" name="google_api_key" id="google_api_key" value="<TMPL_VAR NAME=GOOGLE_API_KEY ESCAPE=HTML>" />
    </mtapp:setting>
