<div class="date-field-container row">
  <div class="form-group col-auto d-none d-md-block mb-0">
    <input type="text" name="date-<mt:var name="content_field_id" escape="html">" id="date-<mt:var name="content_field_id" escape="html">" class="date-field form-control text date text-date html5-form content-field" value="<mt:var name="date" escape="html">" placeholder="YYYY-MM-DD" mt:watch-change="1" mt:raw-name="1" <mt:var name="required">>
  </div>
  <div class="form-inline col d-md-none">
    <input type="number" class="date-field-year form-control w-25" name="date-<mt:var name="content_field_id" escape="html">-year" value="<mt:var name="year" escape="html">" maxlength="4">
    -
    <select class="date-field-month custom-control custom-select w-25" name="date-<mt:var name="content_field_id" escape="html">-month">
      <option value=""></option>
<mt:for var="x" from="1" to="12">
  <mt:setvarblock name="y"><mt:if name="x" lt="10">0</mt:if><mt:var name="x"></mt:setvarblock>
  <mt:if name="y" eq="$month">
      <option value="<mt:var name="y">" selected="selected"><mt:var name="y"></option>
  <mt:else>
      <option value="<mt:var name="y">"><mt:var name="y"></option>
  </mt:if>
</mt:for>
    </select>
    -
    <select class="date-field-day custom-control custom-select w-25" name="date-<mt:var name="content_field_id" escape="html">-day">
      <option value=""></option>
<mt:for var="x" from="1" to="31">
  <mt:setvarblock name="y"><mt:if name="x" lt="10">0</mt:if><mt:var name="x"></mt:setvarblock>
  <mt:if name="y" eq="$day">
      <option value="<mt:var name="y">" selected="selected"><mt:var name="y"></option>
  <mt:else>
      <option value="<mt:var name="y">"><mt:var name="y"></option>
  </mt:if>
</mt:for>
    </select>
  </div>
</div>

<mt:unless name="loaded_date_field_js">
  <mt:setvar name="loaded_date_field_js" value="1">
  <mt:setvarblock name="jq_js_include" append="1">
jQuery(window).on('change_to_mobile_view', function () {
  jQuery('.date-field-container input.date-field').mtUnvalidate().removeClass('content-field');

  jQuery('.date-field-container').each(function () {
    var date = jQuery(this).find('input.date-field').val();
    var year, month, day;
    [year, month, day] = date.split('-');
    jQuery(this).find('input.date-field-year').val(year);
    jQuery(this).find('select.date-field-month').val(month);
    jQuery(this).find('select.date-field-day').val(day);
  });
});
jQuery(window).on('change_to_pc_view', function () {
  jQuery('.date-field-container input.date-field').addClass('content-field');

  jQuery('.date-field-container').each(function () {
    var year = jQuery(this).find('input.date-field-year').val();
    var month = jQuery(this).find('select.date-field-month').val();
    var day = jQuery(this).find('select.date-field-day').val();
    var date;
    if (year || month || day) {
      date = [year, month, day].join('-');
      jQuery(this).find('input.date-field').val(date);
    }
  });
});
if (MT.Util.isMobileView() ) {
  jQuery('.date-field-container input.date-field').removeClass('content-field');
} else {
  jQuery('.date-field-container input.date-field').addClass('content-field');
}
  </mt:setvarblock>
</mt:unless>

