<mt:setvar name="page_title" value="<__trans phrase="Select Content Type">">
<mt:setvar name="screen_id" value="select-content-type">

<mt:setvarblock name="page_content">
<mtapp:settinggroup id="content_type">
<ul>
  <mt:loop name="content_types">
    <mt:if name="can_edit">
    <li>
      <a href="<mt:var name="mt_url">?__mode=view&_type=content_data&blog_id=<mt:var name="blog_id">&content_type_id=<mt:var name="id">">
        <mt:var name="name">
      </a>
    </li>
    </mt:if>
  </mt:loop>
</ul>
</mtapp:settinggroup>
</mt:setvarblock>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">
