<mt:unless name="optimize_ui">
  <mt:script type="text/javascript" path="jquery/jquery.js">
  <mt:script type="text/javascript" path="jquery/jquery-migrate.js">

  <mt:script type="text/javascript" path="bootstrap5/js/bootstrap.bundle.js">

  <mt:script type="text/javascript" path="js/common/Core.js">
<mt:if name="use_mt_common_json">
  <mt:script type="text/javascript" path="js/common/JSON.js">
</mt:if>
  <mt:script type="text/javascript" path="js/common/Timer.js">
  <mt:script type="text/javascript" path="js/common/Cookie.js">
  <mt:script type="text/javascript" path="js/common/DOM.js">
  <mt:script type="text/javascript" path="js/common/Devel.js">
  <mt:script type="text/javascript" path="js/common/Observable.js">
  <mt:script type="text/javascript" path="js/common/Autolayout.js">
  <mt:script type="text/javascript" path="js/common/Component.js">
  <mt:script type="text/javascript" path="js/common/List.js">
  <mt:script type="text/javascript" path="js/common/App.js">
  <mt:script type="text/javascript" path="js/common/Cache.js">
  <mt:script type="text/javascript" path="js/common/Client.js">
  <mt:script type="text/javascript" path="js/common/Template.js">
  <mt:script type="text/javascript" path="js/tc.js">
  <mt:script type="text/javascript" path="js/admin2023/tc/tableselect.js">
  <mt:script type="text/javascript" path="jquery/jquery.validate.js">
<mt:if name="use_jquery_json">
  <mt:script type="text/javascript" path="jquery/jquery.json.js">
</mt:if>
  <mt:script type="text/javascript" path="jqueryui/jquery-ui.js">
<mt:if name="use_svg4everybody">
  <mt:script type="text/javascript" path="svg4everybody/svg4everybody.js">
</mt:if>
<mt:else>
  <mt:script type="text/javascript" path="jquery/jquery.min.js">
  <mt:script type="text/javascript" path="jquery/jquery-migrate.min.js">

  <mt:script type="text/javascript" path="bootstrap5/js/bootstrap.bundle.min.js">

  <mt:script type="text/javascript" path="js/admin2023/mt_core_compact.js">
<mt:if name="use_mt_common_json">
  <mt:script type="text/javascript" path="js/common/JSON.js">
</mt:if>
  <mt:script type="text/javascript" path="jquery/jquery.validate.min.js">
<mt:if name="use_jquery_json">
  <mt:script type="text/javascript" path="jquery/jquery.json.min.js">
</mt:if>
  <mt:script type="text/javascript" path="jqueryui/jquery-ui.min.js">
<mt:if name="use_svg4everybody">
  <mt:script type="text/javascript" path="svg4everybody/svg4everybody.min.js">
</mt:if>
</mt:unless>
<mt:if name="use_svg4everybody">
<script>
svg4everybody();
</script>
</mt:if>
