<div id="<mt:var name="id" escape="html">" class="<mt:var name="class" escape="html">">
  <h2 class="mt-widget__title">
    <mt:var name="widget_handler">
    <mt:var name="header_action">
  </h2>
  <div class="mt-widget__content">
    <mt:var name="content">
  </div>
</div>
