<!DOCTYPE html>
<html lang="<$mt:var name="language_tag"$>">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta charset="<$mt:var name="language_encoding"$>" />
  <title><mt:loop name="page_titles"><mt:var name="bc_name" escape="html"> | </mt:loop><mt:var name="mt_product_name"></title>
<mt:unless name="optimize_ui">
  <mt:stylesheet path="styles.css">
<mt:else>
  <mt:stylesheet path="css/main.css">
</mt:unless>
  <!--[if IE]>
  <mt:stylesheet path="css/hacks/ie.css">
  <![endif]-->
<mt:unless name="optimize_ui">
  <mtapp:script type="text/javascript" path="jquery/jquery.js">
  <mtapp:script type="text/javascript" path="jquery/jquery-migrate.js">
  <mtapp:script type="text/javascript" path="js/common/Core.js">
<mt:if name="use_mt_common_json">
  <mtapp:script type="text/javascript" path="js/common/JSON.js">
</mt:if>
  <mtapp:script type="text/javascript" path="js/common/Timer.js">
  <mtapp:script type="text/javascript" path="js/common/Cookie.js">
  <mtapp:script type="text/javascript" path="js/common/DOM.js">
  <mtapp:script type="text/javascript" path="js/common/Devel.js">
  <mtapp:script type="text/javascript" path="js/common/Observable.js">
  <mtapp:script type="text/javascript" path="js/common/Autolayout.js">
  <mtapp:script type="text/javascript" path="js/common/Component.js">
  <mtapp:script type="text/javascript" path="js/common/List.js">
  <mtapp:script type="text/javascript" path="js/common/App.js">
  <mtapp:script type="text/javascript" path="js/common/Cache.js">
  <mtapp:script type="text/javascript" path="js/common/Client.js">
  <mtapp:script type="text/javascript" path="js/common/Template.js">
  <mtapp:script type="text/javascript" path="js/tc.js">
  <mtapp:script type="text/javascript" path="js/admin2025/tc/tableselect.js">
  <mtapp:script type="text/javascript" path="jquery/jquery.validate.js">
<mt:if name="use_jquery_json">
  <mtapp:script type="text/javascript" path="jquery/jquery.json.js">
</mt:if>
  <mtapp:script type="text/javascript" path="jqueryui/jquery-ui.js">
<mt:else>
  <mtapp:script type="text/javascript" path="jquery/jquery.min.js">
  <mtapp:script type="text/javascript" path="jquery/jquery-migrate.min.js">
  <mtapp:script type="text/javascript" path="js/admin2025/mt_core_compact.js">
<mt:if name="use_mt_common_json">
  <mtapp:script type="text/javascript" path="js/common/JSON.js">
</mt:if>
  <mtapp:script type="text/javascript" path="jquery/jquery.validate.min.js">
<mt:if name="use_jquery_json">
  <mtapp:script type="text/javascript" path="jquery/jquery.json.min.js">
</mt:if>
  <mtapp:script type="text/javascript" path="jqueryui/jquery-ui.min.js">
</mt:unless>

<mt:var name="html_head">

  <mtapp:script type="text/javascript" path="mt.js">
  <mtapp:script type="text/javascript" path="mt_%l.js">

<mt:unless name="optimize_ui">
  <mtapp:script type="text/javascript" path="jquery/jquery.mt.js">
<mt:else>
  <mtapp:script type="text/javascript" path="jquery/jquery.mt.min.js">
</mt:unless>

  <mt:var name="js_include">

  <script type="text/javascript">
  /* <![CDATA[ */
    ScriptURI = '<mt:var name="script_url">';
    ScriptBaseURI = '<mt:var name="script_base_url">';
    StaticURI = '<mt:var name="static_uri">';
    __blankURI__ = '<$mt:var name="static_uri">html/blank.html';
    HelpBaseURI = '<mt:var name="help_url">';
    window.onkeypress = dialogKeyPress;
  /* ]]> */
  </script>
</head>
<body id="<$mt:var name="screen_id" escape="html"$>" class="dialog <$mt:var name="screen_type" default="dialog-screen"$>">
  <div id="container">
    <div id="content">
      <div id="content-header">
        <h1 id="page-title" class="title page"><$mt:var name="page_title"$></h1>
      <!-- /Content Header --></div>
      <div id="content-body">
